# WRC Rally - Argentina, 2017

# Day 1 (27/04/2017)
## Section 1 (Evening)

## SS1 SUPER ESPECIAL CORDOBA
 ### Distance: 1.90 km
 
First car 19:08

*A short stage with no splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    8|   37|L. BERTELLI|M-SPORT World Rally Team   |           |RC1       
    9|   15|V. GORBAN  |EUROLAMP World Rally Team  |WRCT       |RC1       
   10|   14|M. OSTBERG |M-SPORT World Rally Team   |           |RC1       
   11|   11|J. HANNINEN|TOYOTA GAZOO Racing WRT    |M          |RC1       
   12|    3|E. EVANS   |M-SPORT World Rally Team   |M          |RC1       
   13|    4|H. PADDON  |HYUNDAI Motorsport         |M          |RC1       
   14|    8|C. BREEN   |CITROEN TOTAL ABU DHABI WRT|M          |RC1       
   15|    6|D. SORDO   |HYUNDAI Motorsport         |M          |RC1       
   16|    2|O. TANAK   |M-SPORT World Rally Team   |M          |RC1       
   17|    7|K. MEEKE   |CITROEN TOTAL ABU DHABI WRT|M          |RC1       
   18|    5|T. NEUVILLE|HYUNDAI Motorsport         |M          |RC1       
   19|   10|J. LATVALA |TOYOTA GAZOO Racing WRT    |M          |RC1       
   20|    1|S. OGIER   |M-SPORT World Rally Team   |M          |RC1

## Stage Report 1:

In stage SS1, S. OGIER (FRA) and J. INGRASSIA (FRA) (M-Sport World Rally Team) took the stage, and the lead of the rally, with a time of 1:53.8, +0.9 ahead of second on stage D. SORDO (ESP) and M. MARTI (ESP) for Hyundai Motorsport in the Hyundai i20 Coupe WRC.

No penalties.

No retirements.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:53.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:54.7</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54.7</td>
      <td>+0.0</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:55.4</td>
      <td>+0.7</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55.9</td>
      <td>+0.5</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:56.2</td>
      <td>+0.3</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:56.3</td>
      <td>+0.1</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:56.5</td>
      <td>+0.2</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:56.9</td>
      <td>+0.4</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:57.6</td>
      <td>+0.7</td>
      <td>+3.8</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:53.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54.7</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:54.7</td>
      <td>+0.0</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:55.4</td>
      <td>+0.7</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55.9</td>
      <td>+0.5</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:56.2</td>
      <td>+0.3</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:56.3</td>
      <td>+0.1</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:56.5</td>
      <td>+0.2</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:56.9</td>
      <td>+0.4</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:57.6</td>
      <td>+0.7</td>
      <td>+3.8</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split time, rank position

![](images/2017_224/chart_stage_split_pos_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS1 - stage split delta time (seconds) to first on stage

![](images/2017_224/split_delta_firstonstage_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>20</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:53.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>15</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:54.7</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>12</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54.7</td>
      <td>+0.9</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:55.4</td>
      <td>+1.6</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>19</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55.9</td>
      <td>+2.1</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:56.2</td>
      <td>+2.4</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:56.3</td>
      <td>+2.5</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:56.5</td>
      <td>+2.7</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:56.9</td>
      <td>+3.1</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:57.6</td>
      <td>+3.8</td>
      <td>+0.7</td>
    </tr>
  </tbody>
</table>

## SS1 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_224/chart_stage_sector_delta_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>20</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:53.800000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:54.700000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:54.700000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:55.400000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:55.900000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:01:56.200000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:56.300000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:56.500000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:56.900000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:01:57.600000</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_224/split_delta_rebase_SS1.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS1 - overall rally positions at end of stage

On the first completed stage, SS1, S. OGIER took the stage for M-Sport World Rally Team in the Ford Fiesta WRC, and along with it the lead of the rally, going +0.9 ahead overall.

E. EVANS, for M-Sport World Rally Team in the Ford Fiesta WRC, gained second place overall.

D. SORDO, in the Hyundai i20 Coupe WRC, moved into third place overall, +0.9 behind the overall rally leader and +0.0 behind second placed E. EVANS.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:53.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54.7</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:54.7</td>
      <td>+0.0</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:55.4</td>
      <td>+0.7</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55.9</td>
      <td>+0.5</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:56.2</td>
      <td>+0.3</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:56.3</td>
      <td>+0.1</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:56.5</td>
      <td>+0.2</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:56.9</td>
      <td>+0.4</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:57.6</td>
      <td>+0.7</td>
      <td>+3.8</td>
    </tr>
  </tbody>
</table>

## SS1 - Overall rank evolution

## Full Overall Results at end of SS1

carNo|driverName |coDriverName|           team            |eligibility| time |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|------|-------:|--------:|----------:|--------:|-------:
    1|S. OGIER   |J. INGRASSIA|M-SPORT World Rally Team   |M          |1:53.8|        |         |          1|        1|       1
    3|E. EVANS   |D. BARRITT  |M-SPORT World Rally Team   |M          |1:54.7|     0.9|      0.9|          2|        2|       2
    6|D. SORDO   |M. MARTI    |HYUNDAI Motorsport         |M          |1:54.7|     0.0|      0.9|          3|        3|       3
    5|T. NEUVILLE|N. GILSOUL  |HYUNDAI Motorsport         |M          |1:55.4|     0.7|      1.6|          4|        4|       4
   10|J. LATVALA |M. ANTTILA  |TOYOTA GAZOO Racing WRT    |M          |1:55.9|     0.5|      2.1|          5|        5|       5
   14|M. OSTBERG |O. FLOENE   |M-SPORT World Rally Team   |           |1:56.2|     0.3|      2.4|          6|        6|       1
    4|H. PADDON  |J. KENNARD  |HYUNDAI Motorsport         |M          |1:56.3|     0.1|      2.5|          7|        7|       6
    7|K. MEEKE   |P. NAGLE    |CITROEN TOTAL ABU DHABI WRT|M          |1:56.5|     0.2|      2.7|          8|        8|       7
    2|O. TANAK   |M. JARVEOJA |M-SPORT World Rally Team   |M          |1:56.9|     0.4|      3.1|          9|        9|       8
   11|J. HANNINEN|K. LINDSTROM|TOYOTA GAZOO Racing WRT    |M          |1:57.6|     0.7|      3.8|         10|       10|       9
    8|C. BREEN   |S. MARTIN   |CITROEN TOTAL ABU DHABI WRT|M          |1:58.6|     1.0|      4.8|         11|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-SPORT World Rally Team   |           |1:59.0|     0.4|      5.2|         12|       12|       2
   15|V. GORBAN  |S. LARENS   |EUROLAMP World Rally Team  |WRCT       |2:06.6|     2.6|     12.8|         17|       13|       1

# Day 2 (28/04/2017)
## Section 2 (Morning)

## SS2 SAN AGUSTIN - VILLA GRAL. BELGRANO (I)
 ### Distance: 19.95 km
 
First car 08:38

*A medium length stage with two splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    4|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    6|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    9|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
   10|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   11|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   12|   37|L. BERTELLI|M-Sport World Rally Team   |           |RC1       
   13|   15|V. GORBAN  |EUROLAMP World Rally Team  |WRCT       |RC1

## Stage Report 2:

In stage SS2, M-Sport World Rally Team's E. EVANS (GBR) and D. BARRITT (GBR) took the stage, and their first stage win, in 12:42.3, +4.6 ahead of K. MEEKE (GBR) and P. NAGLE (IRL) (Citroën Total Abu Dhabi WRT).

As well as taking the stage, his +17.9 gain over S. OGIER (FRA) and J. INGRASSIA (FRA) for M-Sport World Rally Team in the Ford Fiesta WRC, the rally leader going into the stage, meant M-Sport World Rally Team's E. EVANS (GBR) and D. BARRITT (GBR) also took overall lead of the rally.

No penalties.

No retirements.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>12:42.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>12:46.9</td>
      <td>+4.6</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>12:49.2</td>
      <td>+2.3</td>
      <td>+6.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>12:54.3</td>
      <td>+5.1</td>
      <td>+12.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>12:56.7</td>
      <td>+2.4</td>
      <td>+14.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>12:57.6</td>
      <td>+0.9</td>
      <td>+15.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>13:00.2</td>
      <td>+2.6</td>
      <td>+17.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>13:02.1</td>
      <td>+1.9</td>
      <td>+19.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>13:05.2</td>
      <td>+3.1</td>
      <td>+22.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>13:27.7</td>
      <td>+22.5</td>
      <td>+45.4</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>14:37.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>14:43.4</td>
      <td>+6.4</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>14:43.9</td>
      <td>+0.5</td>
      <td>+6.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>14:50.2</td>
      <td>+6.3</td>
      <td>+13.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>14:52.1</td>
      <td>+1.9</td>
      <td>+15.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>14:53.8</td>
      <td>+1.7</td>
      <td>+16.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>14:54.0</td>
      <td>+0.2</td>
      <td>+17.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>15:00.7</td>
      <td>+6.7</td>
      <td>+23.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>15:02.1</td>
      <td>+1.4</td>
      <td>+25.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>15:25.8</td>
      <td>+23.7</td>
      <td>+48.8</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split time, rank position

![](images/2017_224/chart_stage_split_pos_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS2 - stage split delta time (seconds) to first on stage

![](images/2017_224/split_delta_firstonstage_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-2.9</td>
      <td>-13.1</td>
      <td>12:42.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>+0.9</td>
      <td>-8.9</td>
      <td>12:46.9</td>
      <td>+4.6</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+0.6</td>
      <td>-7.2</td>
      <td>12:49.2</td>
      <td>+6.9</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+0.9</td>
      <td>-4.2</td>
      <td>12:54.3</td>
      <td>+12.0</td>
      <td>+5.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+1.4</td>
      <td>-1.5</td>
      <td>12:56.7</td>
      <td>+14.4</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>+1.0</td>
      <td>-1.7</td>
      <td>12:57.6</td>
      <td>+15.3</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:54.1</td>
      <td>00:08:55.4</td>
      <td>13:00.2</td>
      <td>+17.9</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>+4.4</td>
      <td>+1.4</td>
      <td>13:02.1</td>
      <td>+19.8</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>+1.2</td>
      <td>+2.4</td>
      <td>13:05.2</td>
      <td>+22.9</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>+5.2</td>
      <td>+10.9</td>
      <td>13:27.7</td>
      <td>+45.4</td>
      <td>+22.5</td>
    </tr>
  </tbody>
</table>

## SS2 - stage sector delta time (seconds) to fastest stage sector time

E. EVANS drove an __ultimate stage__, recording the fastest time *between* each timing point on the stage.

Despite being competitive at the start of stage 2, H. PADDON lost ground in the final part of the stage.

![](images/2017_224/chart_stage_sector_delta_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:51.200000</td>
      <td>00:05:51.100000</td>
      <td>00:04:00</td>
      <td>00:12:42.300000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:55</td>
      <td>00:05:51.500000</td>
      <td>00:04:00.400000</td>
      <td>00:12:46.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:54.700000</td>
      <td>00:05:53.500000</td>
      <td>00:04:01</td>
      <td>00:12:49.200000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:55</td>
      <td>00:05:56.200000</td>
      <td>00:04:03.100000</td>
      <td>00:12:54.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:55.500000</td>
      <td>00:05:58.400000</td>
      <td>00:04:02.800000</td>
      <td>00:12:56.700000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:02:55.100000</td>
      <td>00:05:58.600000</td>
      <td>00:04:03.900000</td>
      <td>00:12:57.600000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:54.100000</td>
      <td>00:06:01.300000</td>
      <td>00:04:04.800000</td>
      <td>00:13:00.200000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:02:58.500000</td>
      <td>00:05:58.300000</td>
      <td>00:04:05.300000</td>
      <td>00:13:02.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:55.300000</td>
      <td>00:06:02.500000</td>
      <td>00:04:07.400000</td>
      <td>00:13:05.200000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:02:59.300000</td>
      <td>00:06:07</td>
      <td>00:04:21.400000</td>
      <td>00:13:27.700000</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_224/split_delta_rebase_SS2.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS2 - overall rally positions at end of stage

Following a poor stage SS2 for previous overall leader S. OGIER, E. EVANS in the Ford Fiesta WRC improved by one position, from second at end of the previous stage, to take overall lead of the rally, with a gap of +6.4 from K. MEEKE for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC.

The overall leader from the previous stage, S. OGIER, for M-Sport World Rally Team, was pushed back six places to seventh, putting him +17.0 behind the overall leader.

K. MEEKE, for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC, moved up into second place overall, up six positions from eighth.

D. SORDO, for Hyundai Motorsport, retained third place overall, +6.9 behind the overall rally leader and +0.5 behind second placed K. MEEKE.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>14:37.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>14:43.4</td>
      <td>+6.4</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>14:43.9</td>
      <td>+0.5</td>
      <td>+6.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>14:50.2</td>
      <td>+6.3</td>
      <td>+13.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>14:52.1</td>
      <td>+1.9</td>
      <td>+15.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>14:53.8</td>
      <td>+1.7</td>
      <td>+16.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>14:54.0</td>
      <td>+0.2</td>
      <td>+17.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>15:00.7</td>
      <td>+6.7</td>
      <td>+23.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>15:02.1</td>
      <td>+1.4</td>
      <td>+25.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>15:25.8</td>
      <td>+23.7</td>
      <td>+48.8</td>
    </tr>
  </tbody>
</table>

## SS2 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_224/overall_SS2.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>16</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_224/overall_td_diffFirst_SS2.png)

### Stage position chart SS2

*Showing stage position for each stage.*

![](images/2017_224/stageStage_SS2.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>15</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS2

carNo|driverName |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |14:37.0|        |         |          1|        1|       1
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |14:43.4|     6.4|6.4      |          2|        2|       2
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |14:43.9|     0.5|6.9      |          3|        3|       3
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |14:50.2|     6.3|13.2     |          4|        4|       4
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |14:52.1|     1.9|15.1     |          5|        5|       5
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |14:53.8|     1.7|16.8     |          6|        6|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |14:54.0|     0.2|17.0     |          7|        7|       6
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |15:00.7|     6.7|23.7     |          8|        8|       7
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |15:02.1|     1.4|25.1     |          9|        9|       8
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |15:25.8|    23.7|48.8     |         10|       10|       9
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |           |15:26.7|     0.9|49.7     |         11|       11|       2
   15|V. GORBAN  |S. LARENS   |EUROLAMP World Rally Team  |WRCT       |16:20.9|     1.9|+1:43.9  |         16|       12|       1
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |17:19.6|    42.1|+2:42.6  |         19|       13|      10

## SS3 AMBOY - SANTA MONICA (I)
 ### Distance: 20.44 km
 
First car 09:41

*A medium length stage with two splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    4|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    6|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    9|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
   10|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   11|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   12|   37|L. BERTELLI|M-Sport World Rally Team   |           |RC1       
   13|   15|V. GORBAN  |EUROLAMP World Rally Team  |WRCT       |RC1

## Stage Report 3:

No penalties.

No retirements.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:18.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>10:21.1</td>
      <td>+2.3</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>10:21.5</td>
      <td>+0.4</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>10:25.9</td>
      <td>+4.4</td>
      <td>+7.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>10:26.0</td>
      <td>+0.1</td>
      <td>+7.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>10:26.4</td>
      <td>+0.4</td>
      <td>+7.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>10:27.6</td>
      <td>+1.2</td>
      <td>+8.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:28.8</td>
      <td>+1.2</td>
      <td>+10.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>10:32.7</td>
      <td>+3.9</td>
      <td>+13.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>10:58.7</td>
      <td>+26.0</td>
      <td>+39.9</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>24:55.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>25:04.5</td>
      <td>+8.7</td>
      <td>+8.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>25:16.6</td>
      <td>+12.1</td>
      <td>+20.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>25:19.8</td>
      <td>+3.2</td>
      <td>+24.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>25:19.9</td>
      <td>+0.1</td>
      <td>+24.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>25:20.9</td>
      <td>+1.0</td>
      <td>+25.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>25:23.6</td>
      <td>+2.7</td>
      <td>+27.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>25:33.4</td>
      <td>+9.8</td>
      <td>+37.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>26:25.4</td>
      <td>+52.0</td>
      <td>+1:29.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>26:50.9</td>
      <td>+25.5</td>
      <td>+1:55.1</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split time, rank position

![](images/2017_224/chart_stage_split_pos_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS3 - stage split delta time (seconds) to first on stage

![](images/2017_224/split_delta_firstonstage_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-3.0</td>
      <td>-4.6</td>
      <td>10:18.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>+0.0</td>
      <td>-0.2</td>
      <td>10:21.1</td>
      <td>+2.3</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-0.7</td>
      <td>-2.9</td>
      <td>10:21.5</td>
      <td>+2.7</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:08.0</td>
      <td>00:06:49.1</td>
      <td>10:25.9</td>
      <td>+7.1</td>
      <td>+4.4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>+0.5</td>
      <td>+1.8</td>
      <td>10:26.0</td>
      <td>+7.2</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+2.6</td>
      <td>+1.4</td>
      <td>10:26.4</td>
      <td>+7.6</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>+0.6</td>
      <td>+2.1</td>
      <td>10:27.6</td>
      <td>+8.8</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+3.3</td>
      <td>+4.9</td>
      <td>10:28.8</td>
      <td>+10.0</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>+4.3</td>
      <td>+7.6</td>
      <td>10:32.7</td>
      <td>+13.9</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>+10.6</td>
      <td>+23.5</td>
      <td>10:58.7</td>
      <td>+39.9</td>
      <td>+26.0</td>
    </tr>
  </tbody>
</table>

## SS3 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_224/chart_stage_sector_delta_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:04:05</td>
      <td>00:02:39.500000</td>
      <td>00:03:34.300000</td>
      <td>00:10:18.800000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:04:08</td>
      <td>00:02:40.900000</td>
      <td>00:03:32.200000</td>
      <td>00:10:21.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:07.300000</td>
      <td>00:02:38.900000</td>
      <td>00:03:35.300000</td>
      <td>00:10:21.500000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:08</td>
      <td>00:02:41.100000</td>
      <td>00:03:36.800000</td>
      <td>00:10:25.900000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:08.500000</td>
      <td>00:02:42.400000</td>
      <td>00:03:35.100000</td>
      <td>00:10:26</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:10.600000</td>
      <td>00:02:39.900000</td>
      <td>00:03:35.900000</td>
      <td>00:10:26.400000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:08.600000</td>
      <td>00:02:42.600000</td>
      <td>00:03:36.400000</td>
      <td>00:10:27.600000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:11.300000</td>
      <td>00:02:42.700000</td>
      <td>00:03:34.800000</td>
      <td>00:10:28.800000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:04:12.300000</td>
      <td>00:02:44.400000</td>
      <td>00:03:36</td>
      <td>00:10:32.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:04:18.600000</td>
      <td>00:02:54</td>
      <td>00:03:46.100000</td>
      <td>00:10:58.700000</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_224/split_delta_rebase_SS3.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS3 - overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>24:55.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>25:04.5</td>
      <td>+8.7</td>
      <td>+8.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>25:16.6</td>
      <td>+12.1</td>
      <td>+20.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>25:19.8</td>
      <td>+3.2</td>
      <td>+24.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>25:19.9</td>
      <td>+0.1</td>
      <td>+24.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>25:20.9</td>
      <td>+1.0</td>
      <td>+25.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>25:23.6</td>
      <td>+2.7</td>
      <td>+27.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>25:33.4</td>
      <td>+9.8</td>
      <td>+37.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>26:25.4</td>
      <td>+52.0</td>
      <td>+1:29.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>26:50.9</td>
      <td>+25.5</td>
      <td>+1:55.1</td>
    </tr>
  </tbody>
</table>

## SS3 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_224/overall_SS3.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>13</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>16</td>
      <td>14</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>3</td>
      <td>21</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_224/overall_td_diffFirst_SS3.png)

### Stage position chart SS3

*Showing stage position for each stage.*

![](images/2017_224/stageStage_SS3.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>3</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>11</td>
      <td>13</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>15</td>
      <td>14</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>2</td>
      <td>3</td>
      <td>22</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS3

carNo|driverName |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |24:55.8|        |         |          1|        1|       1
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |25:04.5|     8.7|8.7      |          2|        2|       2
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |25:16.6|    12.1|20.8     |          3|        3|       3
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |25:19.8|     3.2|24.0     |          4|        4|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |25:19.9|     0.1|24.1     |          5|        5|       4
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |25:20.9|     1.0|25.1     |          6|        6|       5
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |25:23.6|     2.7|27.8     |          7|        7|       6
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |25:33.4|     9.8|37.6     |          8|        8|       7
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |           |26:25.4|    52.0|+1:29.6  |          9|        9|       2
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |26:50.9|    25.5|+1:55.1  |         10|       10|       8
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |27:47.2|    30.8|+2:51.4  |         13|       11|       9
   15|V. GORBAN  |S. LARENS   |EUROLAMP World Rally Team  |WRCT       |27:56.4|     9.2|+3:00.6  |         14|       12|       1
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |36:27.8|    23.0|+11:32.0 |         21|       13|      10

## SS4 SANTA ROSA - SAN AGUSTIN (I)
 ### Distance: 23.85 km
 
First car 10:24

*A medium length stage with two splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    4|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    6|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    9|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
   10|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   11|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   12|   37|L. BERTELLI|M-Sport World Rally Team   |           |RC1       
  NaN|   15|V. GORBAN  |EUROLAMP World Rally Team  |WRCT       |RC1

## Stage Report 4:

No penalties.

No retirements.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>13:44.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>13:47.6</td>
      <td>+2.8</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>13:50.4</td>
      <td>+2.8</td>
      <td>+5.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>13:53.0</td>
      <td>+2.6</td>
      <td>+8.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>13:53.9</td>
      <td>+0.9</td>
      <td>+9.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>13:56.4</td>
      <td>+2.5</td>
      <td>+11.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>13:57.2</td>
      <td>+0.8</td>
      <td>+12.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>14:07.7</td>
      <td>+10.5</td>
      <td>+22.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>14:19.6</td>
      <td>+11.9</td>
      <td>+34.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>14:41.0</td>
      <td>+21.4</td>
      <td>+56.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>38:40.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>39:04.2</td>
      <td>+23.6</td>
      <td>+23.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>39:12.8</td>
      <td>+8.6</td>
      <td>+32.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>39:14.0</td>
      <td>+1.2</td>
      <td>+33.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>39:16.3</td>
      <td>+2.3</td>
      <td>+35.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>39:28.6</td>
      <td>+12.3</td>
      <td>+48.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>40:45.0</td>
      <td>+1:16.4</td>
      <td>+2:04.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>41:43.7</td>
      <td>+58.7</td>
      <td>+3:03.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>41:44.4</td>
      <td>+0.7</td>
      <td>+3:03.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>41:50.9</td>
      <td>+6.5</td>
      <td>+3:10.3</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split time, rank position

![](images/2017_224/chart_stage_split_pos_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS4 - stage split delta time (seconds) to first on stage

![](images/2017_224/split_delta_firstonstage_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-6.7</td>
      <td>-7.3</td>
      <td>13:44.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td></td>
      <td>-4.2</td>
      <td>13:47.6</td>
      <td>+2.8</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-2.8</td>
      <td>-4.3</td>
      <td>13:50.4</td>
      <td>+5.6</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-1.9</td>
      <td>-2.1</td>
      <td>13:53.0</td>
      <td>+8.2</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-2.6</td>
      <td>-1.4</td>
      <td>13:53.9</td>
      <td>+9.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:00.2</td>
      <td>00:09:10.7</td>
      <td>13:56.4</td>
      <td>+11.6</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-4.2</td>
      <td>-0.7</td>
      <td>13:57.2</td>
      <td>+12.4</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-1.5</td>
      <td>+2.4</td>
      <td>14:07.7</td>
      <td>+22.9</td>
      <td>+10.5</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>+6.4</td>
      <td>+17.9</td>
      <td>14:19.6</td>
      <td>+34.8</td>
      <td>+11.9</td>
    </tr>
    <tr>
      <th>14</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>+13.6</td>
      <td>+32.5</td>
      <td>14:41.0</td>
      <td>+56.2</td>
      <td>+21.4</td>
    </tr>
  </tbody>
</table>

## SS4 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 4, T. NEUVILLE lost ground in the final part of the stage.

![](images/2017_224/chart_stage_sector_delta_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:53.500000</td>
      <td>00:05:09.900000</td>
      <td>00:04:41.400000</td>
      <td>00:13:44.800000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:13:47.600000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:57.400000</td>
      <td>00:05:09</td>
      <td>00:04:44</td>
      <td>00:13:50.400000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:58.300000</td>
      <td>00:05:10.300000</td>
      <td>00:04:44.400000</td>
      <td>00:13:53</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:57.600000</td>
      <td>00:05:11.700000</td>
      <td>00:04:44.600000</td>
      <td>00:13:53.900000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:00.200000</td>
      <td>00:05:10.500000</td>
      <td>00:04:45.700000</td>
      <td>00:13:56.400000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:56</td>
      <td>00:05:14</td>
      <td>00:04:47.200000</td>
      <td>00:13:57.200000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:58.700000</td>
      <td>00:05:14.400000</td>
      <td>00:04:54.600000</td>
      <td>00:14:07.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:04:06.600000</td>
      <td>00:05:22</td>
      <td>00:04:51</td>
      <td>00:14:19.600000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>00:04:13.800000</td>
      <td>00:05:29.400000</td>
      <td>00:04:57.800000</td>
      <td>00:14:41</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_224/split_delta_rebase_SS4.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS4 - overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>38:40.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>39:04.2</td>
      <td>+23.6</td>
      <td>+23.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>39:12.8</td>
      <td>+8.6</td>
      <td>+32.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>39:14.0</td>
      <td>+1.2</td>
      <td>+33.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>39:16.3</td>
      <td>+2.3</td>
      <td>+35.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>39:28.6</td>
      <td>+12.3</td>
      <td>+48.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>40:45.0</td>
      <td>+1:16.4</td>
      <td>+2:04.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>41:43.7</td>
      <td>+58.7</td>
      <td>+3:03.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>41:44.4</td>
      <td>+0.7</td>
      <td>+3:03.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>41:50.9</td>
      <td>+6.5</td>
      <td>+3:10.3</td>
    </tr>
  </tbody>
</table>

## SS4 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_224/overall_SS4.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>11</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>13</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>14</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>15</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>16</td>
      <td>14</td>
      <td>17</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>3</td>
      <td>21</td>
      <td>20</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_224/overall_td_diffFirst_SS4.png)

### Stage position chart SS4

*Showing stage position for each stage.*

![](images/2017_224/stageStage_SS4.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>2</td>
      <td>3</td>
      <td>22</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>11</td>
      <td>13</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>9</td>
      <td>16</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>17</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>15</td>
      <td>14</td>
      <td>18</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS4

carNo|driverName |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|-------|--------|---------|----------:|--------:|-------:
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |38:40.6|        |         |          1|        1|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |39:04.2|23.6    |23.6     |          2|        2|       2
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |39:12.8|8.6     |32.2     |          3|        3|       1
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |39:14.0|1.2     |33.4     |          4|        4|       3
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |39:16.3|2.3     |35.7     |          5|        5|       4
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |39:28.6|12.3    |48.0     |          6|        6|       5
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |           |40:45.0|+1:16.4 |+2:04.4  |          7|        7|       2
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |41:44.4|0.7     |+3:03.8  |          9|        8|       6
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |41:50.9|6.5     |+3:10.3  |         10|        9|       7
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |44:27.2|22.9    |+5:46.6  |         14|       10|       8
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |45:20.8|53.6    |+6:40.2  |         15|       11|       9
   15|V. GORBAN  |S. LARENS   |EUROLAMP World Rally Team  |WRCT       |48:41.2|22.5    |+10:00.6 |         17|       12|       1
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |50:21.7|36.6    |+11:41.1 |         20|       13|      10