# WRC Rally - Argentina, 2017

# Day 1 (27/04/2017)
## Section 1 (Evening)

## SS1 SUPER ESPECIAL CORDOBA
 ### Distance: 1.90 km
 
First car 19:08

*A short stage with no splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    8|   37|L. BERTELLI|M-SPORT World Rally Team   |           |RC1       
    9|   15|V. GORBAN  |EUROLAMP World Rally Team  |WRCT       |RC1       
   10|   14|M. OSTBERG |M-SPORT World Rally Team   |           |RC1       
   11|   11|J. HANNINEN|TOYOTA GAZOO Racing WRT    |M          |RC1       
   12|    3|E. EVANS   |M-SPORT World Rally Team   |M          |RC1       
   13|    4|H. PADDON  |HYUNDAI Motorsport         |M          |RC1       
   14|    8|C. BREEN   |CITROEN TOTAL ABU DHABI WRT|M          |RC1       
   15|    6|D. SORDO   |HYUNDAI Motorsport         |M          |RC1       
   16|    2|O. TANAK   |M-SPORT World Rally Team   |M          |RC1       
   17|    7|K. MEEKE   |CITROEN TOTAL ABU DHABI WRT|M          |RC1       
   18|    5|T. NEUVILLE|HYUNDAI Motorsport         |M          |RC1       
   19|   10|J. LATVALA |TOYOTA GAZOO Racing WRT    |M          |RC1       
   20|    1|S. OGIER   |M-SPORT World Rally Team   |M          |RC1

## Stage Report 1:

In stage SS1, S. OGIER (FRA) and co-driver J. INGRASSIA (FRA) for M-Sport World Rally Team in the Ford Fiesta WRC took the stage, and the lead of the rally, with a time of 1:53.8, +0.9 ahead of second on stage D. SORDO (ESP) and M. MARTI (ESP) (Hyundai Motorsport).



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:53.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:54.7</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54.7</td>
      <td>+0.0</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:55.4</td>
      <td>+0.7</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55.9</td>
      <td>+0.5</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:56.2</td>
      <td>+0.3</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:56.3</td>
      <td>+0.1</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:56.5</td>
      <td>+0.2</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:56.9</td>
      <td>+0.4</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:57.6</td>
      <td>+0.7</td>
      <td>+3.8</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:53.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54.7</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:54.7</td>
      <td>+0.0</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:55.4</td>
      <td>+0.7</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55.9</td>
      <td>+0.5</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:56.2</td>
      <td>+0.3</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:56.3</td>
      <td>+0.1</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:56.5</td>
      <td>+0.2</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:56.9</td>
      <td>+0.4</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:57.6</td>
      <td>+0.7</td>
      <td>+3.8</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split time, rank position

![](images/2017_224/chart_stage_split_pos_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS1 - stage split delta time (seconds) to first on stage

![](images/2017_224/split_delta_firstonstage_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>20</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:53.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>15</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:54.7</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>12</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54.7</td>
      <td>+0.9</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:55.4</td>
      <td>+1.6</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>19</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55.9</td>
      <td>+2.1</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:56.2</td>
      <td>+2.4</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:56.3</td>
      <td>+2.5</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:56.5</td>
      <td>+2.7</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:56.9</td>
      <td>+3.1</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:57.6</td>
      <td>+3.8</td>
      <td>+0.7</td>
    </tr>
  </tbody>
</table>

## SS1 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_224/chart_stage_sector_delta_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>20</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:53.800000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:54.700000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:54.700000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:55.400000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:55.900000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:01:56.200000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:56.300000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:56.500000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:56.900000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:01:57.600000</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_224/split_delta_rebase_SS1.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS1 - overall rally positions at end of stage

On the first completed stage, SS1, S. OGIER took the stage in the Ford Fiesta WRC, and along with it the lead of the rally, going +0.9 ahead overall.

E. EVANS, in the Ford Fiesta WRC, moved up into second place overall.

D. SORDO, in the Hyundai i20 Coupe WRC, took third place overall, +0.9 behind the overall rally leader and +0.0 behind E. EVANS.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:53.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54.7</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:54.7</td>
      <td>+0.0</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:55.4</td>
      <td>+0.7</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55.9</td>
      <td>+0.5</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:56.2</td>
      <td>+0.3</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:56.3</td>
      <td>+0.1</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:56.5</td>
      <td>+0.2</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:56.9</td>
      <td>+0.4</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:57.6</td>
      <td>+0.7</td>
      <td>+3.8</td>
    </tr>
  </tbody>
</table>

## SS1 - Overall rank evolution

## Full Overall Results at end of SS1

carNo|driverName |coDriverName|           team            |eligibility| time |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|------|-------:|--------:|----------:|--------:|-------:
    1|S. OGIER   |J. INGRASSIA|M-SPORT World Rally Team   |M          |1:53.8|        |         |          1|        1|       1
    3|E. EVANS   |D. BARRITT  |M-SPORT World Rally Team   |M          |1:54.7|     0.9|      0.9|          2|        2|       2
    6|D. SORDO   |M. MARTI    |HYUNDAI Motorsport         |M          |1:54.7|     0.0|      0.9|          3|        3|       3
    5|T. NEUVILLE|N. GILSOUL  |HYUNDAI Motorsport         |M          |1:55.4|     0.7|      1.6|          4|        4|       4
   10|J. LATVALA |M. ANTTILA  |TOYOTA GAZOO Racing WRT    |M          |1:55.9|     0.5|      2.1|          5|        5|       5
   14|M. OSTBERG |O. FLOENE   |M-SPORT World Rally Team   |           |1:56.2|     0.3|      2.4|          6|        6|       1
    4|H. PADDON  |J. KENNARD  |HYUNDAI Motorsport         |M          |1:56.3|     0.1|      2.5|          7|        7|       6
    7|K. MEEKE   |P. NAGLE    |CITROEN TOTAL ABU DHABI WRT|M          |1:56.5|     0.2|      2.7|          8|        8|       7
    2|O. TANAK   |M. JARVEOJA |M-SPORT World Rally Team   |M          |1:56.9|     0.4|      3.1|          9|        9|       8
   11|J. HANNINEN|K. LINDSTROM|TOYOTA GAZOO Racing WRT    |M          |1:57.6|     0.7|      3.8|         10|       10|       9
    8|C. BREEN   |S. MARTIN   |CITROEN TOTAL ABU DHABI WRT|M          |1:58.6|     1.0|      4.8|         11|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-SPORT World Rally Team   |           |1:59.0|     0.4|      5.2|         12|       12|       2
   15|V. GORBAN  |S. LARENS   |EUROLAMP World Rally Team  |WRCT       |2:06.6|     2.6|     12.8|         17|       13|       1

# Day 2 (28/04/2017)
## Section 2 (Morning)

## SS2 SAN AGUSTIN - VILLA GRAL. BELGRANO (I)
 ### Distance: 19.95 km
 
First car 08:38

*A medium length stage with two splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    4|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    6|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    9|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
   10|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   11|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   12|   37|L. BERTELLI|M-Sport World Rally Team   |           |RC1       
   13|   15|V. GORBAN  |EUROLAMP World Rally Team  |WRCT       |RC1

## Stage Report 2:

In stage SS2, E. EVANS (GBR) and D. BARRITT (GBR) (M-Sport World Rally Team) took the stage, and their first stage win, in 12:42.3, +4.6 ahead of K. MEEKE (GBR) and P. NAGLE (IRL) (Citroën Total Abu Dhabi WRT).

As well as taking the stage, his +17.9 gain over S. OGIER (FRA) and J. INGRASSIA (FRA) in the Ford Fiesta WRC, the rally leader going into the stage, meant E. EVANS (GBR) and D. BARRITT (GBR) (M-Sport World Rally Team) also took overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>12:42.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>12:46.9</td>
      <td>+4.6</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>12:49.2</td>
      <td>+2.3</td>
      <td>+6.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>12:54.3</td>
      <td>+5.1</td>
      <td>+12.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>12:56.7</td>
      <td>+2.4</td>
      <td>+14.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>12:57.6</td>
      <td>+0.9</td>
      <td>+15.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>13:00.2</td>
      <td>+2.6</td>
      <td>+17.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>13:02.1</td>
      <td>+1.9</td>
      <td>+19.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>13:05.2</td>
      <td>+3.1</td>
      <td>+22.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>13:27.7</td>
      <td>+22.5</td>
      <td>+45.4</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>14:37.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>14:43.4</td>
      <td>+6.4</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>14:43.9</td>
      <td>+0.5</td>
      <td>+6.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>14:50.2</td>
      <td>+6.3</td>
      <td>+13.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>14:52.1</td>
      <td>+1.9</td>
      <td>+15.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>14:53.8</td>
      <td>+1.7</td>
      <td>+16.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>14:54.0</td>
      <td>+0.2</td>
      <td>+17.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>15:00.7</td>
      <td>+6.7</td>
      <td>+23.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>15:02.1</td>
      <td>+1.4</td>
      <td>+25.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>15:25.8</td>
      <td>+23.7</td>
      <td>+48.8</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split time, rank position

![](images/2017_224/chart_stage_split_pos_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS2 - stage split delta time (seconds) to first on stage

![](images/2017_224/split_delta_firstonstage_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-2.9</td>
      <td>-13.1</td>
      <td>12:42.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>+0.9</td>
      <td>-8.9</td>
      <td>12:46.9</td>
      <td>+4.6</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+0.6</td>
      <td>-7.2</td>
      <td>12:49.2</td>
      <td>+6.9</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+0.9</td>
      <td>-4.2</td>
      <td>12:54.3</td>
      <td>+12.0</td>
      <td>+5.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+1.4</td>
      <td>-1.5</td>
      <td>12:56.7</td>
      <td>+14.4</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>+1.0</td>
      <td>-1.7</td>
      <td>12:57.6</td>
      <td>+15.3</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:54.1</td>
      <td>00:08:55.4</td>
      <td>13:00.2</td>
      <td>+17.9</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>+4.4</td>
      <td>+1.4</td>
      <td>13:02.1</td>
      <td>+19.8</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>+1.2</td>
      <td>+2.4</td>
      <td>13:05.2</td>
      <td>+22.9</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>+5.2</td>
      <td>+10.9</td>
      <td>13:27.7</td>
      <td>+45.4</td>
      <td>+22.5</td>
    </tr>
  </tbody>
</table>

## SS2 - stage sector delta time (seconds) to fastest stage sector time

E. EVANS drove an __ultimate stage__, recording the fastest time *between* each timing point on the stage.

Despite being competitive at the start of stage 2, H. PADDON lost ground in the final part of the stage.

![](images/2017_224/chart_stage_sector_delta_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:51.200000</td>
      <td>00:05:51.100000</td>
      <td>00:04:00</td>
      <td>00:12:42.300000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:55</td>
      <td>00:05:51.500000</td>
      <td>00:04:00.400000</td>
      <td>00:12:46.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:54.700000</td>
      <td>00:05:53.500000</td>
      <td>00:04:01</td>
      <td>00:12:49.200000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:55</td>
      <td>00:05:56.200000</td>
      <td>00:04:03.100000</td>
      <td>00:12:54.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:55.500000</td>
      <td>00:05:58.400000</td>
      <td>00:04:02.800000</td>
      <td>00:12:56.700000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:02:55.100000</td>
      <td>00:05:58.600000</td>
      <td>00:04:03.900000</td>
      <td>00:12:57.600000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:54.100000</td>
      <td>00:06:01.300000</td>
      <td>00:04:04.800000</td>
      <td>00:13:00.200000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:02:58.500000</td>
      <td>00:05:58.300000</td>
      <td>00:04:05.300000</td>
      <td>00:13:02.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:55.300000</td>
      <td>00:06:02.500000</td>
      <td>00:04:07.400000</td>
      <td>00:13:05.200000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:02:59.300000</td>
      <td>00:06:07</td>
      <td>00:04:21.400000</td>
      <td>00:13:27.700000</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_224/split_delta_rebase_SS2.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS2 - overall rally positions at end of stage

By the end of a poor stage SS2 for previous overall leader S. OGIER, E. EVANS for M-Sport World Rally Team in the Ford Fiesta WRC gained one place, from second at end of the previous stage, to take overall lead of the rally, with a gap of +6.4 from K. MEEKE for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC.

The overall leader from the previous stage, S. OGIER, in the Ford Fiesta WRC, fell six positions to seventh, putting him +17.0 behind the overall leader.

K. MEEKE, for Citroën Total Abu Dhabi WRT, took second place overall, improving six positions from eighth.

D. SORDO, for Hyundai Motorsport in the Hyundai i20 Coupe WRC, retained third place overall, +6.9 behind the overall rally leader and trailing K. MEEKE by +0.5.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>14:37.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>14:43.4</td>
      <td>+6.4</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>14:43.9</td>
      <td>+0.5</td>
      <td>+6.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>14:50.2</td>
      <td>+6.3</td>
      <td>+13.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>14:52.1</td>
      <td>+1.9</td>
      <td>+15.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>14:53.8</td>
      <td>+1.7</td>
      <td>+16.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>14:54.0</td>
      <td>+0.2</td>
      <td>+17.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>15:00.7</td>
      <td>+6.7</td>
      <td>+23.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>15:02.1</td>
      <td>+1.4</td>
      <td>+25.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>15:25.8</td>
      <td>+23.7</td>
      <td>+48.8</td>
    </tr>
  </tbody>
</table>

## SS2 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_224/overall_SS2.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>16</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_224/overall_td_diffFirst_SS2.png)

### Stage position chart SS2

*Showing stage position for each stage.*

![](images/2017_224/stageStage_SS2.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>15</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS2

carNo|driverName |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |14:37.0|        |         |          1|        1|       1
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |14:43.4|     6.4|6.4      |          2|        2|       2
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |14:43.9|     0.5|6.9      |          3|        3|       3
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |14:50.2|     6.3|13.2     |          4|        4|       4
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |14:52.1|     1.9|15.1     |          5|        5|       5
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |14:53.8|     1.7|16.8     |          6|        6|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |14:54.0|     0.2|17.0     |          7|        7|       6
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |15:00.7|     6.7|23.7     |          8|        8|       7
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |15:02.1|     1.4|25.1     |          9|        9|       8
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |15:25.8|    23.7|48.8     |         10|       10|       9
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |           |15:26.7|     0.9|49.7     |         11|       11|       2
   15|V. GORBAN  |S. LARENS   |EUROLAMP World Rally Team  |WRCT       |16:20.9|     1.9|+1:43.9  |         16|       12|       1
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |17:19.6|    42.1|+2:42.6  |         19|       13|      10

## SS3 AMBOY - SANTA MONICA (I)
 ### Distance: 20.44 km
 
First car 09:41

*A medium length stage with two splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    4|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    6|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    9|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
   10|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   11|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   12|   37|L. BERTELLI|M-Sport World Rally Team   |           |RC1       
   13|   15|V. GORBAN  |EUROLAMP World Rally Team  |WRCT       |RC1

## Stage Report 3:

In stage SS3, E. EVANS (GBR) and D. BARRITT (GBR) for M-Sport World Rally Team continued to lead the rally with their second stage win of the rally,their second consecutive stage win, in a time of 10:18.8.

K. MEEKE (GBR) and P. NAGLE (IRL) (Citroën Total Abu Dhabi WRT) were placed second on the stage, +2.3 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:18.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>10:21.1</td>
      <td>+2.3</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>10:21.5</td>
      <td>+0.4</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>10:25.9</td>
      <td>+4.4</td>
      <td>+7.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>10:26.0</td>
      <td>+0.1</td>
      <td>+7.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>10:26.4</td>
      <td>+0.4</td>
      <td>+7.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>10:27.6</td>
      <td>+1.2</td>
      <td>+8.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:28.8</td>
      <td>+1.2</td>
      <td>+10.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>10:32.7</td>
      <td>+3.9</td>
      <td>+13.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>10:58.7</td>
      <td>+26.0</td>
      <td>+39.9</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>24:55.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>25:04.5</td>
      <td>+8.7</td>
      <td>+8.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>25:16.6</td>
      <td>+12.1</td>
      <td>+20.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>25:19.8</td>
      <td>+3.2</td>
      <td>+24.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>25:19.9</td>
      <td>+0.1</td>
      <td>+24.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>25:20.9</td>
      <td>+1.0</td>
      <td>+25.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>25:23.6</td>
      <td>+2.7</td>
      <td>+27.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>25:33.4</td>
      <td>+9.8</td>
      <td>+37.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>26:25.4</td>
      <td>+52.0</td>
      <td>+1:29.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>26:50.9</td>
      <td>+25.5</td>
      <td>+1:55.1</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split time, rank position

![](images/2017_224/chart_stage_split_pos_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS3 - stage split delta time (seconds) to first on stage

![](images/2017_224/split_delta_firstonstage_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-3.0</td>
      <td>-4.6</td>
      <td>10:18.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>+0.0</td>
      <td>-0.2</td>
      <td>10:21.1</td>
      <td>+2.3</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-0.7</td>
      <td>-2.9</td>
      <td>10:21.5</td>
      <td>+2.7</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:08.0</td>
      <td>00:06:49.1</td>
      <td>10:25.9</td>
      <td>+7.1</td>
      <td>+4.4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>+0.5</td>
      <td>+1.8</td>
      <td>10:26.0</td>
      <td>+7.2</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+2.6</td>
      <td>+1.4</td>
      <td>10:26.4</td>
      <td>+7.6</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>+0.6</td>
      <td>+2.1</td>
      <td>10:27.6</td>
      <td>+8.8</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+3.3</td>
      <td>+4.9</td>
      <td>10:28.8</td>
      <td>+10.0</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>+4.3</td>
      <td>+7.6</td>
      <td>10:32.7</td>
      <td>+13.9</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>+10.6</td>
      <td>+23.5</td>
      <td>10:58.7</td>
      <td>+39.9</td>
      <td>+26.0</td>
    </tr>
  </tbody>
</table>

## SS3 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_224/chart_stage_sector_delta_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:04:05</td>
      <td>00:02:39.500000</td>
      <td>00:03:34.300000</td>
      <td>00:10:18.800000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:04:08</td>
      <td>00:02:40.900000</td>
      <td>00:03:32.200000</td>
      <td>00:10:21.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:07.300000</td>
      <td>00:02:38.900000</td>
      <td>00:03:35.300000</td>
      <td>00:10:21.500000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:08</td>
      <td>00:02:41.100000</td>
      <td>00:03:36.800000</td>
      <td>00:10:25.900000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:08.500000</td>
      <td>00:02:42.400000</td>
      <td>00:03:35.100000</td>
      <td>00:10:26</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:10.600000</td>
      <td>00:02:39.900000</td>
      <td>00:03:35.900000</td>
      <td>00:10:26.400000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:08.600000</td>
      <td>00:02:42.600000</td>
      <td>00:03:36.400000</td>
      <td>00:10:27.600000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:11.300000</td>
      <td>00:02:42.700000</td>
      <td>00:03:34.800000</td>
      <td>00:10:28.800000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:04:12.300000</td>
      <td>00:02:44.400000</td>
      <td>00:03:36</td>
      <td>00:10:32.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:04:18.600000</td>
      <td>00:02:54</td>
      <td>00:03:46.100000</td>
      <td>00:10:58.700000</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_224/split_delta_rebase_SS3.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS3 - overall rally positions at end of stage

At the end of stage SS3, E. EVANS continued in overall lead of the rally for M-Sport World Rally Team, with a lead of +8.7.

K. MEEKE, for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC, retained second place overall.

J. LATVALA, for Toyota Gazoo Racing WRT, moved to third place overall, a gain of one position from fourth, +20.8 behind the overall rally leader and +12.1 behind K. MEEKE.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>24:55.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>25:04.5</td>
      <td>+8.7</td>
      <td>+8.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>25:16.6</td>
      <td>+12.1</td>
      <td>+20.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>25:19.8</td>
      <td>+3.2</td>
      <td>+24.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>25:19.9</td>
      <td>+0.1</td>
      <td>+24.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>25:20.9</td>
      <td>+1.0</td>
      <td>+25.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>25:23.6</td>
      <td>+2.7</td>
      <td>+27.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>25:33.4</td>
      <td>+9.8</td>
      <td>+37.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>26:25.4</td>
      <td>+52.0</td>
      <td>+1:29.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>26:50.9</td>
      <td>+25.5</td>
      <td>+1:55.1</td>
    </tr>
  </tbody>
</table>

## SS3 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_224/overall_SS3.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>13</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>16</td>
      <td>14</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>3</td>
      <td>21</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_224/overall_td_diffFirst_SS3.png)

### Stage position chart SS3

*Showing stage position for each stage.*

![](images/2017_224/stageStage_SS3.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>3</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>11</td>
      <td>13</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>15</td>
      <td>14</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>2</td>
      <td>3</td>
      <td>22</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS3

carNo|driverName |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |24:55.8|        |         |          1|        1|       1
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |25:04.5|     8.7|8.7      |          2|        2|       2
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |25:16.6|    12.1|20.8     |          3|        3|       3
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |25:19.8|     3.2|24.0     |          4|        4|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |25:19.9|     0.1|24.1     |          5|        5|       4
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |25:20.9|     1.0|25.1     |          6|        6|       5
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |25:23.6|     2.7|27.8     |          7|        7|       6
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |25:33.4|     9.8|37.6     |          8|        8|       7
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |           |26:25.4|    52.0|+1:29.6  |          9|        9|       2
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |26:50.9|    25.5|+1:55.1  |         10|       10|       8
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |27:47.2|    30.8|+2:51.4  |         13|       11|       9
   15|V. GORBAN  |S. LARENS   |EUROLAMP World Rally Team  |WRCT       |27:56.4|     9.2|+3:00.6  |         14|       12|       1
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |36:27.8|    23.0|+11:32.0 |         21|       13|      10

## SS4 SANTA ROSA - SAN AGUSTIN (I)
 ### Distance: 23.85 km
 
First car 10:24

*A medium length stage with two splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    4|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    6|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    9|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
   10|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   11|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   12|   37|L. BERTELLI|M-Sport World Rally Team   |           |RC1       
  NaN|   15|V. GORBAN  |EUROLAMP World Rally Team  |WRCT       |RC1

## Stage Report 4:

In stage SS4, E. EVANS (GBR) and D. BARRITT (GBR) (M-Sport World Rally Team) continued to lead the rally with their third stage win,their third consecutive stage win, in a time of 13:44.8.

J. LATVALA (FIN) and M. ANTTILA (FIN) (Toyota Gazoo Racing WRT) were placed second on the stage, +2.8 behind.


There were 1 retirements amongst the wider RC1 competitors:
- V. GORBAN (UKR) / S. LARENS (EST) - MECHANICAL at SF4 in the *EUROLAMP World Rally Team* BMW-Mini John Cooper Works



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>13:44.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>13:47.6</td>
      <td>+2.8</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>13:50.4</td>
      <td>+2.8</td>
      <td>+5.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>13:53.0</td>
      <td>+2.6</td>
      <td>+8.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>13:53.9</td>
      <td>+0.9</td>
      <td>+9.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>13:56.4</td>
      <td>+2.5</td>
      <td>+11.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>13:57.2</td>
      <td>+0.8</td>
      <td>+12.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>14:07.7</td>
      <td>+10.5</td>
      <td>+22.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>14:19.6</td>
      <td>+11.9</td>
      <td>+34.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>14:41.0</td>
      <td>+21.4</td>
      <td>+56.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>38:40.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>39:04.2</td>
      <td>+23.6</td>
      <td>+23.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>39:12.8</td>
      <td>+8.6</td>
      <td>+32.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>39:14.0</td>
      <td>+1.2</td>
      <td>+33.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>39:16.3</td>
      <td>+2.3</td>
      <td>+35.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>39:28.6</td>
      <td>+12.3</td>
      <td>+48.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>40:45.0</td>
      <td>+1:16.4</td>
      <td>+2:04.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>41:43.7</td>
      <td>+58.7</td>
      <td>+3:03.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>41:44.4</td>
      <td>+0.7</td>
      <td>+3:03.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>41:50.9</td>
      <td>+6.5</td>
      <td>+3:10.3</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split time, rank position

![](images/2017_224/chart_stage_split_pos_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS4 - stage split delta time (seconds) to first on stage

![](images/2017_224/split_delta_firstonstage_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-6.7</td>
      <td>-7.3</td>
      <td>13:44.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td></td>
      <td>-4.2</td>
      <td>13:47.6</td>
      <td>+2.8</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-2.8</td>
      <td>-4.3</td>
      <td>13:50.4</td>
      <td>+5.6</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-1.9</td>
      <td>-2.1</td>
      <td>13:53.0</td>
      <td>+8.2</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-2.6</td>
      <td>-1.4</td>
      <td>13:53.9</td>
      <td>+9.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:00.2</td>
      <td>00:09:10.7</td>
      <td>13:56.4</td>
      <td>+11.6</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-4.2</td>
      <td>-0.7</td>
      <td>13:57.2</td>
      <td>+12.4</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-1.5</td>
      <td>+2.4</td>
      <td>14:07.7</td>
      <td>+22.9</td>
      <td>+10.5</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>+6.4</td>
      <td>+17.9</td>
      <td>14:19.6</td>
      <td>+34.8</td>
      <td>+11.9</td>
    </tr>
    <tr>
      <th>14</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>+13.6</td>
      <td>+32.5</td>
      <td>14:41.0</td>
      <td>+56.2</td>
      <td>+21.4</td>
    </tr>
  </tbody>
</table>

## SS4 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 4, T. NEUVILLE lost ground in the final part of the stage.

![](images/2017_224/chart_stage_sector_delta_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:53.500000</td>
      <td>00:05:09.900000</td>
      <td>00:04:41.400000</td>
      <td>00:13:44.800000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:13:47.600000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:57.400000</td>
      <td>00:05:09</td>
      <td>00:04:44</td>
      <td>00:13:50.400000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:58.300000</td>
      <td>00:05:10.300000</td>
      <td>00:04:44.400000</td>
      <td>00:13:53</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:57.600000</td>
      <td>00:05:11.700000</td>
      <td>00:04:44.600000</td>
      <td>00:13:53.900000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:00.200000</td>
      <td>00:05:10.500000</td>
      <td>00:04:45.700000</td>
      <td>00:13:56.400000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:56</td>
      <td>00:05:14</td>
      <td>00:04:47.200000</td>
      <td>00:13:57.200000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:58.700000</td>
      <td>00:05:14.400000</td>
      <td>00:04:54.600000</td>
      <td>00:14:07.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:04:06.600000</td>
      <td>00:05:22</td>
      <td>00:04:51</td>
      <td>00:14:19.600000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>00:04:13.800000</td>
      <td>00:05:29.400000</td>
      <td>00:04:57.800000</td>
      <td>00:14:41</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_224/split_delta_rebase_SS4.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS4 - overall rally positions at end of stage

After stage SS4, E. EVANS continued in overall lead of the rally for M-Sport World Rally Team, +23.6 ahead.

J. LATVALA, in the Toyota Yaris WRC, gained second place overall, gaining one position from third.

Previous second place overall, K. MEEKE for Citroën Total Abu Dhabi WRT, fell back thirteen positions to fifteenth, +6:40.2 behind the leader.

M. OSTBERG, for M-Sport World Rally Team, moved up to third place overall, up one place from fourth, +32.2 behind the overall rally leader and +8.6 behind second placed J. LATVALA.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>38:40.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>39:04.2</td>
      <td>+23.6</td>
      <td>+23.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>39:12.8</td>
      <td>+8.6</td>
      <td>+32.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>39:14.0</td>
      <td>+1.2</td>
      <td>+33.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>39:16.3</td>
      <td>+2.3</td>
      <td>+35.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>39:28.6</td>
      <td>+12.3</td>
      <td>+48.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>40:45.0</td>
      <td>+1:16.4</td>
      <td>+2:04.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>41:43.7</td>
      <td>+58.7</td>
      <td>+3:03.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>41:44.4</td>
      <td>+0.7</td>
      <td>+3:03.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>41:50.9</td>
      <td>+6.5</td>
      <td>+3:10.3</td>
    </tr>
  </tbody>
</table>

## SS4 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_224/overall_SS4.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>11</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>13</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>14</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>15</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>16</td>
      <td>14</td>
      <td>17</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>3</td>
      <td>21</td>
      <td>20</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_224/overall_td_diffFirst_SS4.png)

### Stage position chart SS4

*Showing stage position for each stage.*

![](images/2017_224/stageStage_SS4.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>2</td>
      <td>3</td>
      <td>22</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>11</td>
      <td>13</td>
      <td>11</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>9</td>
      <td>16</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>17</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>15</td>
      <td>14</td>
      <td>18</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS4

carNo|driverName |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|-------|--------|---------|----------:|--------:|-------:
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |38:40.6|        |         |          1|        1|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |39:04.2|23.6    |23.6     |          2|        2|       2
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |39:12.8|8.6     |32.2     |          3|        3|       1
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |39:14.0|1.2     |33.4     |          4|        4|       3
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |39:16.3|2.3     |35.7     |          5|        5|       4
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |39:28.6|12.3    |48.0     |          6|        6|       5
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |           |40:45.0|+1:16.4 |+2:04.4  |          7|        7|       2
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |41:44.4|0.7     |+3:03.8  |          9|        8|       6
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |41:50.9|6.5     |+3:10.3  |         10|        9|       7
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |44:27.2|22.9    |+5:46.6  |         14|       10|       8
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |45:20.8|53.6    |+6:40.2  |         15|       11|       9
   15|V. GORBAN  |S. LARENS   |EUROLAMP World Rally Team  |WRCT       |48:41.2|22.5    |+10:00.6 |         17|       12|       1
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |50:21.7|36.6    |+11:41.1 |         20|       13|      10

## SS5 SUPER ESPECIAL PARQUE TEMATICO ( 2 laps)
 ### Distance: 6.04 km
 
First car 12:29

*A short stage with no splits*

## Start Order:
start|carNo|driverName |          team          |eligibility|groupClass
----:|----:|-----------|------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team|M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team|M          |RC1       
    4|    5|T. NEUVILLE|Hyundai Motorsport      |M          |RC1       
    5|    4|H. PADDON  |Hyundai Motorsport      |M          |RC1       
    6|    6|D. SORDO   |Hyundai Motorsport      |M          |RC1       
    7|   11|J. HANNINEN|Toyota Gazoo Racing WRT |M          |RC1       
    8|    3|E. EVANS   |M-Sport World Rally Team|M          |RC1       
    9|   37|L. BERTELLI|M-Sport World Rally Team|           |RC1       
   10|   14|M. OSTBERG |M-Sport World Rally Team|           |RC1

## Stage Report 5:

In stage SS5, E. EVANS (GBR) and D. BARRITT (GBR) in the Ford Fiesta WRC continued to lead the rally with their fourth stage win,their fourth consecutive stage win, in a time of 4:43.5.

T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport in the Hyundai i20 Coupe WRC were placed second on the stage, +2.2 behind.


There were 1 penalties amongst the RC1 (M) competitors around stage 5:
- H. PADDON / J. KENNARD received a 00:10 penalty, (1M LATE, TC5C) in the *Hyundai Motorsport* Hyundai i20 Coupe WRC



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>4:43.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>4:45.7</td>
      <td>+2.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>4:46.9</td>
      <td>+1.2</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>4:47.6</td>
      <td>+0.7</td>
      <td>+4.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>4:49.5</td>
      <td>+1.9</td>
      <td>+6.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>4:49.9</td>
      <td>+0.4</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>4:50.0</td>
      <td>+0.1</td>
      <td>+6.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>4:51.5</td>
      <td>+1.5</td>
      <td>+8.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>4:54.2</td>
      <td>+2.7</td>
      <td>+10.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>4:55.9</td>
      <td>+1.7</td>
      <td>+12.4</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>43:24.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>43:54.2</td>
      <td>+30.1</td>
      <td>+30.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>43:59.7</td>
      <td>+5.5</td>
      <td>+35.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>44:03.9</td>
      <td>+4.2</td>
      <td>+39.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>44:05.8</td>
      <td>+1.9</td>
      <td>+41.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>44:14.3</td>
      <td>+8.5</td>
      <td>+50.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>45:39.2</td>
      <td>+1:24.9</td>
      <td>+2:15.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>46:35.9</td>
      <td>+56.7</td>
      <td>+3:11.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>46:39.6</td>
      <td>+3.7</td>
      <td>+3:15.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>46:55.1</td>
      <td>+15.5</td>
      <td>+3:31.0</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split time, rank position

![](images/2017_224/chart_stage_split_pos_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS5 - stage split delta time (seconds) to first on stage

![](images/2017_224/split_delta_firstonstage_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>4:43.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>4:45.7</td>
      <td>+2.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>4:46.9</td>
      <td>+3.4</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>4:47.6</td>
      <td>+4.1</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>4:49.5</td>
      <td>+6.0</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>4:49.9</td>
      <td>+6.4</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>4:50.0</td>
      <td>+6.5</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>4:51.5</td>
      <td>+8.0</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>4:54.2</td>
      <td>+10.7</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>11</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>4:55.9</td>
      <td>+12.4</td>
      <td>+1.7</td>
    </tr>
  </tbody>
</table>

## SS5 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_224/chart_stage_sector_delta_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:04:43.500000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:45.700000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:46.900000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:04:47.600000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:49.500000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:49.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:50</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:51.500000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:04:54.200000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>00:04:55.900000</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_224/split_delta_rebase_SS5.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS5 - overall rally positions at end of stage

After stage SS5, E. EVANS retained overall lead of the rally for M-Sport World Rally Team in the Ford Fiesta WRC, commanding a lead of +30.1.

J. LATVALA, for Toyota Gazoo Racing WRT, retained second place overall.

M. OSTBERG, for M-Sport World Rally Team in the Ford Fiesta WRC, retained third place overall, +35.6 behind the overall rally leader and +5.5 behind J. LATVALA.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>43:24.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>43:54.2</td>
      <td>+30.1</td>
      <td>+30.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>43:59.7</td>
      <td>+5.5</td>
      <td>+35.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>44:03.9</td>
      <td>+4.2</td>
      <td>+39.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>44:05.8</td>
      <td>+1.9</td>
      <td>+41.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>44:14.3</td>
      <td>+8.5</td>
      <td>+50.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>45:39.2</td>
      <td>+1:24.9</td>
      <td>+2:15.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>46:35.9</td>
      <td>+56.7</td>
      <td>+3:11.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>46:39.6</td>
      <td>+3.7</td>
      <td>+3:15.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>46:55.1</td>
      <td>+15.5</td>
      <td>+3:31.0</td>
    </tr>
  </tbody>
</table>

## SS5 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_224/overall_SS5.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>13</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>3</td>
      <td>21</td>
      <td>20</td>
      <td>15</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>14</td>
      <td>16</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>15</td>
      <td>17</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>16</td>
      <td>14</td>
      <td>17</td>
      <td>18</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_224/overall_td_diffFirst_SS5.png)

### Stage position chart SS5

*Showing stage position for each stage.*

![](images/2017_224/stageStage_SS5.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>2</td>
      <td>3</td>
      <td>22</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>11</td>
      <td>13</td>
      <td>11</td>
      <td>12</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>15</td>
      <td>14</td>
      <td>18</td>
      <td>17</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>17</td>
      <td>18</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>9</td>
      <td>16</td>
      <td>19</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS5

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |43:24.1  |        |         |          1|        1|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |43:54.2  |30.1    |30.1     |          2|        2|       2
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |43:59.7  |5.5     |35.6     |          3|        3|       1
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |44:03.9  |4.2     |39.8     |          4|        4|       3
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |44:05.8  |1.9     |41.7     |          5|        5|       4
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |44:14.3  |8.5     |50.2     |          6|        6|       5
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |           |45:39.2  |+1:24.9 |+2:15.1  |          7|        7|       2
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |46:35.9  |56.7    |+3:11.8  |          8|        8|       6
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |46:55.1  |15.5    |+3:31.0  |         10|        9|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |55:09.3  |+1:17.9 |+11:45.2 |         15|       10|       8
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |56:10.7  |+1:01.4 |+12:46.6 |         16|       11|       9
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |57:04.3  |53.6    |+13:40.2 |         17|       12|      10
   15|V. GORBAN  |S. LARENS   |EUROLAMP World Rally Team  |WRCT       |1:00:24.7|+3:20.4 |+17:00.6 |         18|       13|       1

# Day 4 (28/04/2017)
## Section 3 (Afternoon/Evening)

## SS6 SAN AGUSTIN - VILLA GRAL. BELGRANO (II)
 ### Distance: 19.95 km
 
First car 15:02

*A medium length stage with two splits*

## Start Order:
start|carNo|driverName |          team          |eligibility|groupClass
----:|----:|-----------|------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team|M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT |M          |RC1       
    3|    5|T. NEUVILLE|Hyundai Motorsport      |M          |RC1       
    4|    2|O. TANAK   |M-Sport World Rally Team|M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport      |M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport      |M          |RC1       
    7|    3|E. EVANS   |M-Sport World Rally Team|M          |RC1       
    8|   11|J. HANNINEN|Toyota Gazoo Racing WRT |M          |RC1       
    9|   14|M. OSTBERG |M-Sport World Rally Team|           |RC1       
   10|   37|L. BERTELLI|M-Sport World Rally Team|           |RC1

## Stage Report 6:

In stage SS6, E. EVANS (GBR) and D. BARRITT (GBR) for M-Sport World Rally Team continued to lead the rally with their fifth stage win,their fifth consecutive stage win, in a time of 12:35.9.

T. NEUVILLE (BEL) and co-driver N. GILSOUL (BEL) in the Hyundai i20 Coupe WRC were placed second on the stage, +8.7 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>12:35.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>12:44.6</td>
      <td>+8.7</td>
      <td>+8.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>12:47.9</td>
      <td>+3.3</td>
      <td>+12.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>12:48.8</td>
      <td>+0.9</td>
      <td>+12.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>12:52.4</td>
      <td>+3.6</td>
      <td>+16.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>12:55.2</td>
      <td>+2.8</td>
      <td>+19.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>12:55.5</td>
      <td>+0.3</td>
      <td>+19.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>12:59.7</td>
      <td>+4.2</td>
      <td>+23.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>13:15.0</td>
      <td>+15.3</td>
      <td>+39.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>13:19.0</td>
      <td>+4.0</td>
      <td>+43.1</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>56:00.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>56:47.6</td>
      <td>+47.6</td>
      <td>+47.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>56:53.9</td>
      <td>+6.3</td>
      <td>+53.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>56:58.2</td>
      <td>+4.3</td>
      <td>+58.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>56:58.9</td>
      <td>+0.7</td>
      <td>+58.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>56:59.1</td>
      <td>+0.2</td>
      <td>+59.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>58:58.2</td>
      <td>+1:59.1</td>
      <td>+2:58.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>59:41.4</td>
      <td>+43.2</td>
      <td>+3:41.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:00:10.1</td>
      <td>+28.7</td>
      <td>+4:10.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>1:00:19.1</td>
      <td>+9.0</td>
      <td>+4:19.1</td>
    </tr>
  </tbody>
</table>

## SS6 - stage split time, rank position

![](images/2017_224/chart_stage_split_pos_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS6 - stage split delta time (seconds) to first on stage

![](images/2017_224/split_delta_firstonstage_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-2.6</td>
      <td>-14.4</td>
      <td>12:35.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-0.6</td>
      <td>-4.9</td>
      <td>12:44.6</td>
      <td>+8.7</td>
      <td>+8.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-2.7</td>
      <td>-5.7</td>
      <td>12:47.9</td>
      <td>+12.0</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+2.1</td>
      <td>-3.2</td>
      <td>12:48.8</td>
      <td>+12.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:54.3</td>
      <td>00:08:52.4</td>
      <td>12:52.4</td>
      <td>+16.5</td>
      <td>+3.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-0.7</td>
      <td>-1.3</td>
      <td>12:55.2</td>
      <td>+19.3</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-1.5</td>
      <td>-1.1</td>
      <td>12:55.5</td>
      <td>+19.6</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+5.3</td>
      <td>+4.5</td>
      <td>12:59.7</td>
      <td>+23.8</td>
      <td>+4.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>+2.9</td>
      <td>+14.5</td>
      <td>13:15.0</td>
      <td>+39.1</td>
      <td>+15.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>+4.8</td>
      <td>+13.8</td>
      <td>13:19.0</td>
      <td>+43.1</td>
      <td>+4.0</td>
    </tr>
  </tbody>
</table>

## SS6 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_224/chart_stage_sector_delta_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:51.700000</td>
      <td>00:05:46.300000</td>
      <td>00:03:57.900000</td>
      <td>00:12:35.900000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:53.700000</td>
      <td>00:05:53.800000</td>
      <td>00:03:57.100000</td>
      <td>00:12:44.600000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:02:51.600000</td>
      <td>00:05:55.100000</td>
      <td>00:04:01.200000</td>
      <td>00:12:47.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:56.400000</td>
      <td>00:05:52.800000</td>
      <td>00:03:59.600000</td>
      <td>00:12:48.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:54.300000</td>
      <td>00:05:58.100000</td>
      <td>00:04:00</td>
      <td>00:12:52.400000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:53.600000</td>
      <td>00:05:57.500000</td>
      <td>00:04:04.100000</td>
      <td>00:12:55.200000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:52.800000</td>
      <td>00:05:58.500000</td>
      <td>00:04:04.200000</td>
      <td>00:12:55.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:59.600000</td>
      <td>00:05:57.300000</td>
      <td>00:04:02.800000</td>
      <td>00:12:59.700000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:02:57.200000</td>
      <td>00:06:09.700000</td>
      <td>00:04:08.100000</td>
      <td>00:13:15</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:02:59.100000</td>
      <td>00:06:07.100000</td>
      <td>00:04:12.800000</td>
      <td>00:13:19</td>
    </tr>
  </tbody>
</table>

## SS6 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_224/split_delta_rebase_SS6.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS6 - overall rally positions at end of stage

At the end of stage SS6, E. EVANS continued to lead the rally in the Ford Fiesta WRC, with a lead of +47.6.

M. OSTBERG, in the Ford Fiesta WRC, moved up into second place overall, improving one place from third.

Previous second place overall, J. LATVALA for Toyota Gazoo Racing WRT, fell back one positions to third, +53.9 behind the leader.

J. LATVALA, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, moved into third place overall, a drop of minus one places from second, +53.9 behind the overall rally leader and +6.3 behind M. OSTBERG in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>56:00.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>56:47.6</td>
      <td>+47.6</td>
      <td>+47.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>56:53.9</td>
      <td>+6.3</td>
      <td>+53.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>56:58.2</td>
      <td>+4.3</td>
      <td>+58.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>56:58.9</td>
      <td>+0.7</td>
      <td>+58.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>56:59.1</td>
      <td>+0.2</td>
      <td>+59.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>58:58.2</td>
      <td>+1:59.1</td>
      <td>+2:58.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>59:41.4</td>
      <td>+43.2</td>
      <td>+3:41.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:00:10.1</td>
      <td>+28.7</td>
      <td>+4:10.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>1:00:19.1</td>
      <td>+9.0</td>
      <td>+4:19.1</td>
    </tr>
  </tbody>
</table>

## SS6 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_224/overall_SS6.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>13</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>3</td>
      <td>21</td>
      <td>20</td>
      <td>15</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>14</td>
      <td>16</td>
      <td>14</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>15</td>
      <td>17</td>
      <td>16</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>16</td>
      <td>14</td>
      <td>17</td>
      <td>18</td>
      <td>17</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_224/overall_td_diffFirst_SS6.png)

### Stage position chart SS6

*Showing stage position for each stage.*

![](images/2017_224/stageStage_SS6.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>2</td>
      <td>3</td>
      <td>22</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>11</td>
      <td>13</td>
      <td>11</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>15</td>
      <td>14</td>
      <td>18</td>
      <td>17</td>
      <td>14</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>17</td>
      <td>18</td>
      <td>15</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>9</td>
      <td>16</td>
      <td>19</td>
      <td>16</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS6

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |56:00.0  |        |         |          1|        1|       1
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |56:47.6  |47.6    |47.6     |          2|        2|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |56:53.9  |6.3     |53.9     |          3|        3|       2
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |56:58.2  |4.3     |58.2     |          4|        4|       3
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |56:58.9  |0.7     |58.9     |          5|        5|       4
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |56:59.1  |0.2     |59.1     |          6|        6|       5
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |           |58:58.2  |+1:59.1 |+2:58.2  |          7|        7|       2
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |59:41.4  |43.2    |+3:41.4  |          8|        8|       6
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |1:00:10.1|28.7    |+4:10.1  |          9|        9|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:07:58.1|+4:08.8 |+11:58.1 |         13|       10|       8
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:15:46.6|+7:48.5 |+19:46.6 |         14|       11|       9
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:16:40.2|2.6     |+20:40.2 |         16|       12|      10
   15|V. GORBAN  |S. LARENS   |EUROLAMP World Rally Team  |WRCT       |1:20:00.6|+3:20.4 |+24:00.6 |         17|       13|       1

## SS7 AMBOY - SANTA MONICA (II)
 ### Distance: 20.44 km
 
First car 16:05

*A medium length stage with two splits*

## Start Order:
start|carNo|driverName |          team          |eligibility|groupClass
----:|----:|-----------|------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team|M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT |M          |RC1       
    3|    5|T. NEUVILLE|Hyundai Motorsport      |M          |RC1       
    4|    2|O. TANAK   |M-Sport World Rally Team|M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport      |M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport      |M          |RC1       
    7|    3|E. EVANS   |M-Sport World Rally Team|M          |RC1       
    8|   11|J. HANNINEN|Toyota Gazoo Racing WRT |M          |RC1       
    9|   14|M. OSTBERG |M-Sport World Rally Team|           |RC1       
   10|   37|L. BERTELLI|M-Sport World Rally Team|           |RC1

## Stage Report 7:

In stage SS7, E. EVANS (GBR) and co-driver D. BARRITT (GBR) for M-Sport World Rally Team in the Ford Fiesta WRC continued to lead the rally with their sixth stage win,their sixth consecutive stage win, in a time of 10:21.1.

H. PADDON (NZL) and J. KENNARD (NZL) in the Hyundai i20 Coupe WRC were placed second on the stage, +0.0 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:21.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>10:21.1</td>
      <td>+0.0</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>10:21.2</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>10:21.4</td>
      <td>+0.2</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:21.7</td>
      <td>+0.3</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>10:23.5</td>
      <td>+1.8</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>10:24.1</td>
      <td>+0.6</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>10:25.9</td>
      <td>+1.8</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>10:37.7</td>
      <td>+11.8</td>
      <td>+16.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>10:50.2</td>
      <td>+12.5</td>
      <td>+29.1</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:06:21.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:07:08.8</td>
      <td>+47.7</td>
      <td>+47.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:07:18.0</td>
      <td>+9.2</td>
      <td>+56.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:07:20.5</td>
      <td>+2.5</td>
      <td>+59.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:07:20.6</td>
      <td>+0.1</td>
      <td>+59.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:07:21.7</td>
      <td>+1.1</td>
      <td>+1:00.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:09:48.4</td>
      <td>+2:26.7</td>
      <td>+3:27.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:10:02.5</td>
      <td>+14.1</td>
      <td>+3:41.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:10:47.8</td>
      <td>+45.3</td>
      <td>+4:26.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>1:11:38.0</td>
      <td>+50.2</td>
      <td>+5:16.9</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split time, rank position

![](images/2017_224/chart_stage_split_pos_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS7 - stage split delta time (seconds) to first on stage

![](images/2017_224/split_delta_firstonstage_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-0.1</td>
      <td>-3.8</td>
      <td>10:21.1</td>
      <td>+0.0</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-0.8</td>
      <td>-3.4</td>
      <td>10:21.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-2.3</td>
      <td>-3.6</td>
      <td>10:21.2</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-1.8</td>
      <td>-3.8</td>
      <td>10:21.4</td>
      <td>+0.3</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+0.0</td>
      <td>-1.8</td>
      <td>10:21.7</td>
      <td>+0.6</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:09.3</td>
      <td>00:06:51.1</td>
      <td>10:23.5</td>
      <td>+2.4</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-1.0</td>
      <td>-2.2</td>
      <td>10:24.1</td>
      <td>+3.0</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-1.6</td>
      <td>-1.8</td>
      <td>10:25.9</td>
      <td>+4.8</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>+4.1</td>
      <td>+7.7</td>
      <td>10:37.7</td>
      <td>+16.6</td>
      <td>+11.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>+7.4</td>
      <td>+15.3</td>
      <td>10:50.2</td>
      <td>+29.1</td>
      <td>+12.5</td>
    </tr>
  </tbody>
</table>

## SS7 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_224/chart_stage_sector_delta_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:04:08.500000</td>
      <td>00:02:39.200000</td>
      <td>00:03:33.400000</td>
      <td>00:10:21.100000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:09.200000</td>
      <td>00:02:38.100000</td>
      <td>00:03:33.800000</td>
      <td>00:10:21.100000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:07</td>
      <td>00:02:40.500000</td>
      <td>00:03:33.700000</td>
      <td>00:10:21.200000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:07.500000</td>
      <td>00:02:39.800000</td>
      <td>00:03:34.100000</td>
      <td>00:10:21.400000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:09.300000</td>
      <td>00:02:40</td>
      <td>00:03:32.400000</td>
      <td>00:10:21.700000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:09.300000</td>
      <td>00:02:41.800000</td>
      <td>00:03:32.400000</td>
      <td>00:10:23.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:08.300000</td>
      <td>00:02:40.600000</td>
      <td>00:03:35.200000</td>
      <td>00:10:24.100000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:04:07.700000</td>
      <td>00:02:41.600000</td>
      <td>00:03:36.600000</td>
      <td>00:10:25.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:04:13.400000</td>
      <td>00:02:45.400000</td>
      <td>00:03:38.900000</td>
      <td>00:10:37.700000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:04:16.700000</td>
      <td>00:02:49.700000</td>
      <td>00:03:43.800000</td>
      <td>00:10:50.200000</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_224/split_delta_rebase_SS7.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS7 - overall rally positions at end of stage

After stage SS7, E. EVANS continued to lead the rally for M-Sport World Rally Team in the Ford Fiesta WRC, +47.7 ahead.

M. OSTBERG, in the Ford Fiesta WRC, retained second place overall.

J. LATVALA, for Toyota Gazoo Racing WRT, retained third place overall, +56.9 behind the overall rally leader and +9.2 behind M. OSTBERG in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:06:21.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:07:08.8</td>
      <td>+47.7</td>
      <td>+47.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:07:18.0</td>
      <td>+9.2</td>
      <td>+56.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:07:20.5</td>
      <td>+2.5</td>
      <td>+59.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:07:20.6</td>
      <td>+0.1</td>
      <td>+59.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:07:21.7</td>
      <td>+1.1</td>
      <td>+1:00.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:09:48.4</td>
      <td>+2:26.7</td>
      <td>+3:27.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:10:02.5</td>
      <td>+14.1</td>
      <td>+3:41.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:10:47.8</td>
      <td>+45.3</td>
      <td>+4:26.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>1:11:38.0</td>
      <td>+50.2</td>
      <td>+5:16.9</td>
    </tr>
  </tbody>
</table>

## SS7 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_224/overall_SS7.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>13</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>3</td>
      <td>21</td>
      <td>20</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>14</td>
      <td>16</td>
      <td>14</td>
      <td>14</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>15</td>
      <td>17</td>
      <td>16</td>
      <td>15</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>16</td>
      <td>14</td>
      <td>17</td>
      <td>18</td>
      <td>17</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_224/overall_td_diffFirst_SS7.png)

### Stage position chart SS7

*Showing stage position for each stage.*

![](images/2017_224/stageStage_SS7.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>2</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>2</td>
      <td>3</td>
      <td>22</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>11</td>
      <td>13</td>
      <td>11</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>17</td>
      <td>18</td>
      <td>15</td>
      <td>14</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>9</td>
      <td>16</td>
      <td>19</td>
      <td>16</td>
      <td>15</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>15</td>
      <td>14</td>
      <td>18</td>
      <td>17</td>
      <td>14</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS7

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:06:21.1|        |         |          1|        1|       1
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |1:07:08.8|47.7    |47.7     |          2|        2|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:07:18.0|9.2     |56.9     |          3|        3|       2
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:07:20.5|2.5     |59.4     |          4|        4|       3
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:07:20.6|0.1     |59.5     |          5|        5|       4
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:07:21.7|1.1     |+1:00.6  |          6|        6|       5
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |           |1:09:48.4|+2:26.7 |+3:27.3  |          7|        7|       2
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:10:02.5|14.1    |+3:41.4  |          8|        8|       6
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |1:10:47.8|45.3    |+4:26.7  |          9|        9|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:18:24.0|+2:29.3 |+12:02.9 |         13|       10|       8
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:33:07.7|+14:43.7|+26:46.6 |         14|       11|       9
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:34:01.3|53.6    |+27:40.2 |         15|       12|      10

## SS8 SANTA ROSA - SAN AGUSTIN (II)
 ### Distance: 23.85 km
 
First car 16:48

*A medium length stage with two splits*

## Start Order:
start|carNo|driverName |          team          |eligibility|groupClass
----:|----:|-----------|------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team|M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT |M          |RC1       
    3|    5|T. NEUVILLE|Hyundai Motorsport      |M          |RC1       
    4|    2|O. TANAK   |M-Sport World Rally Team|M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport      |M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport      |M          |RC1       
    7|    3|E. EVANS   |M-Sport World Rally Team|M          |RC1       
    8|   11|J. HANNINEN|Toyota Gazoo Racing WRT |M          |RC1       
    9|   14|M. OSTBERG |M-Sport World Rally Team|           |RC1       
   10|   37|L. BERTELLI|M-Sport World Rally Team|           |RC1

## Stage Report 8:

In stage SS8, Hyundai Motorsport's H. PADDON (NZL) and co-driver J. KENNARD (NZL) took the stage, giving them their first stage win, in a time of 13:39.0.

In second place on stage, +4.0 behind, E. EVANS (GBR) and D. BARRITT (GBR) (M-Sport World Rally Team) retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>13:39.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>13:43.0</td>
      <td>+4.0</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>13:46.1</td>
      <td>+3.1</td>
      <td>+7.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>13:48.0</td>
      <td>+1.9</td>
      <td>+9.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>13:48.1</td>
      <td>+0.1</td>
      <td>+9.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>13:49.6</td>
      <td>+1.5</td>
      <td>+10.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>13:52.7</td>
      <td>+3.1</td>
      <td>+13.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>13:56.6</td>
      <td>+3.9</td>
      <td>+17.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>14:17.6</td>
      <td>+21.0</td>
      <td>+38.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>14:17.6</td>
      <td>+0.0</td>
      <td>+38.6</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:20:04.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:20:56.9</td>
      <td>+52.8</td>
      <td>+52.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:21:06.7</td>
      <td>+9.8</td>
      <td>+1:02.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:21:11.3</td>
      <td>+4.6</td>
      <td>+1:07.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:21:13.2</td>
      <td>+1.9</td>
      <td>+1:09.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:21:35.6</td>
      <td>+22.4</td>
      <td>+1:31.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:23:41.5</td>
      <td>+2:05.9</td>
      <td>+3:37.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:24:06.0</td>
      <td>+24.5</td>
      <td>+4:01.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:24:44.4</td>
      <td>+38.4</td>
      <td>+4:40.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>1:26:25.4</td>
      <td>+1:41.0</td>
      <td>+6:21.3</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split time, rank position

![](images/2017_224/chart_stage_split_pos_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS8 - stage split delta time (seconds) to first on stage

![](images/2017_224/split_delta_firstonstage_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-3.1</td>
      <td>-5.9</td>
      <td>13:39.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-3.1</td>
      <td>-6.2</td>
      <td>13:43.0</td>
      <td>+4.0</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-1.9</td>
      <td>-1.4</td>
      <td>13:46.1</td>
      <td>+7.1</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-3.8</td>
      <td>-1.5</td>
      <td>13:48.0</td>
      <td>+9.0</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-3.1</td>
      <td>-0.6</td>
      <td>13:48.1</td>
      <td>+9.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:57.5</td>
      <td>00:09:07.6</td>
      <td>13:49.6</td>
      <td>+10.6</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-3.1</td>
      <td>-3.4</td>
      <td>13:52.7</td>
      <td>+13.7</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>-0.3</td>
      <td>+2.8</td>
      <td>13:56.6</td>
      <td>+17.6</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-0.6</td>
      <td>+3.1</td>
      <td>14:17.6</td>
      <td>+38.6</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>+5.7</td>
      <td>+19.4</td>
      <td>14:17.6</td>
      <td>+38.6</td>
      <td>+21.0</td>
    </tr>
  </tbody>
</table>

## SS8 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 8, J. LATVALA lost ground in the final part of the stage.

![](images/2017_224/chart_stage_sector_delta_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:54.400000</td>
      <td>00:05:07.300000</td>
      <td>00:04:37.300000</td>
      <td>00:13:39</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:54.400000</td>
      <td>00:05:07</td>
      <td>00:04:41.600000</td>
      <td>00:13:43</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:55.600000</td>
      <td>00:05:10.600000</td>
      <td>00:04:39.900000</td>
      <td>00:13:46.100000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:53.700000</td>
      <td>00:05:12.400000</td>
      <td>00:04:41.900000</td>
      <td>00:13:48</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:54.400000</td>
      <td>00:05:12.600000</td>
      <td>00:04:41.100000</td>
      <td>00:13:48.100000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:57.500000</td>
      <td>00:05:10.100000</td>
      <td>00:04:42</td>
      <td>00:13:49.600000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:54.400000</td>
      <td>00:05:09.800000</td>
      <td>00:04:48.500000</td>
      <td>00:13:52.700000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:03:57.200000</td>
      <td>00:05:13.200000</td>
      <td>00:04:46.200000</td>
      <td>00:13:56.600000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:04:03.200000</td>
      <td>00:05:23.800000</td>
      <td>00:04:50.600000</td>
      <td>00:14:17.600000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:56.900000</td>
      <td>00:05:13.800000</td>
      <td>00:05:06.900000</td>
      <td>00:14:17.600000</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_224/split_delta_rebase_SS8.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS8 - overall rally positions at end of stage

After stage SS8, E. EVANS continued in overall lead of the rally in the Ford Fiesta WRC, +52.8 ahead of second.

M. OSTBERG, for M-Sport World Rally Team, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport, moved up into third place overall, a gain of two positions from fifth, +1:02.6 behind the overall rally leader and trailing M. OSTBERG by +9.8.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:20:04.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:20:56.9</td>
      <td>+52.8</td>
      <td>+52.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:21:06.7</td>
      <td>+9.8</td>
      <td>+1:02.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:21:11.3</td>
      <td>+4.6</td>
      <td>+1:07.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:21:13.2</td>
      <td>+1.9</td>
      <td>+1:09.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:21:35.6</td>
      <td>+22.4</td>
      <td>+1:31.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:23:41.5</td>
      <td>+2:05.9</td>
      <td>+3:37.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:24:06.0</td>
      <td>+24.5</td>
      <td>+4:01.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:24:44.4</td>
      <td>+38.4</td>
      <td>+4:40.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>1:26:25.4</td>
      <td>+1:41.0</td>
      <td>+6:21.3</td>
    </tr>
  </tbody>
</table>

## SS8 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_224/overall_SS8.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>13</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>3</td>
      <td>21</td>
      <td>20</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>14</td>
      <td>16</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>15</td>
      <td>17</td>
      <td>16</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>16</td>
      <td>14</td>
      <td>17</td>
      <td>18</td>
      <td>17</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_224/overall_td_diffFirst_SS8.png)

### Stage position chart SS8

*Showing stage position for each stage.*

![](images/2017_224/stageStage_SS8.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>2</td>
      <td>3</td>
      <td>22</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>8</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>11</td>
      <td>13</td>
      <td>11</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>17</td>
      <td>18</td>
      <td>15</td>
      <td>14</td>
      <td>14</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>9</td>
      <td>16</td>
      <td>19</td>
      <td>16</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>15</td>
      <td>14</td>
      <td>18</td>
      <td>17</td>
      <td>14</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS8

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:20:04.1|        |         |          1|        1|       1
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |1:20:56.9|52.8    |52.8     |          2|        2|       1
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:21:06.7|9.8     |+1:02.6  |          3|        3|       2
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:21:11.3|4.6     |+1:07.2  |          4|        4|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:21:13.2|1.9     |+1:09.1  |          5|        5|       4
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:21:35.6|22.4    |+1:31.5  |          6|        6|       5
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:23:41.5|+2:05.9 |+3:37.4  |          7|        7|       6
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |           |1:24:06.0|24.5    |+4:01.9  |          8|        8|       2
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |1:24:44.4|38.4    |+4:40.3  |          9|        9|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:32:12.0|38.7    |+12:07.9 |         13|       10|       8
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:53:46.7|+21:34.7|+33:42.6 |         14|       11|       9
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:54:40.3|53.6    |+34:36.2 |         15|       12|      10

## SS9 SUPER ESPECIAL PARQUE TEMATICO ( 2 laps)
 ### Distance: 6.04 km
*Rerun of stage SS5* 
First car 19:08

*A short stage with no splits*

## Start Order:
start|carNo|driverName |          team          |eligibility|groupClass
----:|----:|-----------|------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team|M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT |M          |RC1       
    3|    5|T. NEUVILLE|Hyundai Motorsport      |M          |RC1       
    4|    2|O. TANAK   |M-Sport World Rally Team|M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport      |M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport      |M          |RC1       
    7|    3|E. EVANS   |M-Sport World Rally Team|M          |RC1       
    8|   11|J. HANNINEN|Toyota Gazoo Racing WRT |M          |RC1       
    9|   14|M. OSTBERG |M-Sport World Rally Team|           |RC1       
   10|   37|L. BERTELLI|M-Sport World Rally Team|           |RC1

## Stage Report 9:

On stage SS9, and with their first stage win, Hyundai Motorsport's T. NEUVILLE (BEL) and co-driver N. GILSOUL (BEL) took the stage by +0.3 from J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, in a time of 4:49.4.

M-Sport World Rally Team's E. EVANS (GBR) and D. BARRITT (GBR), fourth on stage with a time of 4:51.3, and +1.9 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>4:49.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>4:49.7</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>4:50.8</td>
      <td>+1.1</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>4:51.3</td>
      <td>+0.5</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>4:51.7</td>
      <td>+0.4</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>4:53.5</td>
      <td>+1.8</td>
      <td>+4.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>4:54.2</td>
      <td>+0.7</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>4:55.7</td>
      <td>+1.5</td>
      <td>+6.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>4:59.6</td>
      <td>+3.9</td>
      <td>+10.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>5:02.3</td>
      <td>+2.7</td>
      <td>+12.9</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:24:55.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:25:51.1</td>
      <td>+55.7</td>
      <td>+55.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:25:56.1</td>
      <td>+5.0</td>
      <td>+1:00.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:26:02.1</td>
      <td>+6.0</td>
      <td>+1:06.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:26:06.7</td>
      <td>+4.6</td>
      <td>+1:11.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:26:25.3</td>
      <td>+18.6</td>
      <td>+1:29.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:28:37.2</td>
      <td>+2:11.9</td>
      <td>+3:41.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:29:09.3</td>
      <td>+32.1</td>
      <td>+4:13.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:29:44.0</td>
      <td>+34.7</td>
      <td>+4:48.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>1:31:27.7</td>
      <td>+1:43.7</td>
      <td>+6:32.3</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split time, rank position

![](images/2017_224/chart_stage_split_pos_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS9 - stage split delta time (seconds) to first on stage

![](images/2017_224/split_delta_firstonstage_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>4:49.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>4:49.7</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>4:50.8</td>
      <td>+1.4</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>4:51.3</td>
      <td>+1.9</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>4:51.7</td>
      <td>+2.3</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>4:53.5</td>
      <td>+4.1</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>4:54.2</td>
      <td>+4.8</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>4:55.7</td>
      <td>+6.3</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>4:59.6</td>
      <td>+10.2</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>11</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>5:02.3</td>
      <td>+12.9</td>
      <td>+2.7</td>
    </tr>
  </tbody>
</table>

## SS9 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_224/chart_stage_sector_delta_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:49.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:49.700000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:50.800000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:04:51.300000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:04:51.700000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:53.500000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:04:54.200000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:55.700000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:04:59.600000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>00:05:02.300000</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_224/split_delta_rebase_SS9.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS9 - overall rally positions at end of stage

At the end of stage SS9, E. EVANS retained overall lead of the rally in the Ford Fiesta WRC, with a lead of +55.7.

M. OSTBERG, for M-Sport World Rally Team in the Ford Fiesta WRC, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport in the Hyundai i20 Coupe WRC, retained third place overall, +1:00.7 behind the overall rally leader and +5.0 behind M. OSTBERG.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:24:55.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:25:51.1</td>
      <td>+55.7</td>
      <td>+55.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:25:56.1</td>
      <td>+5.0</td>
      <td>+1:00.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:26:02.1</td>
      <td>+6.0</td>
      <td>+1:06.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:26:06.7</td>
      <td>+4.6</td>
      <td>+1:11.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:26:25.3</td>
      <td>+18.6</td>
      <td>+1:29.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:28:37.2</td>
      <td>+2:11.9</td>
      <td>+3:41.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:29:09.3</td>
      <td>+32.1</td>
      <td>+4:13.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:29:44.0</td>
      <td>+34.7</td>
      <td>+4:48.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>P. TIDEMAND</td>
      <td>1:31:27.7</td>
      <td>+1:43.7</td>
      <td>+6:32.3</td>
    </tr>
  </tbody>
</table>

## SS9 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_224/overall_SS9.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>13</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>11</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>3</td>
      <td>21</td>
      <td>20</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>8</td>
      <td>14</td>
      <td>16</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>15</td>
      <td>17</td>
      <td>16</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>16</td>
      <td>14</td>
      <td>17</td>
      <td>18</td>
      <td>17</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_224/overall_td_diffFirst_SS9.png)

### Stage position chart SS9

*Showing stage position for each stage.*

![](images/2017_224/stageStage_SS9.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>4</td>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>5</td>
      <td>4</td>
      <td>6</td>
      <td>2</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>10</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>1</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>2</td>
      <td>3</td>
      <td>22</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>9</td>
      <td>9</td>
      <td>3</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>7</td>
      <td>19</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>2</td>
      <td>1</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>10</td>
      <td>11</td>
      <td>13</td>
      <td>11</td>
      <td>12</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>12</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>8</td>
      <td>2</td>
      <td>2</td>
      <td>17</td>
      <td>18</td>
      <td>15</td>
      <td>14</td>
      <td>14</td>
      <td>15</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>11</td>
      <td>8</td>
      <td>9</td>
      <td>16</td>
      <td>19</td>
      <td>16</td>
      <td>15</td>
      <td>15</td>
      <td>16</td>
    </tr>
    <tr>
      <th>15</th>
      <th>V. GORBAN</th>
      <td>17</td>
      <td>15</td>
      <td>14</td>
      <td>18</td>
      <td>17</td>
      <td>14</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS9

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:24:55.4|        |         |          1|        1|       1
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |1:25:51.1|55.7    |55.7     |          2|        2|       1
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:25:56.1|5.0     |+1:00.7  |          3|        3|       2
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:26:02.1|6.0     |+1:06.7  |          4|        4|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:26:06.7|4.6     |+1:11.3  |          5|        5|       4
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:26:25.3|18.6    |+1:29.9  |          6|        6|       5
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:28:37.2|+2:11.9 |+3:41.8  |          7|        7|       6
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |           |1:29:09.3|32.1    |+4:13.9  |          8|        8|       2
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |1:29:44.0|34.7    |+4:48.6  |          9|        9|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:37:03.7|13.7    |+12:08.3 |         13|       10|       8
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:05:36.1|+28:32.4|+40:40.7 |         14|       11|       9
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:06:29.7|53.6    |+41:34.3 |         15|       12|      10