# WRC Rally - Corsica, 2017

# Day 1 (07/04/2017)
## Section 1 (Morning/Afternoon)

## SS1 Pietrosella - Albitreccia
 ### Distance: 31.20 km
 
First car 09:22

*A long stage with three splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    6|    7|K. MEEKE   |Citroen Total Abu Dhabi WRT|M          |RC1       
    7|    8|C. BREEN   |Citroen Total Abu Dhabi WRT|M          |RC1       
    8|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    9|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   10|    9|S. LEFEBVRE|Citroen Total Abu Dhabi WRT|M          |RC1       
   11|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   47|   81|A. PEREIRA |Armando Pereira            |           |RC1       
   48|   82|A. VAUTHIER|Alain Vauthier             |           |RC1

## Stage Report 1:

In stage SS1, CitroÃ«n Total Abu Dhabi WRT's K. MEEKE (GBR) and co-driver P. NAGLE (IRL) took the stage, and the lead of the rally, with a time of 19:56.5, +5.7 ahead of second on stage S. OGIER (FRA) and J. INGRASSIA (FRA) (M-Sport World Rally Team).



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>19:56.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>20:02.2</td>
      <td>+5.7</td>
      <td>+5.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>20:07.5</td>
      <td>+5.3</td>
      <td>+11.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>20:10.4</td>
      <td>+2.9</td>
      <td>+13.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>20:10.4</td>
      <td>+0.0</td>
      <td>+13.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>20:13.4</td>
      <td>+3.0</td>
      <td>+16.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>20:18.9</td>
      <td>+5.5</td>
      <td>+22.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>20:25.1</td>
      <td>+6.2</td>
      <td>+28.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>20:28.4</td>
      <td>+3.3</td>
      <td>+31.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>20:32.9</td>
      <td>+4.5</td>
      <td>+36.4</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>19:56.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>20:02.2</td>
      <td>+5.7</td>
      <td>+5.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>20:07.5</td>
      <td>+5.3</td>
      <td>+11.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>20:10.4</td>
      <td>+2.9</td>
      <td>+13.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>20:10.4</td>
      <td>+0.0</td>
      <td>+13.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>20:13.4</td>
      <td>+3.0</td>
      <td>+16.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>20:18.9</td>
      <td>+5.5</td>
      <td>+22.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>20:25.1</td>
      <td>+6.2</td>
      <td>+28.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>20:28.4</td>
      <td>+3.3</td>
      <td>+31.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>20:32.9</td>
      <td>+4.5</td>
      <td>+36.4</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split time, rank position

![](images/2017_222/chart_stage_split_pos_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS1 - stage split delta time (seconds) to first on stage

![](images/2017_222/split_delta_firstonstage_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>+3.9</td>
      <td>-3.8</td>
      <td>-3.4</td>
      <td>19:56.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:42.4</td>
      <td>00:09:30.5</td>
      <td>00:14:36.4</td>
      <td>20:02.2</td>
      <td>+5.7</td>
      <td>+5.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+4.9</td>
      <td>+1.9</td>
      <td>+2.4</td>
      <td>20:07.5</td>
      <td>+11.0</td>
      <td>+5.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>+6.8</td>
      <td>+3.6</td>
      <td>+4.2</td>
      <td>20:10.4</td>
      <td>+13.9</td>
      <td>+2.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+2.6</td>
      <td>+4.6</td>
      <td>+6.8</td>
      <td>20:10.4</td>
      <td>+13.9</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>+4.5</td>
      <td>+5.3</td>
      <td>+7.5</td>
      <td>20:13.4</td>
      <td>+16.9</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+8.0</td>
      <td>+6.6</td>
      <td>+11.0</td>
      <td>20:18.9</td>
      <td>+22.4</td>
      <td>+5.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>+7.2</td>
      <td>+11.2</td>
      <td>+17.0</td>
      <td>20:25.1</td>
      <td>+28.6</td>
      <td>+6.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>+6.6</td>
      <td>+12.6</td>
      <td>+20.6</td>
      <td>20:28.4</td>
      <td>+31.9</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>+4.0</td>
      <td>+11.6</td>
      <td>+20.1</td>
      <td>20:32.9</td>
      <td>+36.4</td>
      <td>+4.5</td>
    </tr>
  </tbody>
</table>

## SS1 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 1, J. HANNINEN lost ground in the final part of the stage.

![](images/2017_222/chart_stage_sector_delta_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:04:46.300000</td>
      <td>00:04:40.400000</td>
      <td>00:05:06.300000</td>
      <td>00:05:23.500000</td>
      <td>00:19:56.500000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:42.400000</td>
      <td>00:04:48.100000</td>
      <td>00:05:05.900000</td>
      <td>00:05:25.800000</td>
      <td>00:20:02.200000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:47.300000</td>
      <td>00:04:45.100000</td>
      <td>00:05:06.400000</td>
      <td>00:05:28.700000</td>
      <td>00:20:07.500000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:04:45</td>
      <td>00:04:50.100000</td>
      <td>00:05:08.100000</td>
      <td>00:05:27.200000</td>
      <td>00:20:10.400000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:49.200000</td>
      <td>00:04:44.900000</td>
      <td>00:05:06.500000</td>
      <td>00:05:29.800000</td>
      <td>00:20:10.400000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:04:46.900000</td>
      <td>00:04:48.900000</td>
      <td>00:05:08.100000</td>
      <td>00:05:29.500000</td>
      <td>00:20:13.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:50.400000</td>
      <td>00:04:46.700000</td>
      <td>00:05:10.300000</td>
      <td>00:05:31.500000</td>
      <td>00:20:18.900000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:49.600000</td>
      <td>00:04:52.100000</td>
      <td>00:05:11.700000</td>
      <td>00:05:31.700000</td>
      <td>00:20:25.100000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:04:49</td>
      <td>00:04:54.100000</td>
      <td>00:05:13.900000</td>
      <td>00:05:31.400000</td>
      <td>00:20:28.400000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:04:46.400000</td>
      <td>00:04:55.700000</td>
      <td>00:05:14.400000</td>
      <td>00:05:36.400000</td>
      <td>00:20:32.900000</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_222/split_delta_rebase_SS1.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS1 - overall rally positions at end of stage

On the first completed stage, SS1, K. MEEKE took the stage in the Citroen C3 WRC, and along with it the lead of the rally, going +5.7 ahead overall.

S. OGIER, for M-Sport World Rally Team in the Ford Fiesta WRC, took second place overall.

T. NEUVILLE, for Hyundai Motorsport, took third place overall, +11.0 behind the overall rally leader and trailing S. OGIER in second by +5.3.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>19:56.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>20:02.2</td>
      <td>+5.7</td>
      <td>+5.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>20:07.5</td>
      <td>+5.3</td>
      <td>+11.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>20:10.4</td>
      <td>+2.9</td>
      <td>+13.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>20:10.4</td>
      <td>+0.0</td>
      <td>+13.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>20:13.4</td>
      <td>+3.0</td>
      <td>+16.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>20:18.9</td>
      <td>+5.5</td>
      <td>+22.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>20:25.1</td>
      <td>+6.2</td>
      <td>+28.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>20:28.4</td>
      <td>+3.3</td>
      <td>+31.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>20:32.9</td>
      <td>+4.5</td>
      <td>+36.4</td>
    </tr>
  </tbody>
</table>

## SS1 - Overall rank evolution

## Full Overall Results at end of SS1

carNo|driverName |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroen Total Abu Dhabi WRT|M          |19:56.5|        |         |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |20:02.2|     5.7|5.7      |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |20:07.5|     5.3|11.0     |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |20:10.4|     2.9|13.9     |          4|        4|       4
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |20:10.4|     0.0|13.9     |          5|        5|       5
    8|C. BREEN   |S. MARTIN   |Citroen Total Abu Dhabi WRT|M          |20:13.4|     3.0|16.9     |          6|        6|       6
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |20:18.9|     5.5|22.4     |          7|        7|       7
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |20:25.1|     6.2|28.6     |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |20:28.4|     3.3|31.9     |          9|        9|       9
    9|S. LEFEBVRE|G. MOREAU   |Citroen Total Abu Dhabi WRT|M          |20:32.9|     4.5|36.4     |         10|       10|      10
   82|A. VAUTHIER|S. NOLLET   |Alain Vauthier             |           |24:10.1|     1.2|+4:13.6  |         43|       11|       1
   81|A. PEREIRA |R. TUTELAIRE|Armando Pereira            |           |24:34.8|    10.4|+4:38.3  |         49|       12|       2
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |33:55.6|    41.5|+13:59.1 |         77|       13|      11

## SS2 Plage du Liamone - Sarrola-Carcopino
 ### Distance: 29.12 km
 
First car 11:14

*A long stage with three splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    6|    7|K. MEEKE   |Citroen Total Abu Dhabi WRT|M          |RC1       
    7|    8|C. BREEN   |Citroen Total Abu Dhabi WRT|M          |RC1       
    8|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    9|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   10|    9|S. LEFEBVRE|Citroen Total Abu Dhabi WRT|M          |RC1       
   43|   81|A. PEREIRA |Armando Pereira            |           |RC1       
   44|   82|A. VAUTHIER|Alain Vauthier             |           |RC1

## Stage Report 2:

In stage SS2, CitroÃ«n Total Abu Dhabi WRT's K. MEEKE (GBR) and P. NAGLE (IRL) continued to lead the rally with their second stage win,their second consecutive stage win, in a time of 18:22.3.

S. OGIER (FRA) and J. INGRASSIA (FRA) in the Ford Fiesta WRC were placed second on the stage, +3.2 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>18:22.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>18:25.5</td>
      <td>+3.2</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>18:28.5</td>
      <td>+3.0</td>
      <td>+6.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>18:29.9</td>
      <td>+1.4</td>
      <td>+7.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>18:34.7</td>
      <td>+4.8</td>
      <td>+12.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>18:35.1</td>
      <td>+0.4</td>
      <td>+12.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>18:35.1</td>
      <td>+0.0</td>
      <td>+12.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>18:38.7</td>
      <td>+3.6</td>
      <td>+16.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>18:52.0</td>
      <td>+13.3</td>
      <td>+29.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>18:59.9</td>
      <td>+7.9</td>
      <td>+37.6</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>38:18.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>38:27.7</td>
      <td>+8.9</td>
      <td>+8.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>38:36.0</td>
      <td>+8.3</td>
      <td>+17.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>38:40.3</td>
      <td>+4.3</td>
      <td>+21.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>38:45.5</td>
      <td>+5.2</td>
      <td>+26.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>38:48.5</td>
      <td>+3.0</td>
      <td>+29.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>38:53.6</td>
      <td>+5.1</td>
      <td>+34.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>39:03.8</td>
      <td>+10.2</td>
      <td>+45.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>39:24.9</td>
      <td>+21.1</td>
      <td>+1:06.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>39:47.0</td>
      <td>+22.1</td>
      <td>+1:28.2</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split time, rank position

![](images/2017_222/chart_stage_split_pos_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS2 - stage split delta time (seconds) to first on stage

![](images/2017_222/split_delta_firstonstage_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-2.2</td>
      <td>-2.6</td>
      <td>-3.4</td>
      <td>18:22.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:26.8</td>
      <td>00:10:03.7</td>
      <td>00:15:14.8</td>
      <td>18:25.5</td>
      <td>+3.2</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+1.4</td>
      <td>+2.0</td>
      <td>+1.8</td>
      <td>18:28.5</td>
      <td>+6.2</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-0.6</td>
      <td>+2.2</td>
      <td>+3.3</td>
      <td>18:29.9</td>
      <td>+7.6</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+2.3</td>
      <td>+5.6</td>
      <td>+7.9</td>
      <td>18:34.7</td>
      <td>+12.4</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+2.1</td>
      <td>+4.5</td>
      <td>+6.4</td>
      <td>18:35.1</td>
      <td>+12.8</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>+2.3</td>
      <td>+5.6</td>
      <td>+8.1</td>
      <td>18:35.1</td>
      <td>+12.8</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>+2.6</td>
      <td>+6.4</td>
      <td>+10.2</td>
      <td>18:38.7</td>
      <td>+16.4</td>
      <td>+3.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>+4.1</td>
      <td>+12.5</td>
      <td>+19.2</td>
      <td>18:52.0</td>
      <td>+29.7</td>
      <td>+13.3</td>
    </tr>
    <tr>
      <th>12</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>+6.8</td>
      <td>+15.7</td>
      <td>+26.5</td>
      <td>18:59.9</td>
      <td>+37.6</td>
      <td>+7.9</td>
    </tr>
  </tbody>
</table>

## SS2 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_222/chart_stage_sector_delta_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:04:24.600000</td>
      <td>00:05:36.500000</td>
      <td>00:05:10.300000</td>
      <td>00:03:10.900000</td>
      <td>00:18:22.300000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:26.800000</td>
      <td>00:05:36.900000</td>
      <td>00:05:11.100000</td>
      <td>00:03:10.700000</td>
      <td>00:18:25.500000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:28.200000</td>
      <td>00:05:37.500000</td>
      <td>00:05:10.900000</td>
      <td>00:03:11.900000</td>
      <td>00:18:28.500000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:04:26.200000</td>
      <td>00:05:39.700000</td>
      <td>00:05:12.200000</td>
      <td>00:03:11.800000</td>
      <td>00:18:29.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:29.100000</td>
      <td>00:05:40.200000</td>
      <td>00:05:13.400000</td>
      <td>00:03:12</td>
      <td>00:18:34.700000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:04:29.100000</td>
      <td>00:05:40.200000</td>
      <td>00:05:13.600000</td>
      <td>00:03:12.200000</td>
      <td>00:18:35.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:04:28.900000</td>
      <td>00:05:39.300000</td>
      <td>00:05:13</td>
      <td>00:03:13.900000</td>
      <td>00:18:35.100000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:29.400000</td>
      <td>00:05:40.700000</td>
      <td>00:05:14.900000</td>
      <td>00:03:13.700000</td>
      <td>00:18:38.700000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:04:30.900000</td>
      <td>00:05:45.300000</td>
      <td>00:05:17.800000</td>
      <td>00:03:18</td>
      <td>00:18:52</td>
    </tr>
    <tr>
      <th>12</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>00:04:33.600000</td>
      <td>00:05:45.800000</td>
      <td>00:05:21.900000</td>
      <td>00:03:18.600000</td>
      <td>00:18:59.900000</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_222/split_delta_rebase_SS2.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS2 - overall rally positions at end of stage

Following stage SS2, K. MEEKE retained overall lead of the rally for CitroÃ«n Total Abu Dhabi WRT in the Citroen C3 WRC, with a lead of +8.9.

S. OGIER, for M-Sport World Rally Team, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport in the Hyundai I20 Coupe WRC, retained third place overall, +17.2 behind the overall rally leader and trailing S. OGIER in second by +8.3.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>38:18.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>38:27.7</td>
      <td>+8.9</td>
      <td>+8.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>38:36.0</td>
      <td>+8.3</td>
      <td>+17.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>38:40.3</td>
      <td>+4.3</td>
      <td>+21.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>38:45.5</td>
      <td>+5.2</td>
      <td>+26.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>38:48.5</td>
      <td>+3.0</td>
      <td>+29.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>38:53.6</td>
      <td>+5.1</td>
      <td>+34.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>39:03.8</td>
      <td>+10.2</td>
      <td>+45.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>39:24.9</td>
      <td>+21.1</td>
      <td>+1:06.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>39:47.0</td>
      <td>+22.1</td>
      <td>+1:28.2</td>
    </tr>
  </tbody>
</table>

## SS2 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_222/overall_SS2.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>16</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>44</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>47</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>74</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_222/overall_td_diffFirst_SS2.png)

### Stage position chart SS2

*Showing stage position for each stage.*

![](images/2017_222/stageStage_SS2.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>25</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>44</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>46</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>65</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS2

carNo|driverName |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroen Total Abu Dhabi WRT|M          |38:18.8|        |         |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |38:27.7|     8.9|8.9      |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |38:36.0|     8.3|17.2     |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |38:40.3|     4.3|21.5     |          4|        4|       4
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |38:45.5|     5.2|26.7     |          5|        5|       5
    8|C. BREEN   |S. MARTIN   |Citroen Total Abu Dhabi WRT|M          |38:48.5|     3.0|29.7     |          6|        6|       6
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |38:53.6|     5.1|34.8     |          7|        7|       7
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |39:03.8|    10.2|45.0     |          8|        8|       8
    9|S. LEFEBVRE|G. MOREAU   |Citroen Total Abu Dhabi WRT|M          |39:24.9|    21.1|+1:06.1  |          9|        9|       9
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |41:00.9|     0.1|+2:42.1  |         16|       10|      10
   82|A. VAUTHIER|S. NOLLET   |Alain Vauthier             |           |46:14.2|     1.7|+7:55.4  |         44|       11|       1
   81|A. PEREIRA |R. TUTELAIRE|Armando Pereira            |           |46:34.2|     5.9|+8:15.4  |         47|       12|       2
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |59:17.9|    47.7|+20:59.1 |         74|       13|      11

## SS3 Pietrosella - Albitreccia
 ### Distance: 31.20 km
*Rerun of stage SS1* 
First car 14:11

*A long stage with three splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
  NaN|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    6|    7|K. MEEKE   |Citroen Total Abu Dhabi WRT|M          |RC1       
    7|    8|C. BREEN   |Citroen Total Abu Dhabi WRT|M          |RC1       
    8|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    9|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   10|    9|S. LEFEBVRE|Citroen Total Abu Dhabi WRT|M          |RC1       
   40|   81|A. PEREIRA |Armando Pereira            |           |RC1       
   41|   82|A. VAUTHIER|Alain Vauthier             |           |RC1

## Stage Report 3:

In stage SS3, S. OGIER (FRA) and J. INGRASSIA (FRA) (M-Sport World Rally Team) took the stage, giving them their first stage win, in a time of 19:52.1.

In second place on stage, +0.8 behind, K. MEEKE (GBR) and P. NAGLE (IRL) for CitroÃ«n Total Abu Dhabi WRT retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>19:52.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>19:52.9</td>
      <td>+0.8</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>19:58.3</td>
      <td>+5.4</td>
      <td>+6.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>20:04.3</td>
      <td>+6.0</td>
      <td>+12.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>20:05.8</td>
      <td>+1.5</td>
      <td>+13.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>20:06.2</td>
      <td>+0.4</td>
      <td>+14.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>20:11.7</td>
      <td>+5.5</td>
      <td>+19.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>20:28.8</td>
      <td>+17.1</td>
      <td>+36.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>20:39.5</td>
      <td>+10.7</td>
      <td>+47.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>20:39.8</td>
      <td>+0.3</td>
      <td>+47.7</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>58:11.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>58:19.8</td>
      <td>+8.1</td>
      <td>+8.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>58:34.3</td>
      <td>+14.5</td>
      <td>+22.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>58:51.3</td>
      <td>+17.0</td>
      <td>+39.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>58:52.8</td>
      <td>+1.5</td>
      <td>+41.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>58:59.8</td>
      <td>+7.0</td>
      <td>+48.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>59:15.5</td>
      <td>+15.7</td>
      <td>+1:03.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>59:53.7</td>
      <td>+38.2</td>
      <td>+1:42.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>1:00:26.5</td>
      <td>+32.8</td>
      <td>+2:14.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>1:00:42.4</td>
      <td>+15.9</td>
      <td>+2:30.7</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split time, rank position

![](images/2017_222/chart_stage_split_pos_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS3 - stage split delta time (seconds) to first on stage

![](images/2017_222/split_delta_firstonstage_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:42.5</td>
      <td>00:09:29.9</td>
      <td>00:14:33.1</td>
      <td>19:52.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>+4.7</td>
      <td>-0.5</td>
      <td>+0.9</td>
      <td>19:52.9</td>
      <td>+0.8</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+5.0</td>
      <td>+4.4</td>
      <td>+6.2</td>
      <td>19:58.3</td>
      <td>+6.2</td>
      <td>+5.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>+4.1</td>
      <td>+6.0</td>
      <td>+8.8</td>
      <td>20:04.3</td>
      <td>+12.2</td>
      <td>+6.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+4.7</td>
      <td>+6.7</td>
      <td>+10.4</td>
      <td>20:05.8</td>
      <td>+13.7</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+4.2</td>
      <td>+4.9</td>
      <td>+11.1</td>
      <td>20:06.2</td>
      <td>+14.1</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>+7.4</td>
      <td>+7.4</td>
      <td>+14.6</td>
      <td>20:11.7</td>
      <td>+19.6</td>
      <td>+5.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>+10.4</td>
      <td>+16.1</td>
      <td>+25.3</td>
      <td>20:28.8</td>
      <td>+36.7</td>
      <td>+17.1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>+13.4</td>
      <td>+25.1</td>
      <td>+36.3</td>
      <td>20:39.5</td>
      <td>+47.4</td>
      <td>+10.7</td>
    </tr>
    <tr>
      <th>24</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>+13.0</td>
      <td>+24.6</td>
      <td>+32.9</td>
      <td>20:39.8</td>
      <td>+47.7</td>
      <td>+0.3</td>
    </tr>
  </tbody>
</table>

## SS3 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 3, C. BREEN lost ground in the final part of the stage.

![](images/2017_222/chart_stage_sector_delta_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:42.500000</td>
      <td>00:04:47.400000</td>
      <td>00:05:03.200000</td>
      <td>00:05:19</td>
      <td>00:19:52.100000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:04:47.200000</td>
      <td>00:04:42.200000</td>
      <td>00:05:04.600000</td>
      <td>00:05:18.900000</td>
      <td>00:19:52.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:47.500000</td>
      <td>00:04:46.800000</td>
      <td>00:05:05</td>
      <td>00:05:19</td>
      <td>00:19:58.300000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:04:46.600000</td>
      <td>00:04:49.300000</td>
      <td>00:05:06</td>
      <td>00:05:22.400000</td>
      <td>00:20:04.300000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:04:47.200000</td>
      <td>00:04:49.400000</td>
      <td>00:05:06.900000</td>
      <td>00:05:22.300000</td>
      <td>00:20:05.800000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:46.700000</td>
      <td>00:04:48.100000</td>
      <td>00:05:09.400000</td>
      <td>00:05:22</td>
      <td>00:20:06.200000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:49.900000</td>
      <td>00:04:47.400000</td>
      <td>00:05:10.400000</td>
      <td>00:05:24</td>
      <td>00:20:11.700000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:04:52.900000</td>
      <td>00:04:53.100000</td>
      <td>00:05:12.400000</td>
      <td>00:05:30.400000</td>
      <td>00:20:28.800000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>00:04:55.900000</td>
      <td>00:04:59.100000</td>
      <td>00:05:14.400000</td>
      <td>00:05:30.100000</td>
      <td>00:20:39.500000</td>
    </tr>
    <tr>
      <th>24</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>00:04:55.500000</td>
      <td>00:04:59</td>
      <td>00:05:11.500000</td>
      <td>00:05:33.800000</td>
      <td>00:20:39.800000</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_222/split_delta_rebase_SS3.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS3 - overall rally positions at end of stage

At the end of stage SS3, K. MEEKE continued to lead the rally in the Citroen C3 WRC, commanding a lead of +8.1.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport, retained third place overall, +22.6 behind the overall rally leader and trailing second placed S. OGIER by +14.5.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>58:11.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>58:19.8</td>
      <td>+8.1</td>
      <td>+8.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>58:34.3</td>
      <td>+14.5</td>
      <td>+22.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>58:51.3</td>
      <td>+17.0</td>
      <td>+39.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>58:52.8</td>
      <td>+1.5</td>
      <td>+41.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>58:59.8</td>
      <td>+7.0</td>
      <td>+48.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>59:15.5</td>
      <td>+15.7</td>
      <td>+1:03.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>59:53.7</td>
      <td>+38.2</td>
      <td>+1:42.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>1:00:26.5</td>
      <td>+32.8</td>
      <td>+2:14.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>1:00:42.4</td>
      <td>+15.9</td>
      <td>+2:30.7</td>
    </tr>
  </tbody>
</table>

## SS3 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_222/overall_SS3.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>16</td>
      <td>15</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>23</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>44</td>
      <td>40</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>47</td>
      <td>41</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>74</td>
      <td>70</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_222/overall_td_diffFirst_SS3.png)

### Stage position chart SS3

*Showing stage position for each stage.*

![](images/2017_222/stageStage_SS3.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>25</td>
      <td>20</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>44</td>
      <td>36</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>46</td>
      <td>37</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>65</td>
      <td>55</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>56</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS3

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|-------:|---------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroen Total Abu Dhabi WRT|M          |58:11.7  |        |         |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |58:19.8  |     8.1|8.1      |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |58:34.3  |    14.5|22.6     |          3|        3|       3
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |58:51.3  |    17.0|39.6     |          4|        4|       4
    8|C. BREEN   |S. MARTIN   |Citroen Total Abu Dhabi WRT|M          |58:52.8  |     1.5|41.1     |          5|        5|       5
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |58:59.8  |     7.0|48.1     |          6|        6|       6
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |59:15.5  |    15.7|+1:03.8  |          7|        7|       7
    9|S. LEFEBVRE|G. MOREAU   |Citroen Total Abu Dhabi WRT|M          |59:53.7  |    38.2|+1:42.0  |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:02:52.4|    31.7|+4:40.7  |         15|        9|       9
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:05:32.4|     8.6|+7:20.7  |         23|       10|      10
   82|A. VAUTHIER|S. NOLLET   |Alain Vauthier             |           |1:09:39.4|    28.7|+11:27.7 |         40|       11|       1
   81|A. PEREIRA |R. TUTELAIRE|Armando Pereira            |           |1:09:55.7|    16.3|+11:44.0 |         41|       12|       2
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |1:26:10.0|    59.2|+27:58.3 |         70|       13|      11

## SS4 Plage du Liamone - Sarrola-Carcopino
 ### Distance: 29.12 km
*Rerun of stage SS2* 
First car 16:03

*A long stage with three splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    4|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    5|    7|K. MEEKE   |CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
    6|    8|C. BREEN   |CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
    7|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    8|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    9|    9|S. LEFEBVRE|CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
   36|   81|A. PEREIRA |Armando Pereira            |           |RC1       
   37|   82|A. VAUTHIER|Alain Vauthier             |           |RC1

## Stage Report 4:

In stage SS4, K. MEEKE (GBR) and P. NAGLE (IRL) (CitroÃ«n Total Abu Dhabi WRT) continued to lead the rally with their third stage win, in a time of 18:20.4.

S. OGIER (FRA) and co-driver J. INGRASSIA (FRA) for M-Sport World Rally Team in the Ford Fiesta WRC were placed second on the stage, +2.2 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>18:20.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>18:22.6</td>
      <td>+2.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>18:23.6</td>
      <td>+1.0</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>18:31.7</td>
      <td>+8.1</td>
      <td>+11.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>18:32.5</td>
      <td>+0.8</td>
      <td>+12.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>18:34.6</td>
      <td>+2.1</td>
      <td>+14.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>18:35.4</td>
      <td>+0.8</td>
      <td>+15.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>18:46.0</td>
      <td>+10.6</td>
      <td>+25.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>19:02.9</td>
      <td>+16.9</td>
      <td>+42.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>19:07.5</td>
      <td>+4.6</td>
      <td>+47.1</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:16:32.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:16:42.4</td>
      <td>+10.3</td>
      <td>+10.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:16:57.9</td>
      <td>+15.5</td>
      <td>+25.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:17:24.5</td>
      <td>+26.6</td>
      <td>+52.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:17:25.9</td>
      <td>+1.4</td>
      <td>+53.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:17:32.3</td>
      <td>+6.4</td>
      <td>+1:00.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:17:50.9</td>
      <td>+18.6</td>
      <td>+1:18.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:18:39.7</td>
      <td>+48.8</td>
      <td>+2:07.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>1:19:29.4</td>
      <td>+49.7</td>
      <td>+2:57.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>1:19:49.9</td>
      <td>+20.5</td>
      <td>+3:17.8</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split time, rank position

![](images/2017_222/chart_stage_split_pos_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS4 - stage split delta time (seconds) to first on stage

![](images/2017_222/split_delta_firstonstage_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>+0.1</td>
      <td>-1.9</td>
      <td>-1.7</td>
      <td>18:20.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:23.6</td>
      <td>00:10:02.9</td>
      <td>00:15:12.6</td>
      <td>18:22.6</td>
      <td>+2.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+3.2</td>
      <td>+1.2</td>
      <td>+0.8</td>
      <td>18:23.6</td>
      <td>+3.2</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>+3.8</td>
      <td>+5.0</td>
      <td>+7.2</td>
      <td>18:31.7</td>
      <td>+11.3</td>
      <td>+8.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+4.5</td>
      <td>+6.8</td>
      <td>+9.3</td>
      <td>18:32.5</td>
      <td>+12.1</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+5.6</td>
      <td>+5.6</td>
      <td>+8.6</td>
      <td>18:34.6</td>
      <td>+14.2</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>+5.3</td>
      <td>+7.5</td>
      <td>+10.9</td>
      <td>18:35.4</td>
      <td>+15.0</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>+7.0</td>
      <td>+10.2</td>
      <td>+17.3</td>
      <td>18:46.0</td>
      <td>+25.6</td>
      <td>+10.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>+9.6</td>
      <td>+15.8</td>
      <td>+29.8</td>
      <td>19:02.9</td>
      <td>+42.5</td>
      <td>+16.9</td>
    </tr>
    <tr>
      <th>20</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>+13.5</td>
      <td>+22.9</td>
      <td>+37.1</td>
      <td>19:07.5</td>
      <td>+47.1</td>
      <td>+4.6</td>
    </tr>
  </tbody>
</table>

## SS4 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_222/chart_stage_sector_delta_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:04:23.700000</td>
      <td>00:05:37.300000</td>
      <td>00:05:09.900000</td>
      <td>00:03:09.500000</td>
      <td>00:18:20.400000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:04:23.600000</td>
      <td>00:05:39.300000</td>
      <td>00:05:09.700000</td>
      <td>00:03:10</td>
      <td>00:18:22.600000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:04:26.800000</td>
      <td>00:05:37.300000</td>
      <td>00:05:09.300000</td>
      <td>00:03:10.200000</td>
      <td>00:18:23.600000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:04:27.400000</td>
      <td>00:05:40.500000</td>
      <td>00:05:11.900000</td>
      <td>00:03:11.900000</td>
      <td>00:18:31.700000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:04:28.100000</td>
      <td>00:05:41.600000</td>
      <td>00:05:12.200000</td>
      <td>00:03:10.600000</td>
      <td>00:18:32.500000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:04:29.200000</td>
      <td>00:05:39.300000</td>
      <td>00:05:12.700000</td>
      <td>00:03:13.400000</td>
      <td>00:18:34.600000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:04:28.900000</td>
      <td>00:05:41.500000</td>
      <td>00:05:13.100000</td>
      <td>00:03:11.900000</td>
      <td>00:18:35.400000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:04:30.600000</td>
      <td>00:05:42.500000</td>
      <td>00:05:16.800000</td>
      <td>00:03:16.100000</td>
      <td>00:18:46</td>
    </tr>
    <tr>
      <th>10</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>00:04:33.200000</td>
      <td>00:05:45.500000</td>
      <td>00:05:23.700000</td>
      <td>00:03:20.500000</td>
      <td>00:19:02.900000</td>
    </tr>
    <tr>
      <th>20</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>00:04:37.100000</td>
      <td>00:05:48.700000</td>
      <td>00:05:23.900000</td>
      <td>00:03:17.800000</td>
      <td>00:19:07.500000</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_222/split_delta_rebase_SS4.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS4 - overall rally positions at end of stage

After stage SS4, K. MEEKE continued in overall lead of the rally in the Citroen C3 WRC, +10.3 ahead.

S. OGIER, for M-Sport World Rally Team, retained second place overall.

T. NEUVILLE, in the Hyundai I20 Coupe WRC, retained third place overall, +25.8 behind the overall rally leader and +15.5 behind second placed S. OGIER.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:16:32.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:16:42.4</td>
      <td>+10.3</td>
      <td>+10.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:16:57.9</td>
      <td>+15.5</td>
      <td>+25.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:17:24.5</td>
      <td>+26.6</td>
      <td>+52.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:17:25.9</td>
      <td>+1.4</td>
      <td>+53.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:17:32.3</td>
      <td>+6.4</td>
      <td>+1:00.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:17:50.9</td>
      <td>+18.6</td>
      <td>+1:18.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>1:18:39.7</td>
      <td>+48.8</td>
      <td>+2:07.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>1:19:29.4</td>
      <td>+49.7</td>
      <td>+2:57.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>1:19:49.9</td>
      <td>+20.5</td>
      <td>+3:17.8</td>
    </tr>
  </tbody>
</table>

## SS4 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_222/overall_SS4.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>16</td>
      <td>15</td>
      <td>18</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>23</td>
      <td>37</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>44</td>
      <td>40</td>
      <td>38</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>47</td>
      <td>41</td>
      <td>39</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>74</td>
      <td>70</td>
      <td>67</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_222/overall_td_diffFirst_SS4.png)

### Stage position chart SS4

*Showing stage position for each stage.*

![](images/2017_222/stageStage_SS4.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>25</td>
      <td>20</td>
      <td>21</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>44</td>
      <td>36</td>
      <td>37</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>46</td>
      <td>37</td>
      <td>39</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>65</td>
      <td>55</td>
      <td>54</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>56</td>
      <td>55</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS4

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |CitroÃ«n Total Abu Dhabi WRT|M          |1:16:32.1|        |         |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:16:42.4|10.3    |10.3     |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:16:57.9|15.5    |25.8     |          3|        3|       3
    8|C. BREEN   |S. MARTIN   |CitroÃ«n Total Abu Dhabi WRT|M          |1:17:24.5|26.6    |52.4     |          4|        4|       4
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:17:25.9|1.4     |53.8     |          5|        5|       5
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:17:32.3|6.4     |+1:00.2  |          6|        6|       6
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:17:50.9|18.6    |+1:18.8  |          7|        7|       7
    9|S. LEFEBVRE|G. MOREAU   |CitroÃ«n Total Abu Dhabi WRT|M          |1:18:39.7|48.8    |+2:07.6  |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:23:11.6|8.4     |+6:39.5  |         18|        9|       9
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:30:52.8|1.4     |+14:20.7 |         37|       10|      10
   82|A. VAUTHIER|S. NOLLET   |Alain Vauthier             |           |1:31:26.2|33.4    |+14:54.1 |         38|       11|       1
   81|A. PEREIRA |R. TUTELAIRE|Armando Pereira            |           |1:31:36.5|10.3    |+15:04.4 |         39|       12|       2
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |1:51:30.4|+2:39.3 |+34:58.3 |         67|       13|      11

# Day 2 (08/04/2017)
## Section 1 (Morning)

## SS5 La Porta - Valle di Rostino
 ### Distance: 48.71 km
 
First car 08:40

*A very long stage with five splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    2|    9|S. LEFEBVRE|CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
    3|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    4|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    6|    8|C. BREEN   |CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
    7|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    8|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    9|    7|K. MEEKE   |CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
   10|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   11|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   44|   82|A. VAUTHIER|Alain Vauthier             |           |RC1       
   45|   81|A. PEREIRA |Armando Pereira            |           |RC1

## Stage Report 5:

On stage SS5, and with their first stage win, T. NEUVILLE (BEL) and N. GILSOUL (BEL) in the Hyundai I20 Coupe WRC took the stage by +4.7 from J. HANNINEN (FIN) and K. LINDSTROM (FIN) for Toyota Gazoo Racing WRT, in a time of 32:19.6.

K. MEEKE (GBR) and P. NAGLE (IRL) for CitroÃ«n Total Abu Dhabi WRT in the Citroen C3 WRC, third on stage with a time of 32:28.4, and +8.8 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>32:19.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>32:24.3</td>
      <td>+4.7</td>
      <td>+4.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>32:28.4</td>
      <td>+4.1</td>
      <td>+8.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>32:34.5</td>
      <td>+6.1</td>
      <td>+14.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>32:34.7</td>
      <td>+0.2</td>
      <td>+15.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>32:38.0</td>
      <td>+3.3</td>
      <td>+18.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>32:43.4</td>
      <td>+5.4</td>
      <td>+23.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>32:44.9</td>
      <td>+1.5</td>
      <td>+25.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>32:58.9</td>
      <td>+14.0</td>
      <td>+39.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>33:07.5</td>
      <td>+8.6</td>
      <td>+47.9</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:49:00.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:49:16.9</td>
      <td>+16.4</td>
      <td>+16.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:49:17.5</td>
      <td>+0.6</td>
      <td>+17.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:50:00.6</td>
      <td>+43.1</td>
      <td>+1:00.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:50:02.5</td>
      <td>+1.9</td>
      <td>+1:02.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:50:17.2</td>
      <td>+14.7</td>
      <td>+1:16.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:50:34.3</td>
      <td>+17.1</td>
      <td>+1:33.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>1:53:24.0</td>
      <td>+2:49.7</td>
      <td>+4:23.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>1:53:29.1</td>
      <td>+5.1</td>
      <td>+4:28.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>1:54:26.6</td>
      <td>+57.5</td>
      <td>+5:26.1</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split time, rank position

![](images/2017_222/chart_stage_split_pos_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS5 - stage split delta time (seconds) to first on stage

![](images/2017_222/split_delta_firstonstage_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>split_4</th>
      <th>split_5</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-5.5</td>
      <td>-9.5</td>
      <td>-15.7</td>
      <td>-23.9</td>
      <td>-31.1</td>
      <td>32:19.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>-4.4</td>
      <td>-7.3</td>
      <td>-12.3</td>
      <td>-20.1</td>
      <td>-25.9</td>
      <td>32:24.3</td>
      <td>+4.7</td>
      <td>+4.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-6.7</td>
      <td>-10.5</td>
      <td>-14.2</td>
      <td>-19.4</td>
      <td>-24.9</td>
      <td>32:28.4</td>
      <td>+8.8</td>
      <td>+4.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-7.0</td>
      <td>-8.6</td>
      <td>-9.4</td>
      <td>-14.2</td>
      <td>-15.4</td>
      <td>32:34.5</td>
      <td>+14.9</td>
      <td>+6.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-5.2</td>
      <td>-7.4</td>
      <td>-12.9</td>
      <td>-17.0</td>
      <td>-18.2</td>
      <td>32:34.7</td>
      <td>+15.1</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-6.8</td>
      <td>-6.2</td>
      <td>-7.2</td>
      <td>-12.0</td>
      <td>-14.9</td>
      <td>32:38.0</td>
      <td>+18.4</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-4.4</td>
      <td>-3.0</td>
      <td>-4.1</td>
      <td>-7.6</td>
      <td>-10.2</td>
      <td>32:43.4</td>
      <td>+23.8</td>
      <td>+5.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-5.0</td>
      <td>-3.8</td>
      <td>-3.2</td>
      <td>-7.5</td>
      <td>-9.6</td>
      <td>32:44.9</td>
      <td>+25.3</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:05:20.8</td>
      <td>00:10:20.5</td>
      <td>00:17:05.6</td>
      <td>00:22:16.7</td>
      <td>00:27:26.4</td>
      <td>32:58.9</td>
      <td>+39.3</td>
      <td>+14.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-2.8</td>
      <td>+0.7</td>
      <td>-0.1</td>
      <td>-1.8</td>
      <td>+6.2</td>
      <td>33:07.5</td>
      <td>+47.9</td>
      <td>+8.6</td>
    </tr>
  </tbody>
</table>

## SS5 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 5, C. BREEN lost ground in the final part of the stage.

![](images/2017_222/chart_stage_sector_delta_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>sector_5</th>
      <th>sector_6</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:05:15.300000</td>
      <td>00:04:55.700000</td>
      <td>00:06:38.900000</td>
      <td>00:05:02.900000</td>
      <td>00:05:02.500000</td>
      <td>00:05:24.300000</td>
      <td>00:32:19.600000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:05:16.400000</td>
      <td>00:04:56.800000</td>
      <td>00:06:40.100000</td>
      <td>00:05:03.300000</td>
      <td>00:05:03.900000</td>
      <td>00:05:23.800000</td>
      <td>00:32:24.300000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:05:14.100000</td>
      <td>00:04:55.900000</td>
      <td>00:06:41.400000</td>
      <td>00:05:05.900000</td>
      <td>00:05:04.200000</td>
      <td>00:05:26.900000</td>
      <td>00:32:28.400000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:05:13.800000</td>
      <td>00:04:58.100000</td>
      <td>00:06:44.300000</td>
      <td>00:05:06.300000</td>
      <td>00:05:08.500000</td>
      <td>00:05:23.500000</td>
      <td>00:32:34.500000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:05:15.600000</td>
      <td>00:04:57.500000</td>
      <td>00:06:39.600000</td>
      <td>00:05:07</td>
      <td>00:05:08.500000</td>
      <td>00:05:26.500000</td>
      <td>00:32:34.700000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:05:14</td>
      <td>00:05:00.300000</td>
      <td>00:06:44.100000</td>
      <td>00:05:06.300000</td>
      <td>00:05:06.800000</td>
      <td>00:05:26.500000</td>
      <td>00:32:38</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:05:16.400000</td>
      <td>00:05:01.100000</td>
      <td>00:06:44</td>
      <td>00:05:07.600000</td>
      <td>00:05:07.100000</td>
      <td>00:05:27.200000</td>
      <td>00:32:43.400000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:05:15.800000</td>
      <td>00:05:00.900000</td>
      <td>00:06:45.700000</td>
      <td>00:05:06.800000</td>
      <td>00:05:07.600000</td>
      <td>00:05:28.100000</td>
      <td>00:32:44.900000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:05:20.800000</td>
      <td>00:04:59.700000</td>
      <td>00:06:45.100000</td>
      <td>00:05:11.100000</td>
      <td>00:05:09.700000</td>
      <td>00:05:32.500000</td>
      <td>00:32:58.900000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:05:18</td>
      <td>00:05:03.200000</td>
      <td>00:06:44.300000</td>
      <td>00:05:09.400000</td>
      <td>00:05:17.700000</td>
      <td>00:05:34.900000</td>
      <td>00:33:07.500000</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_222/split_delta_rebase_SS5.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS5 - overall rally positions at end of stage

At the end of stage SS5, K. MEEKE retained overall lead of the rally for CitroÃ«n Total Abu Dhabi WRT in the Citroen C3 WRC, with a gap to second of +16.4.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport in the Hyundai I20 Coupe WRC, retained third place overall, +17.0 behind the overall rally leader and trailing second placed S. OGIER by +0.6.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:49:00.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:49:16.9</td>
      <td>+16.4</td>
      <td>+16.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:49:17.5</td>
      <td>+0.6</td>
      <td>+17.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:50:00.6</td>
      <td>+43.1</td>
      <td>+1:00.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:50:02.5</td>
      <td>+1.9</td>
      <td>+1:02.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:50:17.2</td>
      <td>+14.7</td>
      <td>+1:16.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:50:34.3</td>
      <td>+17.1</td>
      <td>+1:33.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>1:53:24.0</td>
      <td>+2:49.7</td>
      <td>+4:23.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>1:53:29.1</td>
      <td>+5.1</td>
      <td>+4:28.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>1:54:26.6</td>
      <td>+57.5</td>
      <td>+5:26.1</td>
    </tr>
  </tbody>
</table>

## SS5 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_222/overall_SS5.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>16</td>
      <td>15</td>
      <td>18</td>
      <td>12</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>23</td>
      <td>37</td>
      <td>22</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>44</td>
      <td>40</td>
      <td>38</td>
      <td>36</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>47</td>
      <td>41</td>
      <td>39</td>
      <td>38</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>74</td>
      <td>70</td>
      <td>67</td>
      <td>54</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>62</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_222/overall_td_diffFirst_SS5.png)

### Stage position chart SS5

*Showing stage position for each stage.*

![](images/2017_222/stageStage_SS5.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>65</td>
      <td>55</td>
      <td>54</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>25</td>
      <td>20</td>
      <td>21</td>
      <td>9</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>56</td>
      <td>55</td>
      <td>10</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>46</td>
      <td>37</td>
      <td>39</td>
      <td>43</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>44</td>
      <td>36</td>
      <td>37</td>
      <td>47</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>67</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS5

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |CitroÃ«n Total Abu Dhabi WRT|M          |1:49:00.5|        |         |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:49:16.9|16.4    |16.4     |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:49:17.5|0.6     |17.0     |          3|        3|       3
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:50:00.6|43.1    |+1:00.1  |          4|        4|       4
    8|C. BREEN   |S. MARTIN   |CitroÃ«n Total Abu Dhabi WRT|M          |1:50:02.5|1.9     |+1:02.0  |          5|        5|       5
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:50:17.2|14.7    |+1:16.7  |          6|        6|       6
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:50:34.3|17.1    |+1:33.8  |          7|        7|       7
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:56:10.5|28.7    |+7:10.0  |         12|        8|       8
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:04:00.3|52.2    |+14:59.8 |         22|        9|       9
   82|A. VAUTHIER|S. NOLLET   |Alain Vauthier             |           |2:10:27.2|51.3    |+21:26.7 |         36|       10|       1
   81|A. PEREIRA |R. TUTELAIRE|Armando Pereira            |           |2:11:21.6|19.3    |+22:21.1 |         38|       11|       2
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |2:23:54.7|30.3    |+34:54.2 |         54|       12|      10
    9|S. LEFEBVRE|G. MOREAU   |CitroÃ«n Total Abu Dhabi WRT|M          |2:39:40.3|+1:30.5 |+50:39.8 |         62|       13|      11

## SS6 Novella
 ### Distance: 17.27 km
 
First car 10:17

*A medium length stage with two splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
  NaN|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    2|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    3|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    8|C. BREEN   |CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
    6|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    7|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    8|    7|K. MEEKE   |CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
    9|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   10|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   39|   82|A. VAUTHIER|Alain Vauthier             |           |RC1       
   40|   81|A. PEREIRA |Armando Pereira            |           |RC1

## Stage Report 6:

On stage SS6, and with their second stage win, T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport took the stage by +2.2 from Hyundai Motorsport's D. SORDO (ESP) and M. MARTI (ESP), in a time of 11:13.1.

K. MEEKE (GBR) and P. NAGLE (IRL) (CitroÃ«n Total Abu Dhabi WRT), ninth on stage with a time of 11:28.6, and +15.5 behind the stagewinner, retained overall lead of the rally.


There were 1 retirements amongst the RC1 (M) competitors  around stage 6:
- K. MEEKE (GBR) / P. NAGLE (IRL) - MECHANICAL at TC6A in the *CitroÃ«n Total Abu Dhabi WRT* Citroen C3 WRC



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>11:13.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>11:15.3</td>
      <td>+2.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>11:16.4</td>
      <td>+1.1</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>11:17.7</td>
      <td>+1.3</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>11:19.7</td>
      <td>+2.0</td>
      <td>+6.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>11:20.2</td>
      <td>+0.5</td>
      <td>+7.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>11:21.9</td>
      <td>+1.7</td>
      <td>+8.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>11:24.2</td>
      <td>+2.3</td>
      <td>+11.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>11:28.6</td>
      <td>+4.4</td>
      <td>+15.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>11:42.2</td>
      <td>+13.6</td>
      <td>+29.1</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:00:29.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:00:30.6</td>
      <td>+1.5</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:00:38.8</td>
      <td>+8.2</td>
      <td>+9.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:01:15.9</td>
      <td>+37.1</td>
      <td>+46.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:01:26.7</td>
      <td>+10.8</td>
      <td>+57.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:01:37.4</td>
      <td>+10.7</td>
      <td>+1:08.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:01:52.0</td>
      <td>+14.6</td>
      <td>+1:22.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>2:05:06.2</td>
      <td>+3:14.2</td>
      <td>+4:37.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>2:05:26.1</td>
      <td>+19.9</td>
      <td>+4:57.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>2:06:11.5</td>
      <td>+45.4</td>
      <td>+5:42.4</td>
    </tr>
  </tbody>
</table>

## SS6 - stage split time, rank position

![](images/2017_222/chart_stage_split_pos_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS6 - stage split delta time (seconds) to first on stage

![](images/2017_222/split_delta_firstonstage_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-3.9</td>
      <td>-53:08.0</td>
      <td>11:13.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-4.3</td>
      <td>-53:08.9</td>
      <td>11:15.3</td>
      <td>+2.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>-2.8</td>
      <td>-53:04.6</td>
      <td>11:16.4</td>
      <td>+3.3</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-4.1</td>
      <td>-53:05.8</td>
      <td>11:17.7</td>
      <td>+4.6</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-3.0</td>
      <td>-53:05.2</td>
      <td>11:19.7</td>
      <td>+6.6</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.5</td>
      <td>-53:04.4</td>
      <td>11:20.2</td>
      <td>+7.1</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-3.2</td>
      <td>-53:03.5</td>
      <td>11:21.9</td>
      <td>+8.8</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-3.0</td>
      <td>-53:00.2</td>
      <td>11:24.2</td>
      <td>+11.1</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-4.4</td>
      <td>-53:07.4</td>
      <td>11:28.6</td>
      <td>+15.5</td>
      <td>+4.4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>+4.4</td>
      <td>-52:50.7</td>
      <td>11:42.2</td>
      <td>+29.1</td>
      <td>+13.6</td>
    </tr>
  </tbody>
</table>

## SS6 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 6, A. MIKKELSEN lost ground in the final part of the stage.

![](images/2017_222/chart_stage_sector_delta_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:39.500000</td>
      <td>00:03:49</td>
      <td>00:03:44.600000</td>
      <td>00:11:13.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:39.100000</td>
      <td>00:03:48.500000</td>
      <td>00:03:47.700000</td>
      <td>00:11:15.300000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:03:40.600000</td>
      <td>00:03:51.300000</td>
      <td>00:03:44.500000</td>
      <td>00:11:16.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:39.300000</td>
      <td>00:03:51.400000</td>
      <td>00:03:47</td>
      <td>00:11:17.700000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:40.400000</td>
      <td>00:03:50.900000</td>
      <td>00:03:48.400000</td>
      <td>00:11:19.700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:40.900000</td>
      <td>00:03:51.200000</td>
      <td>00:03:48.100000</td>
      <td>00:11:20.200000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:40.200000</td>
      <td>00:03:52.800000</td>
      <td>00:03:48.900000</td>
      <td>00:11:21.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:40.400000</td>
      <td>00:03:55.900000</td>
      <td>00:03:47.900000</td>
      <td>00:11:24.200000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:39</td>
      <td>00:03:50.100000</td>
      <td>00:03:59.500000</td>
      <td>00:11:28.600000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:47.800000</td>
      <td>00:03:58</td>
      <td>00:03:56.400000</td>
      <td>00:11:42.200000</td>
    </tr>
  </tbody>
</table>

## SS6 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_222/split_delta_rebase_SS6.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS6 - overall rally positions at end of stage

After stage SS6, K. MEEKE retained overall lead of the rally in the Citroen C3 WRC, with a lead of +1.5.

T. NEUVILLE, for Hyundai Motorsport, took second place overall, gaining one place from third.

Previous second place overall, S. OGIER for M-Sport World Rally Team, fell back one positions to third, +9.7 behind the leader.

S. OGIER, for M-Sport World Rally Team in the Ford Fiesta WRC, fell into third place overall, losing minus one places from second, +9.7 behind the overall rally leader and +8.2 behind second placed T. NEUVILLE.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:00:29.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:00:30.6</td>
      <td>+1.5</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:00:38.8</td>
      <td>+8.2</td>
      <td>+9.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:01:15.9</td>
      <td>+37.1</td>
      <td>+46.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:01:26.7</td>
      <td>+10.8</td>
      <td>+57.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:01:37.4</td>
      <td>+10.7</td>
      <td>+1:08.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:01:52.0</td>
      <td>+14.6</td>
      <td>+1:22.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>2:05:06.2</td>
      <td>+3:14.2</td>
      <td>+4:37.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>2:05:26.1</td>
      <td>+19.9</td>
      <td>+4:57.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>2:06:11.5</td>
      <td>+45.4</td>
      <td>+5:42.4</td>
    </tr>
  </tbody>
</table>

## SS6 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_222/overall_SS6.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>16</td>
      <td>15</td>
      <td>18</td>
      <td>12</td>
      <td>19</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>23</td>
      <td>37</td>
      <td>22</td>
      <td>21</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>44</td>
      <td>40</td>
      <td>38</td>
      <td>36</td>
      <td>35</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>47</td>
      <td>41</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>74</td>
      <td>70</td>
      <td>67</td>
      <td>54</td>
      <td>51</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>62</td>
      <td>68</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_222/overall_td_diffFirst_SS6.png)

### Stage position chart SS6

*Showing stage position for each stage.*

![](images/2017_222/stageStage_SS6.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>65</td>
      <td>55</td>
      <td>54</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>56</td>
      <td>55</td>
      <td>10</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>9</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>44</td>
      <td>36</td>
      <td>37</td>
      <td>47</td>
      <td>43</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>46</td>
      <td>37</td>
      <td>39</td>
      <td>43</td>
      <td>46</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>25</td>
      <td>20</td>
      <td>21</td>
      <td>9</td>
      <td>62</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>67</td>
      <td>63</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS6

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |CitroÃ«n Total Abu Dhabi WRT|M          |2:00:29.1|        |         |          1|        1|       1
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:00:30.6|1.5     |1.5      |          2|        2|       2
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:00:38.8|8.2     |9.7      |          3|        3|       3
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:01:15.9|37.1    |46.8     |          4|        4|       4
    8|C. BREEN   |S. MARTIN   |CitroÃ«n Total Abu Dhabi WRT|M          |2:01:26.7|10.8    |57.6     |          5|        5|       5
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:01:37.4|10.7    |+1:08.3  |          6|        6|       6
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:01:52.0|14.6    |+1:22.9  |          7|        7|       7
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |2:14:23.6|56.7    |+13:54.5 |         19|        8|       8
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:15:20.0|25.3    |+14:50.9 |         21|        9|       9
   82|A. VAUTHIER|S. NOLLET   |Alain Vauthier             |           |2:24:10.0|+2:23.7 |+23:40.9 |         35|       10|       1
   81|A. PEREIRA |R. TUTELAIRE|Armando Pereira            |           |2:24:53.1|23.8    |+24:24.0 |         37|       11|       2
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |2:35:11.1|18.6    |+34:42.0 |         51|       12|      10
    9|S. LEFEBVRE|G. MOREAU   |CitroÃ«n Total Abu Dhabi WRT|M          |2:57:53.4|58.8    |+57:24.3 |         68|       13|      11

# Day 6 (08/04/2017)
## Section 2 (Afternoon)

## SS7 La Porta - Valle di Rostino
 ### Distance: 48.71 km
*Rerun of stage SS5* 
First car 14:28

*A very long stage with five splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    4|    8|C. BREEN   |CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
    5|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    6|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    7|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    8|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   37|   82|A. VAUTHIER|Alain Vauthier             |           |RC1       
   38|   81|A. PEREIRA |Armando Pereira            |           |RC1

## Stage Report 7:

In stage SS7, M-Sport World Rally Team's S. OGIER (FRA) and co-driver J. INGRASSIA (FRA) took their second stage win by +5.0 from J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, in a time of 32:15.9.

With his 3rd place on stage, T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport) (+6.0 behind the stagewinner, with a stage time of 32:21.9), took overall lead of the rally from K. MEEKE (GBR) and P. NAGLE (IRL) (CitroÃ«n Total Abu Dhabi WRT), 40th on stage and +7:00.0 behind stage winner S. OGIER.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>32:15.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>32:20.9</td>
      <td>+5.0</td>
      <td>+5.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>32:21.9</td>
      <td>+1.0</td>
      <td>+6.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>32:31.1</td>
      <td>+9.2</td>
      <td>+15.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>32:31.8</td>
      <td>+0.7</td>
      <td>+15.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>32:37.2</td>
      <td>+5.4</td>
      <td>+21.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>32:41.0</td>
      <td>+3.8</td>
      <td>+25.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>32:43.7</td>
      <td>+2.7</td>
      <td>+27.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>33:32.2</td>
      <td>+48.5</td>
      <td>+1:16.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>33:33.1</td>
      <td>+0.9</td>
      <td>+1:17.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:32:52.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:32:54.7</td>
      <td>+2.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:33:47.0</td>
      <td>+52.3</td>
      <td>+54.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:33:58.3</td>
      <td>+11.3</td>
      <td>+1:05.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:33:58.5</td>
      <td>+0.2</td>
      <td>+1:06.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:34:29.2</td>
      <td>+30.7</td>
      <td>+1:36.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>2:38:38.4</td>
      <td>+4:09.2</td>
      <td>+5:45.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>2:39:02.0</td>
      <td>+23.6</td>
      <td>+6:09.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>2:39:44.6</td>
      <td>+42.6</td>
      <td>+6:52.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:39:45.0</td>
      <td>+0.4</td>
      <td>+6:52.5</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split time, rank position

![](images/2017_222/chart_stage_split_pos_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS7 - stage split delta time (seconds) to first on stage

![](images/2017_222/split_delta_firstonstage_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>split_4</th>
      <th>split_5</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-4.0</td>
      <td>-4.6</td>
      <td>-7.3</td>
      <td>-11.8</td>
      <td>-17.6</td>
      <td>32:15.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-3.4</td>
      <td>-3.7</td>
      <td>-5.4</td>
      <td>-9.2</td>
      <td>-12.3</td>
      <td>32:20.9</td>
      <td>+5.0</td>
      <td>+5.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-1.1</td>
      <td>-2.9</td>
      <td>-3.3</td>
      <td>-6.3</td>
      <td>-10.7</td>
      <td>32:21.9</td>
      <td>+6.0</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-3.1</td>
      <td>-0.3</td>
      <td>-0.1</td>
      <td>-1.7</td>
      <td>-3.5</td>
      <td>32:31.1</td>
      <td>+15.2</td>
      <td>+9.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-1.0</td>
      <td>-0.9</td>
      <td>+0.0</td>
      <td>-2.3</td>
      <td>-5.3</td>
      <td>32:31.8</td>
      <td>+15.9</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:05:17.5</td>
      <td>00:10:15.3</td>
      <td>00:16:56.4</td>
      <td>00:22:05.0</td>
      <td>00:27:12.2</td>
      <td>32:37.2</td>
      <td>+21.3</td>
      <td>+5.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-1.2</td>
      <td>+0.3</td>
      <td>+0.8</td>
      <td>+0.7</td>
      <td>+1.1</td>
      <td>32:41.0</td>
      <td>+25.1</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>-1.1</td>
      <td>+0.9</td>
      <td>+1.5</td>
      <td>+1.9</td>
      <td>+3.3</td>
      <td>32:43.7</td>
      <td>+27.8</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>+12.0</td>
      <td>+24.5</td>
      <td>+34.8</td>
      <td>+39.7</td>
      <td>+46.6</td>
      <td>33:32.2</td>
      <td>+1:16.3</td>
      <td>+48.5</td>
    </tr>
    <tr>
      <th>11</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>+13.5</td>
      <td>+22.4</td>
      <td></td>
      <td>+40.5</td>
      <td>+47.6</td>
      <td>33:33.1</td>
      <td>+1:17.2</td>
      <td>+0.9</td>
    </tr>
  </tbody>
</table>

## SS7 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_222/chart_stage_sector_delta_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>sector_5</th>
      <th>sector_6</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:05:13.500000</td>
      <td>00:04:57.200000</td>
      <td>00:06:38.400000</td>
      <td>00:05:04.100000</td>
      <td>00:05:01.400000</td>
      <td>00:05:21.300000</td>
      <td>00:32:15.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:05:14.100000</td>
      <td>00:04:57.500000</td>
      <td>00:06:39.400000</td>
      <td>00:05:04.800000</td>
      <td>00:05:04.100000</td>
      <td>00:05:21</td>
      <td>00:32:20.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:05:16.400000</td>
      <td>00:04:56</td>
      <td>00:06:40.700000</td>
      <td>00:05:05.600000</td>
      <td>00:05:02.800000</td>
      <td>00:05:20.400000</td>
      <td>00:32:21.900000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:05:14.400000</td>
      <td>00:05:00.600000</td>
      <td>00:06:41.300000</td>
      <td>00:05:07</td>
      <td>00:05:05.400000</td>
      <td>00:05:22.400000</td>
      <td>00:32:31.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:05:16.500000</td>
      <td>00:04:57.900000</td>
      <td>00:06:42</td>
      <td>00:05:06.300000</td>
      <td>00:05:04.200000</td>
      <td>00:05:24.900000</td>
      <td>00:32:31.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:05:17.500000</td>
      <td>00:04:57.800000</td>
      <td>00:06:41.100000</td>
      <td>00:05:08.600000</td>
      <td>00:05:07.200000</td>
      <td>00:05:25</td>
      <td>00:32:37.200000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:05:16.300000</td>
      <td>00:04:59.300000</td>
      <td>00:06:41.600000</td>
      <td>00:05:08.500000</td>
      <td>00:05:07.600000</td>
      <td>00:05:27.700000</td>
      <td>00:32:41</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:05:16.400000</td>
      <td>00:04:59.800000</td>
      <td>00:06:41.700000</td>
      <td>00:05:09</td>
      <td>00:05:08.600000</td>
      <td>00:05:28.200000</td>
      <td>00:32:43.700000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>00:05:29.500000</td>
      <td>00:05:10.300000</td>
      <td>00:06:51.400000</td>
      <td>00:05:13.500000</td>
      <td>00:05:14.100000</td>
      <td>00:05:33.400000</td>
      <td>00:33:32.200000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>00:05:31</td>
      <td>00:05:06.700000</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:33:33.100000</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_222/split_delta_rebase_SS7.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS7 - overall rally positions at end of stage

Following a poor stage SS7 for previous overall leader K. MEEKE, T. NEUVILLE in the Hyundai I20 Coupe WRC moved forward one position, from second at end of the previous stage, to take overall lead of the rally, with a gap of +2.2 from S. OGIER in the Ford Fiesta WRC.

The overall leader from the previous stage, K. MEEKE, in the Citroen C3 WRC, fell back nine places to tenth, putting him +6:52.5 behind the overall leader.

S. OGIER, in the Ford Fiesta WRC, moved up into second place overall, up one position from third.

D. SORDO, in the Hyundai I20 Coupe WRC, moved to third place overall, up one place from fourth, +54.5 behind the overall rally leader and trailing second placed S. OGIER by +52.3.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:32:52.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:32:54.7</td>
      <td>+2.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:33:47.0</td>
      <td>+52.3</td>
      <td>+54.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:33:58.3</td>
      <td>+11.3</td>
      <td>+1:05.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:33:58.5</td>
      <td>+0.2</td>
      <td>+1:06.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:34:29.2</td>
      <td>+30.7</td>
      <td>+1:36.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>2:38:38.4</td>
      <td>+4:09.2</td>
      <td>+5:45.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>2:39:02.0</td>
      <td>+23.6</td>
      <td>+6:09.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>2:39:44.6</td>
      <td>+42.6</td>
      <td>+6:52.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:39:45.0</td>
      <td>+0.4</td>
      <td>+6:52.5</td>
    </tr>
  </tbody>
</table>

## SS7 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_222/overall_SS7.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>23</td>
      <td>37</td>
      <td>22</td>
      <td>21</td>
      <td>18</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>16</td>
      <td>15</td>
      <td>18</td>
      <td>12</td>
      <td>19</td>
      <td>21</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>44</td>
      <td>40</td>
      <td>38</td>
      <td>36</td>
      <td>35</td>
      <td>32</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>47</td>
      <td>41</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>35</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>74</td>
      <td>70</td>
      <td>67</td>
      <td>54</td>
      <td>51</td>
      <td>40</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>62</td>
      <td>68</td>
      <td>62</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_222/overall_td_diffFirst_SS7.png)

### Stage position chart SS7

*Showing stage position for each stage.*

![](images/2017_222/stageStage_SS7.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
      <td>7</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>8</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>56</td>
      <td>55</td>
      <td>10</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>65</td>
      <td>55</td>
      <td>54</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>46</td>
      <td>37</td>
      <td>39</td>
      <td>43</td>
      <td>46</td>
      <td>36</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>44</td>
      <td>36</td>
      <td>37</td>
      <td>47</td>
      <td>43</td>
      <td>37</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>25</td>
      <td>20</td>
      <td>21</td>
      <td>9</td>
      <td>62</td>
      <td>39</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>9</td>
      <td>40</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>67</td>
      <td>63</td>
      <td>41</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS7

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:32:52.5|        |          |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:32:54.7|2.2     |2.2       |          2|        2|       2
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:33:47.0|52.3    |54.5      |          3|        3|       3
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:33:58.3|11.3    |+1:05.8   |          4|        4|       4
    8|C. BREEN   |S. MARTIN   |CitroÃ«n Total Abu Dhabi WRT|M          |2:33:58.5|0.2     |+1:06.0   |          5|        5|       5
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:34:29.2|30.7    |+1:36.7   |          6|        6|       6
    7|K. MEEKE   |P. NAGLE    |CitroÃ«n Total Abu Dhabi WRT|M          |2:39:45.0|0.4     |+6:52.5   |         10|        7|       7
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:48:01.0|48.8    |+15:08.5  |         18|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |2:53:39.5|+3:46.1 |+20:47.0  |         21|        9|       9
   82|A. VAUTHIER|S. NOLLET   |Alain Vauthier             |           |3:02:42.2|23.7    |+29:49.7  |         32|       10|       1
   81|A. PEREIRA |R. TUTELAIRE|Armando Pereira            |           |3:03:56.1|16.0    |+31:03.6  |         35|       11|       2
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |3:07:54.8|+1:32.5 |+35:02.3  |         40|       12|      10
    9|S. LEFEBVRE|G. MOREAU   |CitroÃ«n Total Abu Dhabi WRT|M          |3:37:09.3|+2:17.1 |+1:04:16.8|         62|       13|      11

## SS8 Novella
 ### Distance: 17.27 km
*Rerun of stage SS6* 
First car 16:08

*A medium length stage with two splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    4|    8|C. BREEN   |CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
    5|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    6|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    7|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    8|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   31|   82|A. VAUTHIER|Alain Vauthier             |           |RC1       
   32|   81|A. PEREIRA |Armando Pereira            |           |RC1

## Stage Report 8:

In stage SS8, T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport continued to lead the rally with their third stage win, in a time of 11:17.7.

D. SORDO (ESP) and M. MARTI (ESP) for Hyundai Motorsport were placed second on the stage, +3.2 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>11:17.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>11:20.9</td>
      <td>+3.2</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>11:21.3</td>
      <td>+0.4</td>
      <td>+3.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>11:21.8</td>
      <td>+0.5</td>
      <td>+4.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>11:23.2</td>
      <td>+1.4</td>
      <td>+5.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>11:23.9</td>
      <td>+0.7</td>
      <td>+6.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>11:24.8</td>
      <td>+0.9</td>
      <td>+7.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>33</td>
      <td>J. KOPECKY</td>
      <td>11:48.2</td>
      <td>+23.4</td>
      <td>+30.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>11:50.5</td>
      <td>+2.3</td>
      <td>+32.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>11:53.5</td>
      <td>+3.0</td>
      <td>+35.8</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:44:10.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:44:49.1</td>
      <td>+38.9</td>
      <td>+38.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:45:07.9</td>
      <td>+18.8</td>
      <td>+57.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:45:19.6</td>
      <td>+11.7</td>
      <td>+1:09.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:45:22.4</td>
      <td>+2.8</td>
      <td>+1:12.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:45:54.0</td>
      <td>+31.6</td>
      <td>+1:43.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>2:50:31.9</td>
      <td>+4:37.9</td>
      <td>+6:21.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>2:51:39.8</td>
      <td>+1:07.9</td>
      <td>+7:29.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>2:51:57.0</td>
      <td>+17.2</td>
      <td>+7:46.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>44</td>
      <td>Y. ROSSEL</td>
      <td>2:54:06.7</td>
      <td>+2:09.7</td>
      <td>+9:56.5</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split time, rank position

![](images/2017_222/chart_stage_split_pos_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS8 - stage split delta time (seconds) to first on stage

![](images/2017_222/split_delta_firstonstage_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+0.2</td>
      <td>-1.5</td>
      <td>11:17.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+0.6</td>
      <td>+0.0</td>
      <td>11:20.9</td>
      <td>+3.2</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-0.7</td>
      <td>+1.6</td>
      <td>11:21.3</td>
      <td>+3.6</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>+0.5</td>
      <td>+1.3</td>
      <td>11:21.8</td>
      <td>+4.1</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>+1.9</td>
      <td>+4.3</td>
      <td>11:23.2</td>
      <td>+5.5</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-0.1</td>
      <td>+0.8</td>
      <td>11:23.9</td>
      <td>+6.2</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:41.1</td>
      <td>00:07:33.5</td>
      <td>11:24.8</td>
      <td>+7.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>15</th>
      <td>33</td>
      <td>J. KOPECKY</td>
      <td>+9.6</td>
      <td>+17.8</td>
      <td>11:48.2</td>
      <td>+30.5</td>
      <td>+23.4</td>
    </tr>
    <tr>
      <th>16</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>+12.9</td>
      <td>+21.8</td>
      <td>11:50.5</td>
      <td>+32.8</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>+10.5</td>
      <td>+20.9</td>
      <td>11:53.5</td>
      <td>+35.8</td>
      <td>+3.0</td>
    </tr>
  </tbody>
</table>

## SS8 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_222/chart_stage_sector_delta_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:41.300000</td>
      <td>00:03:50.700000</td>
      <td>00:03:45.700000</td>
      <td>00:11:17.700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:41.700000</td>
      <td>00:03:51.800000</td>
      <td>00:03:47.400000</td>
      <td>00:11:20.900000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:40.400000</td>
      <td>00:03:54.700000</td>
      <td>00:03:46.200000</td>
      <td>00:11:21.300000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:41.600000</td>
      <td>00:03:53.200000</td>
      <td>00:03:47</td>
      <td>00:11:21.800000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:03:43</td>
      <td>00:03:54.800000</td>
      <td>00:03:45.400000</td>
      <td>00:11:23.200000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:41</td>
      <td>00:03:53.300000</td>
      <td>00:03:49.600000</td>
      <td>00:11:23.900000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:41.100000</td>
      <td>00:03:52.400000</td>
      <td>00:03:51.300000</td>
      <td>00:11:24.800000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>33</td>
      <td>J. KOPECKY</td>
      <td>00:03:50.700000</td>
      <td>00:04:00.600000</td>
      <td>00:03:56.900000</td>
      <td>00:11:48.200000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>00:03:54</td>
      <td>00:04:01.300000</td>
      <td>00:03:55.200000</td>
      <td>00:11:50.500000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>00:03:51.600000</td>
      <td>00:04:02.800000</td>
      <td>00:03:59.100000</td>
      <td>00:11:53.500000</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_222/split_delta_rebase_SS8.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS8 - overall rally positions at end of stage

At the end of stage SS8, T. NEUVILLE retained overall lead of the rally for Hyundai Motorsport, +38.9 ahead.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

D. SORDO, for Hyundai Motorsport, retained third place overall, +57.7 behind the overall rally leader and trailing second placed S. OGIER by +18.8.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:44:10.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:44:49.1</td>
      <td>+38.9</td>
      <td>+38.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:45:07.9</td>
      <td>+18.8</td>
      <td>+57.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:45:19.6</td>
      <td>+11.7</td>
      <td>+1:09.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:45:22.4</td>
      <td>+2.8</td>
      <td>+1:12.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:45:54.0</td>
      <td>+31.6</td>
      <td>+1:43.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>2:50:31.9</td>
      <td>+4:37.9</td>
      <td>+6:21.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>2:51:39.8</td>
      <td>+1:07.9</td>
      <td>+7:29.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>2:51:57.0</td>
      <td>+17.2</td>
      <td>+7:46.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>44</td>
      <td>Y. ROSSEL</td>
      <td>2:54:06.7</td>
      <td>+2:09.7</td>
      <td>+9:56.5</td>
    </tr>
  </tbody>
</table>

## SS8 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_222/overall_SS8.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>23</td>
      <td>37</td>
      <td>22</td>
      <td>21</td>
      <td>18</td>
      <td>16</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>16</td>
      <td>15</td>
      <td>18</td>
      <td>12</td>
      <td>19</td>
      <td>21</td>
      <td>26</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>44</td>
      <td>40</td>
      <td>38</td>
      <td>36</td>
      <td>35</td>
      <td>32</td>
      <td>28</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>47</td>
      <td>41</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>35</td>
      <td>30</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>74</td>
      <td>70</td>
      <td>67</td>
      <td>54</td>
      <td>51</td>
      <td>40</td>
      <td>33</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>62</td>
      <td>68</td>
      <td>62</td>
      <td>57</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_222/overall_td_diffFirst_SS8.png)

### Stage position chart SS8

*Showing stage position for each stage.*

![](images/2017_222/stageStage_SS8.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>56</td>
      <td>55</td>
      <td>10</td>
      <td>5</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>65</td>
      <td>55</td>
      <td>54</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>5</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>8</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
      <td>7</td>
      <td>1</td>
      <td>11</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>44</td>
      <td>36</td>
      <td>37</td>
      <td>47</td>
      <td>43</td>
      <td>37</td>
      <td>33</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>46</td>
      <td>37</td>
      <td>39</td>
      <td>43</td>
      <td>46</td>
      <td>36</td>
      <td>39</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>25</td>
      <td>20</td>
      <td>21</td>
      <td>9</td>
      <td>62</td>
      <td>39</td>
      <td>53</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>67</td>
      <td>63</td>
      <td>41</td>
      <td>54</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>9</td>
      <td>40</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS8

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:44:10.2|        |          |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:44:49.1|38.9    |38.9      |          2|        2|       2
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:45:07.9|18.8    |57.7      |          3|        3|       3
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:45:19.6|11.7    |+1:09.4   |          4|        4|       4
    8|C. BREEN   |S. MARTIN   |CitroÃ«n Total Abu Dhabi WRT|M          |2:45:22.4|2.8     |+1:12.2   |          5|        5|       5
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:45:54.0|31.6    |+1:43.8   |          6|        6|       6
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:59:22.8|23.4    |+15:12.6  |         16|        7|       7
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |3:11:57.2|+2:22.6 |+27:47.0  |         26|        8|       8
   82|A. VAUTHIER|S. NOLLET   |Alain Vauthier             |           |3:16:38.7|+3:49.9 |+32:28.5  |         28|        9|       1
   81|A. PEREIRA |R. TUTELAIRE|Armando Pereira            |           |3:17:28.1|22.6    |+33:17.9  |         30|       10|       2
   11|J. HANNINEN|K. LINDSTROM|Toyota Gazoo Racing WRT    |M          |3:19:18.0|25.3    |+35:07.8  |         33|       11|       9
    9|S. LEFEBVRE|G. MOREAU   |CitroÃ«n Total Abu Dhabi WRT|M          |3:55:27.0|36.4    |+1:11:16.8|         57|       12|      10

# Day 3 (09/04/2017)
## Section 2 (Morning)

## SS9 Antisanti - Poggio di Nazza
 ### Distance: 53.78 km
 
First car 08:58

*A very long stage with five splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    2|    8|C. BREEN   |CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
    3|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    6|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    7|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    8|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
  NaN|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   10|    9|S. LEFEBVRE|CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
   35|   82|A. VAUTHIER|Alain Vauthier             |           |RC1       
   37|   81|A. PEREIRA |Armando Pereira            |           |RC1

## Stage Report 9:


There were 1 retirements amongst the RC1 (M) competitors  around stage 9:
- J. HANNINEN (FIN) / K. LINDSTROM (FIN) - MECHANICAL at SF9 in the *Toyota Gazoo Racing WRT* Toyota Yaris WRC



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>32:34.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>32:34.7</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>32:36.4</td>
      <td>+1.7</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>32:41.2</td>
      <td>+4.8</td>
      <td>+6.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>32:42.2</td>
      <td>+1.0</td>
      <td>+7.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>32:43.8</td>
      <td>+1.6</td>
      <td>+9.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>32:56.0</td>
      <td>+12.2</td>
      <td>+21.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>33:14.5</td>
      <td>+18.5</td>
      <td>+39.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>33:39.6</td>
      <td>+25.1</td>
      <td>+1:05.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>33:55.1</td>
      <td>+15.5</td>
      <td>+1:20.5</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:16:44.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>3:17:42.6</td>
      <td>+57.8</td>
      <td>+57.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>3:17:45.1</td>
      <td>+2.5</td>
      <td>+1:00.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>3:17:58.8</td>
      <td>+13.7</td>
      <td>+1:14.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:18:00.8</td>
      <td>+2.0</td>
      <td>+1:16.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:18:37.8</td>
      <td>+37.0</td>
      <td>+1:53.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>3:24:47.4</td>
      <td>+6:09.6</td>
      <td>+8:02.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>3:25:50.0</td>
      <td>+1:02.6</td>
      <td>+9:05.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>3:25:53.8</td>
      <td>+3.8</td>
      <td>+9:09.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>44</td>
      <td>Y. ROSSEL</td>
      <td>3:29:21.7</td>
      <td>+3:27.9</td>
      <td>+12:36.9</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split time, rank position

![](images/2017_222/chart_stage_split_pos_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS9 - stage split delta time (seconds) to first on stage

![](images/2017_222/split_delta_firstonstage_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>split_4</th>
      <th>split_5</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-1.0</td>
      <td>-4.3</td>
      <td>-6.7</td>
      <td>-7.4</td>
      <td>-3.0</td>
      <td>32:34.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-1.0</td>
      <td>-3.9</td>
      <td>-3.7</td>
      <td>-5.3</td>
      <td>-3.8</td>
      <td>32:34.7</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-3.9</td>
      <td>-7.3</td>
      <td>-8.5</td>
      <td>-8.6</td>
      <td>-5.8</td>
      <td>32:36.4</td>
      <td>+1.8</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.9</td>
      <td>-4.3</td>
      <td>-3.9</td>
      <td>-7.1</td>
      <td>-2.4</td>
      <td>32:41.2</td>
      <td>+6.6</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-0.6</td>
      <td>-3.6</td>
      <td>-4.6</td>
      <td>-5.2</td>
      <td>-0.4</td>
      <td>32:42.2</td>
      <td>+7.6</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:05:24.5</td>
      <td>00:09:49.5</td>
      <td>00:13:36.6</td>
      <td>00:18:11.9</td>
      <td>00:24:56.7</td>
      <td>32:43.8</td>
      <td>+9.2</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-2.1</td>
      <td>-3.5</td>
      <td>-4.3</td>
      <td>+0.0</td>
      <td>+13.0</td>
      <td>32:56.0</td>
      <td>+21.4</td>
      <td>+12.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>+3.1</td>
      <td>+6.6</td>
      <td>+8.4</td>
      <td>+12.9</td>
      <td>+28.9</td>
      <td>33:14.5</td>
      <td>+39.9</td>
      <td>+18.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>+4.6</td>
      <td>+8.4</td>
      <td>+10.7</td>
      <td>+16.8</td>
      <td>+38.7</td>
      <td>33:39.6</td>
      <td>+1:05.0</td>
      <td>+25.1</td>
    </tr>
    <tr>
      <th>16</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>+11.5</td>
      <td>+20.5</td>
      <td>+25.0</td>
      <td>+34.8</td>
      <td>+57.8</td>
      <td>33:55.1</td>
      <td>+1:20.5</td>
      <td>+15.5</td>
    </tr>
  </tbody>
</table>

## SS9 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_222/chart_stage_sector_delta_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>sector_5</th>
      <th>sector_6</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:05:23.500000</td>
      <td>00:04:21.700000</td>
      <td>00:03:44.700000</td>
      <td>00:04:34.600000</td>
      <td>00:06:49.200000</td>
      <td>00:07:40.900000</td>
      <td>00:32:34.600000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:05:23.500000</td>
      <td>00:04:22.100000</td>
      <td>00:03:47.300000</td>
      <td>00:04:33.700000</td>
      <td>00:06:46.300000</td>
      <td>00:07:41.800000</td>
      <td>00:32:34.700000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:05:20.600000</td>
      <td>00:04:21.600000</td>
      <td>00:03:45.900000</td>
      <td>00:04:35.200000</td>
      <td>00:06:47.600000</td>
      <td>00:07:45.500000</td>
      <td>00:32:36.400000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:05:21.600000</td>
      <td>00:04:23.600000</td>
      <td>00:03:47.500000</td>
      <td>00:04:32.100000</td>
      <td>00:06:49.500000</td>
      <td>00:07:46.900000</td>
      <td>00:32:41.200000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:05:23.900000</td>
      <td>00:04:22</td>
      <td>00:03:46.100000</td>
      <td>00:04:34.700000</td>
      <td>00:06:49.600000</td>
      <td>00:07:45.900000</td>
      <td>00:32:42.200000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:05:24.500000</td>
      <td>00:04:25</td>
      <td>00:03:47.100000</td>
      <td>00:04:35.300000</td>
      <td>00:06:44.800000</td>
      <td>00:07:47.100000</td>
      <td>00:32:43.800000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:05:22.400000</td>
      <td>00:04:23.600000</td>
      <td>00:03:46.300000</td>
      <td>00:04:39.600000</td>
      <td>00:06:57.800000</td>
      <td>00:07:46.300000</td>
      <td>00:32:56</td>
    </tr>
    <tr>
      <th>10</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:05:27.600000</td>
      <td>00:04:28.500000</td>
      <td>00:03:48.900000</td>
      <td>00:04:39.800000</td>
      <td>00:07:00.800000</td>
      <td>00:07:48.900000</td>
      <td>00:33:14.500000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:05:29.100000</td>
      <td>00:04:28.800000</td>
      <td>00:03:49.400000</td>
      <td>00:04:41.400000</td>
      <td>00:07:06.700000</td>
      <td>00:08:04.200000</td>
      <td>00:33:39.600000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>00:05:36</td>
      <td>00:04:34</td>
      <td>00:03:51.600000</td>
      <td>00:04:45.100000</td>
      <td>00:07:07.800000</td>
      <td>00:08:00.600000</td>
      <td>00:33:55.100000</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_222/split_delta_rebase_SS9.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS9 - overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:16:44.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>3:17:42.6</td>
      <td>+57.8</td>
      <td>+57.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>3:17:45.1</td>
      <td>+2.5</td>
      <td>+1:00.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>3:17:58.8</td>
      <td>+13.7</td>
      <td>+1:14.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:18:00.8</td>
      <td>+2.0</td>
      <td>+1:16.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:18:37.8</td>
      <td>+37.0</td>
      <td>+1:53.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>3:24:47.4</td>
      <td>+6:09.6</td>
      <td>+8:02.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>3:25:50.0</td>
      <td>+1:02.6</td>
      <td>+9:05.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>84</td>
      <td>S. SARRAZIN</td>
      <td>3:25:53.8</td>
      <td>+3.8</td>
      <td>+9:09.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>44</td>
      <td>Y. ROSSEL</td>
      <td>3:29:21.7</td>
      <td>+3:27.9</td>
      <td>+12:36.9</td>
    </tr>
  </tbody>
</table>

## SS9 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_222/overall_SS9.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>23</td>
      <td>37</td>
      <td>22</td>
      <td>21</td>
      <td>18</td>
      <td>16</td>
      <td>11</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>16</td>
      <td>15</td>
      <td>18</td>
      <td>12</td>
      <td>19</td>
      <td>21</td>
      <td>26</td>
      <td>22</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>44</td>
      <td>40</td>
      <td>38</td>
      <td>36</td>
      <td>35</td>
      <td>32</td>
      <td>28</td>
      <td>28</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>47</td>
      <td>41</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>35</td>
      <td>30</td>
      <td>31</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>62</td>
      <td>68</td>
      <td>62</td>
      <td>57</td>
      <td>51</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>74</td>
      <td>70</td>
      <td>67</td>
      <td>54</td>
      <td>51</td>
      <td>40</td>
      <td>33</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_222/overall_td_diffFirst_SS9.png)

### Stage position chart SS9

*Showing stage position for each stage.*

![](images/2017_222/stageStage_SS9.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>8</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>56</td>
      <td>55</td>
      <td>10</td>
      <td>5</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
      <td>7</td>
      <td>1</td>
      <td>11</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>67</td>
      <td>63</td>
      <td>41</td>
      <td>54</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>25</td>
      <td>20</td>
      <td>21</td>
      <td>9</td>
      <td>62</td>
      <td>39</td>
      <td>53</td>
      <td>9</td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>46</td>
      <td>37</td>
      <td>39</td>
      <td>43</td>
      <td>46</td>
      <td>36</td>
      <td>39</td>
      <td>33</td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>44</td>
      <td>36</td>
      <td>37</td>
      <td>47</td>
      <td>43</td>
      <td>37</td>
      <td>33</td>
      <td>35</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>9</td>
      <td>40</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>65</td>
      <td>55</td>
      <td>54</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>5</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS9

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |3:16:44.8|        |          |          1|        1|       1
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |3:17:42.6|57.8    |57.8      |          2|        2|       2
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |3:17:45.1|2.5     |+1:00.3   |          3|        3|       3
    8|C. BREEN   |S. MARTIN   |CitroÃ«n Total Abu Dhabi WRT|M          |3:17:58.8|13.7    |+1:14.0   |          4|        4|       4
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |3:18:00.8|2.0     |+1:16.0   |          5|        5|       5
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |3:18:37.8|37.0    |+1:53.0   |          6|        6|       6
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |3:32:05.0|+2:43.3 |+15:20.2  |         11|        7|       7
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |3:45:36.8|26.2    |+28:52.0  |         22|        8|       8
   82|A. VAUTHIER|S. NOLLET   |Alain Vauthier             |           |3:55:45.5|18.8    |+39:00.7  |         28|        9|       1
   81|A. PEREIRA |R. TUTELAIRE|Armando Pereira            |           |3:57:02.2|21.0    |+40:17.4  |         31|       10|       2
    9|S. LEFEBVRE|G. MOREAU   |CitroÃ«n Total Abu Dhabi WRT|M          |4:28:41.5|+2:24.1 |+1:11:56.7|         51|       11|       9

## SS10 Porto-Vecchio - Palombaggia (Power Stage)
 ### Distance: 10.42 km
 
First car 12:18

*A relatively short stage with one splits*

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    3|    9|S. LEFEBVRE|CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
    4|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    5|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    7|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    8|    8|C. BREEN   |CitroÃ«n Total Abu Dhabi WRT|M          |RC1       
    9|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   10|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
   11|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   33|   82|A. VAUTHIER|Alain Vauthier             |           |RC1       
   35|   81|A. PEREIRA |Armando Pereira            |           |RC1

## Stage Report 10:



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>6:02.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>6:03.0</td>
      <td>+0.8</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>6:04.3</td>
      <td>+1.3</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>6:06.8</td>
      <td>+2.5</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>6:08.6</td>
      <td>+1.8</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>6:08.7</td>
      <td>+0.1</td>
      <td>+6.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>6:08.9</td>
      <td>+0.2</td>
      <td>+6.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>6:09.2</td>
      <td>+0.3</td>
      <td>+7.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>6:16.7</td>
      <td>+7.5</td>
      <td>+14.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>6:20.4</td>
      <td>+3.7</td>
      <td>+18.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:22:53.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>3:23:48.1</td>
      <td>+54.7</td>
      <td>+54.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>3:23:49.4</td>
      <td>+1.3</td>
      <td>+56.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:24:03.0</td>
      <td>+13.6</td>
      <td>+1:09.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>3:24:03.1</td>
      <td>+0.1</td>
      <td>+1:09.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:25:09.7</td>
      <td>+1:06.6</td>
      <td>+2:16.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>3:31:04.1</td>
      <td>+5:54.4</td>
      <td>+8:10.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>3:32:10.4</td>
      <td>+1:06.3</td>
      <td>+9:17.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>3:38:13.7</td>
      <td>+6:03.3</td>
      <td>+15:20.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>3:51:45.7</td>
      <td>+13:32.0</td>
      <td>+28:52.3</td>
    </tr>
  </tbody>
</table>

## SS10 - stage split time, rank position

![](images/2017_222/chart_stage_split_pos_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS10 - stage split delta time (seconds) to first on stage

![](images/2017_222/split_delta_firstonstage_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-18.1</td>
      <td>6:02.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-17.7</td>
      <td>6:03.0</td>
      <td>+0.8</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-16.5</td>
      <td>6:04.3</td>
      <td>+2.1</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-14.1</td>
      <td>6:06.8</td>
      <td>+4.6</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-12.1</td>
      <td>6:08.6</td>
      <td>+6.4</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-12.9</td>
      <td>6:08.7</td>
      <td>+6.5</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-12.7</td>
      <td>6:08.9</td>
      <td>+6.7</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>-11.8</td>
      <td>6:09.2</td>
      <td>+7.0</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>-4.6</td>
      <td>6:16.7</td>
      <td>+14.5</td>
      <td>+7.5</td>
    </tr>
  </tbody>
</table>

## SS10 - stage sector delta time (seconds) to fastest stage sector time

J. LATVALA drove an __ultimate stage__, recording the fastest time *between* each timing point on the stage.

![](images/2017_222/chart_stage_sector_delta_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:05:33.100000</td>
      <td>00:00:29.100000</td>
      <td>00:06:02.200000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:05:33.500000</td>
      <td>00:00:29.500000</td>
      <td>00:06:03</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:05:34.700000</td>
      <td>00:00:29.600000</td>
      <td>00:06:04.300000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:05:37.100000</td>
      <td>00:00:29.700000</td>
      <td>00:06:06.800000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:05:39.100000</td>
      <td>00:00:29.500000</td>
      <td>00:06:08.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:05:38.300000</td>
      <td>00:00:30.400000</td>
      <td>00:06:08.700000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:05:38.500000</td>
      <td>00:00:30.400000</td>
      <td>00:06:08.900000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>S. LEFEBVRE</td>
      <td>00:05:39.400000</td>
      <td>00:00:29.800000</td>
      <td>00:06:09.200000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>00:05:46.600000</td>
      <td>00:00:30.100000</td>
      <td>00:06:16.700000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>33</td>
      <td>J. KOPECKY</td>
      <td>00:05:48.400000</td>
      <td>00:00:30.600000</td>
      <td>00:06:19</td>
    </tr>
  </tbody>
</table>

## SS10 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_222/split_delta_rebase_SS10.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS10 - overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:22:53.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>3:23:48.1</td>
      <td>+54.7</td>
      <td>+54.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>3:23:49.4</td>
      <td>+1.3</td>
      <td>+56.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:24:03.0</td>
      <td>+13.6</td>
      <td>+1:09.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>3:24:03.1</td>
      <td>+0.1</td>
      <td>+1:09.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:25:09.7</td>
      <td>+1:06.6</td>
      <td>+2:16.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>32</td>
      <td>A. MIKKELSEN</td>
      <td>3:31:04.1</td>
      <td>+5:54.4</td>
      <td>+8:10.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>34</td>
      <td>T. SUNINEN</td>
      <td>3:32:10.4</td>
      <td>+1:06.3</td>
      <td>+9:17.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>3:38:13.7</td>
      <td>+6:03.3</td>
      <td>+15:20.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>3:51:45.7</td>
      <td>+13:32.0</td>
      <td>+28:52.3</td>
    </tr>
  </tbody>
</table>

## SS10 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_222/overall_SS10.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>23</td>
      <td>37</td>
      <td>22</td>
      <td>21</td>
      <td>18</td>
      <td>16</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>16</td>
      <td>15</td>
      <td>18</td>
      <td>12</td>
      <td>19</td>
      <td>21</td>
      <td>26</td>
      <td>22</td>
      <td>10</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>62</td>
      <td>68</td>
      <td>62</td>
      <td>57</td>
      <td>51</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>10</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>44</td>
      <td>40</td>
      <td>38</td>
      <td>36</td>
      <td>35</td>
      <td>32</td>
      <td>28</td>
      <td>28</td>
      <td></td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>47</td>
      <td>41</td>
      <td>39</td>
      <td>38</td>
      <td>37</td>
      <td>35</td>
      <td>30</td>
      <td>31</td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>74</td>
      <td>70</td>
      <td>67</td>
      <td>54</td>
      <td>51</td>
      <td>40</td>
      <td>33</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_222/overall_td_diffFirst_SS10.png)

### Stage position chart SS10

*Showing stage position for each stage.*

![](images/2017_222/stageStage_SS10.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>6</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>4</td>
      <td>7</td>
      <td>1</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>6</td>
      <td>8</td>
      <td>5</td>
      <td>6</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>4</td>
      <td>56</td>
      <td>55</td>
      <td>10</td>
      <td>5</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>25</td>
      <td>20</td>
      <td>21</td>
      <td>9</td>
      <td>62</td>
      <td>39</td>
      <td>53</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <th>S. LEFEBVRE</th>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>67</td>
      <td>63</td>
      <td>41</td>
      <td>54</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>9</td>
      <td>40</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>82</th>
      <th>A. VAUTHIER</th>
      <td>43</td>
      <td>46</td>
      <td>37</td>
      <td>39</td>
      <td>43</td>
      <td>46</td>
      <td>36</td>
      <td>39</td>
      <td>33</td>
      <td></td>
    </tr>
    <tr>
      <th>81</th>
      <th>A. PEREIRA</th>
      <td>49</td>
      <td>44</td>
      <td>36</td>
      <td>37</td>
      <td>47</td>
      <td>43</td>
      <td>37</td>
      <td>33</td>
      <td>35</td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>77</td>
      <td>65</td>
      <td>55</td>
      <td>54</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
      <td>5</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS10

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |3:22:53.4|        |          |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |3:23:48.1|54.7    |54.7      |          2|        2|       2
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |3:23:49.4|1.3     |56.0      |          3|        3|       3
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |3:24:03.0|13.6    |+1:09.6   |          4|        4|       4
    8|C. BREEN   |S. MARTIN   |CitroÃ«n Total Abu Dhabi WRT|M          |3:24:03.1|0.1     |+1:09.7   |          5|        5|       5
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |3:25:09.7|+1:06.6 |+2:16.3   |          6|        6|       6
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |3:38:13.7|+6:03.3 |+15:20.3  |          9|        7|       7
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |3:51:45.7|+13:32.0|+28:52.3  |         10|        8|       8
    9|S. LEFEBVRE|G. MOREAU   |CitroÃ«n Total Abu Dhabi WRT|M          |4:34:50.7|+43:05.0|+1:11:57.3|         11|        9|       9