# WRC Rally - Mexico, 2017

# Day 2 (09/03/2017)
## Section 1 (Evening)

## SS0 CDMX Street Stage 1 Presented by Michelin
### Distance: 1.57 km
 
First car 18:05

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
   13|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
   14|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1       
   15|    7|K. MEEKE   |Citroen Total Abu Dhabi WRT|M          |RC1       
   16|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   17|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   18|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   19|    8|S. LEFEBVRE|Citroen Total Abu Dhabi WRT|M          |RC1       
   20|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
   21|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
   22|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   23|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   24|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1

## Stage Report 0:

In stage SS0, J. HANNINEN (FIN) and K. LINDSTRÖM (FIN) for Toyota Gazoo Racing WRT took the stage, and the lead of the rally, with a time of 1:51.1, +0.3 ahead of second on stage K. MEEKE (GBR) and P. NAGLE (IRL) (Citroën Total Abu Dhabi WRT).



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:51.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:51.4</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:52.7</td>
      <td>+1.3</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:53.5</td>
      <td>+0.8</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:53.9</td>
      <td>+0.4</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54.5</td>
      <td>+0.6</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:54.7</td>
      <td>+0.2</td>
      <td>+3.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55.9</td>
      <td>+1.2</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:56.2</td>
      <td>+0.3</td>
      <td>+5.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:56.4</td>
      <td>+0.2</td>
      <td>+5.3</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:51.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:51.4</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:52.7</td>
      <td>+1.3</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:53.5</td>
      <td>+0.8</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:53.9</td>
      <td>+0.4</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:54.7</td>
      <td>+0.8</td>
      <td>+3.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55.9</td>
      <td>+1.2</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:56.2</td>
      <td>+0.3</td>
      <td>+5.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:56.4</td>
      <td>+0.2</td>
      <td>+5.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:56.9</td>
      <td>+0.5</td>
      <td>+5.8</td>
    </tr>
  </tbody>
</table>

## SS0 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS0.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS0 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS0.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>16</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:51.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>15</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:51.4</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>17</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:52.7</td>
      <td>+1.6</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>12</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:53.5</td>
      <td>+2.4</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:53.9</td>
      <td>+2.8</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>20</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54.5</td>
      <td>+3.4</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>18</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:54.7</td>
      <td>+3.6</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>24</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55.9</td>
      <td>+4.8</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>14</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:56.2</td>
      <td>+5.1</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:56.4</td>
      <td>+5.3</td>
      <td>+0.2</td>
    </tr>
  </tbody>
</table>

## SS0 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_220/chart_stage_sector_delta_SS0.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>16</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:51.100000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:51.400000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:52.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>00:01:53.500000</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:53.900000</td>
    </tr>
    <tr>
      <th>20</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:54.500000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:54.700000</td>
    </tr>
    <tr>
      <th>24</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:55.900000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:01:56.200000</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:56.400000</td>
    </tr>
  </tbody>
</table>

## SS0 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS0.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS0 - overall rally positions at end of stage

On the first completed stage, SS0, J. HANNINEN took the stage in the Toyota Yaris WRC, and along with it the lead of the rally, going +0.3 ahead overall.

K. MEEKE, for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC, took second place overall.

H. PADDON, for Hyundai Motorsport, took third place overall, +1.6 behind the overall rally leader and trailing K. MEEKE in second by +1.3.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:51.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:51.4</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:52.7</td>
      <td>+1.3</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:53.5</td>
      <td>+0.8</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:53.9</td>
      <td>+0.4</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:54.7</td>
      <td>+0.8</td>
      <td>+3.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55.9</td>
      <td>+1.2</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:56.2</td>
      <td>+0.3</td>
      <td>+5.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:56.4</td>
      <td>+0.2</td>
      <td>+5.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:56.9</td>
      <td>+0.5</td>
      <td>+5.8</td>
    </tr>
  </tbody>
</table>

## SS0 - Overall rank evolution

## Full Overall Results at end of SS0

carNo|driverName |coDriverName|           team            |eligibility| time |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|------|--------|---------|----------:|--------:|-------:
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:51.1|        |         |          1|        1|       1
    7|K. MEEKE   |P. NAGLE    |Citroen Total Abu Dhabi WRT|M          |1:51.4|0.3     |0.3      |          2|        2|       2
    4|H. PADDON  |J. KENARD   |Hyundai Motorsport         |M          |1:52.7|1.3     |1.6      |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:53.9|0.4     |2.8      |          5|        4|       4
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:54.7|0.8     |3.6      |          6|        5|       5
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:55.9|1.2     |4.8      |          7|        6|       6
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |1:56.2|0.3     |5.1      |          8|        7|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:56.4|0.2     |5.3      |          9|        8|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:56.9|0.5     |5.8      |         10|        9|       8
    8|S. LEFEBVRE|G. MOREAU   |Citroen Total Abu Dhabi WRT|M          |1:57.9|1.0     |6.8      |         11|       10|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |2:08.6|6.8     |17.5     |         15|       11|       1
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |6:54.5|+3:34.5 |+5:03.4  |         24|       12|      10

## SS1 CDMX Street Stage 2 Presented by Michelin
### Distance: 1.57 km
 
First car 18:23

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
   13|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
   14|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1       
   15|    7|K. MEEKE   |Citroen Total Abu Dhabi WRT|M          |RC1       
   16|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   17|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   18|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   19|    8|S. LEFEBVRE|Citroen Total Abu Dhabi WRT|M          |RC1       
   20|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
   21|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
   22|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   23|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   24|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1

## Stage Report 1:

On stage SS1, and with their first stage win, M-Sport World Rally Team's S. OGIER (FRA) and J. INGRASSIA (FRA) took the stage by +0.1 from M-Sport World Rally Team's O. TANAK (EST) and M. JARVEOJA (EST), in a time of 1:44.8.

J. HANNINEN (FIN) and K. LINDSTRÖM (FIN) (Toyota Gazoo Racing WRT), fifth on stage with a time of 1:46.1, and +1.3 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:44.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:44.9</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45.1</td>
      <td>+0.2</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:45.2</td>
      <td>+0.1</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:46.1</td>
      <td>+0.9</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:46.3</td>
      <td>+0.2</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:47.4</td>
      <td>+1.1</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:47.5</td>
      <td>+0.1</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:47.7</td>
      <td>+0.2</td>
      <td>+2.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:50.4</td>
      <td>+2.7</td>
      <td>+5.6</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>3:37.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>3:38.8</td>
      <td>+1.6</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>3:38.8</td>
      <td>+0.0</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:39.8</td>
      <td>+1.0</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:40.4</td>
      <td>+0.6</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>3:41.2</td>
      <td>+0.8</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>3:43.2</td>
      <td>+2.0</td>
      <td>+6.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:43.4</td>
      <td>+0.2</td>
      <td>+6.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>3:43.9</td>
      <td>+0.5</td>
      <td>+6.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>3:47.5</td>
      <td>+3.6</td>
      <td>+10.3</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS1 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>23</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:44.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>22</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:44.9</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:45.1</td>
      <td>+0.3</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>20</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:45.2</td>
      <td>+0.4</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>16</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:46.1</td>
      <td>+1.3</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>21</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:46.3</td>
      <td>+1.5</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>15</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:47.4</td>
      <td>+2.6</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:47.5</td>
      <td>+2.7</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:47.7</td>
      <td>+2.9</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>12</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:50.4</td>
      <td>+5.6</td>
      <td>+2.7</td>
    </tr>
  </tbody>
</table>

## SS1 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_220/chart_stage_sector_delta_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>23</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:44.800000</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:44.900000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:45.100000</td>
    </tr>
    <tr>
      <th>20</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:45.200000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:46.100000</td>
    </tr>
    <tr>
      <th>21</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:46.300000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:47.400000</td>
    </tr>
    <tr>
      <th>24</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:47.500000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:47.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>00:01:50.400000</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS1.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS1 - overall rally positions at end of stage

After stage SS1, J. HANNINEN remained in overall lead of the rally for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, with a gap to second of +1.6.

O. TANAK, for M-Sport World Rally Team, gained second place overall, improving three places from fifth.

Previous second place overall, K. MEEKE in the Citroen C3 WRC, fell back one positions to third, +1.6 behind the leader.

K. MEEKE, for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC, took third place overall, down minus one positions from second, +1.6 behind the overall rally leader and trailing O. TANAK in second by +0.0.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>3:37.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>3:38.8</td>
      <td>+1.6</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>3:38.8</td>
      <td>+0.0</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:39.8</td>
      <td>+1.0</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:40.4</td>
      <td>+0.6</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>3:41.2</td>
      <td>+0.8</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>3:43.2</td>
      <td>+2.0</td>
      <td>+6.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:43.4</td>
      <td>+0.2</td>
      <td>+6.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>3:43.9</td>
      <td>+0.5</td>
      <td>+6.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>3:47.5</td>
      <td>+3.6</td>
      <td>+10.3</td>
    </tr>
  </tbody>
</table>

## SS1 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS1.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS1.png)

### Stage position chart SS1

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS1.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS1

carNo|driverName |coDriverName|           team            |eligibility| time |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|------|--------|---------|----------:|--------:|-------:
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |3:37.2|        |         |          1|        1|       1
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |3:38.8|1.6     |1.6      |          2|        2|       2
    7|K. MEEKE   |P. NAGLE    |Citroen Total Abu Dhabi WRT|M          |3:38.8|0.0     |1.6      |          3|        3|       3
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |3:39.8|1.0     |2.6      |          4|        4|       4
    4|H. PADDON  |J. KENARD   |Hyundai Motorsport         |M          |3:40.4|0.6     |3.2      |          5|        5|       5
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |3:41.2|0.8     |4.0      |          6|        6|       6
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |3:43.2|2.0     |6.0      |          7|        7|       7
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |3:43.4|0.2     |6.2      |          8|        8|       8
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |3:47.5|3.6     |10.3     |         10|        9|       1
    8|S. LEFEBVRE|G. MOREAU   |Citroen Total Abu Dhabi WRT|M          |3:56.6|0.0     |19.4     |         12|       10|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |4:04.5|5.3     |27.3     |         15|       11|       1
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |8:39.7|+2:48.2 |+5:02.5  |         24|       12|      10

# Day 3 (10/03/2017)
## Section 2 (Morning/Afternoon/Evening)

## SS2 El Chocolate
### Distance: 54.90 km
 
First car 11:28

**STAGE CANCELLED**

## SS3 Las Minas
### Distance: 19.68 km
 
First car 12:36

**STAGE CANCELLED**

## SS4 El Chocolate
### Distance: 54.90 km
*Rerun of stage SS2* 
First car 16:14

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    2|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    6|    8|S. LEFEBVRE|Citroen Total Abu Dhabi WRT|M          |RC1       
    7|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    8|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    9|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   10|    7|K. MEEKE   |Citroen Total Abu Dhabi WRT|M          |RC1       
   11|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1       
   12|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 4:

In stage SS4, K. MEEKE (GBR) and P. NAGLE (IRL) for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC took the stage, and their first stage win, in 39:15.6, +7.3 ahead of S. OGIER (FRA) and J. INGRASSIA (FRA) for M-Sport World Rally Team in the Ford Fiesta WRC.

As well as taking the stage, his +1:11.6 gain over J. HANNINEN (FIN) and K. LINDSTRÖM (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, the rally leader going into the stage, meant K. MEEKE (GBR) and P. NAGLE (IRL) for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC also took overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>39:15.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>39:22.9</td>
      <td>+7.3</td>
      <td>+7.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>39:33.5</td>
      <td>+10.6</td>
      <td>+17.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>39:35.7</td>
      <td>+2.2</td>
      <td>+20.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>39:47.2</td>
      <td>+11.5</td>
      <td>+31.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>40:27.2</td>
      <td>+40.0</td>
      <td>+1:11.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>40:34.4</td>
      <td>+7.2</td>
      <td>+1:18.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>40:35.5</td>
      <td>+1.1</td>
      <td>+1:19.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>40:48.2</td>
      <td>+12.7</td>
      <td>+1:32.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>40:51.6</td>
      <td>+3.4</td>
      <td>+1:36.0</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>42:54.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>43:04.1</td>
      <td>+9.7</td>
      <td>+9.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>43:13.9</td>
      <td>+9.8</td>
      <td>+19.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>43:18.9</td>
      <td>+5.0</td>
      <td>+24.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>43:27.0</td>
      <td>+8.1</td>
      <td>+32.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>44:04.4</td>
      <td>+37.4</td>
      <td>+1:10.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>44:13.2</td>
      <td>+8.8</td>
      <td>+1:18.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>44:31.6</td>
      <td>+18.4</td>
      <td>+1:37.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>44:32.1</td>
      <td>+0.5</td>
      <td>+1:37.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>45:22.9</td>
      <td>+50.8</td>
      <td>+2:28.5</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS4 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>split_4</th>
      <th>split_5</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-20.5</td>
      <td>-49.4</td>
      <td>-1:00.2</td>
      <td>-1:11.5</td>
      <td>-1:25.0</td>
      <td>39:15.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-11.8</td>
      <td>-40.7</td>
      <td>-46.8</td>
      <td>-1:05.1</td>
      <td>-1:20.1</td>
      <td>39:22.9</td>
      <td>+7.3</td>
      <td>+7.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-14.2</td>
      <td>-35.9</td>
      <td>-43.8</td>
      <td>-54.6</td>
      <td>-1:07.3</td>
      <td>39:33.5</td>
      <td>+17.9</td>
      <td>+10.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-13.4</td>
      <td>-38.3</td>
      <td>-48.1</td>
      <td>-58.0</td>
      <td>-1:08.5</td>
      <td>39:35.7</td>
      <td>+20.1</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-9.4</td>
      <td>-30.7</td>
      <td>-36.9</td>
      <td>-47.6</td>
      <td>-57.9</td>
      <td>39:47.2</td>
      <td>+31.6</td>
      <td>+11.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+9.3</td>
      <td>+0.1</td>
      <td>-4.1</td>
      <td>-8.9</td>
      <td>-16.0</td>
      <td>40:27.2</td>
      <td>+1:11.6</td>
      <td>+40.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-4.7</td>
      <td>-13.1</td>
      <td>-14.4</td>
      <td>-15.9</td>
      <td>-15.6</td>
      <td>40:34.4</td>
      <td>+1:18.8</td>
      <td>+7.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>-6.4</td>
      <td>-16.7</td>
      <td>-17.8</td>
      <td>-22.3</td>
      <td>-20.5</td>
      <td>40:35.5</td>
      <td>+1:19.9</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:09:37.1</td>
      <td>00:20:53.8</td>
      <td>00:25:00.4</td>
      <td>00:31:28.0</td>
      <td>00:36:15.4</td>
      <td>40:48.2</td>
      <td>+1:32.6</td>
      <td>+12.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-3.4</td>
      <td>+24.9</td>
      <td>+24.0</td>
      <td>+17.6</td>
      <td>+10.4</td>
      <td>40:51.6</td>
      <td>+1:36.0</td>
      <td>+3.4</td>
    </tr>
  </tbody>
</table>

## SS4 - stage sector delta time (seconds) to fastest stage sector time

Despite a poor time in the first part of stage 4, J. HÄNNINEN made up time over the rest of the stage and finished strongly.

![](images/2017_220/chart_stage_sector_delta_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>sector_5</th>
      <th>sector_6</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:09:16.600000</td>
      <td>00:10:47.800000</td>
      <td>00:03:55.800000</td>
      <td>00:06:16.300000</td>
      <td>00:04:33.900000</td>
      <td>00:04:25.200000</td>
      <td>00:39:15.600000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:09:25.300000</td>
      <td>00:10:47.800000</td>
      <td>00:04:00.500000</td>
      <td>00:06:09.300000</td>
      <td>00:04:32.400000</td>
      <td>00:04:27.600000</td>
      <td>00:39:22.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:09:22.900000</td>
      <td>00:10:55</td>
      <td>00:03:58.700000</td>
      <td>00:06:16.800000</td>
      <td>00:04:34.700000</td>
      <td>00:04:25.400000</td>
      <td>00:39:33.500000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:09:23.700000</td>
      <td>00:10:51.800000</td>
      <td>00:03:56.800000</td>
      <td>00:06:17.700000</td>
      <td>00:04:36.900000</td>
      <td>00:04:28.800000</td>
      <td>00:39:35.700000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:09:27.700000</td>
      <td>00:10:55.400000</td>
      <td>00:04:00.400000</td>
      <td>00:06:16.900000</td>
      <td>00:04:37.100000</td>
      <td>00:04:29.700000</td>
      <td>00:39:47.200000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:09:46.400000</td>
      <td>00:11:07.500000</td>
      <td>00:04:02.400000</td>
      <td>00:06:22.800000</td>
      <td>00:04:40.300000</td>
      <td>00:04:27.800000</td>
      <td>00:40:27.200000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:09:32.400000</td>
      <td>00:11:08.300000</td>
      <td>00:04:05.300000</td>
      <td>00:06:26.100000</td>
      <td>00:04:47.700000</td>
      <td>00:04:34.600000</td>
      <td>00:40:34.400000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>00:09:30.700000</td>
      <td>00:11:06.400000</td>
      <td>00:04:05.500000</td>
      <td>00:06:23.100000</td>
      <td>00:04:49.200000</td>
      <td>00:04:40.600000</td>
      <td>00:40:35.500000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:09:37.100000</td>
      <td>00:11:16.700000</td>
      <td>00:04:06.600000</td>
      <td>00:06:27.600000</td>
      <td>00:04:47.400000</td>
      <td>00:04:32.800000</td>
      <td>00:40:48.200000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:09:33.700000</td>
      <td>00:11:45</td>
      <td>00:04:05.700000</td>
      <td>00:06:21.200000</td>
      <td>00:04:40.200000</td>
      <td>00:04:25.800000</td>
      <td>00:40:51.600000</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS4.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS4 - overall rally positions at end of stage

Following a poor stage SS4 for previous overall leader J. HANNINEN, K. MEEKE for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC gained two positions, from third at end of the previous stage, to take overall lead of the rally, with a gap of +9.7 from S. OGIER for M-Sport World Rally Team in the Ford Fiesta WRC.

The overall leader from the previous stage, J. HANNINEN, for Toyota Gazoo Racing WRT, was pushed back five places to sixth, putting him +1:10.0 behind the overall leader.

S. OGIER, in the Ford Fiesta WRC, took second place overall, up four places from sixth.

Previous second place overall, O. TANAK for M-Sport World Rally Team in the Ford Fiesta WRC, fell back five positions to seventh, +1:18.8 behind the leader.

H. PADDON, for Hyundai Motorsport in the Hyundai I20 Coupe WRC, took third place overall, up two positions from fifth, +19.5 behind the overall rally leader and +9.8 behind second placed S. OGIER.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>42:54.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>43:04.1</td>
      <td>+9.7</td>
      <td>+9.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>43:13.9</td>
      <td>+9.8</td>
      <td>+19.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>43:18.9</td>
      <td>+5.0</td>
      <td>+24.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>43:27.0</td>
      <td>+8.1</td>
      <td>+32.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>44:04.4</td>
      <td>+37.4</td>
      <td>+1:10.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>44:13.2</td>
      <td>+8.8</td>
      <td>+1:18.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>44:31.6</td>
      <td>+18.4</td>
      <td>+1:37.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>44:32.1</td>
      <td>+0.5</td>
      <td>+1:37.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>45:22.9</td>
      <td>+50.8</td>
      <td>+2:28.5</td>
    </tr>
  </tbody>
</table>

## SS4 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS4.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS4.png)

### Stage position chart SS4

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS4.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS4

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroen Total Abu Dhabi WRT|M          |42:54.4  |        |         |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |43:04.1  |9.7     |9.7      |          2|        2|       2
    4|H. PADDON  |J. KENARD   |Hyundai Motorsport         |M          |43:13.9  |9.8     |19.5     |          3|        3|       3
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |43:18.9  |5.0     |24.5     |          4|        4|       4
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |43:27.0  |8.1     |32.6     |          5|        5|       5
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |44:04.4  |37.4    |+1:10.0  |          6|        6|       6
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |44:13.2  |8.8     |+1:18.8  |          7|        7|       7
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |44:31.6  |18.4    |+1:37.2  |          8|        8|       8
    8|S. LEFEBVRE|G. MOREAU   |Citroen Total Abu Dhabi WRT|M          |44:32.1  |0.5     |+1:37.7  |          9|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |47:11.6  |+1:08.9 |+4:17.2  |         13|       10|       1
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |49:31.3  |+2:19.7 |+6:36.9  |         14|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |1:05:15.8|+6:21.8 |+22:21.4 |         21|       12|       1

## SS5 Las Minas
### Distance: 19.68 km
*Rerun of stage SS3* 
First car 17:22

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    2|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    6|    8|S. LEFEBVRE|Citroen Total Abu Dhabi WRT|M          |RC1       
    7|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    8|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    9|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   10|    7|K. MEEKE   |Citroen Total Abu Dhabi WRT|M          |RC1       
   11|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
   12|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1

## Stage Report 5:

On stage SS5, and with their first stage win, T. NEUVILLE (BEL) and N. GILSOUL (BEL) in the Hyundai I20 Coupe WRC took the stage by +5.7 from M-Sport World Rally Team's E. EVANS (GBR) and D. BARRITT (GBR), in a time of 14:12.6.

K. MEEKE (GBR) and co-driver P. NAGLE (IRL) for Citroën Total Abu Dhabi WRT, fourth on stage with a time of 14:20.8, and +8.2 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>14:12.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>14:18.3</td>
      <td>+5.7</td>
      <td>+5.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>14:19.1</td>
      <td>+0.8</td>
      <td>+6.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>14:20.8</td>
      <td>+1.7</td>
      <td>+8.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>14:21.6</td>
      <td>+0.8</td>
      <td>+9.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>14:26.8</td>
      <td>+5.2</td>
      <td>+14.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>14:31.4</td>
      <td>+4.6</td>
      <td>+18.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>14:33.9</td>
      <td>+2.5</td>
      <td>+21.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>14:35.8</td>
      <td>+1.9</td>
      <td>+23.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>14:56.8</td>
      <td>+21.0</td>
      <td>+44.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>57:15.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>57:30.9</td>
      <td>+15.7</td>
      <td>+15.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>57:35.5</td>
      <td>+4.6</td>
      <td>+20.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>57:38.0</td>
      <td>+2.5</td>
      <td>+22.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>57:39.6</td>
      <td>+1.6</td>
      <td>+24.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>58:40.2</td>
      <td>+1:00.6</td>
      <td>+1:25.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>58:44.6</td>
      <td>+4.4</td>
      <td>+1:29.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>59:06.0</td>
      <td>+21.4</td>
      <td>+1:50.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>59:32.9</td>
      <td>+26.9</td>
      <td>+2:17.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:00:23.7</td>
      <td>+50.8</td>
      <td>+3:08.5</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS5 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-16.4</td>
      <td>-36.3</td>
      <td>14:12.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-16.8</td>
      <td>-33.8</td>
      <td>14:18.3</td>
      <td>+5.7</td>
      <td>+5.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-15.4</td>
      <td>-32.7</td>
      <td>14:19.1</td>
      <td>+6.5</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-12.1</td>
      <td>-29.2</td>
      <td>14:20.8</td>
      <td>+8.2</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-10.7</td>
      <td>-27.5</td>
      <td>14:21.6</td>
      <td>+9.0</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-10.1</td>
      <td>-26.0</td>
      <td>14:26.8</td>
      <td>+14.2</td>
      <td>+5.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-9.8</td>
      <td>-21.1</td>
      <td>14:31.4</td>
      <td>+18.8</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>-7.5</td>
      <td>-20.7</td>
      <td>14:33.9</td>
      <td>+21.3</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-7.0</td>
      <td>-15.9</td>
      <td>14:35.8</td>
      <td>+23.2</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>13</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>+5.9</td>
      <td>+0.5</td>
      <td>14:56.8</td>
      <td>+44.2</td>
      <td>+21.0</td>
    </tr>
  </tbody>
</table>

## SS5 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_220/chart_stage_sector_delta_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:05:43.400000</td>
      <td>00:05:30.200000</td>
      <td>00:02:59</td>
      <td>00:14:12.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:05:43</td>
      <td>00:05:33.100000</td>
      <td>00:03:02.200000</td>
      <td>00:14:18.300000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:05:44.400000</td>
      <td>00:05:32.800000</td>
      <td>00:03:01.900000</td>
      <td>00:14:19.100000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:05:47.700000</td>
      <td>00:05:33</td>
      <td>00:03:00.100000</td>
      <td>00:14:20.800000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:05:49.100000</td>
      <td>00:05:33.300000</td>
      <td>00:02:59.200000</td>
      <td>00:14:21.600000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:05:49.700000</td>
      <td>00:05:34.200000</td>
      <td>00:03:02.900000</td>
      <td>00:14:26.800000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:05:50</td>
      <td>00:05:38.800000</td>
      <td>00:03:02.600000</td>
      <td>00:14:31.400000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>00:05:52.300000</td>
      <td>00:05:36.900000</td>
      <td>00:03:04.700000</td>
      <td>00:14:33.900000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:05:52.800000</td>
      <td>00:05:41.200000</td>
      <td>00:03:01.800000</td>
      <td>00:14:35.800000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>00:06:05.700000</td>
      <td>00:05:44.700000</td>
      <td>00:03:06.400000</td>
      <td>00:14:56.800000</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS5.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS5 - overall rally positions at end of stage

Following stage SS5, K. MEEKE continued to lead the rally for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC, +15.7 ahead.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

H. PADDON, for Hyundai Motorsport in the Hyundai I20 Coupe WRC, retained third place overall, +20.3 behind the overall rally leader and trailing S. OGIER by +4.6.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>57:15.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>57:30.9</td>
      <td>+15.7</td>
      <td>+15.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>57:35.5</td>
      <td>+4.6</td>
      <td>+20.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>57:38.0</td>
      <td>+2.5</td>
      <td>+22.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>57:39.6</td>
      <td>+1.6</td>
      <td>+24.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>58:40.2</td>
      <td>+1:00.6</td>
      <td>+1:25.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>58:44.6</td>
      <td>+4.4</td>
      <td>+1:29.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>59:06.0</td>
      <td>+21.4</td>
      <td>+1:50.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>59:32.9</td>
      <td>+26.9</td>
      <td>+2:17.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:00:23.7</td>
      <td>+50.8</td>
      <td>+3:08.5</td>
    </tr>
  </tbody>
</table>

## SS5 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS5.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS5.png)

### Stage position chart SS5

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS5.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS5

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroen Total Abu Dhabi WRT|M          |57:15.2  |        |         |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |57:30.9  |15.7    |15.7     |          2|        2|       2
    4|H. PADDON  |J. KENARD   |Hyundai Motorsport         |M          |57:35.5  |4.6     |20.3     |          3|        3|       3
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |57:38.0  |2.5     |22.8     |          4|        4|       4
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |57:39.6  |1.6     |24.4     |          5|        5|       5
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |58:40.2  |+1:00.6 |+1:25.0  |          6|        6|       6
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |58:44.6  |4.4     |+1:29.4  |          7|        7|       7
    8|S. LEFEBVRE|G. MOREAU   |Citroen Total Abu Dhabi WRT|M          |59:06.0  |21.4    |+1:50.8  |          8|        8|       8
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |59:32.9  |26.9    |+2:17.7  |          9|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:02:57.0|+1:37.9 |+5:41.8  |         13|       10|       1
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:03:49.6|52.6    |+6:34.4  |         14|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |1:21:07.1|+2:33.5 |+23:51.9 |         23|       12|       1

## SS6 Street Stage Guanajuato
### Distance: 1.09 km
 
First car 18:34

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    2|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    6|    8|S. LEFEBVRE|Citroen Total Abu Dhabi WRT|M          |RC1       
    7|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    8|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    9|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   10|    7|K. MEEKE   |Citroen Total Abu Dhabi WRT|M          |RC1       
   11|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
   12|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1

## Stage Report 6:

On stage SS6, and with their second stage win, T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport in the Hyundai I20 Coupe WRC took the stage by +1.4 from D. SORDO (ESP) and M. MARTI (ESP) (Hyundai Motorsport), in a time of 57.3.

K. MEEKE (GBR) and P. NAGLE (IRL) for Citroën Total Abu Dhabi WRT, ninth on stage with a time of 1:00.3, and +3.0 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>57.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>58.7</td>
      <td>+1.4</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>58.7</td>
      <td>+0.0</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>59.1</td>
      <td>+0.4</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>59.3</td>
      <td>+0.2</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>59.3</td>
      <td>+0.0</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>59.5</td>
      <td>+0.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:00.1</td>
      <td>+0.6</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:00.3</td>
      <td>+0.2</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:00.8</td>
      <td>+0.5</td>
      <td>+3.5</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>58:15.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>58:30.4</td>
      <td>+14.9</td>
      <td>+14.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>58:36.7</td>
      <td>+6.3</td>
      <td>+21.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>58:36.9</td>
      <td>+0.2</td>
      <td>+21.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>59:41.3</td>
      <td>+1:04.4</td>
      <td>+1:25.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>59:43.7</td>
      <td>+2.4</td>
      <td>+1:28.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>59:54.6</td>
      <td>+10.9</td>
      <td>+1:39.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:00:06.1</td>
      <td>+11.5</td>
      <td>+1:50.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:00:32.2</td>
      <td>+26.1</td>
      <td>+2:16.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:01:24.5</td>
      <td>+52.3</td>
      <td>+3:09.0</td>
    </tr>
  </tbody>
</table>

## SS6 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS6 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>57.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>58.7</td>
      <td>+1.4</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>58.7</td>
      <td>+1.4</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>59.1</td>
      <td>+1.8</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>59.3</td>
      <td>+2.0</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>59.3</td>
      <td>+2.0</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>59.5</td>
      <td>+2.2</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:00.1</td>
      <td>+2.8</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:00.3</td>
      <td>+3.0</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>13</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:00.8</td>
      <td>+3.5</td>
      <td>+0.5</td>
    </tr>
  </tbody>
</table>

## SS6 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_220/chart_stage_sector_delta_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:00:57.300000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:00:58.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:00:58.700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:00:59.100000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:00:59.300000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:00:59.300000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:00:59.500000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>00:01:00.100000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:00.300000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>00:01:00.800000</td>
    </tr>
  </tbody>
</table>

## SS6 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS6.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS6 - overall rally positions at end of stage

At the end of stage SS6, K. MEEKE remained in overall lead of the rally for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC, +14.9 ahead of second.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

D. SORDO, for Hyundai Motorsport, moved up into third place overall, a gain of one place from fourth, +21.2 behind the overall rally leader and +6.3 behind second placed S. OGIER.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>58:15.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>58:30.4</td>
      <td>+14.9</td>
      <td>+14.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>58:36.7</td>
      <td>+6.3</td>
      <td>+21.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>58:36.9</td>
      <td>+0.2</td>
      <td>+21.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>59:41.3</td>
      <td>+1:04.4</td>
      <td>+1:25.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>59:43.7</td>
      <td>+2.4</td>
      <td>+1:28.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>59:54.6</td>
      <td>+10.9</td>
      <td>+1:39.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:00:06.1</td>
      <td>+11.5</td>
      <td>+1:50.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:00:32.2</td>
      <td>+26.1</td>
      <td>+2:16.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:01:24.5</td>
      <td>+52.3</td>
      <td>+3:09.0</td>
    </tr>
  </tbody>
</table>

## SS6 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS6.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS6.png)

### Stage position chart SS6

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS6.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS6

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroen Total Abu Dhabi WRT|M          |58:15.5  |        |         |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |58:30.4  |14.9    |14.9     |          2|        2|       2
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |58:36.7  |6.3     |21.2     |          3|        3|       3
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |58:36.9  |0.2     |21.4     |          4|        4|       4
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |59:41.3  |+1:04.4 |+1:25.8  |          5|        5|       5
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |59:43.7  |2.4     |+1:28.2  |          6|        6|       6
    4|H. PADDON  |J. KENARD   |Hyundai Motorsport         |M          |59:54.6  |10.9    |+1:39.1  |          7|        7|       7
    8|S. LEFEBVRE|G. MOREAU   |Citroen Total Abu Dhabi WRT|M          |1:00:06.1|11.5    |+1:50.6  |          8|        8|       8
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:00:32.2|26.1    |+2:16.7  |          9|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:04:04.2|+1:38.8 |+5:48.7  |         13|       10|       1
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:04:48.3|44.1    |+6:32.8  |         14|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |1:22:06.4|+2:34.8 |+23:50.9 |         18|       12|       1

## SS7 SSS Aut&#243;dromo de Le&#243;n
### Distance: 2.30 km
 
First car 19:54

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    4|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    5|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    6|    8|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|M          |RC1       
    7|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   11|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
   12|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1

## Stage Report 7:

In stage SS7, K. MEEKE (GBR) and P. NAGLE (IRL) for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC continued to lead the rally with their second stage win, in a time of 1:40.0.

M-Sport World Rally Team's E. EVANS (GBR) and D. BARRITT (GBR) were placed second on the stage, +0.2 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:40.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:40.2</td>
      <td>+0.2</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:40.5</td>
      <td>+0.3</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:41.1</td>
      <td>+0.6</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:41.5</td>
      <td>+0.4</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:43.1</td>
      <td>+1.6</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:43.8</td>
      <td>+0.7</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:47.2</td>
      <td>+3.4</td>
      <td>+7.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:47.3</td>
      <td>+0.1</td>
      <td>+7.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>V. GORBAN</td>
      <td>1:49.5</td>
      <td>+2.2</td>
      <td>+9.5</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>59:55.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:00:13.5</td>
      <td>+18.0</td>
      <td>+18.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:00:41.9</td>
      <td>+28.4</td>
      <td>+46.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:01:21.8</td>
      <td>+39.9</td>
      <td>+1:26.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:01:25.2</td>
      <td>+3.4</td>
      <td>+1:29.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:01:47.1</td>
      <td>+21.9</td>
      <td>+1:51.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:01:47.2</td>
      <td>+0.1</td>
      <td>+1:51.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:02:19.4</td>
      <td>+32.2</td>
      <td>+2:23.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:02:51.7</td>
      <td>+32.3</td>
      <td>+2:56.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:03:21.8</td>
      <td>+30.1</td>
      <td>+3:26.3</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS7 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:40.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:40.2</td>
      <td>+0.2</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:40.5</td>
      <td>+0.5</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:41.1</td>
      <td>+1.1</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:41.5</td>
      <td>+1.5</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:43.1</td>
      <td>+3.1</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:43.8</td>
      <td>+3.8</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:47.2</td>
      <td>+7.2</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>14</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:47.3</td>
      <td>+7.3</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>V. GORBAN</td>
      <td>1:49.5</td>
      <td>+9.5</td>
      <td>+2.2</td>
    </tr>
  </tbody>
</table>

## SS7 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_220/chart_stage_sector_delta_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:40</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:40.200000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:40.500000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>00:01:41.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:41.500000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:43.100000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:01:43.800000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:47.200000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>00:01:47.300000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>V. GORBAN</td>
      <td>00:01:49.500000</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS7.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS7 - overall rally positions at end of stage

After stage SS7, K. MEEKE continued to lead the rally in the Citroen C3 WRC, +18.0 ahead of second.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

T. NEUVILLE, in the Hyundai I20 Coupe WRC, moved up into third place overall, a gain of one place from fourth, +46.4 behind the overall rally leader and +28.4 behind second placed S. OGIER.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>59:55.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:00:13.5</td>
      <td>+18.0</td>
      <td>+18.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:00:41.9</td>
      <td>+28.4</td>
      <td>+46.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:01:21.8</td>
      <td>+39.9</td>
      <td>+1:26.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:01:25.2</td>
      <td>+3.4</td>
      <td>+1:29.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:01:47.1</td>
      <td>+21.9</td>
      <td>+1:51.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:01:47.2</td>
      <td>+0.1</td>
      <td>+1:51.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:02:19.4</td>
      <td>+32.2</td>
      <td>+2:23.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:02:51.7</td>
      <td>+32.3</td>
      <td>+2:56.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:03:21.8</td>
      <td>+30.1</td>
      <td>+3:26.3</td>
    </tr>
  </tbody>
</table>

## SS7 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS7.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
      <td>18</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS7.png)

### Stage position chart SS7

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS7.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
      <td>3</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
      <td>10</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
      <td>13</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>18</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS7

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |59:55.5  |        |         |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:00:13.5|18.0    |18.0     |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:00:41.9|28.4    |46.4     |          3|        3|       3
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:01:21.8|39.9    |+1:26.3  |          4|        4|       4
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:01:25.2|3.4     |+1:29.7  |          5|        5|       5
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:01:47.1|21.9    |+1:51.6  |          6|        6|       6
    8|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |1:01:47.2|0.1     |+1:51.7  |          7|        7|       7
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:02:19.4|32.2    |+2:23.9  |          8|        8|       8
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:02:51.7|32.3    |+2:56.2  |          9|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:05:53.7|+1:38.3 |+5:58.2  |         13|       10|       1
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:06:28.5|34.8    |+6:33.0  |         14|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |1:23:50.2|+1:50.1 |+23:54.7 |         18|       12|       1

## SS8 SSS Aut&#243;dromo de Le&#243;n
### Distance: 2.30 km
*Rerun of stage SS7,SS16,SS15* 
First car 19:59

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    5|    8|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    7|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    8|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   10|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
   11|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1

## Stage Report 8:

In stage SS8, E. EVANS (GBR) and D. BARRITT (GBR) in the Ford Fiesta WRC took the stage, giving them their first stage win, in a time of 1:38.0.

In second place on stage, +0.3 behind, K. MEEKE (GBR) and co-driver P. NAGLE (IRL) for Citroën Total Abu Dhabi WRT retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:38.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:38.3</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:39.3</td>
      <td>+1.0</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:39.4</td>
      <td>+0.1</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:41.2</td>
      <td>+1.8</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:41.5</td>
      <td>+0.3</td>
      <td>+3.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:45.2</td>
      <td>+3.7</td>
      <td>+7.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:46.3</td>
      <td>+1.1</td>
      <td>+8.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>1:47.3</td>
      <td>+1.0</td>
      <td>+9.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:48.6</td>
      <td>+1.3</td>
      <td>+10.6</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:01:33.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:01:54.7</td>
      <td>+20.9</td>
      <td>+20.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:02:30.5</td>
      <td>+35.8</td>
      <td>+56.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:03:01.1</td>
      <td>+30.6</td>
      <td>+1:27.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:03:06.7</td>
      <td>+5.6</td>
      <td>+1:32.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:03:26.6</td>
      <td>+19.9</td>
      <td>+1:52.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:03:35.9</td>
      <td>+9.3</td>
      <td>+2:02.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:04:04.6</td>
      <td>+28.7</td>
      <td>+2:30.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:05:08.1</td>
      <td>+1:03.5</td>
      <td>+3:34.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>1:05:33.5</td>
      <td>+25.4</td>
      <td>+3:59.7</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS8 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:38.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:38.3</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:39.3</td>
      <td>+1.3</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:39.4</td>
      <td>+1.4</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:41.2</td>
      <td>+3.2</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:41.5</td>
      <td>+3.5</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:45.2</td>
      <td>+7.2</td>
      <td>+3.7</td>
    </tr>
    <tr>
      <th>13</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:46.3</td>
      <td>+8.3</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>1:47.3</td>
      <td>+9.3</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:48.6</td>
      <td>+10.6</td>
      <td>+1.3</td>
    </tr>
  </tbody>
</table>

## SS8 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_220/chart_stage_sector_delta_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:38</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:38.300000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:39.300000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>00:01:39.400000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:41.200000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:41.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:45.200000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>00:01:46.300000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>00:01:47.300000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:48.600000</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS8.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS8 - overall rally positions at end of stage

At the end of stage SS8, K. MEEKE continued to lead the rally in the Citroen C3 WRC, with a lead of +20.9.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport in the Hyundai I20 Coupe WRC, retained third place overall, +56.7 behind the overall rally leader and trailing S. OGIER in second by +35.8.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:01:33.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:01:54.7</td>
      <td>+20.9</td>
      <td>+20.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:02:30.5</td>
      <td>+35.8</td>
      <td>+56.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:03:01.1</td>
      <td>+30.6</td>
      <td>+1:27.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:03:06.7</td>
      <td>+5.6</td>
      <td>+1:32.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:03:26.6</td>
      <td>+19.9</td>
      <td>+1:52.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:03:35.9</td>
      <td>+9.3</td>
      <td>+2:02.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:04:04.6</td>
      <td>+28.7</td>
      <td>+2:30.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:05:08.1</td>
      <td>+1:03.5</td>
      <td>+3:34.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>1:05:33.5</td>
      <td>+25.4</td>
      <td>+3:59.7</td>
    </tr>
  </tbody>
</table>

## SS8 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS8.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>12</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>15</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
      <td>18</td>
      <td>21</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS8.png)

### Stage position chart SS8

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS8.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
      <td>10</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
      <td>13</td>
      <td>11</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
      <td>10</td>
      <td>16</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>18</td>
      <td>23</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
      <td>7</td>
      <td>24</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS8

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:01:33.8|        |         |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:01:54.7|20.9    |20.9     |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:02:30.5|35.8    |56.7     |          3|        3|       3
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:03:01.1|30.6    |+1:27.3  |          4|        4|       4
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:03:06.7|5.6     |+1:32.9  |          5|        5|       5
    8|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |1:03:26.6|19.9    |+1:52.8  |          6|        6|       6
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:03:35.9|9.3     |+2:02.1  |          7|        7|       7
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:04:04.6|28.7    |+2:30.8  |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:08:06.5|+2:01.2 |+6:32.7  |         12|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:08:25.3|18.8    |+6:51.5  |         13|       10|       1
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:11:54.7|17.0    |+10:20.9 |         15|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |1:35:28.2|+1:51.1 |+33:54.4 |         21|       12|       1

# Day 4 (11/03/2017)
## Section 2 (Morning/Afternoon/Night)

## SS9 Media Luna
### Distance: 27.42 km
 
First car 08:33

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    2|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
    3|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    4|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1       
    5|    8|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    7|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    8|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
    9|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   10|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
   11|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   12|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1

## Stage Report 9:

On stage SS9, and with their first stage win, D. SORDO (ESP) and M. MARTI (ESP) for Hyundai Motorsport in the Hyundai I20 Coupe WRC took the stage by +3.2 from S. OGIER (FRA) and J. INGRASSIA (FRA) for M-Sport World Rally Team, in a time of 17:01.4.

K. MEEKE (GBR) and P. NAGLE (IRL) for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC, third on stage with a time of 17:05.5, and +4.1 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>17:01.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>17:04.6</td>
      <td>+3.2</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>17:05.5</td>
      <td>+0.9</td>
      <td>+4.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>17:09.7</td>
      <td>+4.2</td>
      <td>+8.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>17:15.0</td>
      <td>+5.3</td>
      <td>+13.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>17:21.1</td>
      <td>+6.1</td>
      <td>+19.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>17:23.9</td>
      <td>+2.8</td>
      <td>+22.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>17:30.3</td>
      <td>+6.4</td>
      <td>+28.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>17:33.0</td>
      <td>+2.7</td>
      <td>+31.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>17:50.7</td>
      <td>+17.7</td>
      <td>+49.3</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:18:39.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:18:59.3</td>
      <td>+20.0</td>
      <td>+20.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:19:40.2</td>
      <td>+40.9</td>
      <td>+1:00.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:20:21.7</td>
      <td>+41.5</td>
      <td>+1:42.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:20:31.4</td>
      <td>+9.7</td>
      <td>+1:52.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:20:57.0</td>
      <td>+25.6</td>
      <td>+2:17.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:21:17.3</td>
      <td>+20.3</td>
      <td>+2:38.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:21:28.5</td>
      <td>+11.2</td>
      <td>+2:49.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:23:31.0</td>
      <td>+2:02.5</td>
      <td>+4:51.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>1:23:37.3</td>
      <td>+6.3</td>
      <td>+4:58.0</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS9 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-5.3</td>
      <td>-13.6</td>
      <td>-20.9</td>
      <td>17:01.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-2.5</td>
      <td>-10.2</td>
      <td>-17.9</td>
      <td>17:04.6</td>
      <td>+3.2</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>12</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-2.6</td>
      <td>-11.7</td>
      <td>-18.5</td>
      <td>17:05.5</td>
      <td>+4.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-0.8</td>
      <td>-8.0</td>
      <td>-13.4</td>
      <td>17:09.7</td>
      <td>+8.3</td>
      <td>+4.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-4.7</td>
      <td>-10.5</td>
      <td>-13.7</td>
      <td>17:15.0</td>
      <td>+13.6</td>
      <td>+5.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-2.8</td>
      <td>-6.7</td>
      <td>-8.7</td>
      <td>17:21.1</td>
      <td>+19.7</td>
      <td>+6.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.6</td>
      <td>-4.7</td>
      <td>-4.6</td>
      <td>17:23.9</td>
      <td>+22.5</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+1.1</td>
      <td>+1.4</td>
      <td>+1.4</td>
      <td>17:30.3</td>
      <td>+28.9</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:44.6</td>
      <td>00:08:09.1</td>
      <td>00:12:10.6</td>
      <td>17:33.0</td>
      <td>+31.6</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>+6.0</td>
      <td>+12.8</td>
      <td>+17.9</td>
      <td>17:50.7</td>
      <td>+49.3</td>
      <td>+17.7</td>
    </tr>
  </tbody>
</table>

## SS9 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 9, E. EVANS lost ground in the final part of the stage.

![](images/2017_220/chart_stage_sector_delta_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:39.300000</td>
      <td>00:04:16.200000</td>
      <td>00:03:54.200000</td>
      <td>00:05:11.700000</td>
      <td>00:17:01.400000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:42.100000</td>
      <td>00:04:16.800000</td>
      <td>00:03:53.800000</td>
      <td>00:05:11.900000</td>
      <td>00:17:04.600000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:42</td>
      <td>00:04:15.400000</td>
      <td>00:03:54.700000</td>
      <td>00:05:13.400000</td>
      <td>00:17:05.500000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:43.800000</td>
      <td>00:04:17.300000</td>
      <td>00:03:56.100000</td>
      <td>00:05:12.500000</td>
      <td>00:17:09.700000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:39.900000</td>
      <td>00:04:18.700000</td>
      <td>00:03:58.300000</td>
      <td>00:05:18.100000</td>
      <td>00:17:15</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:41.800000</td>
      <td>00:04:20.600000</td>
      <td>00:03:59.500000</td>
      <td>00:05:19.200000</td>
      <td>00:17:21.100000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:42</td>
      <td>00:04:22.400000</td>
      <td>00:04:01.600000</td>
      <td>00:05:17.900000</td>
      <td>00:17:23.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:45.700000</td>
      <td>00:04:24.800000</td>
      <td>00:04:01.500000</td>
      <td>00:05:18.300000</td>
      <td>00:17:30.300000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:44.600000</td>
      <td>00:04:24.500000</td>
      <td>00:04:01.500000</td>
      <td>00:05:22.400000</td>
      <td>00:17:33</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:50.600000</td>
      <td>00:04:31.300000</td>
      <td>00:04:06.600000</td>
      <td>00:05:22.200000</td>
      <td>00:17:50.700000</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS9.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS9 - overall rally positions at end of stage

After stage SS9, K. MEEKE continued in overall lead of the rally for Citroën Total Abu Dhabi WRT, with a gap to second of +20.0.

S. OGIER, for M-Sport World Rally Team, retained second place overall.

T. NEUVILLE, in the Hyundai I20 Coupe WRC, retained third place overall, +1:00.9 behind the overall rally leader and +40.9 behind S. OGIER in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:18:39.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:18:59.3</td>
      <td>+20.0</td>
      <td>+20.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:19:40.2</td>
      <td>+40.9</td>
      <td>+1:00.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:20:21.7</td>
      <td>+41.5</td>
      <td>+1:42.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:20:31.4</td>
      <td>+9.7</td>
      <td>+1:52.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:20:57.0</td>
      <td>+25.6</td>
      <td>+2:17.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>1:21:17.3</td>
      <td>+20.3</td>
      <td>+2:38.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:21:28.5</td>
      <td>+11.2</td>
      <td>+2:49.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:23:31.0</td>
      <td>+2:02.5</td>
      <td>+4:51.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>1:23:37.3</td>
      <td>+6.3</td>
      <td>+4:58.0</td>
    </tr>
  </tbody>
</table>

## SS9 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS9.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>15</td>
      <td>14</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
      <td>18</td>
      <td>21</td>
      <td>20</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS9.png)

### Stage position chart SS9

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS9.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>18</td>
      <td>23</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
      <td>10</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
      <td>13</td>
      <td>11</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
      <td>7</td>
      <td>24</td>
      <td>12</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
      <td>10</td>
      <td>16</td>
      <td>15</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS9

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:18:39.3|        |         |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:18:59.3|20.0    |20.0     |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:19:40.2|40.9    |+1:00.9  |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:20:21.7|41.5    |+1:42.4  |          4|        4|       4
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:20:31.4|9.7     |+1:52.1  |          5|        5|       5
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:20:57.0|25.6    |+2:17.7  |          6|        6|       6
    8|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |1:21:17.3|20.3    |+2:38.0  |          7|        7|       7
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:21:28.5|11.2    |+2:49.2  |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:25:39.5|49.5    |+7:00.2  |         12|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:27:42.2|+2:02.7 |+9:02.9  |         13|       10|       1
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:28:56.1|+1:13.9 |+10:16.8 |         14|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |1:55:36.5|+1:10.1 |+36:57.2 |         20|       12|       1

## SS10 Lajas de Oro
### Distance: 38.31 km
 
First car 10:01

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    2|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
    3|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    4|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1       
  NaN|    8|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    7|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    8|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
    9|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   10|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
   11|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   12|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1

## Stage Report 10:

In stage SS10, D. SORDO (ESP) and M. MARTI (ESP) in the Hyundai I20 Coupe WRC took the stage, giving them their second stage win, in a time of 28:17.5.

In second place on stage, +0.9 behind, Citroën Total Abu Dhabi WRT's K. MEEKE (GBR) and P. NAGLE (IRL) retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>28:17.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>28:18.4</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>28:21.1</td>
      <td>+2.7</td>
      <td>+3.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>28:24.6</td>
      <td>+3.5</td>
      <td>+7.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>28:32.8</td>
      <td>+8.2</td>
      <td>+15.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>28:42.4</td>
      <td>+9.6</td>
      <td>+24.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>28:44.1</td>
      <td>+1.7</td>
      <td>+26.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>28:52.5</td>
      <td>+8.4</td>
      <td>+35.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>29:07.4</td>
      <td>+14.9</td>
      <td>+49.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>29:39.2</td>
      <td>+31.8</td>
      <td>+1:21.7</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:46:57.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:47:20.4</td>
      <td>+22.7</td>
      <td>+22.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:48:04.8</td>
      <td>+44.4</td>
      <td>+1:07.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:48:54.5</td>
      <td>+49.7</td>
      <td>+1:56.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:49:38.8</td>
      <td>+44.3</td>
      <td>+2:41.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:49:41.1</td>
      <td>+2.3</td>
      <td>+2:43.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:50:21.0</td>
      <td>+39.9</td>
      <td>+3:23.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:53:15.5</td>
      <td>+2:54.5</td>
      <td>+6:17.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>1:53:16.5</td>
      <td>+1.0</td>
      <td>+6:18.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54:21.9</td>
      <td>+1:05.4</td>
      <td>+7:24.2</td>
    </tr>
  </tbody>
</table>

## SS10 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS10 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>split_4</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-5.7</td>
      <td>-8.4</td>
      <td>-13.6</td>
      <td>-19.2</td>
      <td>28:17.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>12</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-9.1</td>
      <td>-5.1</td>
      <td>-11.1</td>
      <td>-17.0</td>
      <td>28:18.4</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-6.7</td>
      <td>-4.4</td>
      <td>-6.5</td>
      <td>-11.9</td>
      <td>28:21.1</td>
      <td>+3.6</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-5.0</td>
      <td>-2.0</td>
      <td>-3.9</td>
      <td>-9.7</td>
      <td>28:24.6</td>
      <td>+7.1</td>
      <td>+3.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-4.9</td>
      <td>+1.3</td>
      <td>-0.4</td>
      <td>-5.2</td>
      <td>28:32.8</td>
      <td>+15.3</td>
      <td>+8.2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:05:38.9</td>
      <td>00:10:54.7</td>
      <td>00:17:14.6</td>
      <td>00:21:28.6</td>
      <td>28:42.4</td>
      <td>+24.9</td>
      <td>+9.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-3.1</td>
      <td>+2.4</td>
      <td>+6.4</td>
      <td>+7.3</td>
      <td>28:44.1</td>
      <td>+26.6</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-0.8</td>
      <td>+5.5</td>
      <td>+8.1</td>
      <td>+15.4</td>
      <td>28:52.5</td>
      <td>+35.0</td>
      <td>+8.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+3.7</td>
      <td>+14.9</td>
      <td>+21.5</td>
      <td>+24.6</td>
      <td>29:07.4</td>
      <td>+49.9</td>
      <td>+14.9</td>
    </tr>
    <tr>
      <th>14</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>+4.2</td>
      <td>+23.6</td>
      <td>+41.7</td>
      <td>+46.8</td>
      <td>29:39.2</td>
      <td>+1:21.7</td>
      <td>+31.8</td>
    </tr>
  </tbody>
</table>

## SS10 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_220/chart_stage_sector_delta_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>sector_5</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:05:33.200000</td>
      <td>00:05:13.100000</td>
      <td>00:06:14.700000</td>
      <td>00:04:08.400000</td>
      <td>00:07:08.100000</td>
      <td>00:28:17.500000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:05:29.800000</td>
      <td>00:05:19.800000</td>
      <td>00:06:13.900000</td>
      <td>00:04:08.100000</td>
      <td>00:07:06.800000</td>
      <td>00:28:18.400000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:05:32.200000</td>
      <td>00:05:18.100000</td>
      <td>00:06:17.800000</td>
      <td>00:04:08.600000</td>
      <td>00:07:04.400000</td>
      <td>00:28:21.100000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:05:33.900000</td>
      <td>00:05:18.800000</td>
      <td>00:06:18</td>
      <td>00:04:08.200000</td>
      <td>00:07:05.700000</td>
      <td>00:28:24.600000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:05:34</td>
      <td>00:05:22</td>
      <td>00:06:18.200000</td>
      <td>00:04:09.200000</td>
      <td>00:07:09.400000</td>
      <td>00:28:32.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:05:38.900000</td>
      <td>00:05:15.800000</td>
      <td>00:06:19.900000</td>
      <td>00:04:14</td>
      <td>00:07:13.800000</td>
      <td>00:28:42.400000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:05:35.800000</td>
      <td>00:05:21.300000</td>
      <td>00:06:23.900000</td>
      <td>00:04:14.900000</td>
      <td>00:07:08.200000</td>
      <td>00:28:44.100000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:05:38.100000</td>
      <td>00:05:22.100000</td>
      <td>00:06:22.500000</td>
      <td>00:04:21.300000</td>
      <td>00:07:08.500000</td>
      <td>00:28:52.500000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:05:42.600000</td>
      <td>00:05:27</td>
      <td>00:06:26.500000</td>
      <td>00:04:17.100000</td>
      <td>00:07:14.200000</td>
      <td>00:29:07.400000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>00:05:43.100000</td>
      <td>00:05:35.200000</td>
      <td>00:06:38</td>
      <td>00:04:19.100000</td>
      <td>00:07:23.800000</td>
      <td>00:29:39.200000</td>
    </tr>
  </tbody>
</table>

## SS10 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS10.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS10 - overall rally positions at end of stage

After stage SS10, K. MEEKE retained overall lead of the rally in the Citroen C3 WRC, with a gap to second of +22.7.

S. OGIER, for M-Sport World Rally Team, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport in the Hyundai I20 Coupe WRC, retained third place overall, +1:07.1 behind the overall rally leader and +44.4 behind second placed S. OGIER.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:46:57.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:47:20.4</td>
      <td>+22.7</td>
      <td>+22.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:48:04.8</td>
      <td>+44.4</td>
      <td>+1:07.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:48:54.5</td>
      <td>+49.7</td>
      <td>+1:56.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:49:38.8</td>
      <td>+44.3</td>
      <td>+2:41.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:49:41.1</td>
      <td>+2.3</td>
      <td>+2:43.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:50:21.0</td>
      <td>+39.9</td>
      <td>+3:23.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:53:15.5</td>
      <td>+2:54.5</td>
      <td>+6:17.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>1:53:16.5</td>
      <td>+1.0</td>
      <td>+6:18.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:54:21.9</td>
      <td>+1:05.4</td>
      <td>+7:24.2</td>
    </tr>
  </tbody>
</table>

## SS10 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS10.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>12</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>14</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
      <td>18</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS10.png)

### Stage position chart SS10

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS10.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>18</td>
      <td>23</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
      <td>13</td>
      <td>11</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
      <td>10</td>
      <td>16</td>
      <td>15</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
      <td>10</td>
      <td>17</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
      <td>7</td>
      <td>24</td>
      <td>12</td>
      <td>22</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS10

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:46:57.7|        |         |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:47:20.4|22.7    |22.7     |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:48:04.8|44.4    |+1:07.1  |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:48:54.5|49.7    |+1:56.8  |          4|        4|       4
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:49:38.8|44.3    |+2:41.1  |          5|        5|       5
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:49:41.1|2.3     |+2:43.4  |          6|        6|       6
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:50:21.0|39.9    |+3:23.3  |          7|        7|       7
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:54:21.9|+1:05.4 |+7:24.2  |         10|        8|       8
    8|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |1:56:34.8|47.8    |+9:37.1  |         12|        9|       9
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:57:13.6|38.8    |+10:15.9 |         13|       10|      10
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |1:58:50.7|+1:37.1 |+11:53.0 |         14|       11|       1
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |2:45:12.3|+4:50.6 |+58:14.6 |         21|       12|       1

## SS11 El Brinco 1 (Live TV)
### Distance: 10.09 km
 
First car 11:08

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    2|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
    3|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    4|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1       
    5|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    6|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    7|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
   10|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   11|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1

## Stage Report 11:

In stage SS11, T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport took the stage, giving them their third stage win of the rally, in a time of 5:27.1.

In second place on stage, +0.0 behind, K. MEEKE (GBR) and P. NAGLE (IRL) for Citroën Total Abu Dhabi WRT retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>5:27.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>5:27.1</td>
      <td>+0.0</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>5:27.9</td>
      <td>+0.8</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>5:28.0</td>
      <td>+0.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>5:29.3</td>
      <td>+1.3</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>5:31.9</td>
      <td>+2.6</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>5:34.3</td>
      <td>+2.4</td>
      <td>+7.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>5:34.5</td>
      <td>+0.2</td>
      <td>+7.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>5:37.2</td>
      <td>+2.7</td>
      <td>+10.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>5:46.4</td>
      <td>+9.2</td>
      <td>+19.3</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:52:24.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:52:48.3</td>
      <td>+23.5</td>
      <td>+23.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:53:31.9</td>
      <td>+43.6</td>
      <td>+1:07.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:54:23.8</td>
      <td>+51.9</td>
      <td>+1:59.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:55:13.0</td>
      <td>+49.2</td>
      <td>+2:48.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:55:13.3</td>
      <td>+0.3</td>
      <td>+2:48.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55:55.3</td>
      <td>+42.0</td>
      <td>+3:30.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:57:10.2</td>
      <td>+1:14.9</td>
      <td>+4:45.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>1:59:02.9</td>
      <td>+1:52.7</td>
      <td>+6:38.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:59:04.0</td>
      <td>+1.1</td>
      <td>+6:39.2</td>
    </tr>
  </tbody>
</table>

## SS11 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS11 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:30.3</td>
      <td>5:27.1</td>
      <td>+0.0</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:29.5</td>
      <td>5:27.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:29.9</td>
      <td>5:27.9</td>
      <td>+0.8</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:28.0</td>
      <td>5:28.0</td>
      <td>+0.9</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:28.8</td>
      <td>5:29.3</td>
      <td>+2.2</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:28.8</td>
      <td>5:31.9</td>
      <td>+4.8</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:30.5</td>
      <td>5:34.3</td>
      <td>+7.2</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:30.4</td>
      <td>5:34.5</td>
      <td>+7.4</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td></td>
      <td>5:37.2</td>
      <td>+10.1</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>13</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>00:02:37.9</td>
      <td>5:46.4</td>
      <td>+19.3</td>
      <td>+9.2</td>
    </tr>
  </tbody>
</table>

## SS11 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 11, E. CAMILLI lost ground in the final part of the stage.

![](images/2017_220/chart_stage_sector_delta_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:30.300000</td>
      <td>00:02:56.800000</td>
      <td>00:05:27.100000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:29.500000</td>
      <td>00:02:57.600000</td>
      <td>00:05:27.100000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:29.900000</td>
      <td>00:02:58</td>
      <td>00:05:27.900000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:28</td>
      <td>00:03:00</td>
      <td>00:05:28</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:28.800000</td>
      <td>00:03:00.500000</td>
      <td>00:05:29.300000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:28.800000</td>
      <td>00:03:03.100000</td>
      <td>00:05:31.900000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:30.500000</td>
      <td>00:03:03.800000</td>
      <td>00:05:34.300000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:30.400000</td>
      <td>00:03:04.100000</td>
      <td>00:05:34.500000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:05:37.200000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>00:02:37.900000</td>
      <td>00:03:08.500000</td>
      <td>00:05:46.400000</td>
    </tr>
  </tbody>
</table>

## SS11 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS11.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS11 - overall rally positions at end of stage

Following stage SS11, K. MEEKE continued in overall lead of the rally for Citroën Total Abu Dhabi WRT, +23.5 ahead of second.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport, retained third place overall, +1:07.1 behind the overall rally leader and trailing second placed S. OGIER by +43.6.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:52:24.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:52:48.3</td>
      <td>+23.5</td>
      <td>+23.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:53:31.9</td>
      <td>+43.6</td>
      <td>+1:07.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:54:23.8</td>
      <td>+51.9</td>
      <td>+1:59.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:55:13.0</td>
      <td>+49.2</td>
      <td>+2:48.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:55:13.3</td>
      <td>+0.3</td>
      <td>+2:48.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55:55.3</td>
      <td>+42.0</td>
      <td>+3:30.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:57:10.2</td>
      <td>+1:14.9</td>
      <td>+4:45.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>1:59:02.9</td>
      <td>+1:52.7</td>
      <td>+6:38.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:59:04.0</td>
      <td>+1.1</td>
      <td>+6:39.2</td>
    </tr>
  </tbody>
</table>

## SS11 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS11.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>14</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>12</td>
      <td>14</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
      <td>18</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>21</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS11.png)

### Stage position chart SS11

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS11.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>18</td>
      <td>23</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
      <td>13</td>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>6</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
      <td>10</td>
      <td>16</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
      <td>7</td>
      <td>24</td>
      <td>12</td>
      <td>22</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
      <td>10</td>
      <td>17</td>
      <td>21</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS11

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:52:24.8|        |          |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:52:48.3|23.5    |23.5      |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:53:31.9|43.6    |+1:07.1   |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:54:23.8|51.9    |+1:59.0   |          4|        4|       4
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:55:13.0|49.2    |+2:48.2   |          5|        5|       5
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:55:13.3|0.3     |+2:48.5   |          6|        6|       6
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:55:55.3|42.0    |+3:30.5   |          7|        7|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:57:10.2|+1:14.9 |+4:45.4   |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:59:59.1|55.1    |+7:34.3   |         11|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |2:04:58.3|+3:15.5 |+12:33.5  |         13|       10|       1
    8|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |2:09:01.9|+4:03.6 |+16:37.1  |         14|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |2:52:48.0|+4:24.1 |+1:00:23.2|         21|       12|       1

## SS12 Media Luna
### Distance: 27.42 km
*Rerun of stage SS9* 
First car 14:16

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    2|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
    3|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    4|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1       
    5|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    6|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    7|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
   10|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   11|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1

## Stage Report 12:

In stage SS12, S. OGIER (FRA) and J. INGRASSIA (FRA) for M-Sport World Rally Team in the Ford Fiesta WRC took the stage, giving them their second stage win, in a time of 16:44.0.

In second place on stage, +2.2 behind, K. MEEKE (GBR) and P. NAGLE (IRL) for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>16:44.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>16:46.2</td>
      <td>+2.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>16:46.6</td>
      <td>+0.4</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>16:49.6</td>
      <td>+3.0</td>
      <td>+5.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>16:52.9</td>
      <td>+3.3</td>
      <td>+8.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>16:57.2</td>
      <td>+4.3</td>
      <td>+13.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>17:03.8</td>
      <td>+6.6</td>
      <td>+19.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>17:13.9</td>
      <td>+10.1</td>
      <td>+29.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>17:22.5</td>
      <td>+8.6</td>
      <td>+38.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>17:46.3</td>
      <td>+23.8</td>
      <td>+1:02.3</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:09:11.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:09:32.3</td>
      <td>+21.3</td>
      <td>+21.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:10:24.8</td>
      <td>+52.5</td>
      <td>+1:13.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:11:13.4</td>
      <td>+48.6</td>
      <td>+2:02.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:12:10.2</td>
      <td>+56.8</td>
      <td>+2:59.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>2:12:35.8</td>
      <td>+25.6</td>
      <td>+3:24.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:13:09.2</td>
      <td>+33.4</td>
      <td>+3:58.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:13:56.8</td>
      <td>+47.6</td>
      <td>+4:45.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>2:16:49.2</td>
      <td>+2:52.4</td>
      <td>+7:38.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>2:16:56.0</td>
      <td>+6.8</td>
      <td>+7:45.0</td>
    </tr>
  </tbody>
</table>

## SS12 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS12.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS12 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS12.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-1.1</td>
      <td>-6.7</td>
      <td>-11.1</td>
      <td>16:44.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-1.5</td>
      <td>-4.5</td>
      <td>-9.1</td>
      <td>16:46.2</td>
      <td>+2.2</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-4.2</td>
      <td>-7.0</td>
      <td>-11.5</td>
      <td>16:46.6</td>
      <td>+2.6</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-3.0</td>
      <td>-5.9</td>
      <td>-9.8</td>
      <td>16:49.6</td>
      <td>+5.6</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+1.0</td>
      <td>-0.1</td>
      <td>-4.2</td>
      <td>16:52.9</td>
      <td>+8.9</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-1.8</td>
      <td>-3.8</td>
      <td>-4.8</td>
      <td>16:57.2</td>
      <td>+13.2</td>
      <td>+4.3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:39.0</td>
      <td>00:07:55.1</td>
      <td>00:11:50.5</td>
      <td>17:03.8</td>
      <td>+19.8</td>
      <td>+6.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+0.9</td>
      <td>+4.1</td>
      <td>+7.2</td>
      <td>17:13.9</td>
      <td>+29.9</td>
      <td>+10.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>+4.8</td>
      <td>+11.3</td>
      <td>+14.9</td>
      <td>17:22.5</td>
      <td>+38.5</td>
      <td>+8.6</td>
    </tr>
    <tr>
      <th>13</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>+10.7</td>
      <td>+24.4</td>
      <td>+32.2</td>
      <td>17:46.3</td>
      <td>+1:02.3</td>
      <td>+23.8</td>
    </tr>
  </tbody>
</table>

## SS12 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 12, J. LATVALA lost ground in the final part of the stage.

![](images/2017_220/chart_stage_sector_delta_SS12.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:37.900000</td>
      <td>00:04:10.500000</td>
      <td>00:03:51</td>
      <td>00:05:04.600000</td>
      <td>00:16:44</td>
    </tr>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:37.500000</td>
      <td>00:04:13.100000</td>
      <td>00:03:50.800000</td>
      <td>00:05:04.800000</td>
      <td>00:16:46.200000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:34.800000</td>
      <td>00:04:13.300000</td>
      <td>00:03:50.900000</td>
      <td>00:05:07.600000</td>
      <td>00:16:46.600000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:36</td>
      <td>00:04:13.200000</td>
      <td>00:03:51.500000</td>
      <td>00:05:08.900000</td>
      <td>00:16:49.600000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:40</td>
      <td>00:04:15</td>
      <td>00:03:51.300000</td>
      <td>00:05:06.600000</td>
      <td>00:16:52.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:37.200000</td>
      <td>00:04:14.100000</td>
      <td>00:03:54.400000</td>
      <td>00:05:11.500000</td>
      <td>00:16:57.200000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:39</td>
      <td>00:04:16.100000</td>
      <td>00:03:55.400000</td>
      <td>00:05:13.300000</td>
      <td>00:17:03.800000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:39.900000</td>
      <td>00:04:19.300000</td>
      <td>00:03:58.500000</td>
      <td>00:05:16.200000</td>
      <td>00:17:13.900000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:03:43.800000</td>
      <td>00:04:22.600000</td>
      <td>00:03:59</td>
      <td>00:05:17.100000</td>
      <td>00:17:22.500000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>00:03:49.700000</td>
      <td>00:04:29.800000</td>
      <td>00:04:03.200000</td>
      <td>00:05:23.600000</td>
      <td>00:17:46.300000</td>
    </tr>
  </tbody>
</table>

## SS12 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS12.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS12 - overall rally positions at end of stage

After stage SS12, K. MEEKE retained overall lead of the rally for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC, +21.3 ahead.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

T. NEUVILLE, in the Hyundai I20 Coupe WRC, retained third place overall, +1:13.8 behind the overall rally leader and trailing S. OGIER in second by +52.5.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:09:11.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:09:32.3</td>
      <td>+21.3</td>
      <td>+21.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:10:24.8</td>
      <td>+52.5</td>
      <td>+1:13.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:11:13.4</td>
      <td>+48.6</td>
      <td>+2:02.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:12:10.2</td>
      <td>+56.8</td>
      <td>+2:59.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>2:12:35.8</td>
      <td>+25.6</td>
      <td>+3:24.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:13:09.2</td>
      <td>+33.4</td>
      <td>+3:58.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:13:56.8</td>
      <td>+47.6</td>
      <td>+4:45.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>2:16:49.2</td>
      <td>+2:52.4</td>
      <td>+7:38.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>2:16:56.0</td>
      <td>+6.8</td>
      <td>+7:45.0</td>
    </tr>
  </tbody>
</table>

## SS12 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS12.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
      <td>18</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>21</td>
      <td>18</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>12</td>
      <td>14</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS12.png)

### Stage position chart SS12

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS12.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>18</td>
      <td>23</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
      <td>13</td>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>6</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
      <td>7</td>
      <td>24</td>
      <td>12</td>
      <td>22</td>
      <td>17</td>
      <td>11</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
      <td>10</td>
      <td>16</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
      <td>10</td>
      <td>17</td>
      <td>21</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS12

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:09:11.0|        |          |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:09:32.3|21.3    |21.3      |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:10:24.8|52.5    |+1:13.8   |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:11:13.4|48.6    |+2:02.4   |          4|        4|       4
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:12:10.2|56.8    |+2:59.2   |          5|        5|       5
   11|J. HANNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:12:35.8|25.6    |+3:24.8   |          6|        6|       6
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:13:09.2|33.4    |+3:58.2   |          7|        7|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:13:56.8|47.6    |+4:45.8   |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |2:17:02.9|6.9     |+7:51.9   |         11|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |2:23:47.2|+3:13.1 |+14:36.2  |         13|       10|       1
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |3:10:47.9|+12:03.2|+1:01:36.9|         18|       11|       1

## SS13 Lajas de Oro
### Distance: 38.31 km
*Rerun of stage SS10* 
First car 15:49

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    2|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
    3|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    4|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1       
    5|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    6|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    7|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
   10|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   11|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1

## Stage Report 13:

In stage SS13, Citroën Total Abu Dhabi WRT's K. MEEKE (GBR) and P. NAGLE (IRL) continued to lead the rally with their third stage win, in a time of 28:10.6.

T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport in the Hyundai I20 Coupe WRC were placed second on the stage, +5.7 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>28:10.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>28:16.3</td>
      <td>+5.7</td>
      <td>+5.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>28:23.2</td>
      <td>+6.9</td>
      <td>+12.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>28:28.8</td>
      <td>+5.6</td>
      <td>+18.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>28:37.1</td>
      <td>+8.3</td>
      <td>+26.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>28:40.4</td>
      <td>+3.3</td>
      <td>+29.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>28:47.2</td>
      <td>+6.8</td>
      <td>+36.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>28:54.2</td>
      <td>+7.0</td>
      <td>+43.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>29:12.0</td>
      <td>+17.8</td>
      <td>+1:01.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>29:27.9</td>
      <td>+15.9</td>
      <td>+1:17.3</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:37:21.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:38:01.1</td>
      <td>+39.5</td>
      <td>+39.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:38:41.1</td>
      <td>+40.0</td>
      <td>+1:19.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:39:36.6</td>
      <td>+55.5</td>
      <td>+2:15.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:40:47.3</td>
      <td>+1:10.7</td>
      <td>+3:25.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>2:41:47.8</td>
      <td>+1:00.5</td>
      <td>+4:26.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:42:03.4</td>
      <td>+15.6</td>
      <td>+4:41.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:42:37.2</td>
      <td>+33.8</td>
      <td>+5:15.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:45:50.1</td>
      <td>+3:12.9</td>
      <td>+8:28.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>2:46:23.1</td>
      <td>+33.0</td>
      <td>+9:01.5</td>
    </tr>
  </tbody>
</table>

## SS13 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS13 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>split_4</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-4.8</td>
      <td>-9.4</td>
      <td>-18.8</td>
      <td></td>
      <td>28:10.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-3.8</td>
      <td>-6.3</td>
      <td>-13.8</td>
      <td>-21.8</td>
      <td>28:16.3</td>
      <td>+5.7</td>
      <td>+5.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-6.1</td>
      <td>-5.8</td>
      <td>-12.7</td>
      <td>-20.2</td>
      <td>28:23.2</td>
      <td>+12.6</td>
      <td>+6.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-1.5</td>
      <td>-5.3</td>
      <td>-14.1</td>
      <td>-22.9</td>
      <td>28:28.8</td>
      <td>+18.2</td>
      <td>+5.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-1.3</td>
      <td>-3.2</td>
      <td>-4.4</td>
      <td>-8.5</td>
      <td>28:37.1</td>
      <td>+26.5</td>
      <td>+8.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-1.7</td>
      <td>-0.8</td>
      <td>+14.0</td>
      <td>-6.4</td>
      <td>28:40.4</td>
      <td>+29.8</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:05:34.4</td>
      <td>00:10:51.3</td>
      <td>00:17:17.0</td>
      <td>00:21:35.0</td>
      <td>28:47.2</td>
      <td>+36.6</td>
      <td>+6.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>+4.0</td>
      <td>+9.3</td>
      <td>+9.8</td>
      <td>+8.5</td>
      <td>28:54.2</td>
      <td>+43.6</td>
      <td>+7.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>+7.8</td>
      <td>+16.3</td>
      <td>+19.2</td>
      <td>+19.0</td>
      <td>29:12.0</td>
      <td>+1:01.4</td>
      <td>+17.8</td>
    </tr>
    <tr>
      <th>12</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>+11.5</td>
      <td>+23.5</td>
      <td>+28.5</td>
      <td>+30.7</td>
      <td>29:27.9</td>
      <td>+1:17.3</td>
      <td>+15.9</td>
    </tr>
  </tbody>
</table>

## SS13 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_220/chart_stage_sector_delta_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>sector_5</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:05:29.600000</td>
      <td>00:05:12.300000</td>
      <td>00:06:16.300000</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:28:10.600000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:05:30.600000</td>
      <td>00:05:14.400000</td>
      <td>00:06:18.200000</td>
      <td>00:04:10</td>
      <td>00:07:03.100000</td>
      <td>00:28:16.300000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:05:28.300000</td>
      <td>00:05:17.200000</td>
      <td>00:06:18.800000</td>
      <td>00:04:10.500000</td>
      <td>00:07:08.400000</td>
      <td>00:28:23.200000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:05:32.900000</td>
      <td>00:05:13.100000</td>
      <td>00:06:16.900000</td>
      <td>00:04:09.200000</td>
      <td>00:07:16.700000</td>
      <td>00:28:28.800000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:05:33.100000</td>
      <td>00:05:15</td>
      <td>00:06:24.500000</td>
      <td>00:04:13.900000</td>
      <td>00:07:10.600000</td>
      <td>00:28:37.100000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:05:32.700000</td>
      <td>00:05:17.800000</td>
      <td>00:06:40.500000</td>
      <td>00:03:57.600000</td>
      <td>00:07:11.800000</td>
      <td>00:28:40.400000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:05:34.400000</td>
      <td>00:05:16.900000</td>
      <td>00:06:25.700000</td>
      <td>00:04:18</td>
      <td>00:07:12.200000</td>
      <td>00:28:47.200000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:05:38.400000</td>
      <td>00:05:22.200000</td>
      <td>00:06:26.200000</td>
      <td>00:04:16.700000</td>
      <td>00:07:10.700000</td>
      <td>00:28:54.200000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:05:42.200000</td>
      <td>00:05:25.400000</td>
      <td>00:06:28.600000</td>
      <td>00:04:17.800000</td>
      <td>00:07:18</td>
      <td>00:29:12</td>
    </tr>
    <tr>
      <th>12</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>00:05:45.900000</td>
      <td>00:05:28.900000</td>
      <td>00:06:30.700000</td>
      <td>00:04:20.200000</td>
      <td>00:07:22.200000</td>
      <td>00:29:27.900000</td>
    </tr>
  </tbody>
</table>

## SS13 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS13.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS13 - overall rally positions at end of stage

At the end of stage SS13, K. MEEKE continued in overall lead of the rally for Citroën Total Abu Dhabi WRT, with a gap to second of +39.5.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport, retained third place overall, +1:19.5 behind the overall rally leader and +40.0 behind S. OGIER.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:37:21.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:38:01.1</td>
      <td>+39.5</td>
      <td>+39.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:38:41.1</td>
      <td>+40.0</td>
      <td>+1:19.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:39:36.6</td>
      <td>+55.5</td>
      <td>+2:15.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:40:47.3</td>
      <td>+1:10.7</td>
      <td>+3:25.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>2:41:47.8</td>
      <td>+1:00.5</td>
      <td>+4:26.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:42:03.4</td>
      <td>+15.6</td>
      <td>+4:41.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:42:37.2</td>
      <td>+33.8</td>
      <td>+5:15.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:45:50.1</td>
      <td>+3:12.9</td>
      <td>+8:28.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>2:46:23.1</td>
      <td>+33.0</td>
      <td>+9:01.5</td>
    </tr>
  </tbody>
</table>

## SS13 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS13.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>12</td>
      <td>14</td>
      <td></td>
      <td>15</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
      <td>18</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>21</td>
      <td>18</td>
      <td>19</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS13.png)

### Stage position chart SS13

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS13.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
      <td>13</td>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>18</td>
      <td>23</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>6</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
      <td>7</td>
      <td>24</td>
      <td>12</td>
      <td>22</td>
      <td>17</td>
      <td>11</td>
      <td>12</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
      <td>10</td>
      <td>16</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
      <td>10</td>
      <td>17</td>
      <td>21</td>
      <td></td>
      <td>17</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS13

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:37:21.6|        |          |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:38:01.1|39.5    |39.5      |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:38:41.1|40.0    |+1:19.5   |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:39:36.6|55.5    |+2:15.0   |          4|        4|       4
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:40:47.3|+1:10.7 |+3:25.7   |          5|        5|       5
   11|J. HANNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:41:47.8|+1:00.5 |+4:26.2   |          6|        6|       6
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:42:03.4|15.6    |+4:41.8   |          7|        7|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:42:37.2|33.8    |+5:15.6   |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |2:45:50.1|+3:12.9 |+8:28.5   |          9|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |2:54:36.3|+2:31.8 |+17:14.7  |         13|       10|       1
    8|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |3:07:56.5|+3:44.2 |+30:34.9  |         15|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |3:40:56.6|+2:57.4 |+1:03:35.0|         19|       12|       1

## SS14 El Brinco
### Distance: 10.09 km
 
First car 16:37

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    2|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
    3|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    4|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1       
    5|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    6|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    7|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
   10|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   11|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1

## Stage Report 14:

On stage SS14, and with their first stage win, M-Sport World Rally Team's O. TANAK (EST) and M. JARVEOJA (EST) took the stage by +0.4 from S. OGIER (FRA) and J. INGRASSIA (FRA) for M-Sport World Rally Team, in a time of 5:22.2.

K. MEEKE (GBR) and P. NAGLE (IRL) for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC, fourth on stage with a time of 5:25.2, and +3.0 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>5:22.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>5:22.6</td>
      <td>+0.4</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>5:23.4</td>
      <td>+0.8</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>5:25.2</td>
      <td>+1.8</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>5:25.5</td>
      <td>+0.3</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>5:26.4</td>
      <td>+0.9</td>
      <td>+4.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>5:30.9</td>
      <td>+4.5</td>
      <td>+8.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>5:32.0</td>
      <td>+1.1</td>
      <td>+9.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>5:33.8</td>
      <td>+1.8</td>
      <td>+11.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>5:43.2</td>
      <td>+9.4</td>
      <td>+21.0</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:42:46.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:43:23.7</td>
      <td>+36.9</td>
      <td>+36.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:44:04.5</td>
      <td>+40.8</td>
      <td>+1:17.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:44:58.8</td>
      <td>+54.3</td>
      <td>+2:12.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:46:13.7</td>
      <td>+1:14.9</td>
      <td>+3:26.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>2:47:21.6</td>
      <td>+1:07.9</td>
      <td>+4:34.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:47:28.9</td>
      <td>+7.3</td>
      <td>+4:42.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:48:08.1</td>
      <td>+39.2</td>
      <td>+5:21.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:51:22.1</td>
      <td>+3:14.0</td>
      <td>+8:35.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>2:52:06.3</td>
      <td>+44.2</td>
      <td>+9:19.5</td>
    </tr>
  </tbody>
</table>

## SS14 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS14 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-3.5</td>
      <td>5:22.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-3.6</td>
      <td>5:22.6</td>
      <td>+0.4</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-2.9</td>
      <td>5:23.4</td>
      <td>+1.2</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-0.2</td>
      <td>5:25.2</td>
      <td>+3.0</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-1.5</td>
      <td>5:25.5</td>
      <td>+3.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-2.5</td>
      <td>5:26.4</td>
      <td>+4.2</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td></td>
      <td>5:30.9</td>
      <td>+8.7</td>
      <td>+4.5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:29.2</td>
      <td>5:32.0</td>
      <td>+9.8</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>+3.4</td>
      <td>5:33.8</td>
      <td>+11.6</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>13</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>+7.7</td>
      <td>5:43.2</td>
      <td>+21.0</td>
      <td>+9.4</td>
    </tr>
  </tbody>
</table>

## SS14 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_220/chart_stage_sector_delta_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:25.700000</td>
      <td>00:02:56.500000</td>
      <td>00:05:22.200000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:25.600000</td>
      <td>00:02:57</td>
      <td>00:05:22.600000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:26.300000</td>
      <td>00:02:57.100000</td>
      <td>00:05:23.400000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:29</td>
      <td>00:02:56.200000</td>
      <td>00:05:25.200000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:27.700000</td>
      <td>00:02:57.800000</td>
      <td>00:05:25.500000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:26.700000</td>
      <td>00:02:59.700000</td>
      <td>00:05:26.400000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:05:30.900000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:29.200000</td>
      <td>00:03:02.800000</td>
      <td>00:05:32</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:02:32.600000</td>
      <td>00:03:01.200000</td>
      <td>00:05:33.800000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>00:02:36.900000</td>
      <td>00:03:06.300000</td>
      <td>00:05:43.200000</td>
    </tr>
  </tbody>
</table>

## SS14 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS14.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS14 - overall rally positions at end of stage

At the end of stage SS14, K. MEEKE remained in overall lead of the rally for Citroën Total Abu Dhabi WRT, +36.9 ahead.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport, retained third place overall, +1:17.7 behind the overall rally leader and trailing S. OGIER in second by +40.8.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:42:46.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:43:23.7</td>
      <td>+36.9</td>
      <td>+36.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:44:04.5</td>
      <td>+40.8</td>
      <td>+1:17.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:44:58.8</td>
      <td>+54.3</td>
      <td>+2:12.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:46:13.7</td>
      <td>+1:14.9</td>
      <td>+3:26.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>2:47:21.6</td>
      <td>+1:07.9</td>
      <td>+4:34.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:47:28.9</td>
      <td>+7.3</td>
      <td>+4:42.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:48:08.1</td>
      <td>+39.2</td>
      <td>+5:21.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:51:22.1</td>
      <td>+3:14.0</td>
      <td>+8:35.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>2:52:06.3</td>
      <td>+44.2</td>
      <td>+9:19.5</td>
    </tr>
  </tbody>
</table>

## SS14 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS14.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>12</td>
      <td>14</td>
      <td></td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
      <td>18</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>21</td>
      <td>18</td>
      <td>19</td>
      <td>19</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS14.png)

### Stage position chart SS14

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS14.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
      <td>13</td>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>18</td>
      <td>23</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>6</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
      <td>7</td>
      <td>24</td>
      <td>12</td>
      <td>22</td>
      <td>17</td>
      <td>11</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
      <td>10</td>
      <td>16</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
      <td>10</td>
      <td>17</td>
      <td>21</td>
      <td></td>
      <td>17</td>
      <td>20</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS14

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:42:46.8|        |          |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:43:23.7|36.9    |36.9      |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:44:04.5|40.8    |+1:17.7   |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:44:58.8|54.3    |+2:12.0   |          4|        4|       4
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:46:13.7|+1:14.9 |+3:26.9   |          5|        5|       5
   11|J. HANNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:47:21.6|+1:07.9 |+4:34.8   |          6|        6|       6
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:47:28.9|7.3     |+4:42.1   |          7|        7|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:48:08.1|39.2    |+5:21.3   |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |2:51:22.1|+3:14.0 |+8:35.3   |          9|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |3:00:32.1|+2:31.6 |+17:45.3  |         13|       10|       1
    8|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |3:20:18.7|+9:42.6 |+37:31.9  |         15|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |3:46:41.5|57.1    |+1:03:54.7|         19|       12|       1

## SS15 SSS Aut&#243;dromo de Le&#243;n
### Distance: 2.30 km
*Rerun of stage SS7,SS8,SS16* 
First car 17:52

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    2|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    3|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1       
    4|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
    5|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    6|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    7|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   10|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   12|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1

## Stage Report 15:

On stage SS15, and with their second stage win, E. EVANS (GBR) and D. BARRITT (GBR) (M-Sport World Rally Team) took the stage by +1.0 from J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT, in a time of 1:37.5.

K. MEEKE (GBR) and P. NAGLE (IRL) in the Citroen C3 WRC, seventh on stage with a time of 1:43.8, and +6.3 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:37.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:38.5</td>
      <td>+1.0</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:41.7</td>
      <td>+3.2</td>
      <td>+4.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:42.6</td>
      <td>+0.9</td>
      <td>+5.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:42.9</td>
      <td>+0.3</td>
      <td>+5.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:43.2</td>
      <td>+0.3</td>
      <td>+5.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:43.8</td>
      <td>+0.6</td>
      <td>+6.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:43.8</td>
      <td>+0.0</td>
      <td>+6.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:44.3</td>
      <td>+0.5</td>
      <td>+6.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:44.5</td>
      <td>+0.2</td>
      <td>+7.0</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:44:30.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:45:06.6</td>
      <td>+36.0</td>
      <td>+36.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:45:46.2</td>
      <td>+39.6</td>
      <td>+1:15.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:46:43.3</td>
      <td>+57.1</td>
      <td>+2:12.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:47:58.0</td>
      <td>+1:14.7</td>
      <td>+3:27.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>2:49:05.4</td>
      <td>+1:07.4</td>
      <td>+4:34.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:49:07.4</td>
      <td>+2.0</td>
      <td>+4:36.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:49:50.7</td>
      <td>+43.3</td>
      <td>+5:20.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:52:59.6</td>
      <td>+3:08.9</td>
      <td>+8:29.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>2:53:54.3</td>
      <td>+54.7</td>
      <td>+9:23.7</td>
    </tr>
  </tbody>
</table>

## SS15 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS15 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:37.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:38.5</td>
      <td>+1.0</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:41.7</td>
      <td>+4.2</td>
      <td>+3.2</td>
    </tr>
    <tr>
      <th>12</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:42.6</td>
      <td>+5.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:42.9</td>
      <td>+5.4</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:43.2</td>
      <td>+5.7</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:43.8</td>
      <td>+6.3</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:43.8</td>
      <td>+6.3</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:44.3</td>
      <td>+6.8</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:44.5</td>
      <td>+7.0</td>
      <td>+0.2</td>
    </tr>
  </tbody>
</table>

## SS15 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_220/chart_stage_sector_delta_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:37.500000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:38.500000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:41.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:42.600000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:42.900000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:01:43.200000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:01:43.800000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:43.800000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:44.300000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:44.500000</td>
    </tr>
  </tbody>
</table>

## SS15 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS15.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS15 - overall rally positions at end of stage

Following stage SS15, K. MEEKE retained overall lead of the rally in the Citroen C3 WRC, +36.0 ahead.

S. OGIER, for M-Sport World Rally Team, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport, retained third place overall, +1:15.6 behind the overall rally leader and trailing second placed S. OGIER by +39.6.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:44:30.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:45:06.6</td>
      <td>+36.0</td>
      <td>+36.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:45:46.2</td>
      <td>+39.6</td>
      <td>+1:15.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:46:43.3</td>
      <td>+57.1</td>
      <td>+2:12.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:47:58.0</td>
      <td>+1:14.7</td>
      <td>+3:27.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>2:49:05.4</td>
      <td>+1:07.4</td>
      <td>+4:34.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:49:07.4</td>
      <td>+2.0</td>
      <td>+4:36.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:49:50.7</td>
      <td>+43.3</td>
      <td>+5:20.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:52:59.6</td>
      <td>+3:08.9</td>
      <td>+8:29.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>E. CAMILLI</td>
      <td>2:53:54.3</td>
      <td>+54.7</td>
      <td>+9:23.7</td>
    </tr>
  </tbody>
</table>

## SS15 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS15.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
      <td>18</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>21</td>
      <td>18</td>
      <td>19</td>
      <td>19</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>12</td>
      <td>14</td>
      <td></td>
      <td>15</td>
      <td>15</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS15.png)

### Stage position chart SS15

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS15.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>6</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>18</td>
      <td>23</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
      <td>7</td>
      <td>24</td>
      <td>12</td>
      <td>22</td>
      <td>17</td>
      <td>11</td>
      <td>12</td>
      <td>11</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
      <td>13</td>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
      <td>10</td>
      <td>16</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
      <td>10</td>
      <td>17</td>
      <td>21</td>
      <td></td>
      <td>17</td>
      <td>20</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS15

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:44:30.6|        |          |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:45:06.6|36.0    |36.0      |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:45:46.2|39.6    |+1:15.6   |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:46:43.3|57.1    |+2:12.7   |          4|        4|       4
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:47:58.0|+1:14.7 |+3:27.4   |          5|        5|       5
   11|J. HANNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:49:05.4|+1:07.4 |+4:34.8   |          6|        6|       6
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:49:07.4|2.0     |+4:36.8   |          7|        7|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:49:50.7|43.3    |+5:20.1   |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |2:52:59.6|+3:08.9 |+8:29.0   |          9|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |3:02:20.9|+2:29.7 |+17:50.3  |         13|       10|       1
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |3:48:24.7|25.0    |+1:03:54.1|         17|       11|       1

## SS16 SSS Aut&#243;dromo de Le&#243;n
### Distance: 2.30 km
*Rerun of stage SS7,SS8,SS15* 
First car 17:57

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    2|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    3|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1       
    4|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
    5|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    6|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    7|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   10|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   12|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1

## Stage Report 16:

On stage SS16, and with their third stage win, M-Sport World Rally Team's E. EVANS (GBR) and co-driver D. BARRITT (GBR) took the stage by +0.9 from J. LATVALA (FIN) and M. ANTTILA (FIN) (Toyota Gazoo Racing WRT), in a time of 1:38.1.

K. MEEKE (GBR) and P. NAGLE (IRL) in the Citroen C3 WRC, tenth on stage with a time of 1:43.3, and +5.2 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:38.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:39.0</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:40.6</td>
      <td>+1.6</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:40.7</td>
      <td>+0.1</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:41.4</td>
      <td>+0.7</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:41.7</td>
      <td>+0.3</td>
      <td>+3.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:42.0</td>
      <td>+0.3</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:43.2</td>
      <td>+1.2</td>
      <td>+5.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:43.3</td>
      <td>+0.1</td>
      <td>+5.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:43.3</td>
      <td>+0.0</td>
      <td>+5.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:46:13.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:46:47.3</td>
      <td>+33.4</td>
      <td>+33.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:47:26.8</td>
      <td>+39.5</td>
      <td>+1:12.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:48:26.6</td>
      <td>+59.8</td>
      <td>+2:12.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:49:40.0</td>
      <td>+1:13.4</td>
      <td>+3:26.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:50:46.4</td>
      <td>+1:06.4</td>
      <td>+4:32.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>2:50:47.1</td>
      <td>+0.7</td>
      <td>+4:33.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:51:32.1</td>
      <td>+45.0</td>
      <td>+5:18.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:54:37.7</td>
      <td>+3:05.6</td>
      <td>+8:23.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>2:55:40.0</td>
      <td>+1:02.3</td>
      <td>+9:26.1</td>
    </tr>
  </tbody>
</table>

## SS16 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS16 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:38.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:39.0</td>
      <td>+0.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:40.6</td>
      <td>+2.5</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:40.7</td>
      <td>+2.6</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:41.4</td>
      <td>+3.3</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:41.7</td>
      <td>+3.6</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:42.0</td>
      <td>+3.9</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>1:43.2</td>
      <td>+5.1</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:43.3</td>
      <td>+5.2</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:43.3</td>
      <td>+5.2</td>
      <td>+0.1</td>
    </tr>
  </tbody>
</table>

## SS16 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_220/chart_stage_sector_delta_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:38.100000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:39</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:40.600000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:40.700000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:41.400000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:01:41.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:42</td>
    </tr>
    <tr>
      <th>3</th>
      <td>37</td>
      <td>L. BERTELLI</td>
      <td>00:01:43.200000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:43.300000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:43.300000</td>
    </tr>
  </tbody>
</table>

## SS16 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS16.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS16 - overall rally positions at end of stage

Following stage SS16, K. MEEKE remained in overall lead of the rally for Citroën Total Abu Dhabi WRT, +33.4 ahead of second.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport in the Hyundai I20 Coupe WRC, retained third place overall, +1:12.9 behind the overall rally leader and +39.5 behind S. OGIER in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:46:13.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:46:47.3</td>
      <td>+33.4</td>
      <td>+33.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:47:26.8</td>
      <td>+39.5</td>
      <td>+1:12.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:48:26.6</td>
      <td>+59.8</td>
      <td>+2:12.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:49:40.0</td>
      <td>+1:13.4</td>
      <td>+3:26.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:50:46.4</td>
      <td>+1:06.4</td>
      <td>+4:32.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>2:50:47.1</td>
      <td>+0.7</td>
      <td>+4:33.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:51:32.1</td>
      <td>+45.0</td>
      <td>+5:18.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:54:37.7</td>
      <td>+3:05.6</td>
      <td>+8:23.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>2:55:40.0</td>
      <td>+1:02.3</td>
      <td>+9:26.1</td>
    </tr>
  </tbody>
</table>

## SS16 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS16.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
      <td>18</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>21</td>
      <td>18</td>
      <td>19</td>
      <td>19</td>
      <td>17</td>
      <td>16</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>12</td>
      <td>14</td>
      <td></td>
      <td>15</td>
      <td>15</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS16.png)

### Stage position chart SS16

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS16.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>6</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>5</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>18</td>
      <td>23</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
      <td>13</td>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
      <td>7</td>
      <td>24</td>
      <td>12</td>
      <td>22</td>
      <td>17</td>
      <td>11</td>
      <td>12</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>7</td>
      <td>10</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
      <td>10</td>
      <td>16</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
      <td>10</td>
      <td>17</td>
      <td>21</td>
      <td></td>
      <td>17</td>
      <td>20</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS16

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:46:13.9|        |          |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:46:47.3|33.4    |33.4      |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:47:26.8|39.5    |+1:12.9   |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:48:26.6|59.8    |+2:12.7   |          4|        4|       4
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:49:40.0|+1:13.4 |+3:26.1   |          5|        5|       5
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:50:46.4|+1:06.4 |+4:32.5   |          6|        6|       6
   11|J. HANNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:50:47.1|0.7     |+4:33.2   |          7|        7|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:51:32.1|45.0    |+5:18.2   |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |2:54:37.7|+3:05.6 |+8:23.8   |          9|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |3:04:08.8|+2:27.0 |+17:54.9  |         13|       10|       1
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |3:50:07.9|46.9    |+1:03:54.0|         16|       11|       1

## SS17 Street Stage Feria de Le&#243;n
### Distance: 1.33 km
 
First car 21:05

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1       
    4|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
    5|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    6|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    7|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   10|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1

## Stage Report 17:

On stage SS17, and with their third stage win, S. OGIER (FRA) and J. INGRASSIA (FRA) (M-Sport World Rally Team) took the stage by +0.1 from T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport in the Hyundai I20 Coupe WRC, in a time of 1:16.9.

K. MEEKE (GBR) and P. NAGLE (IRL) in the Citroen C3 WRC, eighth on stage with a time of 1:19.4, and +2.5 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:16.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:17.0</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:17.3</td>
      <td>+0.3</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:17.7</td>
      <td>+0.4</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:18.8</td>
      <td>+1.1</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:19.1</td>
      <td>+0.3</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:19.3</td>
      <td>+0.2</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:19.4</td>
      <td>+0.1</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:19.5</td>
      <td>+0.1</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:19.7</td>
      <td>+0.2</td>
      <td>+2.8</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:47:33.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:48:04.2</td>
      <td>+30.9</td>
      <td>+30.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:48:43.8</td>
      <td>+39.6</td>
      <td>+1:10.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:49:45.9</td>
      <td>+1:02.1</td>
      <td>+2:12.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:50:58.8</td>
      <td>+1:12.9</td>
      <td>+3:25.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:52:05.9</td>
      <td>+1:07.1</td>
      <td>+4:32.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>2:52:06.2</td>
      <td>+0.3</td>
      <td>+4:32.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:52:49.4</td>
      <td>+43.2</td>
      <td>+5:16.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:55:55.4</td>
      <td>+3:06.0</td>
      <td>+8:22.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>2:56:59.7</td>
      <td>+1:04.3</td>
      <td>+9:26.4</td>
    </tr>
  </tbody>
</table>

## SS17 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS17 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:16.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:17.0</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:17.3</td>
      <td>+0.4</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:17.7</td>
      <td>+0.8</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:18.8</td>
      <td>+1.9</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>1:19.1</td>
      <td>+2.2</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:19.3</td>
      <td>+2.4</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:19.4</td>
      <td>+2.5</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:19.5</td>
      <td>+2.6</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>1:19.7</td>
      <td>+2.8</td>
      <td>+0.2</td>
    </tr>
  </tbody>
</table>

## SS17 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_220/chart_stage_sector_delta_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:16.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:17</td>
    </tr>
    <tr>
      <th>11</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:17.300000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:17.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:18.800000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:01:19.100000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:19.300000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:19.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:19.500000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>00:01:19.700000</td>
    </tr>
  </tbody>
</table>

## SS17 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS17.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS17 - overall rally positions at end of stage

At the end of stage SS17, K. MEEKE continued in overall lead of the rally for Citroën Total Abu Dhabi WRT, with a gap to second of +30.9.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport, retained third place overall, +1:10.5 behind the overall rally leader and +39.6 behind S. OGIER in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>2:47:33.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:48:04.2</td>
      <td>+30.9</td>
      <td>+30.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:48:43.8</td>
      <td>+39.6</td>
      <td>+1:10.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:49:45.9</td>
      <td>+1:02.1</td>
      <td>+2:12.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:50:58.8</td>
      <td>+1:12.9</td>
      <td>+3:25.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:52:05.9</td>
      <td>+1:07.1</td>
      <td>+4:32.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>2:52:06.2</td>
      <td>+0.3</td>
      <td>+4:32.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:52:49.4</td>
      <td>+43.2</td>
      <td>+5:16.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:55:55.4</td>
      <td>+3:06.0</td>
      <td>+8:22.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>2:56:59.7</td>
      <td>+1:04.3</td>
      <td>+9:26.4</td>
    </tr>
  </tbody>
</table>

## SS17 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS17.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>12</td>
      <td>14</td>
      <td></td>
      <td>15</td>
      <td>15</td>
      <td></td>
      <td></td>
      <td>15</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
      <td>18</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>21</td>
      <td>18</td>
      <td>19</td>
      <td>19</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS17.png)

### Stage position chart SS17

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS17.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>18</td>
      <td>23</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>6</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
      <td>13</td>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>10</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>9</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
      <td>7</td>
      <td>24</td>
      <td>12</td>
      <td>22</td>
      <td>17</td>
      <td>11</td>
      <td>12</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>12</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
      <td>10</td>
      <td>16</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
      <td>10</td>
      <td>17</td>
      <td>21</td>
      <td></td>
      <td>17</td>
      <td>20</td>
      <td></td>
      <td></td>
      <td>20</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS17

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:47:33.3|        |          |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:48:04.2|30.9    |30.9      |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:48:43.8|39.6    |+1:10.5   |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:49:45.9|+1:02.1 |+2:12.6   |          4|        4|       4
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:50:58.8|+1:12.9 |+3:25.5   |          5|        5|       5
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:52:05.9|+1:07.1 |+4:32.6   |          6|        6|       6
   11|J. HANNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:52:06.2|0.3     |+4:32.9   |          7|        7|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:52:49.4|43.2    |+5:16.1   |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |2:55:55.4|+3:06.0 |+8:22.1   |          9|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |3:05:33.2|+2:26.3 |+17:59.9  |         13|       10|       1
    8|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |3:38:51.2|+22:52.4|+51:17.9  |         15|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |3:51:30.2|33.6    |+1:03:56.9|         17|       12|       1

# Day 5 (12/03/2017)
## Section 3 (Morning)

## SS18 La Calera
### Distance: 32.96 km
 
First car 10:43

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1       
    2|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    3|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    4|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    5|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    7|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   10|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|    8|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|M          |RC1       
   12|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1

## Stage Report 18:

In stage SS18, Citroën Total Abu Dhabi WRT's K. MEEKE (GBR) and co-driver P. NAGLE (IRL) continued to lead the rally with their fourth stage win, in a time of 21:53.7.

S. OGIER (FRA) and J. INGRASSIA (FRA) (M-Sport World Rally Team) were placed second on the stage, +6.3 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>21:53.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>22:00.0</td>
      <td>+6.3</td>
      <td>+6.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>22:06.3</td>
      <td>+6.3</td>
      <td>+12.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>22:06.6</td>
      <td>+0.3</td>
      <td>+12.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>22:14.2</td>
      <td>+7.6</td>
      <td>+20.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>22:14.3</td>
      <td>+0.1</td>
      <td>+20.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>22:17.1</td>
      <td>+2.8</td>
      <td>+23.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>22:19.3</td>
      <td>+2.2</td>
      <td>+25.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>22:23.6</td>
      <td>+4.3</td>
      <td>+29.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>22:27.2</td>
      <td>+3.6</td>
      <td>+33.5</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>3:09:27.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>3:10:04.2</td>
      <td>+37.2</td>
      <td>+37.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:10:50.4</td>
      <td>+46.2</td>
      <td>+1:23.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>3:12:05.2</td>
      <td>+1:14.8</td>
      <td>+2:38.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:13:13.1</td>
      <td>+1:07.9</td>
      <td>+3:46.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:14:23.0</td>
      <td>+1:09.9</td>
      <td>+4:56.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>3:14:29.8</td>
      <td>+6.8</td>
      <td>+5:02.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>3:15:03.6</td>
      <td>+33.8</td>
      <td>+5:36.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>3:18:22.6</td>
      <td>+3:19.0</td>
      <td>+8:55.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>3:19:42.2</td>
      <td>+1:19.6</td>
      <td>+10:15.2</td>
    </tr>
  </tbody>
</table>

## SS18 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS18 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-39.2</td>
      <td></td>
      <td>-1:41.5</td>
      <td>21:53.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-36.2</td>
      <td>-1:05.4</td>
      <td>-1:32.6</td>
      <td>22:00.0</td>
      <td>+6.3</td>
      <td>+6.3</td>
    </tr>
    <tr>
      <th>11</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>-37.4</td>
      <td>-1:04.9</td>
      <td>-1:30.9</td>
      <td>22:06.3</td>
      <td>+12.6</td>
      <td>+6.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-35.7</td>
      <td>-1:05.5</td>
      <td>-1:31.0</td>
      <td>22:06.6</td>
      <td>+12.9</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-34.1</td>
      <td>-1:01.8</td>
      <td>-1:26.9</td>
      <td>22:14.2</td>
      <td>+20.5</td>
      <td>+7.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-34.9</td>
      <td>-1:01.6</td>
      <td>-1:24.1</td>
      <td>22:14.3</td>
      <td>+20.6</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-39.2</td>
      <td>-1:06.9</td>
      <td>-1:32.3</td>
      <td>22:17.1</td>
      <td>+23.4</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-35.2</td>
      <td>-1:00.4</td>
      <td>-1:22.4</td>
      <td>22:19.3</td>
      <td>+25.6</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td></td>
      <td></td>
      <td></td>
      <td>22:23.6</td>
      <td>+29.9</td>
      <td>+4.3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-33.2</td>
      <td>-55.4</td>
      <td></td>
      <td>22:27.2</td>
      <td>+33.5</td>
      <td>+3.6</td>
    </tr>
  </tbody>
</table>

## SS18 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 18, J. LATVALA lost ground in the final part of the stage.

![](images/2017_220/chart_stage_sector_delta_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:06:08.300000</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:21:53.700000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:06:11.300000</td>
      <td>00:04:54.900000</td>
      <td>00:05:22</td>
      <td>00:05:31.800000</td>
      <td>00:22:00</td>
    </tr>
    <tr>
      <th>11</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>00:06:10.100000</td>
      <td>00:04:56.600000</td>
      <td>00:05:23.200000</td>
      <td>00:05:36.400000</td>
      <td>00:22:06.300000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:06:11.800000</td>
      <td>00:04:54.300000</td>
      <td>00:05:23.700000</td>
      <td>00:05:36.800000</td>
      <td>00:22:06.600000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:06:13.400000</td>
      <td>00:04:56.400000</td>
      <td>00:05:24.100000</td>
      <td>00:05:40.300000</td>
      <td>00:22:14.200000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:06:12.600000</td>
      <td>00:04:57.400000</td>
      <td>00:05:26.700000</td>
      <td>00:05:37.600000</td>
      <td>00:22:14.300000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:06:08.300000</td>
      <td>00:04:56.400000</td>
      <td>00:05:23.800000</td>
      <td>00:05:48.600000</td>
      <td>00:22:17.100000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:06:12.300000</td>
      <td>00:04:58.900000</td>
      <td>00:05:27.200000</td>
      <td>00:05:40.900000</td>
      <td>00:22:19.300000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:22:23.600000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:06:14.300000</td>
      <td>00:05:01.900000</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:22:27.200000</td>
    </tr>
  </tbody>
</table>

## SS18 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS18.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS18 - overall rally positions at end of stage

At the end of stage SS18, K. MEEKE remained in overall lead of the rally for Citroën Total Abu Dhabi WRT in the Citroen C3 WRC, with a gap to second of +37.2.

S. OGIER, in the Ford Fiesta WRC, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport in the Hyundai I20 Coupe WRC, retained third place overall, +1:23.4 behind the overall rally leader and trailing second placed S. OGIER by +46.2.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>3:09:27.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>3:10:04.2</td>
      <td>+37.2</td>
      <td>+37.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:10:50.4</td>
      <td>+46.2</td>
      <td>+1:23.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>3:12:05.2</td>
      <td>+1:14.8</td>
      <td>+2:38.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:13:13.1</td>
      <td>+1:07.9</td>
      <td>+3:46.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:14:23.0</td>
      <td>+1:09.9</td>
      <td>+4:56.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>3:14:29.8</td>
      <td>+6.8</td>
      <td>+5:02.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>3:15:03.6</td>
      <td>+33.8</td>
      <td>+5:36.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>3:18:22.6</td>
      <td>+3:19.0</td>
      <td>+8:55.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>3:19:42.2</td>
      <td>+1:19.6</td>
      <td>+10:15.2</td>
    </tr>
  </tbody>
</table>

## SS18 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS18.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>12</td>
      <td>14</td>
      <td></td>
      <td>15</td>
      <td>15</td>
      <td></td>
      <td></td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
      <td>18</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>21</td>
      <td>18</td>
      <td>19</td>
      <td>19</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>16</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS18.png)

### Stage position chart SS18

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS18.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
      <td>10</td>
      <td>17</td>
      <td>21</td>
      <td></td>
      <td>17</td>
      <td>20</td>
      <td></td>
      <td></td>
      <td>20</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>18</td>
      <td>23</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
      <td>13</td>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>7</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>10</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>6</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
      <td>7</td>
      <td>24</td>
      <td>12</td>
      <td>22</td>
      <td>17</td>
      <td>11</td>
      <td>12</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
      <td>10</td>
      <td>16</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>15</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS18

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |3:09:27.0|        |          |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |3:10:04.2|37.2    |37.2      |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |3:10:50.4|46.2    |+1:23.4   |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |3:12:05.2|+1:14.8 |+2:38.2   |          4|        4|       4
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |3:13:13.1|+1:07.9 |+3:46.1   |          5|        5|       5
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |3:14:23.0|+1:09.9 |+4:56.0   |          6|        6|       6
   11|J. HANNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |3:14:29.8|6.8     |+5:02.8   |          7|        7|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |3:15:03.6|33.8    |+5:36.6   |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |3:18:22.6|+3:19.0 |+8:55.6   |          9|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |3:29:44.7|+2:45.7 |+20:17.7  |         13|       10|       1
    8|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |4:00:57.5|+19:48.8|+51:30.5  |         15|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |4:14:24.4|+13:26.9|+1:04:57.4|         16|       12|       1

## SS19 Derramadero Power Stage (Live TV)
### Distance: 21.94 km
 
First car 12:18

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    4|    8|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|M          |RC1       
    5|   37|L. BERTELLI|M-Sport World Rally Team   |WRC        |RC1       
    6|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    7|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    8|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    9|   11|J. HANNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   10|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   11|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   12|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   13|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   14|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   15|   12|V. GORBAN  |Eurolamp World Rally Team  |WRCT       |RC1

## Stage Report 19:

On stage SS19, and with their fourth stage win, Hyundai Motorsport's T. NEUVILLE (BEL) and N. GILSOUL (BEL) took the stage by +0.3 from S. OGIER (FRA) and co-driver J. INGRASSIA (FRA) for M-Sport World Rally Team, in a time of 12:13.9.

K. MEEKE (GBR) and P. NAGLE (IRL) (Citroën Total Abu Dhabi WRT), eighth on stage with a time of 12:37.6, and +23.7 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>12:13.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>12:14.2</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>12:17.7</td>
      <td>+3.5</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>12:21.9</td>
      <td>+4.2</td>
      <td>+8.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>12:23.7</td>
      <td>+1.8</td>
      <td>+9.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>12:23.8</td>
      <td>+0.1</td>
      <td>+9.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>12:24.4</td>
      <td>+0.6</td>
      <td>+10.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>12:37.6</td>
      <td>+13.2</td>
      <td>+23.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>12:41.0</td>
      <td>+3.4</td>
      <td>+27.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>12:43.0</td>
      <td>+2.0</td>
      <td>+29.1</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>3:22:04.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>3:22:18.4</td>
      <td>+13.8</td>
      <td>+13.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:23:04.3</td>
      <td>+45.9</td>
      <td>+59.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>3:24:22.9</td>
      <td>+1:18.6</td>
      <td>+2:18.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:25:37.5</td>
      <td>+1:14.6</td>
      <td>+3:32.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:26:44.9</td>
      <td>+1:07.4</td>
      <td>+4:40.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>3:27:10.8</td>
      <td>+25.9</td>
      <td>+5:06.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>3:27:27.3</td>
      <td>+16.5</td>
      <td>+5:22.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>3:30:46.4</td>
      <td>+3:19.1</td>
      <td>+8:41.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>3:32:56.5</td>
      <td>+2:10.1</td>
      <td>+10:51.9</td>
    </tr>
  </tbody>
</table>

## SS19 - stage split time, rank position

![](images/2017_220/chart_stage_split_pos_SS19.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS19 - stage split delta time (seconds) to first on stage

![](images/2017_220/split_delta_firstonstage_SS19.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-22.5</td>
      <td>-53.5</td>
      <td>12:13.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-23.9</td>
      <td>-54.1</td>
      <td>12:14.2</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-23.0</td>
      <td>-52.2</td>
      <td>12:17.7</td>
      <td>+3.8</td>
      <td>+3.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-19.1</td>
      <td>-49.2</td>
      <td>12:21.9</td>
      <td>+8.0</td>
      <td>+4.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-21.3</td>
      <td>-50.0</td>
      <td>12:23.7</td>
      <td>+9.8</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-21.6</td>
      <td>-48.5</td>
      <td>12:23.8</td>
      <td>+9.9</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-21.9</td>
      <td>-48.8</td>
      <td>12:24.4</td>
      <td>+10.5</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>14</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-22.6</td>
      <td></td>
      <td>12:37.6</td>
      <td>+23.7</td>
      <td>+13.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>-13.9</td>
      <td>-35.1</td>
      <td>12:41.0</td>
      <td>+27.1</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>-15.6</td>
      <td>-37.9</td>
      <td>12:43.0</td>
      <td>+29.1</td>
      <td>+2.0</td>
    </tr>
  </tbody>
</table>

## SS19 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 19, S. LEFEBVRE lost ground in the final part of the stage.

![](images/2017_220/chart_stage_sector_delta_SS19.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>12</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:18.100000</td>
      <td>00:04:23.300000</td>
      <td>00:04:32.500000</td>
      <td>00:12:13.900000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:16.700000</td>
      <td>00:04:24.100000</td>
      <td>00:04:33.400000</td>
      <td>00:12:14.200000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:17.600000</td>
      <td>00:04:25.100000</td>
      <td>00:04:35</td>
      <td>00:12:17.700000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:21.500000</td>
      <td>00:04:24.200000</td>
      <td>00:04:36.200000</td>
      <td>00:12:21.900000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:19.300000</td>
      <td>00:04:25.600000</td>
      <td>00:04:38.800000</td>
      <td>00:12:23.700000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:19</td>
      <td>00:04:27.400000</td>
      <td>00:04:37.400000</td>
      <td>00:12:23.800000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:18.700000</td>
      <td>00:04:27.400000</td>
      <td>00:04:38.300000</td>
      <td>00:12:24.400000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:18</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:12:37.600000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>00:03:26.700000</td>
      <td>00:04:33.100000</td>
      <td>00:04:41.200000</td>
      <td>00:12:41</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:25</td>
      <td>00:04:32</td>
      <td>00:04:46</td>
      <td>00:12:43</td>
    </tr>
  </tbody>
</table>

## SS19 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_220/split_delta_rebase_SS19.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS19 - overall rally positions at end of stage

At the end of stage SS19, K. MEEKE remained in overall lead of the rally in the Citroen C3 WRC, commanding a lead of +13.8.

S. OGIER, for M-Sport World Rally Team in the Ford Fiesta WRC, retained second place overall.

T. NEUVILLE, for Hyundai Motorsport, retained third place overall, +59.7 behind the overall rally leader and +45.9 behind S. OGIER.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>3:22:04.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>3:22:18.4</td>
      <td>+13.8</td>
      <td>+13.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>3:23:04.3</td>
      <td>+45.9</td>
      <td>+59.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>3:24:22.9</td>
      <td>+1:18.6</td>
      <td>+2:18.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>3:25:37.5</td>
      <td>+1:14.6</td>
      <td>+3:32.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>3:26:44.9</td>
      <td>+1:07.4</td>
      <td>+4:40.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HANNINEN</td>
      <td>3:27:10.8</td>
      <td>+25.9</td>
      <td>+5:06.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>3:27:27.3</td>
      <td>+16.5</td>
      <td>+5:22.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>3:30:46.4</td>
      <td>+3:19.1</td>
      <td>+8:41.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>30</td>
      <td>P. TIDEMAND</td>
      <td>3:32:56.5</td>
      <td>+2:10.1</td>
      <td>+10:51.9</td>
    </tr>
  </tbody>
</table>

## SS19 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_220/overall_SS19.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>6</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>10</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>15</td>
      <td>14</td>
      <td>13</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>24</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>14</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>11</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>7</td>
      <td>12</td>
      <td>14</td>
      <td></td>
      <td>15</td>
      <td>15</td>
      <td></td>
      <td></td>
      <td>15</td>
      <td>15</td>
      <td>15</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>21</td>
      <td>23</td>
      <td>18</td>
      <td>18</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>21</td>
      <td>18</td>
      <td>19</td>
      <td>19</td>
      <td>17</td>
      <td>16</td>
      <td>17</td>
      <td>16</td>
      <td>16</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_220/overall_td_diffFirst_SS19.png)

### Stage position chart SS19

*Showing stage position for each stage.*

![](images/2017_220/stageStage_SS19.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS0</th>
      <th>SS1</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
      <th>SS19</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>7</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
      <td>10</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>5</td>
      <td>2</td>
      <td>7</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>3</td>
      <td>1</td>
      <td>10</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>8</td>
      <td>8</td>
      <td>9</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>5</td>
      <td>2</td>
      <td>2</td>
      <td>9</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>11</td>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>2</td>
      <td>18</td>
      <td>23</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>7</td>
      <td>4</td>
      <td>5</td>
      <td>3</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>6</td>
      <td>4</td>
      <td>10</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>9</td>
      <td>6</td>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>8</td>
      <td>1</td>
      <td>1</td>
      <td>4</td>
      <td>10</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>3</td>
      <td>9</td>
      <td>3</td>
      <td>5</td>
      <td>18</td>
      <td>13</td>
      <td>11</td>
      <td>6</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>7</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>2</td>
      <td>7</td>
      <td>1</td>
      <td>4</td>
      <td>9</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>7</td>
      <td>10</td>
      <td>8</td>
      <td>1</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HANNINEN</th>
      <td>1</td>
      <td>5</td>
      <td>6</td>
      <td>9</td>
      <td>11</td>
      <td>3</td>
      <td>3</td>
      <td>8</td>
      <td>9</td>
      <td>8</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>6</td>
      <td>6</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>8</th>
      <th>S. LEFEBVRE</th>
      <td>12</td>
      <td>16</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>4</td>
      <td>10</td>
      <td>17</td>
      <td>21</td>
      <td></td>
      <td>17</td>
      <td>20</td>
      <td></td>
      <td></td>
      <td>20</td>
      <td>3</td>
      <td>10</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>9</td>
      <td>11</td>
      <td>21</td>
      <td>12</td>
      <td>5</td>
      <td>7</td>
      <td>24</td>
      <td>12</td>
      <td>22</td>
      <td>17</td>
      <td>11</td>
      <td>12</td>
      <td>11</td>
      <td>6</td>
      <td>8</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>12</th>
      <th>V. GORBAN</th>
      <td>16</td>
      <td>12</td>
      <td>14</td>
      <td>15</td>
      <td>15</td>
      <td>10</td>
      <td>16</td>
      <td>15</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>15</td>
      <td>13</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS19

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst |overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|----------|----------:|--------:|-------:
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |3:22:04.6|        |          |          1|        1|       1
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |3:22:18.4|13.8    |13.8      |          2|        2|       2
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |3:23:04.3|45.9    |59.7      |          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |3:24:22.9|+1:18.6 |+2:18.3   |          4|        4|       4
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |3:25:37.5|+1:14.6 |+3:32.9   |          5|        5|       5
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |3:26:44.9|+1:07.4 |+4:40.3   |          6|        6|       6
   11|J. HANNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |3:27:10.8|25.9    |+5:06.2   |          7|        7|       7
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |3:27:27.3|16.5    |+5:22.7   |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |3:30:46.4|+3:19.1 |+8:41.8   |          9|        9|       9
   12|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRCT       |3:43:11.4|+2:28.8 |+21:06.8  |         13|       10|       1
    8|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|M          |4:13:40.5|+17:59.4|+51:35.9  |         15|       11|      10
   37|L. BERTELLI|S. SCATTOLIN|M-Sport World Rally Team   |WRC        |4:27:25.0|+13:44.5|+1:05:20.4|         16|       12|       1