# WRC Rally - Sweden, 2017

# Day 1 (09/02/2017)
## Section 1 (Night)

## SS1 Super Special Stage Karlstad
### Distance: 1.90 km
 
First car 20:08

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
   17|   37|L. BERTELLI|FWRT                       |WRC Trophy |RC1       
   18|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1       
   19|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   20|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
   21|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
   22|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
   23|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   24|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
   25|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   26|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   27|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   28|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   29|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   30|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1

## Stage Report 1:

In stage SS1, J. LATVALA (FIN) and M. ANTTILA (FIN) in the Toyota Yaris WRC took the stage, and the lead of the rally, with a time of 1:34.1, +0.6 ahead of second on stage T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport).



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:34.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:34.7</td>
      <td>+0.6</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:34.8</td>
      <td>+0.1</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:34.9</td>
      <td>+0.1</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:35.0</td>
      <td>+0.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:35.3</td>
      <td>+0.3</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:36.1</td>
      <td>+0.8</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:36.2</td>
      <td>+0.1</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:36.2</td>
      <td>+0.0</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>34</td>
      <td>O. VEIBY</td>
      <td>1:36.5</td>
      <td>+0.3</td>
      <td>+2.4</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:34.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:34.7</td>
      <td>+0.6</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:34.8</td>
      <td>+0.1</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:34.9</td>
      <td>+0.1</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:35.0</td>
      <td>+0.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:35.3</td>
      <td>+0.3</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:36.1</td>
      <td>+0.8</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:36.2</td>
      <td>+0.1</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:36.2</td>
      <td>+0.0</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>34</td>
      <td>O. VEIBY</td>
      <td>1:36.5</td>
      <td>+0.3</td>
      <td>+2.4</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS1 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>30</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:34.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>26</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:34.7</td>
      <td>+0.6</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>22</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:34.8</td>
      <td>+0.7</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:34.9</td>
      <td>+0.8</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>29</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:35.0</td>
      <td>+0.9</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:35.3</td>
      <td>+1.2</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>28</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:36.1</td>
      <td>+2.0</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>24</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:36.2</td>
      <td>+2.1</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:36.2</td>
      <td>+2.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>34</td>
      <td>O. VEIBY</td>
      <td>1:36.5</td>
      <td>+2.4</td>
      <td>+0.3</td>
    </tr>
  </tbody>
</table>

## SS1 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_218/chart_stage_sector_delta_SS1.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>30</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:34.100000</td>
    </tr>
    <tr>
      <th>26</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:01:34.700000</td>
    </tr>
    <tr>
      <th>22</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:34.800000</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:34.900000</td>
    </tr>
    <tr>
      <th>29</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:35</td>
    </tr>
    <tr>
      <th>27</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:01:35.300000</td>
    </tr>
    <tr>
      <th>28</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:36.100000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:36.200000</td>
    </tr>
    <tr>
      <th>24</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:01:36.200000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>34</td>
      <td>O. VEIBY</td>
      <td>00:01:36.500000</td>
    </tr>
  </tbody>
</table>

## SS1 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS1.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS1 - overall rally positions at end of stage

On the first completed stage, SS1, J. LATVALA took the stage for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, and along with it the lead of the rally, going +0.6 ahead overall.

T. NEUVILLE, in the Hyundai i20 Coupe WRC, moved up into second place overall.

D. SORDO, for Hyundai Motorsport, took third place overall, +0.7 behind the overall rally leader and trailing T. NEUVILLE by +0.1.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:34.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:34.7</td>
      <td>+0.6</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:34.8</td>
      <td>+0.1</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:34.9</td>
      <td>+0.1</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:35.0</td>
      <td>+0.1</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:35.3</td>
      <td>+0.3</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:36.1</td>
      <td>+0.8</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:36.2</td>
      <td>+0.1</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:36.2</td>
      <td>+0.0</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>34</td>
      <td>O. VEIBY</td>
      <td>1:36.5</td>
      <td>+0.3</td>
      <td>+2.4</td>
    </tr>
  </tbody>
</table>

## SS1 - Overall rank evolution

## Full Overall Results at end of SS1

carNo|driverName |coDriverName|           team            |eligibility| time |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|------|-------:|--------:|----------:|--------:|-------:
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:34.1|        |         |          1|        1|       1
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:34.7|     0.6|      0.6|          2|        2|       2
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:34.8|     0.1|      0.7|          3|        3|       3
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:34.9|     0.1|      0.8|          4|        4|       4
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:35.0|     0.1|      0.9|          5|        5|       5
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |1:35.3|     0.3|      1.2|          6|        6|       1
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:36.1|     0.8|      2.0|          7|        7|       6
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:36.2|     0.1|      2.1|          8|        8|       7
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:36.2|     0.0|      2.1|          9|        9|       8
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:37.3|     0.8|      3.2|         11|       10|       9
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |1:37.7|     0.2|      3.6|         14|       11|       2
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:37.7|     0.0|      3.6|         15|       12|      10
   37|L. BERTELLI|S. SCATTOLIN|FWRT                       |WRC Trophy |1:41.1|     0.2|      7.0|         22|       13|       1
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |1:41.2|     0.1|      7.1|         24|       14|       2

# Day 2 (10/02/2017)
## Section 2 (Morning)

## SS2 R&#246;jden
### Distance: 18.47 km
 
First car 07:59

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    7|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   10|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   12|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
  NaN|   37|L. BERTELLI|FWRT                       |WRC Trophy |RC1       
   14|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1

## Stage Report 2:

In stage SS2, T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport took the stage, and their first stage win, in 9:37.3, +2.0 ahead of K. MEEKE (GBR) and P. NAGLE (IRL) in the Citroën C3 WRC.

As well as taking the stage, his +4.6 gain over J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT, the rally leader going into the stage, meant T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport also took overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>9:37.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>9:39.3</td>
      <td>+2.0</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>9:40.1</td>
      <td>+0.8</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>9:41.9</td>
      <td>+1.8</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>9:42.2</td>
      <td>+0.3</td>
      <td>+4.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>9:44.3</td>
      <td>+2.1</td>
      <td>+7.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>9:44.7</td>
      <td>+0.4</td>
      <td>+7.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>9:46.1</td>
      <td>+1.4</td>
      <td>+8.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>9:46.5</td>
      <td>+0.4</td>
      <td>+9.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>9:48.0</td>
      <td>+1.5</td>
      <td>+10.7</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>11:12.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>11:15.0</td>
      <td>+3.0</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>11:15.4</td>
      <td>+0.4</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>11:16.0</td>
      <td>+0.6</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>11:17.5</td>
      <td>+1.5</td>
      <td>+5.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>11:19.5</td>
      <td>+2.0</td>
      <td>+7.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>11:20.5</td>
      <td>+1.0</td>
      <td>+8.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>11:23.0</td>
      <td>+2.5</td>
      <td>+11.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>11:23.8</td>
      <td>+0.8</td>
      <td>+11.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>11:23.8</td>
      <td>+0.0</td>
      <td>+11.8</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS2 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-4.1</td>
      <td>-7.2</td>
      <td>9:37.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-5.2</td>
      <td>-6.2</td>
      <td>9:39.3</td>
      <td>+2.0</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-6.3</td>
      <td>-8.2</td>
      <td>9:40.1</td>
      <td>+2.8</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-4.3</td>
      <td>-6.2</td>
      <td>9:41.9</td>
      <td>+4.6</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-5.1</td>
      <td>-6.3</td>
      <td>9:42.2</td>
      <td>+4.9</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-1.6</td>
      <td>-1.2</td>
      <td>9:44.3</td>
      <td>+7.0</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-4.8</td>
      <td>-5.6</td>
      <td>9:44.7</td>
      <td>+7.4</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-3.3</td>
      <td>-2.0</td>
      <td>9:46.1</td>
      <td>+8.8</td>
      <td>+1.4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-2.5</td>
      <td>-4.5</td>
      <td>9:46.5</td>
      <td>+9.2</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:04.5</td>
      <td>00:06:18.1</td>
      <td>9:48.0</td>
      <td>+10.7</td>
      <td>+1.5</td>
    </tr>
  </tbody>
</table>

## SS2 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_218/chart_stage_sector_delta_SS2.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:00.400000</td>
      <td>00:03:10.500000</td>
      <td>00:03:26.400000</td>
      <td>00:09:37.300000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:59.300000</td>
      <td>00:03:12.600000</td>
      <td>00:03:27.400000</td>
      <td>00:09:39.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:58.200000</td>
      <td>00:03:11.700000</td>
      <td>00:03:30.200000</td>
      <td>00:09:40.100000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:00.200000</td>
      <td>00:03:11.700000</td>
      <td>00:03:30</td>
      <td>00:09:41.900000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:02:59.400000</td>
      <td>00:03:12.400000</td>
      <td>00:03:30.400000</td>
      <td>00:09:42.200000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:02.900000</td>
      <td>00:03:14</td>
      <td>00:03:27.400000</td>
      <td>00:09:44.300000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:59.700000</td>
      <td>00:03:12.800000</td>
      <td>00:03:32.200000</td>
      <td>00:09:44.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:01.200000</td>
      <td>00:03:14.900000</td>
      <td>00:03:30</td>
      <td>00:09:46.100000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:02</td>
      <td>00:03:11.600000</td>
      <td>00:03:32.900000</td>
      <td>00:09:46.500000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:04.500000</td>
      <td>00:03:13.600000</td>
      <td>00:03:29.900000</td>
      <td>00:09:48</td>
    </tr>
  </tbody>
</table>

## SS2 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS2.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS2 - overall rally positions at end of stage

Following stage SS2, T. NEUVILLE in the Hyundai i20 Coupe WRC moved up one position, from second at end of the previous stage, to take overall lead of the rally, from O. TANAK for M-Sport World Rally Team in the Ford Fiesta WRC +3.0 ahead.

The overall leader from the previous stage, J. LATVALA, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, fell three places to fourth, putting him +4.0 behind the overall leader.

O. TANAK, in the Ford Fiesta WRC, took second place overall, gaining two positions from fourth.

K. MEEKE, in the Citroën C3 WRC, moved to third place overall, up four places from seventh, +3.4 behind the overall rally leader and +0.4 behind O. TANAK in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>11:12.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>11:15.0</td>
      <td>+3.0</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>11:15.4</td>
      <td>+0.4</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>11:16.0</td>
      <td>+0.6</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>11:17.5</td>
      <td>+1.5</td>
      <td>+5.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>11:19.5</td>
      <td>+2.0</td>
      <td>+7.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>11:20.5</td>
      <td>+1.0</td>
      <td>+8.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>11:23.0</td>
      <td>+2.5</td>
      <td>+11.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>11:23.8</td>
      <td>+0.8</td>
      <td>+11.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>11:23.8</td>
      <td>+0.0</td>
      <td>+11.8</td>
    </tr>
  </tbody>
</table>

## SS2 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS2.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS2.png)

### Stage position chart SS2

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS2.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS2

carNo|driverName |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |11:12.0|        |         |          1|        1|       1
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |11:15.0|     3.0|3.0      |          2|        2|       2
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |11:15.4|     0.4|3.4      |          3|        3|       3
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |11:16.0|     0.6|4.0      |          4|        4|       4
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |11:17.5|     1.5|5.5      |          5|        5|       1
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |11:19.5|     2.0|7.5      |          6|        6|       5
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |11:20.5|     1.0|8.5      |          7|        7|       6
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |11:23.0|     2.5|11.0     |          8|        8|       7
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |11:23.8|     0.8|11.8     |          9|        9|       8
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |11:23.8|     0.0|11.8     |         10|       10|       9
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |11:26.1|     2.3|14.1     |         11|       11|      10
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |11:49.7|    23.6|37.7     |         12|       12|       2
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |12:29.5|     1.7|+1:17.5  |         23|       13|       1

## SS3 Hof-Finnskog
### Distance: 21.26 km
 
First car 09:06

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    7|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   10|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   12|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   13|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1

## Stage Report 3:

In stage SS3, T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport) continued to lead the rally with their second stage win, in a time of 10:10.3.

J. LATVALA (FIN) and co-driver M. ANTTILA (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC were placed second on the stage, +0.6 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:10.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>10:10.9</td>
      <td>+0.6</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>10:12.6</td>
      <td>+1.7</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>10:13.4</td>
      <td>+0.8</td>
      <td>+3.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>10:13.9</td>
      <td>+0.5</td>
      <td>+3.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:15.0</td>
      <td>+1.1</td>
      <td>+4.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>10:15.9</td>
      <td>+0.9</td>
      <td>+5.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>10:16.3</td>
      <td>+0.4</td>
      <td>+6.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>10:19.0</td>
      <td>+2.7</td>
      <td>+8.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>10:21.3</td>
      <td>+2.3</td>
      <td>+11.0</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>21:22.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>21:26.9</td>
      <td>+4.6</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>21:31.3</td>
      <td>+4.4</td>
      <td>+9.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>21:33.4</td>
      <td>+2.1</td>
      <td>+11.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>21:33.8</td>
      <td>+0.4</td>
      <td>+11.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>21:34.0</td>
      <td>+0.2</td>
      <td>+11.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>21:35.5</td>
      <td>+1.5</td>
      <td>+13.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>21:36.4</td>
      <td>+0.9</td>
      <td>+14.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>21:36.4</td>
      <td>+0.0</td>
      <td>+14.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>21:47.4</td>
      <td>+11.0</td>
      <td>+25.1</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS3 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-0.2</td>
      <td>-1.1</td>
      <td>10:10.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.4</td>
      <td>-2.1</td>
      <td>10:10.9</td>
      <td>+0.6</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-0.8</td>
      <td>-1.0</td>
      <td>10:12.6</td>
      <td>+2.3</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:30.9</td>
      <td>00:05:59.2</td>
      <td>10:13.4</td>
      <td>+3.1</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-1.7</td>
      <td>+1.1</td>
      <td>10:13.9</td>
      <td>+3.6</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>+2.7</td>
      <td>+2.2</td>
      <td>10:15.0</td>
      <td>+4.7</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>+1.3</td>
      <td>+1.2</td>
      <td>10:15.9</td>
      <td>+5.6</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>+1.3</td>
      <td>+0.7</td>
      <td>10:16.3</td>
      <td>+6.0</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>+1.0</td>
      <td>+3.0</td>
      <td>10:19.0</td>
      <td>+8.7</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+4.3</td>
      <td>+4.5</td>
      <td>10:21.3</td>
      <td>+11.0</td>
      <td>+2.3</td>
    </tr>
  </tbody>
</table>

## SS3 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_218/chart_stage_sector_delta_SS3.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:30.700000</td>
      <td>00:02:27.400000</td>
      <td>00:04:12.200000</td>
      <td>00:10:10.300000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:28.500000</td>
      <td>00:02:28.600000</td>
      <td>00:04:13.800000</td>
      <td>00:10:10.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:30.100000</td>
      <td>00:02:28.100000</td>
      <td>00:04:14.400000</td>
      <td>00:10:12.600000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:30.900000</td>
      <td>00:02:28.300000</td>
      <td>00:04:14.200000</td>
      <td>00:10:13.400000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:29.200000</td>
      <td>00:02:31.100000</td>
      <td>00:04:13.600000</td>
      <td>00:10:13.900000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:33.600000</td>
      <td>00:02:27.800000</td>
      <td>00:04:13.600000</td>
      <td>00:10:15</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:32.200000</td>
      <td>00:02:28.200000</td>
      <td>00:04:15.500000</td>
      <td>00:10:15.900000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:32.200000</td>
      <td>00:02:27.700000</td>
      <td>00:04:16.400000</td>
      <td>00:10:16.300000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:31.900000</td>
      <td>00:02:30.300000</td>
      <td>00:04:16.800000</td>
      <td>00:10:19</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:35.200000</td>
      <td>00:02:28.500000</td>
      <td>00:04:17.600000</td>
      <td>00:10:21.300000</td>
    </tr>
  </tbody>
</table>

## SS3 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS3.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS3 - overall rally positions at end of stage

Following stage SS3, T. NEUVILLE continued in overall lead of the rally for Hyundai Motorsport in the Hyundai i20 Coupe WRC, +4.6 ahead.

J. LATVALA, for Toyota Gazoo Racing WRT, took second place overall, improving two positions from fourth.

Previous second place overall, O. TANAK for M-Sport World Rally Team in the Ford Fiesta WRC, fell back four positions to sixth, +11.7 behind the leader.

K. MEEKE, for Citroën Total Abu Dhabi WRT in the Citroën C3 WRC, retained third place overall, +9.0 behind the overall rally leader and +4.4 behind J. LATVALA.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>21:22.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>21:26.9</td>
      <td>+4.6</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>21:31.3</td>
      <td>+4.4</td>
      <td>+9.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>21:33.4</td>
      <td>+2.1</td>
      <td>+11.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>21:33.8</td>
      <td>+0.4</td>
      <td>+11.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>21:34.0</td>
      <td>+0.2</td>
      <td>+11.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>21:35.5</td>
      <td>+1.5</td>
      <td>+13.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>21:36.4</td>
      <td>+0.9</td>
      <td>+14.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>21:36.4</td>
      <td>+0.0</td>
      <td>+14.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>21:47.4</td>
      <td>+11.0</td>
      <td>+25.1</td>
    </tr>
  </tbody>
</table>

## SS3 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS3.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS3.png)

### Stage position chart SS3

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS3.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS3

carNo|driverName |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |21:22.3|        |         |          1|        1|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |21:26.9|     4.6|4.6      |          2|        2|       2
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |21:31.3|     4.4|9.0      |          3|        3|       3
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |21:33.4|     2.1|11.1     |          4|        4|       4
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |21:33.8|     0.4|11.5     |          5|        5|       1
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |21:34.0|     0.2|11.7     |          6|        6|       5
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |21:35.5|     1.5|13.2     |          7|        7|       6
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |21:36.4|     0.9|14.1     |          8|        8|       7
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |21:36.4|     0.0|14.1     |          9|        9|       8
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |21:47.4|    11.0|25.1     |         10|       10|       9
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |21:49.6|     2.2|27.3     |         11|       11|      10
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |22:31.6|    42.0|+1:09.3  |         12|       12|       2
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |24:03.1|     9.6|+2:40.8  |         25|       13|       1

## SS4 Svullrya
### Distance: 24.88 km
 
First car 10:20

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    7|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   10|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   12|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   13|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1

## Stage Report 4:

In stage SS4, in a time of 12:52.3, J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC took their second stage win, as well as overall lead of the rally.

He was +8.5 ahead of previous rally leader T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport, placed second on the stage.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>12:52.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>13:00.8</td>
      <td>+8.5</td>
      <td>+8.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>13:01.9</td>
      <td>+1.1</td>
      <td>+9.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>13:05.2</td>
      <td>+3.3</td>
      <td>+12.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>13:06.3</td>
      <td>+1.1</td>
      <td>+14.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>13:06.7</td>
      <td>+0.4</td>
      <td>+14.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>13:10.7</td>
      <td>+4.0</td>
      <td>+18.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>13:11.2</td>
      <td>+0.5</td>
      <td>+18.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>13:19.7</td>
      <td>+8.5</td>
      <td>+27.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>13:21.8</td>
      <td>+2.1</td>
      <td>+29.5</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>34:19.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>34:23.1</td>
      <td>+3.9</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>34:38.0</td>
      <td>+14.9</td>
      <td>+18.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>34:38.3</td>
      <td>+0.3</td>
      <td>+19.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>34:39.2</td>
      <td>+0.9</td>
      <td>+20.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>34:40.1</td>
      <td>+0.9</td>
      <td>+20.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>34:55.2</td>
      <td>+15.1</td>
      <td>+36.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>34:56.1</td>
      <td>+0.9</td>
      <td>+36.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>34:58.6</td>
      <td>+2.5</td>
      <td>+39.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>35:00.3</td>
      <td>+1.7</td>
      <td>+41.1</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS4 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.5</td>
      <td>-3.7</td>
      <td>-7.9</td>
      <td>12:52.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>+0.1</td>
      <td>+0.5</td>
      <td>-0.9</td>
      <td>13:00.8</td>
      <td>+8.5</td>
      <td>+8.5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:20.1</td>
      <td>00:06:32.7</td>
      <td>00:09:28.9</td>
      <td>13:01.9</td>
      <td>+9.6</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-0.1</td>
      <td>+0.3</td>
      <td>+3.0</td>
      <td>13:05.2</td>
      <td>+12.9</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-1.0</td>
      <td>+0.4</td>
      <td>+1.2</td>
      <td>13:06.3</td>
      <td>+14.0</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>+1.4</td>
      <td>+2.6</td>
      <td>+2.8</td>
      <td>13:06.7</td>
      <td>+14.4</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>+0.2</td>
      <td>+2.0</td>
      <td>+2.6</td>
      <td>13:10.7</td>
      <td>+18.4</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+1.9</td>
      <td>+4.5</td>
      <td>+4.9</td>
      <td>13:11.2</td>
      <td>+18.9</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>+7.2</td>
      <td>+8.3</td>
      <td>+9.8</td>
      <td>13:19.7</td>
      <td>+27.4</td>
      <td>+8.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+15.4</td>
      <td>+17.4</td>
      <td>+18.4</td>
      <td>13:21.8</td>
      <td>+29.5</td>
      <td>+2.1</td>
    </tr>
  </tbody>
</table>

## SS4 - stage sector delta time (seconds) to fastest stage sector time

J. LATVALA drove an __ultimate stage__, recording the fastest time *between* each timing point on the stage.

![](images/2017_218/chart_stage_sector_delta_SS4.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:17.600000</td>
      <td>00:03:11.400000</td>
      <td>00:02:52</td>
      <td>00:03:31.300000</td>
      <td>00:12:52.300000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:20.200000</td>
      <td>00:03:13</td>
      <td>00:02:54.800000</td>
      <td>00:03:32.800000</td>
      <td>00:13:00.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:20.100000</td>
      <td>00:03:12.600000</td>
      <td>00:02:56.200000</td>
      <td>00:03:33</td>
      <td>00:13:01.900000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:20</td>
      <td>00:03:13</td>
      <td>00:02:58.900000</td>
      <td>00:03:33.300000</td>
      <td>00:13:05.200000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:19.100000</td>
      <td>00:03:14</td>
      <td>00:02:57</td>
      <td>00:03:36.200000</td>
      <td>00:13:06.300000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:21.500000</td>
      <td>00:03:13.800000</td>
      <td>00:02:56.400000</td>
      <td>00:03:35</td>
      <td>00:13:06.700000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:20.300000</td>
      <td>00:03:14.400000</td>
      <td>00:02:56.800000</td>
      <td>00:03:39.200000</td>
      <td>00:13:10.700000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:22</td>
      <td>00:03:15.200000</td>
      <td>00:02:56.600000</td>
      <td>00:03:37.400000</td>
      <td>00:13:11.200000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:27.300000</td>
      <td>00:03:13.700000</td>
      <td>00:02:57.700000</td>
      <td>00:03:41</td>
      <td>00:13:19.700000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:35.500000</td>
      <td>00:03:14.600000</td>
      <td>00:02:57.200000</td>
      <td>00:03:34.500000</td>
      <td>00:13:21.800000</td>
    </tr>
  </tbody>
</table>

## SS4 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS4.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS4 - overall rally positions at end of stage

Following stage SS4, the overall leader from the previous stage, T. NEUVILLE, for Hyundai Motorsport, dropped back one position to second.

J. LATVALA for Toyota Gazoo Racing WRT in the Toyota Yaris WRC moved forward one place, from second at end of the previous stage, to take overall lead of the rally, with a gap of +3.9.

K. MEEKE, in the Citroën C3 WRC, retained third place overall, +18.8 behind the overall rally leader and +14.9 behind T. NEUVILLE.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>34:19.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>34:23.1</td>
      <td>+3.9</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>34:38.0</td>
      <td>+14.9</td>
      <td>+18.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>34:38.3</td>
      <td>+0.3</td>
      <td>+19.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>34:39.2</td>
      <td>+0.9</td>
      <td>+20.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>34:40.1</td>
      <td>+0.9</td>
      <td>+20.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>34:55.2</td>
      <td>+15.1</td>
      <td>+36.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>34:56.1</td>
      <td>+0.9</td>
      <td>+36.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>34:58.6</td>
      <td>+2.5</td>
      <td>+39.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>35:00.3</td>
      <td>+1.7</td>
      <td>+41.1</td>
    </tr>
  </tbody>
</table>

## SS4 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS4.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS4.png)

### Stage position chart SS4

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS4.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS4

carNo|driverName |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|-------|--------|---------|----------:|--------:|-------:
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |34:19.2|        |         |          1|        1|       1
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |34:23.1|3.9     |3.9      |          2|        2|       2
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |34:38.0|14.9    |18.8     |          3|        3|       3
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |34:38.3|0.3     |19.1     |          4|        4|       4
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |34:39.2|0.9     |20.0     |          5|        5|       5
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |34:40.1|0.9     |20.9     |          6|        6|       1
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |34:55.2|15.1    |36.0     |          7|        7|       6
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |34:56.1|0.9     |36.9     |          8|        8|       7
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |34:58.6|2.5     |39.4     |          9|        9|       8
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |35:00.3|1.7     |41.1     |         10|       10|       9
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |36:08.3|+1:08.0 |+1:49.1  |         11|       11|       2
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |36:19.6|11.3    |+2:00.4  |         12|       12|      10
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |38:36.3|21.7    |+4:17.1  |         25|       13|       1

# Day 2 (10/02/2017)
## Section 3 (Afternoon)

## SS5 R&#246;jden
### Distance: 18.47 km
*Rerun of stage SS2* 
First car 13:20

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    7|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   10|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   11|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   12|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1       
   15|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1

## Stage Report 5:

In stage SS5, T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport in the Hyundai i20 Coupe WRC took the stage, and their third stage win, in 9:25.7, +4.1 ahead of H. PADDON (NZL) and J. KENNARD (NZL) for Hyundai Motorsport in the Hyundai i20 Coupe WRC.

As well as taking the stage, his +7.7 gain over J. LATVALA (FIN) and M. ANTTILA (FIN) in the Toyota Yaris WRC, the rally leader going into the stage, meant T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport in the Hyundai i20 Coupe WRC also took overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>9:25.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>9:29.8</td>
      <td>+4.1</td>
      <td>+4.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>9:33.1</td>
      <td>+3.3</td>
      <td>+7.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>9:33.4</td>
      <td>+0.3</td>
      <td>+7.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>9:36.3</td>
      <td>+2.9</td>
      <td>+10.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>9:38.2</td>
      <td>+1.9</td>
      <td>+12.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>9:38.8</td>
      <td>+0.6</td>
      <td>+13.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>9:39.9</td>
      <td>+1.1</td>
      <td>+14.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>9:41.1</td>
      <td>+1.2</td>
      <td>+15.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>9:45.5</td>
      <td>+4.4</td>
      <td>+19.8</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>43:48.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>43:52.6</td>
      <td>+3.8</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>44:12.3</td>
      <td>+19.7</td>
      <td>+23.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>44:14.3</td>
      <td>+2.0</td>
      <td>+25.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>44:16.5</td>
      <td>+2.2</td>
      <td>+27.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>44:30.1</td>
      <td>+13.6</td>
      <td>+41.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>44:35.1</td>
      <td>+5.0</td>
      <td>+46.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>44:37.2</td>
      <td>+2.1</td>
      <td>+48.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>44:52.9</td>
      <td>+15.7</td>
      <td>+1:04.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>45:26.5</td>
      <td>+33.6</td>
      <td>+1:37.7</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS5 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-4.5</td>
      <td>-7.3</td>
      <td>9:25.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-5.6</td>
      <td>-6.6</td>
      <td>9:29.8</td>
      <td>+4.1</td>
      <td>+4.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-2.8</td>
      <td>-3.6</td>
      <td>9:33.1</td>
      <td>+7.4</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-4.9</td>
      <td>-3.7</td>
      <td>9:33.4</td>
      <td>+7.7</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>+2.2</td>
      <td>+2.3</td>
      <td>9:36.3</td>
      <td>+10.6</td>
      <td>+2.9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:00.7</td>
      <td>00:06:08.3</td>
      <td>9:38.2</td>
      <td>+12.5</td>
      <td>+1.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-1.3</td>
      <td>+1.1</td>
      <td>9:38.8</td>
      <td>+13.1</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-5.6</td>
      <td>+1.7</td>
      <td>9:39.9</td>
      <td>+14.2</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-4.0</td>
      <td>-1.4</td>
      <td>9:41.1</td>
      <td>+15.4</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>+0.3</td>
      <td>+6.7</td>
      <td>9:45.5</td>
      <td>+19.8</td>
      <td>+4.4</td>
    </tr>
  </tbody>
</table>

## SS5 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 5, J. HÄNNINEN lost ground in the final part of the stage.

![](images/2017_218/chart_stage_sector_delta_SS5.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:56.200000</td>
      <td>00:03:04.800000</td>
      <td>00:03:24.700000</td>
      <td>00:09:25.700000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:55.100000</td>
      <td>00:03:06.600000</td>
      <td>00:03:28.100000</td>
      <td>00:09:29.800000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:57.900000</td>
      <td>00:03:06.800000</td>
      <td>00:03:28.400000</td>
      <td>00:09:33.100000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:55.800000</td>
      <td>00:03:08.800000</td>
      <td>00:03:28.800000</td>
      <td>00:09:33.400000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:02.900000</td>
      <td>00:03:07.700000</td>
      <td>00:03:25.700000</td>
      <td>00:09:36.300000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:00.700000</td>
      <td>00:03:07.600000</td>
      <td>00:03:29.900000</td>
      <td>00:09:38.200000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:59.400000</td>
      <td>00:03:10</td>
      <td>00:03:29.400000</td>
      <td>00:09:38.800000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:55.100000</td>
      <td>00:03:14.900000</td>
      <td>00:03:29.900000</td>
      <td>00:09:39.900000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:02:56.700000</td>
      <td>00:03:10.200000</td>
      <td>00:03:34.200000</td>
      <td>00:09:41.100000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:01</td>
      <td>00:03:14</td>
      <td>00:03:30.500000</td>
      <td>00:09:45.500000</td>
    </tr>
  </tbody>
</table>

## SS5 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS5.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS5 - overall rally positions at end of stage

At the end of stage SS5, the overall leader from the previous stage, J. LATVALA, in the Toyota Yaris WRC, dropped one place to second.

T. NEUVILLE in the Hyundai i20 Coupe WRC gained one position, from second at end of the previous stage, to take overall lead of the rally, with a gap of +3.8.

O. TANAK, in the Ford Fiesta WRC, moved into third place overall, a gain of two positions from fifth, +23.5 behind the overall rally leader and +19.7 behind second placed J. LATVALA.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>43:48.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>43:52.6</td>
      <td>+3.8</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>44:12.3</td>
      <td>+19.7</td>
      <td>+23.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>44:14.3</td>
      <td>+2.0</td>
      <td>+25.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>44:16.5</td>
      <td>+2.2</td>
      <td>+27.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>44:30.1</td>
      <td>+13.6</td>
      <td>+41.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>44:35.1</td>
      <td>+5.0</td>
      <td>+46.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>44:37.2</td>
      <td>+2.1</td>
      <td>+48.4</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>44:52.9</td>
      <td>+15.7</td>
      <td>+1:04.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>45:26.5</td>
      <td>+33.6</td>
      <td>+1:37.7</td>
    </tr>
  </tbody>
</table>

## SS5 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS5.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS5.png)

### Stage position chart SS5

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS5.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>12</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
      <td>20</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS5

carNo|driverName |coDriverName|           team            |eligibility| time  |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|-------|-------:|---------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |43:48.8|        |         |          1|        1|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |43:52.6|     3.8|3.8      |          2|        2|       2
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |44:12.3|    19.7|23.5     |          3|        3|       3
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |44:14.3|     2.0|25.5     |          4|        4|       4
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |44:16.5|     2.2|27.7     |          5|        5|       5
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |44:30.1|    13.6|41.3     |          6|        6|       6
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |44:35.1|     5.0|46.3     |          7|        7|       7
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |44:37.2|     2.1|48.4     |          8|        8|       8
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |44:52.9|    15.7|+1:04.1  |          9|        9|       9
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |45:26.5|    33.6|+1:37.7  |         10|       10|       1
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |45:53.8|    27.3|+2:05.0  |         11|       11|       2
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |45:58.4|     4.6|+2:09.6  |         12|       12|      10
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |49:06.7|    23.7|+5:17.9  |         21|       13|       1

## SS6 Hof-Finnskog
### Distance: 21.26 km
*Rerun of stage SS3* 
First car 14:27

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    7|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   11|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1       
   14|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1

## Stage Report 6:

In stage SS6, T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport continued to lead the rally with their fourth stage win, in a time of 10:06.4.

J. LATVALA (FIN) and M. ANTTILA (FIN) (Toyota Gazoo Racing WRT) were placed second on the stage, +2.3 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>10:06.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>10:08.7</td>
      <td>+2.3</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>10:10.2</td>
      <td>+1.5</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>10:10.7</td>
      <td>+0.5</td>
      <td>+4.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>10:11.5</td>
      <td>+0.8</td>
      <td>+5.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>10:12.6</td>
      <td>+1.1</td>
      <td>+6.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>10:16.2</td>
      <td>+3.6</td>
      <td>+9.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>10:17.2</td>
      <td>+1.0</td>
      <td>+10.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>10:27.7</td>
      <td>+10.5</td>
      <td>+21.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>10:34.3</td>
      <td>+6.6</td>
      <td>+27.9</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>53:55.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>54:01.3</td>
      <td>+6.1</td>
      <td>+6.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>54:23.8</td>
      <td>+22.5</td>
      <td>+28.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>54:25.0</td>
      <td>+1.2</td>
      <td>+29.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>54:29.1</td>
      <td>+4.1</td>
      <td>+33.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>54:40.3</td>
      <td>+11.2</td>
      <td>+45.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>54:52.3</td>
      <td>+12.0</td>
      <td>+57.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>55:11.5</td>
      <td>+19.2</td>
      <td>+1:16.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>56:06.4</td>
      <td>+54.9</td>
      <td>+2:11.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>56:14.6</td>
      <td>+8.2</td>
      <td>+2:19.4</td>
    </tr>
  </tbody>
</table>

## SS6 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS6 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-2.3</td>
      <td>-4.3</td>
      <td>10:06.4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.6</td>
      <td>-3.5</td>
      <td>10:08.7</td>
      <td>+2.3</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-4.8</td>
      <td>-3.7</td>
      <td>10:10.2</td>
      <td>+3.8</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-2.1</td>
      <td>-3.6</td>
      <td>10:10.7</td>
      <td>+4.3</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-1.6</td>
      <td>-1.8</td>
      <td>10:11.5</td>
      <td>+5.1</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:33.7</td>
      <td>00:06:00.9</td>
      <td>10:12.6</td>
      <td>+6.2</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>+1.0</td>
      <td>+1.0</td>
      <td>10:16.2</td>
      <td>+9.8</td>
      <td>+3.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-2.0</td>
      <td>+0.1</td>
      <td>10:17.2</td>
      <td>+10.8</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>+1.1</td>
      <td>+5.9</td>
      <td>10:27.7</td>
      <td>+21.3</td>
      <td>+10.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>+4.9</td>
      <td>+7.6</td>
      <td>10:34.3</td>
      <td>+27.9</td>
      <td>+6.6</td>
    </tr>
  </tbody>
</table>

## SS6 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 6, C. BREEN lost ground in the final part of the stage.

![](images/2017_218/chart_stage_sector_delta_SS6.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:31.400000</td>
      <td>00:02:25.200000</td>
      <td>00:04:09.800000</td>
      <td>00:10:06.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:31.100000</td>
      <td>00:02:26.300000</td>
      <td>00:04:11.300000</td>
      <td>00:10:08.700000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:28.900000</td>
      <td>00:02:28.300000</td>
      <td>00:04:13</td>
      <td>00:10:10.200000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:31.600000</td>
      <td>00:02:25.700000</td>
      <td>00:04:13.400000</td>
      <td>00:10:10.700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:32.100000</td>
      <td>00:02:27</td>
      <td>00:04:12.400000</td>
      <td>00:10:11.500000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:33.700000</td>
      <td>00:02:27.200000</td>
      <td>00:04:11.700000</td>
      <td>00:10:12.600000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:34.700000</td>
      <td>00:02:27.200000</td>
      <td>00:04:14.300000</td>
      <td>00:10:16.200000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:31.700000</td>
      <td>00:02:29.300000</td>
      <td>00:04:16.200000</td>
      <td>00:10:17.200000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:34.800000</td>
      <td>00:02:32</td>
      <td>00:04:20.900000</td>
      <td>00:10:27.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:38.600000</td>
      <td>00:02:29.900000</td>
      <td>00:04:25.800000</td>
      <td>00:10:34.300000</td>
    </tr>
  </tbody>
</table>

## SS6 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS6.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS6 - overall rally positions at end of stage

After stage SS6, T. NEUVILLE continued in overall lead of the rally for Hyundai Motorsport in the Hyundai i20 Coupe WRC, with a gap to second of +6.1.

J. LATVALA, for Toyota Gazoo Racing WRT, retained second place overall.

O. TANAK, in the Ford Fiesta WRC, retained third place overall, +28.6 behind the overall rally leader and +22.5 behind J. LATVALA in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>53:55.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>54:01.3</td>
      <td>+6.1</td>
      <td>+6.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>54:23.8</td>
      <td>+22.5</td>
      <td>+28.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>54:25.0</td>
      <td>+1.2</td>
      <td>+29.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>54:29.1</td>
      <td>+4.1</td>
      <td>+33.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>54:40.3</td>
      <td>+11.2</td>
      <td>+45.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>54:52.3</td>
      <td>+12.0</td>
      <td>+57.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>55:11.5</td>
      <td>+19.2</td>
      <td>+1:16.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>56:06.4</td>
      <td>+54.9</td>
      <td>+2:11.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>56:14.6</td>
      <td>+8.2</td>
      <td>+2:19.4</td>
    </tr>
  </tbody>
</table>

## SS6 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS6.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
      <td>20</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td></td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS6.png)

### Stage position chart SS6

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS6.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
      <td>20</td>
      <td>23</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td></td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS6

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|-------:|---------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |53:55.2  |        |         |          1|        1|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |54:01.3  |     6.1|6.1      |          2|        2|       2
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |54:23.8  |    22.5|28.6     |          3|        3|       3
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |54:25.0  |     1.2|29.8     |          4|        4|       4
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |54:29.1  |     4.1|33.9     |          5|        5|       5
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |54:40.3  |    11.2|45.1     |          6|        6|       6
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |54:52.3  |    12.0|57.1     |          7|        7|       7
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |55:11.5  |    19.2|+1:16.3  |          8|        8|       8
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |56:06.4  |    54.9|+2:11.2  |          9|        9|       1
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |56:14.6  |     8.2|+2:19.4  |         10|       10|       9
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |56:21.5  |     6.9|+2:26.3  |         11|       11|       2
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |1:00:24.3|    33.7|+6:29.1  |         20|       12|       1

## SS7 Svullrya
### Distance: 24.88 km
*Rerun of stage SS4* 
First car 15:51

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    7|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   11|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1       
   14|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1

## Stage Report 7:

In stage SS7, T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport) continued to lead the rally with their fifth stage win, in a time of 13:04.0.

K. MEEKE (GBR) and P. NAGLE (IRL) for Citroën Total Abu Dhabi WRT in the Citroën C3 WRC were placed second on the stage, +11.8 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>13:04.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>13:15.8</td>
      <td>+11.8</td>
      <td>+11.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>13:20.4</td>
      <td>+4.6</td>
      <td>+16.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>13:21.4</td>
      <td>+1.0</td>
      <td>+17.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>13:21.9</td>
      <td>+0.5</td>
      <td>+17.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>13:25.8</td>
      <td>+3.9</td>
      <td>+21.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>13:27.0</td>
      <td>+1.2</td>
      <td>+23.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>13:29.7</td>
      <td>+2.7</td>
      <td>+25.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>13:30.1</td>
      <td>+0.4</td>
      <td>+26.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>13:35.5</td>
      <td>+5.4</td>
      <td>+31.5</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:06:59.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:07:23.2</td>
      <td>+24.0</td>
      <td>+24.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:07:40.8</td>
      <td>+17.6</td>
      <td>+41.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:07:49.5</td>
      <td>+8.7</td>
      <td>+50.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:07:49.6</td>
      <td>+0.1</td>
      <td>+50.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:08:01.7</td>
      <td>+12.1</td>
      <td>+1:02.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:08:19.3</td>
      <td>+17.6</td>
      <td>+1:20.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:08:41.2</td>
      <td>+21.9</td>
      <td>+1:42.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:09:44.7</td>
      <td>+1:03.5</td>
      <td>+2:45.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>1:09:57.0</td>
      <td>+12.3</td>
      <td>+2:57.8</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS7 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-6.2</td>
      <td>-8.8</td>
      <td>-13.0</td>
      <td>13:04.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-3.4</td>
      <td>-5.8</td>
      <td>-6.7</td>
      <td>13:15.8</td>
      <td>+11.8</td>
      <td>+11.8</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:21.4</td>
      <td>00:06:38.5</td>
      <td>00:09:39.1</td>
      <td>13:20.4</td>
      <td>+16.4</td>
      <td>+4.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-5.4</td>
      <td>-6.2</td>
      <td>-5.6</td>
      <td>13:21.4</td>
      <td>+17.4</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.2</td>
      <td>-0.8</td>
      <td>-0.2</td>
      <td>13:21.9</td>
      <td>+17.9</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>+0.9</td>
      <td>+1.7</td>
      <td>+4.0</td>
      <td>13:25.8</td>
      <td>+21.8</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+1.2</td>
      <td>+3.1</td>
      <td>+4.3</td>
      <td>13:27.0</td>
      <td>+23.0</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>+2.8</td>
      <td>+0.9</td>
      <td>+7.8</td>
      <td>13:29.7</td>
      <td>+25.7</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>+2.8</td>
      <td>+4.3</td>
      <td>+6.2</td>
      <td>13:30.1</td>
      <td>+26.1</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>+3.0</td>
      <td>+4.9</td>
      <td>+9.3</td>
      <td>13:35.5</td>
      <td>+31.5</td>
      <td>+5.4</td>
    </tr>
  </tbody>
</table>

## SS7 - stage sector delta time (seconds) to fastest stage sector time

T. NEUVILLE drove an __ultimate stage__, recording the fastest time *between* each timing point on the stage.

![](images/2017_218/chart_stage_sector_delta_SS7.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:15.200000</td>
      <td>00:03:14.500000</td>
      <td>00:02:56.400000</td>
      <td>00:03:37.900000</td>
      <td>00:13:04</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:18</td>
      <td>00:03:14.700000</td>
      <td>00:02:59.700000</td>
      <td>00:03:43.400000</td>
      <td>00:13:15.800000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:21.400000</td>
      <td>00:03:17.100000</td>
      <td>00:03:00.600000</td>
      <td>00:03:41.300000</td>
      <td>00:13:20.400000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:16</td>
      <td>00:03:16.300000</td>
      <td>00:03:01.200000</td>
      <td>00:03:47.900000</td>
      <td>00:13:21.400000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:19.200000</td>
      <td>00:03:18.500000</td>
      <td>00:03:01.200000</td>
      <td>00:03:43</td>
      <td>00:13:21.900000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:22.300000</td>
      <td>00:03:17.900000</td>
      <td>00:03:02.900000</td>
      <td>00:03:42.700000</td>
      <td>00:13:25.800000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:22.600000</td>
      <td>00:03:19</td>
      <td>00:03:01.800000</td>
      <td>00:03:43.600000</td>
      <td>00:13:27</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:24.200000</td>
      <td>00:03:15.200000</td>
      <td>00:03:07.500000</td>
      <td>00:03:42.800000</td>
      <td>00:13:29.700000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:24.200000</td>
      <td>00:03:18.600000</td>
      <td>00:03:02.500000</td>
      <td>00:03:44.800000</td>
      <td>00:13:30.100000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:24.400000</td>
      <td>00:03:19</td>
      <td>00:03:05</td>
      <td>00:03:47.100000</td>
      <td>00:13:35.500000</td>
    </tr>
  </tbody>
</table>

## SS7 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS7.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS7 - overall rally positions at end of stage

At the end of stage SS7, T. NEUVILLE continued in overall lead of the rally in the Hyundai i20 Coupe WRC, +24.0 ahead.

J. LATVALA, for Toyota Gazoo Racing WRT, retained second place overall.

K. MEEKE, for Citroën Total Abu Dhabi WRT, moved up into third place overall, a gain of one position from fourth, +41.6 behind the overall rally leader and trailing second placed J. LATVALA by +17.6.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:06:59.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:07:23.2</td>
      <td>+24.0</td>
      <td>+24.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:07:40.8</td>
      <td>+17.6</td>
      <td>+41.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:07:49.5</td>
      <td>+8.7</td>
      <td>+50.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:07:49.6</td>
      <td>+0.1</td>
      <td>+50.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:08:01.7</td>
      <td>+12.1</td>
      <td>+1:02.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:08:19.3</td>
      <td>+17.6</td>
      <td>+1:20.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:08:41.2</td>
      <td>+21.9</td>
      <td>+1:42.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:09:44.7</td>
      <td>+1:03.5</td>
      <td>+2:45.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>1:09:57.0</td>
      <td>+12.3</td>
      <td>+2:57.8</td>
    </tr>
  </tbody>
</table>

## SS7 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS7.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>10</td>
      <td>9</td>
      <td>11</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td></td>
      <td>26</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS7.png)

### Stage position chart SS7

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS7.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
      <td>7</td>
      <td>7</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>12</td>
      <td>11</td>
      <td>13</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
      <td>20</td>
      <td>23</td>
      <td>25</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td></td>
      <td>31</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>32</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS7

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:06:59.2|        |         |          1|        1|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:07:23.2|24.0    |24.0     |          2|        2|       2
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:07:40.8|17.6    |41.6     |          3|        3|       3
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:07:49.5|8.7     |50.3     |          4|        4|       4
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:07:49.6|0.1     |50.4     |          5|        5|       5
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:08:01.7|12.1    |+1:02.5  |          6|        6|       6
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:08:19.3|17.6    |+1:20.1  |          7|        7|       7
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:08:41.2|21.9    |+1:42.0  |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:09:44.7|+1:03.5 |+2:45.5  |          9|        9|       9
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |1:09:57.0|12.3    |+2:57.8  |         10|       10|       1
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |1:10:00.3|3.3     |+3:01.1  |         11|       11|       2
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |1:15:37.3|9.1     |+8:38.1  |         21|       12|       1
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:22:03.3|37.1    |+15:04.1 |         26|       13|      10
   37|L. BERTELLI|S. SCATTOLIN|FWRT                       |WRC Trophy |1:48:57.1|+3:20.7 |+41:57.9 |         35|       14|       2

## SS8 Torsby
### Distance: 16.43 km
 
First car 17:15

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    2|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
    3|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
    4|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    5|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    7|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    8|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    9|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
   11|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1

## Stage Report 8:

In stage SS8, O. TANAK (EST) and M. JARVEOJA (EST) in the Ford Fiesta WRC took the stage, giving them their first stage win of the rally, in a time of 9:24.8.

In second place on stage, +0.7 behind, Hyundai Motorsport's T. NEUVILLE (BEL) and N. GILSOUL (BEL) retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>9:24.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>9:25.5</td>
      <td>+0.7</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>9:29.6</td>
      <td>+4.1</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>9:30.9</td>
      <td>+1.3</td>
      <td>+6.1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>9:35.7</td>
      <td>+4.8</td>
      <td>+10.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>9:37.8</td>
      <td>+2.1</td>
      <td>+13.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>9:40.8</td>
      <td>+3.0</td>
      <td>+16.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>9:41.5</td>
      <td>+0.7</td>
      <td>+16.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>9:45.7</td>
      <td>+4.2</td>
      <td>+20.9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>9:51.3</td>
      <td>+5.6</td>
      <td>+26.5</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:16:24.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:16:52.8</td>
      <td>+28.1</td>
      <td>+28.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:17:14.4</td>
      <td>+21.6</td>
      <td>+49.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:17:16.5</td>
      <td>+2.1</td>
      <td>+51.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:17:20.4</td>
      <td>+3.9</td>
      <td>+55.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:17:42.5</td>
      <td>+22.1</td>
      <td>+1:17.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:18:05.0</td>
      <td>+22.5</td>
      <td>+1:40.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:18:19.0</td>
      <td>+14.0</td>
      <td>+1:54.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:19:26.2</td>
      <td>+1:07.2</td>
      <td>+3:01.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>1:19:48.3</td>
      <td>+22.1</td>
      <td>+3:23.6</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS8 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-5.2</td>
      <td>-7.0</td>
      <td>9:24.8</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-4.6</td>
      <td>-5.7</td>
      <td>9:25.5</td>
      <td>+0.7</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-2.9</td>
      <td>-4.2</td>
      <td>9:29.6</td>
      <td>+4.8</td>
      <td>+4.1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:10.0</td>
      <td>00:05:31.1</td>
      <td>9:30.9</td>
      <td>+6.1</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-3.9</td>
      <td>-2.9</td>
      <td>9:35.7</td>
      <td>+10.9</td>
      <td>+4.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-2.5</td>
      <td>+0.7</td>
      <td>9:37.8</td>
      <td>+13.0</td>
      <td>+2.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-1.0</td>
      <td>+1.8</td>
      <td>9:40.8</td>
      <td>+16.0</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-0.2</td>
      <td>+4.8</td>
      <td>9:41.5</td>
      <td>+16.7</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>+5.5</td>
      <td>+8.3</td>
      <td>9:45.7</td>
      <td>+20.9</td>
      <td>+4.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>+7.7</td>
      <td>+13.7</td>
      <td>9:51.3</td>
      <td>+26.5</td>
      <td>+5.6</td>
    </tr>
  </tbody>
</table>

## SS8 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_218/chart_stage_sector_delta_SS8.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:04.800000</td>
      <td>00:02:19.300000</td>
      <td>00:04:00.700000</td>
      <td>00:09:24.800000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:05.400000</td>
      <td>00:02:20</td>
      <td>00:04:00.100000</td>
      <td>00:09:25.500000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:07.100000</td>
      <td>00:02:19.800000</td>
      <td>00:04:02.700000</td>
      <td>00:09:29.600000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:10</td>
      <td>00:02:21.100000</td>
      <td>00:03:59.800000</td>
      <td>00:09:30.900000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:03:06.100000</td>
      <td>00:02:22.100000</td>
      <td>00:04:07.500000</td>
      <td>00:09:35.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:03:07.500000</td>
      <td>00:02:24.300000</td>
      <td>00:04:06</td>
      <td>00:09:37.800000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:03:09</td>
      <td>00:02:23.900000</td>
      <td>00:04:07.900000</td>
      <td>00:09:40.800000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:03:09.800000</td>
      <td>00:02:26.100000</td>
      <td>00:04:05.600000</td>
      <td>00:09:41.500000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:15.500000</td>
      <td>00:02:23.900000</td>
      <td>00:04:06.300000</td>
      <td>00:09:45.700000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>00:03:17.700000</td>
      <td>00:02:27.100000</td>
      <td>00:04:06.500000</td>
      <td>00:09:51.300000</td>
    </tr>
  </tbody>
</table>

## SS8 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS8.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS8 - overall rally positions at end of stage

After stage SS8, T. NEUVILLE continued to lead the rally for Hyundai Motorsport in the Hyundai i20 Coupe WRC, with a lead of +28.1.

J. LATVALA, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, retained second place overall.

O. TANAK, for M-Sport World Rally Team, took third place overall, a gain of two places from fifth, +49.7 behind the overall rally leader and +21.6 behind J. LATVALA in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:16:24.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:16:52.8</td>
      <td>+28.1</td>
      <td>+28.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:17:14.4</td>
      <td>+21.6</td>
      <td>+49.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:17:16.5</td>
      <td>+2.1</td>
      <td>+51.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:17:20.4</td>
      <td>+3.9</td>
      <td>+55.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:17:42.5</td>
      <td>+22.1</td>
      <td>+1:17.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:18:05.0</td>
      <td>+22.5</td>
      <td>+1:40.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:18:19.0</td>
      <td>+14.0</td>
      <td>+1:54.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:19:26.2</td>
      <td>+1:07.2</td>
      <td>+3:01.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>1:19:48.3</td>
      <td>+22.1</td>
      <td>+3:23.6</td>
    </tr>
  </tbody>
</table>

## SS8 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS8.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>19</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>10</td>
      <td>9</td>
      <td>11</td>
      <td>22</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td></td>
      <td>26</td>
      <td>29</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35</td>
      <td>34</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS8.png)

### Stage position chart SS8

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS8.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
      <td>7</td>
      <td>7</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
      <td>20</td>
      <td>23</td>
      <td>25</td>
      <td>16</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td></td>
      <td>31</td>
      <td>29</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>32</td>
      <td>30</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>12</td>
      <td>11</td>
      <td>13</td>
      <td>37</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS8

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:16:24.7|        |         |          1|        1|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:16:52.8|28.1    |28.1     |          2|        2|       2
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:17:14.4|21.6    |49.7     |          3|        3|       3
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:17:16.5|2.1     |51.8     |          4|        4|       4
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:17:20.4|3.9     |55.7     |          5|        5|       5
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:17:42.5|22.1    |+1:17.8  |          6|        6|       6
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:18:05.0|22.5    |+1:40.3  |          7|        7|       7
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:18:19.0|14.0    |+1:54.3  |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:19:26.2|+1:07.2 |+3:01.5  |          9|        9|       9
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |1:19:48.3|22.1    |+3:23.6  |         10|       10|       1
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |1:25:57.8|+1:10.3 |+9:33.1  |         19|       11|       1
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |1:29:25.1|15.5    |+13:00.4 |         22|       12|       2
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:38:28.1|+1:22.0 |+22:03.4 |         29|       13|      10
   37|L. BERTELLI|S. SCATTOLIN|FWRT                       |WRC Trophy |2:05:21.9|+2:17.6 |+48:57.2 |         34|       14|       2

# Day 3 (11/02/2017)
## Section 4 (Morning)

## SS9 Knon
### Distance: 31.60 km
 
First car 08:08

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1       
    2|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    3|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    4|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    7|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    8|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   10|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
   11|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   12|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   13|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   14|   37|L. BERTELLI|FWRT                       |WRC Trophy |RC1

## Stage Report 9:

On stage SS9, and with their second stage win, M-Sport World Rally Team's O. TANAK (EST) and M. JARVEOJA (EST) took the stage by +2.6 from S. OGIER (FRA) and J. INGRASSIA (FRA) (M-Sport World Rally Team), in a time of 13:45.5.

T. NEUVILLE (BEL) and N. GILSOUL (BEL) in the Hyundai i20 Coupe WRC, third on stage with a time of 13:49.3, and +3.8 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>13:45.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>13:48.1</td>
      <td>+2.6</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>13:49.3</td>
      <td>+1.2</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>13:51.8</td>
      <td>+2.5</td>
      <td>+6.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>13:58.6</td>
      <td>+6.8</td>
      <td>+13.1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>13:59.9</td>
      <td>+1.3</td>
      <td>+14.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>13:59.9</td>
      <td>+0.0</td>
      <td>+14.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>14:00.0</td>
      <td>+0.1</td>
      <td>+14.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>14:01.6</td>
      <td>+1.6</td>
      <td>+16.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>14:02.6</td>
      <td>+1.0</td>
      <td>+17.1</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:30:14.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:30:44.6</td>
      <td>+30.6</td>
      <td>+30.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:30:59.9</td>
      <td>+15.3</td>
      <td>+45.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:31:08.5</td>
      <td>+8.6</td>
      <td>+54.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:31:16.4</td>
      <td>+7.9</td>
      <td>+1:02.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:32:03.6</td>
      <td>+47.2</td>
      <td>+1:49.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:32:20.6</td>
      <td>+17.0</td>
      <td>+2:06.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:33:01.2</td>
      <td>+40.6</td>
      <td>+2:47.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:33:28.8</td>
      <td>+27.6</td>
      <td>+3:14.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>1:34:28.2</td>
      <td>+59.4</td>
      <td>+4:14.2</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS9 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>split_3</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-30.1</td>
      <td>-53.6</td>
      <td>-1:18.7</td>
      <td>13:45.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-28.7</td>
      <td>-50.7</td>
      <td>-1:16.3</td>
      <td>13:48.1</td>
      <td>+2.6</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-29.1</td>
      <td>-52.3</td>
      <td>-1:17.2</td>
      <td>13:49.3</td>
      <td>+3.8</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-30.4</td>
      <td>-52.7</td>
      <td>-1:15.2</td>
      <td>13:51.8</td>
      <td>+6.3</td>
      <td>+2.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-27.6</td>
      <td>-49.7</td>
      <td>-1:12.7</td>
      <td>13:58.6</td>
      <td>+13.1</td>
      <td>+6.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-24.8</td>
      <td>-45.4</td>
      <td>-1:08.6</td>
      <td>13:59.9</td>
      <td>+14.4</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-24.2</td>
      <td>-43.1</td>
      <td>-1:06.6</td>
      <td>13:59.9</td>
      <td>+14.4</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-28.6</td>
      <td>-47.8</td>
      <td>-1:09.3</td>
      <td>14:00.0</td>
      <td>+14.5</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-25.8</td>
      <td>-46.4</td>
      <td>-1:09.0</td>
      <td>14:01.6</td>
      <td>+16.1</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-24.4</td>
      <td>-44.0</td>
      <td>-1:06.7</td>
      <td>14:02.6</td>
      <td>+17.1</td>
      <td>+1.0</td>
    </tr>
  </tbody>
</table>

## SS9 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_218/chart_stage_sector_delta_SS9.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>sector_4</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:03:56.700000</td>
      <td>00:03:33.200000</td>
      <td>00:03:14.500000</td>
      <td>00:03:01.100000</td>
      <td>00:13:45.500000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:03:58.100000</td>
      <td>00:03:34.700000</td>
      <td>00:03:14</td>
      <td>00:03:01.300000</td>
      <td>00:13:48.100000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:03:57.700000</td>
      <td>00:03:33.500000</td>
      <td>00:03:14.700000</td>
      <td>00:03:03.400000</td>
      <td>00:13:49.300000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:03:56.400000</td>
      <td>00:03:34.400000</td>
      <td>00:03:17.100000</td>
      <td>00:03:03.900000</td>
      <td>00:13:51.800000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:03:59.200000</td>
      <td>00:03:34.600000</td>
      <td>00:03:16.600000</td>
      <td>00:03:08.200000</td>
      <td>00:13:58.600000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:04:02</td>
      <td>00:03:36.100000</td>
      <td>00:03:16.400000</td>
      <td>00:03:05.400000</td>
      <td>00:13:59.900000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:04:02.600000</td>
      <td>00:03:37.800000</td>
      <td>00:03:16.100000</td>
      <td>00:03:03.400000</td>
      <td>00:13:59.900000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:03:58.200000</td>
      <td>00:03:37.500000</td>
      <td>00:03:18.100000</td>
      <td>00:03:06.200000</td>
      <td>00:14:00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:04:01</td>
      <td>00:03:36.100000</td>
      <td>00:03:17</td>
      <td>00:03:07.500000</td>
      <td>00:14:01.600000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:04:02.400000</td>
      <td>00:03:37.100000</td>
      <td>00:03:16.900000</td>
      <td>00:03:06.200000</td>
      <td>00:14:02.600000</td>
    </tr>
  </tbody>
</table>

## SS9 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS9.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS9 - overall rally positions at end of stage

Following stage SS9, T. NEUVILLE retained overall lead of the rally in the Hyundai i20 Coupe WRC, with a gap to second of +30.6.

J. LATVALA, for Toyota Gazoo Racing WRT, retained second place overall.

O. TANAK, for M-Sport World Rally Team, retained third place overall, +45.9 behind the overall rally leader and +15.3 behind second placed J. LATVALA.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:30:14.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:30:44.6</td>
      <td>+30.6</td>
      <td>+30.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:30:59.9</td>
      <td>+15.3</td>
      <td>+45.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:31:08.5</td>
      <td>+8.6</td>
      <td>+54.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:31:16.4</td>
      <td>+7.9</td>
      <td>+1:02.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:32:03.6</td>
      <td>+47.2</td>
      <td>+1:49.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:32:20.6</td>
      <td>+17.0</td>
      <td>+2:06.6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:33:01.2</td>
      <td>+40.6</td>
      <td>+2:47.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:33:28.8</td>
      <td>+27.6</td>
      <td>+3:14.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>1:34:28.2</td>
      <td>+59.4</td>
      <td>+4:14.2</td>
    </tr>
  </tbody>
</table>

## SS9 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS9.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>19</td>
      <td>19</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>10</td>
      <td>9</td>
      <td>11</td>
      <td>22</td>
      <td>20</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td></td>
      <td>26</td>
      <td>29</td>
      <td>27</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35</td>
      <td>34</td>
      <td>33</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS9.png)

### Stage position chart SS9

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS9.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>5</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td></td>
      <td>31</td>
      <td>29</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>12</td>
      <td>11</td>
      <td>13</td>
      <td>37</td>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>6</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
      <td>7</td>
      <td>7</td>
      <td>9</td>
      <td>8</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>32</td>
      <td>30</td>
      <td>14</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>7</td>
      <td>21</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
      <td>20</td>
      <td>23</td>
      <td>25</td>
      <td>16</td>
      <td>24</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS9

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:30:14.0|        |         |          1|        1|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:30:44.6|30.6    |30.6     |          2|        2|       2
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:30:59.9|15.3    |45.9     |          3|        3|       3
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:31:08.5|8.6     |54.5     |          4|        4|       4
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:31:16.4|7.9     |+1:02.4  |          5|        5|       5
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:32:03.6|47.2    |+1:49.6  |          6|        6|       6
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:32:20.6|17.0    |+2:06.6  |          7|        7|       7
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:33:01.2|40.6    |+2:47.2  |          8|        8|       8
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:33:28.8|27.6    |+3:14.8  |          9|        9|       9
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |1:34:28.2|59.4    |+4:14.2  |         10|       10|       1
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |1:41:27.8|+1:14.1 |+11:13.8 |         19|       11|       1
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |1:43:25.1|+1:57.3 |+13:11.1 |         20|       12|       2
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |1:52:28.0|3.3     |+22:14.0 |         27|       13|      10
   37|L. BERTELLI|S. SCATTOLIN|FWRT                       |WRC Trophy |2:20:19.5|+1:56.2 |+50:05.5 |         33|       14|       2

## SS10 Hagfors
### Distance: 15.87 km
 
First car 09:17

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1       
    2|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    3|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    4|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    7|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    8|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   10|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
   11|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   12|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   13|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   14|   37|L. BERTELLI|FWRT                       |WRC Trophy |RC1

## Stage Report 10:

In stage SS10, O. TANAK (EST) and M. JARVEOJA (EST) (M-Sport World Rally Team) took the stage, giving them their third stage win, in a time of 8:03.0.

In second place on stage, +0.1 behind, T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport in the Hyundai i20 Coupe WRC retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>8:03.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>8:03.1</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>8:03.9</td>
      <td>+0.8</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>8:05.7</td>
      <td>+1.8</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>8:08.0</td>
      <td>+2.3</td>
      <td>+5.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>8:08.9</td>
      <td>+0.9</td>
      <td>+5.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>8:11.2</td>
      <td>+2.3</td>
      <td>+8.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>8:12.2</td>
      <td>+1.0</td>
      <td>+9.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>8:14.8</td>
      <td>+2.6</td>
      <td>+11.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>8:20.2</td>
      <td>+5.4</td>
      <td>+17.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:38:17.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:38:50.3</td>
      <td>+33.2</td>
      <td>+33.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:39:02.9</td>
      <td>+12.6</td>
      <td>+45.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:39:12.4</td>
      <td>+9.5</td>
      <td>+55.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:39:25.3</td>
      <td>+12.9</td>
      <td>+1:08.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:40:11.6</td>
      <td>+46.3</td>
      <td>+1:54.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:40:32.8</td>
      <td>+21.2</td>
      <td>+2:15.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:41:49.0</td>
      <td>+1:16.2</td>
      <td>+3:31.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:42:15.7</td>
      <td>+26.7</td>
      <td>+3:58.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>1:42:57.6</td>
      <td>+41.9</td>
      <td>+4:40.5</td>
    </tr>
  </tbody>
</table>

## SS10 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS10 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-14.0</td>
      <td>-36.1</td>
      <td>8:03.0</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-14.5</td>
      <td>-35.7</td>
      <td>8:03.1</td>
      <td>+0.1</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-14.2</td>
      <td>-34.9</td>
      <td>8:03.9</td>
      <td>+0.9</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-13.3</td>
      <td>-34.1</td>
      <td>8:05.7</td>
      <td>+2.7</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-11.9</td>
      <td>-32.6</td>
      <td>8:08.0</td>
      <td>+5.0</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-12.6</td>
      <td>-33.2</td>
      <td>8:08.9</td>
      <td>+5.9</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-11.6</td>
      <td>-30.2</td>
      <td>8:11.2</td>
      <td>+8.2</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-10.9</td>
      <td>-29.5</td>
      <td>8:12.2</td>
      <td>+9.2</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-12.6</td>
      <td>-30.7</td>
      <td>8:14.8</td>
      <td>+11.8</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-7.8</td>
      <td>-24.2</td>
      <td>8:20.2</td>
      <td>+17.2</td>
      <td>+5.4</td>
    </tr>
  </tbody>
</table>

## SS10 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_218/chart_stage_sector_delta_SS10.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:27.700000</td>
      <td>00:02:01.500000</td>
      <td>00:03:33.800000</td>
      <td>00:08:03</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:27.200000</td>
      <td>00:02:02.400000</td>
      <td>00:03:33.500000</td>
      <td>00:08:03.100000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:27.500000</td>
      <td>00:02:02.900000</td>
      <td>00:03:33.500000</td>
      <td>00:08:03.900000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:28.400000</td>
      <td>00:02:02.800000</td>
      <td>00:03:34.500000</td>
      <td>00:08:05.700000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:29.800000</td>
      <td>00:02:02.900000</td>
      <td>00:03:35.300000</td>
      <td>00:08:08</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:29.100000</td>
      <td>00:02:03</td>
      <td>00:03:36.800000</td>
      <td>00:08:08.900000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:02:30.100000</td>
      <td>00:02:05</td>
      <td>00:03:36.100000</td>
      <td>00:08:11.200000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:02:30.800000</td>
      <td>00:02:05</td>
      <td>00:03:36.400000</td>
      <td>00:08:12.200000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:29.100000</td>
      <td>00:02:05.500000</td>
      <td>00:03:40.200000</td>
      <td>00:08:14.800000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:02:33.900000</td>
      <td>00:02:07.200000</td>
      <td>00:03:39.100000</td>
      <td>00:08:20.200000</td>
    </tr>
  </tbody>
</table>

## SS10 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS10.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS10 - overall rally positions at end of stage

At the end of stage SS10, T. NEUVILLE remained in overall lead of the rally for Hyundai Motorsport, commanding a lead of +33.2.

J. LATVALA, in the Toyota Yaris WRC, retained second place overall.

O. TANAK, for M-Sport World Rally Team in the Ford Fiesta WRC, retained third place overall, +45.8 behind the overall rally leader and +12.6 behind J. LATVALA in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:38:17.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:38:50.3</td>
      <td>+33.2</td>
      <td>+33.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:39:02.9</td>
      <td>+12.6</td>
      <td>+45.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:39:12.4</td>
      <td>+9.5</td>
      <td>+55.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:39:25.3</td>
      <td>+12.9</td>
      <td>+1:08.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:40:11.6</td>
      <td>+46.3</td>
      <td>+1:54.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:40:32.8</td>
      <td>+21.2</td>
      <td>+2:15.7</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:41:49.0</td>
      <td>+1:16.2</td>
      <td>+3:31.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:42:15.7</td>
      <td>+26.7</td>
      <td>+3:58.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>1:42:57.6</td>
      <td>+41.9</td>
      <td>+4:40.5</td>
    </tr>
  </tbody>
</table>

## SS10 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS10.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>10</td>
      <td>9</td>
      <td>11</td>
      <td>22</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td></td>
      <td>26</td>
      <td>29</td>
      <td>27</td>
      <td>25</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35</td>
      <td>34</td>
      <td>33</td>
      <td>33</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS10.png)

### Stage position chart SS10

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS10.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>12</td>
      <td>11</td>
      <td>13</td>
      <td>37</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>6</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td></td>
      <td>31</td>
      <td>29</td>
      <td>7</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
      <td>7</td>
      <td>7</td>
      <td>9</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>32</td>
      <td>30</td>
      <td>14</td>
      <td>13</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
      <td>20</td>
      <td>23</td>
      <td>25</td>
      <td>16</td>
      <td>24</td>
      <td>24</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>7</td>
      <td>21</td>
      <td>28</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS10

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:38:17.1|        |         |          1|        1|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:38:50.3|33.2    |33.2     |          2|        2|       2
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:39:02.9|12.6    |45.8     |          3|        3|       3
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:39:12.4|9.5     |55.3     |          4|        4|       4
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:39:25.3|12.9    |+1:08.2  |          5|        5|       5
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:40:11.6|46.3    |+1:54.5  |          6|        6|       6
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:40:32.8|21.2    |+2:15.7  |          7|        7|       7
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:41:49.0|+1:16.2 |+3:31.9  |          8|        8|       8
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:42:15.7|26.7    |+3:58.6  |          9|        9|       9
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |1:42:57.6|41.9    |+4:40.5  |         10|       10|       1
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |1:50:25.0|+1:17.0 |+12:07.9 |         19|       11|       1
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |1:51:36.3|+1:11.3 |+13:19.2 |         20|       12|       2
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:00:42.8|+1:55.1 |+22:25.7 |         25|       13|      10
   37|L. BERTELLI|S. SCATTOLIN|FWRT                       |WRC Trophy |2:28:55.5|53.7    |+50:38.4 |         33|       14|       2

## SS11 Varg&#229;sen
### Distance: 14.27 km
 
First car 10:08

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1       
    2|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    3|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    4|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    7|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    8|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   10|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
   11|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   12|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   13|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   14|   37|L. BERTELLI|FWRT                       |WRC Trophy |RC1

## Stage Report 11:

On stage SS11, and with their fourth stage win, O. TANAK (EST) and M. JARVEOJA (EST) (M-Sport World Rally Team) took the stage by +3.4 from J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT, in a time of 8:20.7.

T. NEUVILLE (BEL) and N. GILSOUL (BEL) (Hyundai Motorsport), third on stage with a time of 8:24.5, and +3.8 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>8:20.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>8:24.1</td>
      <td>+3.4</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>8:24.5</td>
      <td>+0.4</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>8:24.6</td>
      <td>+0.1</td>
      <td>+3.9</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>8:25.4</td>
      <td>+0.8</td>
      <td>+4.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>8:26.6</td>
      <td>+1.2</td>
      <td>+5.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>8:27.1</td>
      <td>+0.5</td>
      <td>+6.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>8:34.9</td>
      <td>+7.8</td>
      <td>+14.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>8:37.5</td>
      <td>+2.6</td>
      <td>+16.8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>8:39.7</td>
      <td>+2.2</td>
      <td>+19.0</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:46:41.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:47:14.4</td>
      <td>+32.8</td>
      <td>+32.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:47:23.6</td>
      <td>+9.2</td>
      <td>+42.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:47:37.8</td>
      <td>+14.2</td>
      <td>+56.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:47:51.9</td>
      <td>+14.1</td>
      <td>+1:10.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:48:38.7</td>
      <td>+46.8</td>
      <td>+1:57.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:49:07.7</td>
      <td>+29.0</td>
      <td>+2:26.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:50:28.7</td>
      <td>+1:21.0</td>
      <td>+3:47.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>1:51:43.6</td>
      <td>+1:14.9</td>
      <td>+5:02.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:51:54.0</td>
      <td>+10.4</td>
      <td>+5:12.4</td>
    </tr>
  </tbody>
</table>

## SS11 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS11 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-31.2</td>
      <td>8:20.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-29.6</td>
      <td>8:24.1</td>
      <td>+3.4</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-29.1</td>
      <td>8:24.5</td>
      <td>+3.8</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-31.7</td>
      <td>8:24.6</td>
      <td>+3.9</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-30.0</td>
      <td>8:25.4</td>
      <td>+4.7</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-28.0</td>
      <td>8:26.6</td>
      <td>+5.9</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-27.9</td>
      <td>8:27.1</td>
      <td>+6.4</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-20.7</td>
      <td>8:34.9</td>
      <td>+14.2</td>
      <td>+7.8</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-21.3</td>
      <td>8:37.5</td>
      <td>+16.8</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-19.6</td>
      <td>8:39.7</td>
      <td>+19.0</td>
      <td>+2.2</td>
    </tr>
  </tbody>
</table>

## SS11 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_218/chart_stage_sector_delta_SS11.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:05:17.900000</td>
      <td>00:03:02.800000</td>
      <td>00:08:20.700000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:05:19.500000</td>
      <td>00:03:04.600000</td>
      <td>00:08:24.100000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:05:20</td>
      <td>00:03:04.500000</td>
      <td>00:08:24.500000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:05:17.400000</td>
      <td>00:03:07.200000</td>
      <td>00:08:24.600000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:05:19.100000</td>
      <td>00:03:06.300000</td>
      <td>00:08:25.400000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:05:21.100000</td>
      <td>00:03:05.500000</td>
      <td>00:08:26.600000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:05:21.200000</td>
      <td>00:03:05.900000</td>
      <td>00:08:27.100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:05:28.400000</td>
      <td>00:03:06.500000</td>
      <td>00:08:34.900000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:05:27.800000</td>
      <td>00:03:09.700000</td>
      <td>00:08:37.500000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:05:29.500000</td>
      <td>00:03:10.200000</td>
      <td>00:08:39.700000</td>
    </tr>
  </tbody>
</table>

## SS11 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS11.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS11 - overall rally positions at end of stage

Following stage SS11, T. NEUVILLE retained overall lead of the rally in the Hyundai i20 Coupe WRC, +32.8 ahead of second.

J. LATVALA, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, retained second place overall.

O. TANAK, for M-Sport World Rally Team, retained third place overall, +42.0 behind the overall rally leader and +9.2 behind J. LATVALA in second.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:46:41.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:47:14.4</td>
      <td>+32.8</td>
      <td>+32.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:47:23.6</td>
      <td>+9.2</td>
      <td>+42.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:47:37.8</td>
      <td>+14.2</td>
      <td>+56.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:47:51.9</td>
      <td>+14.1</td>
      <td>+1:10.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:48:38.7</td>
      <td>+46.8</td>
      <td>+1:57.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:49:07.7</td>
      <td>+29.0</td>
      <td>+2:26.1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:50:28.7</td>
      <td>+1:21.0</td>
      <td>+3:47.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>1:51:43.6</td>
      <td>+1:14.9</td>
      <td>+5:02.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:51:54.0</td>
      <td>+10.4</td>
      <td>+5:12.4</td>
    </tr>
  </tbody>
</table>

## SS11 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS11.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>10</td>
      <td>9</td>
      <td>11</td>
      <td>22</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td></td>
      <td>26</td>
      <td>29</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35</td>
      <td>34</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS11.png)

### Stage position chart SS11

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS11.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>12</td>
      <td>11</td>
      <td>13</td>
      <td>37</td>
      <td>8</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>6</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td></td>
      <td>31</td>
      <td>29</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
      <td>7</td>
      <td>7</td>
      <td>9</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
      <td>20</td>
      <td>23</td>
      <td>25</td>
      <td>16</td>
      <td>24</td>
      <td>24</td>
      <td>25</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>7</td>
      <td>21</td>
      <td>28</td>
      <td>28</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>32</td>
      <td>30</td>
      <td>14</td>
      <td>13</td>
      <td>32</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS11

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:46:41.6|        |         |          1|        1|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:47:14.4|32.8    |32.8     |          2|        2|       2
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:47:23.6|9.2     |42.0     |          3|        3|       3
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:47:37.8|14.2    |56.2     |          4|        4|       4
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:47:51.9|14.1    |+1:10.3  |          5|        5|       5
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:48:38.7|46.8    |+1:57.1  |          6|        6|       6
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:49:07.7|29.0    |+2:26.1  |          7|        7|       7
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:50:28.7|+1:21.0 |+3:47.1  |          8|        8|       8
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |1:51:43.6|+1:14.9 |+5:02.0  |          9|        9|       1
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:51:54.0|10.4    |+5:12.4  |         10|       10|       9
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |1:59:37.9|+1:20.0 |+12:56.3 |         19|       11|       1
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |2:00:00.9|23.0    |+13:19.3 |         20|       12|       2
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:09:20.3|52.2    |+22:38.7 |         25|       13|      10
   37|L. BERTELLI|S. SCATTOLIN|FWRT                       |WRC Trophy |2:38:41.9|54.1    |+52:00.3 |         33|       14|       2

# Day 3 (11/02/2017)
## Section 5 (Morning/Afternoon)

## SS12 Knon
### Distance: 31.60 km
*Rerun of stage SS9* 
First car 12:58

**STAGE CANCELLED**

## SS13 Hagfors
### Distance: 15.87 km
*Rerun of stage SS10* 
First car 14:17

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1       
    2|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    3|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    4|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    7|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    8|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   10|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
   11|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   12|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   13|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
   14|   37|L. BERTELLI|FWRT                       |WRC Trophy |RC1

## Stage Report 13:

On stage SS13, and with their third stage win, Toyota Gazoo Racing WRT's J. LATVALA (FIN) and M. ANTTILA (FIN) took the stage by +1.1 from O. TANAK (EST) and M. JARVEOJA (EST) (M-Sport World Rally Team), in a time of 7:50.9.

T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport, third on stage with a time of 7:52.1, and +1.2 behind the stagewinner, retained overall lead of the rally.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>7:50.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>7:52.0</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>7:52.1</td>
      <td>+0.1</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>7:53.1</td>
      <td>+1.0</td>
      <td>+2.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>7:54.3</td>
      <td>+1.2</td>
      <td>+3.4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>7:58.8</td>
      <td>+4.5</td>
      <td>+7.9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>7:59.4</td>
      <td>+0.6</td>
      <td>+8.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>7:59.4</td>
      <td>+0.0</td>
      <td>+8.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>8:02.2</td>
      <td>+2.8</td>
      <td>+11.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>8:06.5</td>
      <td>+4.3</td>
      <td>+15.6</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:54:33.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55:05.3</td>
      <td>+31.6</td>
      <td>+31.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:55:15.6</td>
      <td>+10.3</td>
      <td>+41.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:55:30.9</td>
      <td>+15.3</td>
      <td>+57.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:55:46.2</td>
      <td>+15.3</td>
      <td>+1:12.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:56:45.2</td>
      <td>+59.0</td>
      <td>+2:11.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:57:06.5</td>
      <td>+21.3</td>
      <td>+2:32.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:58:36.7</td>
      <td>+1:30.2</td>
      <td>+4:03.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:59:56.2</td>
      <td>+1:19.5</td>
      <td>+5:22.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>2:00:30.7</td>
      <td>+34.5</td>
      <td>+5:57.0</td>
    </tr>
  </tbody>
</table>

## SS13 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS13 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-15.1</td>
      <td>-35.9</td>
      <td>7:50.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-14.0</td>
      <td>-34.7</td>
      <td>7:52.0</td>
      <td>+1.1</td>
      <td>+1.1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-14.0</td>
      <td>-33.7</td>
      <td>7:52.1</td>
      <td>+1.2</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-12.5</td>
      <td>-32.7</td>
      <td>7:53.1</td>
      <td>+2.2</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-13.3</td>
      <td>-33.0</td>
      <td>7:54.3</td>
      <td>+3.4</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-12.1</td>
      <td>-30.7</td>
      <td>7:58.8</td>
      <td>+7.9</td>
      <td>+4.5</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-12.4</td>
      <td>-30.3</td>
      <td>7:59.4</td>
      <td>+8.5</td>
      <td>+0.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-13.2</td>
      <td>-30.1</td>
      <td>7:59.4</td>
      <td>+8.5</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-11.2</td>
      <td>-28.6</td>
      <td>8:02.2</td>
      <td>+11.3</td>
      <td>+2.8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-9.6</td>
      <td>-24.6</td>
      <td>8:06.5</td>
      <td>+15.6</td>
      <td>+4.3</td>
    </tr>
  </tbody>
</table>

## SS13 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_218/chart_stage_sector_delta_SS13.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:22.300000</td>
      <td>00:01:58.600000</td>
      <td>00:03:30</td>
      <td>00:07:50.900000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:23.400000</td>
      <td>00:01:58.700000</td>
      <td>00:03:29.900000</td>
      <td>00:07:52</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:23.400000</td>
      <td>00:01:59.700000</td>
      <td>00:03:29</td>
      <td>00:07:52.100000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:24.900000</td>
      <td>00:01:59.200000</td>
      <td>00:03:29</td>
      <td>00:07:53.100000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:24.100000</td>
      <td>00:01:59.700000</td>
      <td>00:03:30.500000</td>
      <td>00:07:54.300000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:02:25.300000</td>
      <td>00:02:00.800000</td>
      <td>00:03:32.700000</td>
      <td>00:07:58.800000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:02:24.200000</td>
      <td>00:02:02.500000</td>
      <td>00:03:32.700000</td>
      <td>00:07:59.400000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:02:25</td>
      <td>00:02:01.500000</td>
      <td>00:03:32.900000</td>
      <td>00:07:59.400000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:26.200000</td>
      <td>00:02:02</td>
      <td>00:03:34</td>
      <td>00:08:02.200000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:27.800000</td>
      <td>00:02:04.400000</td>
      <td>00:03:34.300000</td>
      <td>00:08:06.500000</td>
    </tr>
  </tbody>
</table>

## SS13 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS13.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS13 - overall rally positions at end of stage

At the end of stage SS13, T. NEUVILLE remained in overall lead of the rally in the Hyundai i20 Coupe WRC, +31.6 ahead of second.

J. LATVALA, for Toyota Gazoo Racing WRT, retained second place overall.

O. TANAK, for M-Sport World Rally Team, retained third place overall, +41.9 behind the overall rally leader and +10.3 behind J. LATVALA.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>1:54:33.7</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:55:05.3</td>
      <td>+31.6</td>
      <td>+31.6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:55:15.6</td>
      <td>+10.3</td>
      <td>+41.9</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:55:30.9</td>
      <td>+15.3</td>
      <td>+57.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:55:46.2</td>
      <td>+15.3</td>
      <td>+1:12.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:56:45.2</td>
      <td>+59.0</td>
      <td>+2:11.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:57:06.5</td>
      <td>+21.3</td>
      <td>+2:32.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>1:58:36.7</td>
      <td>+1:30.2</td>
      <td>+4:03.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:59:56.2</td>
      <td>+1:19.5</td>
      <td>+5:22.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>2:00:30.7</td>
      <td>+34.5</td>
      <td>+5:57.0</td>
    </tr>
  </tbody>
</table>

## SS13 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS13.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>10</td>
      <td>9</td>
      <td>11</td>
      <td>22</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>20</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td></td>
      <td>26</td>
      <td>29</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35</td>
      <td>34</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS13.png)

### Stage position chart SS13

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS13.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS13</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>6</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td></td>
      <td>31</td>
      <td>29</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>12</td>
      <td>11</td>
      <td>13</td>
      <td>37</td>
      <td>8</td>
      <td>7</td>
      <td>4</td>
      <td>8</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>7</td>
      <td>21</td>
      <td>28</td>
      <td>28</td>
      <td>9</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
      <td>7</td>
      <td>7</td>
      <td>9</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
      <td>20</td>
      <td>23</td>
      <td>25</td>
      <td>16</td>
      <td>24</td>
      <td>24</td>
      <td>25</td>
      <td>24</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>25</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>32</td>
      <td>30</td>
      <td>14</td>
      <td>13</td>
      <td>32</td>
      <td>36</td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS13

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |1:54:33.7|        |         |          1|        1|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |1:55:05.3|31.6    |31.6     |          2|        2|       2
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |1:55:15.6|10.3    |41.9     |          3|        3|       3
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |1:55:30.9|15.3    |57.2     |          4|        4|       4
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |1:55:46.2|15.3    |+1:12.5  |          5|        5|       5
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |1:56:45.2|59.0    |+2:11.5  |          6|        6|       6
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |1:57:06.5|21.3    |+2:32.8  |          7|        7|       7
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |1:58:36.7|+1:30.2 |+4:03.0  |          8|        8|       8
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |1:59:56.2|+1:19.5 |+5:22.5  |          9|        9|       9
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |2:00:30.7|34.5    |+5:57.0  |         10|       10|       1
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |2:08:00.3|+1:00.5 |+13:26.6 |         19|       11|       2
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |2:08:23.1|22.8    |+13:49.4 |         20|       12|       1
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:17:19.7|+3:33.2 |+22:46.0 |         24|       13|      10
   37|L. BERTELLI|S. SCATTOLIN|FWRT                       |WRC Trophy |2:49:33.1|+2:08.8 |+54:59.4 |         33|       14|       2

## SS14 Varg&#229;sen
### Distance: 14.27 km
*Rerun of stage SS11* 
First car 15:08

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1       
    2|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    3|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    4|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    5|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    6|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    7|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    8|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    9|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   10|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
   11|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   12|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   13|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1

## Stage Report 14:

In stage SS14, T. NEUVILLE (BEL) and N. GILSOUL (BEL) for Hyundai Motorsport in the Hyundai i20 Coupe WRC continued to lead the rally with their sixth stage win of the rally, in a time of 8:07.5.

S. OGIER (FRA) and co-driver J. INGRASSIA (FRA) in the Ford Fiesta WRC were placed second on the stage, +3.3 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>8:07.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>8:10.8</td>
      <td>+3.3</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>8:13.2</td>
      <td>+2.4</td>
      <td>+5.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>8:15.9</td>
      <td>+2.7</td>
      <td>+8.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>8:19.2</td>
      <td>+3.3</td>
      <td>+11.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>8:19.7</td>
      <td>+0.5</td>
      <td>+12.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>8:21.0</td>
      <td>+1.3</td>
      <td>+13.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>8:22.7</td>
      <td>+1.7</td>
      <td>+15.2</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>8:27.6</td>
      <td>+4.9</td>
      <td>+20.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>8:28.4</td>
      <td>+0.8</td>
      <td>+20.9</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:02:41.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:03:24.5</td>
      <td>+43.3</td>
      <td>+43.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:03:28.8</td>
      <td>+4.3</td>
      <td>+47.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:03:41.7</td>
      <td>+12.9</td>
      <td>+1:00.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:05:04.9</td>
      <td>+1:23.2</td>
      <td>+2:23.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:05:27.5</td>
      <td>+22.6</td>
      <td>+2:46.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:07:05.1</td>
      <td>+1:37.6</td>
      <td>+4:23.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:08:23.8</td>
      <td>+1:18.7</td>
      <td>+5:42.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>2:09:01.7</td>
      <td>+37.9</td>
      <td>+6:20.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>32</td>
      <td>P. TIDEMAND</td>
      <td>2:09:56.7</td>
      <td>+55.0</td>
      <td>+7:15.5</td>
    </tr>
  </tbody>
</table>

## SS14 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS14 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-30.4</td>
      <td>8:07.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-30.4</td>
      <td>8:10.8</td>
      <td>+3.3</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-27.9</td>
      <td>8:13.2</td>
      <td>+5.7</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-28.5</td>
      <td>8:15.9</td>
      <td>+8.4</td>
      <td>+2.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-23.1</td>
      <td>8:19.2</td>
      <td>+11.7</td>
      <td>+3.3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-23.6</td>
      <td>8:19.7</td>
      <td>+12.2</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-23.6</td>
      <td>8:21.0</td>
      <td>+13.5</td>
      <td>+1.3</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-21.3</td>
      <td>8:22.7</td>
      <td>+15.2</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-18.7</td>
      <td>8:27.6</td>
      <td>+20.1</td>
      <td>+4.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td></td>
      <td>8:28.4</td>
      <td>+20.9</td>
      <td>+0.8</td>
    </tr>
  </tbody>
</table>

## SS14 - stage sector delta time (seconds) to fastest stage sector time

T. NEUVILLE drove an __ultimate stage__, recording the fastest time *between* each timing point on the stage.

![](images/2017_218/chart_stage_sector_delta_SS14.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:05:07.300000</td>
      <td>00:03:00.200000</td>
      <td>00:08:07.500000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:05:07.300000</td>
      <td>00:03:03.500000</td>
      <td>00:08:10.800000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:05:09.800000</td>
      <td>00:03:03.400000</td>
      <td>00:08:13.200000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:05:09.200000</td>
      <td>00:03:06.700000</td>
      <td>00:08:15.900000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:05:14.600000</td>
      <td>00:03:04.600000</td>
      <td>00:08:19.200000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:05:14.100000</td>
      <td>00:03:05.600000</td>
      <td>00:08:19.700000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:05:14.100000</td>
      <td>00:03:06.900000</td>
      <td>00:08:21</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:05:16.400000</td>
      <td>00:03:06.300000</td>
      <td>00:08:22.700000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:05:19</td>
      <td>00:03:08.600000</td>
      <td>00:08:27.600000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:08:28.400000</td>
    </tr>
  </tbody>
</table>

## SS14 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS14.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS14 - overall rally positions at end of stage

Following stage SS14, T. NEUVILLE continued to lead the rally for Hyundai Motorsport in the Hyundai i20 Coupe WRC, +43.3 ahead.

J. LATVALA, for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, retained second place overall.

O. TANAK, in the Ford Fiesta WRC, retained third place overall, +47.6 behind the overall rally leader and trailing J. LATVALA by +4.3.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>2:02:41.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:03:24.5</td>
      <td>+43.3</td>
      <td>+43.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:03:28.8</td>
      <td>+4.3</td>
      <td>+47.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:03:41.7</td>
      <td>+12.9</td>
      <td>+1:00.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:05:04.9</td>
      <td>+1:23.2</td>
      <td>+2:23.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:05:27.5</td>
      <td>+22.6</td>
      <td>+2:46.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:07:05.1</td>
      <td>+1:37.6</td>
      <td>+4:23.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:08:23.8</td>
      <td>+1:18.7</td>
      <td>+5:42.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>2:09:01.7</td>
      <td>+37.9</td>
      <td>+6:20.5</td>
    </tr>
    <tr>
      <th>10</th>
      <td>32</td>
      <td>P. TIDEMAND</td>
      <td>2:09:56.7</td>
      <td>+55.0</td>
      <td>+7:15.5</td>
    </tr>
  </tbody>
</table>

## SS14 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS14.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>13</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>10</td>
      <td>9</td>
      <td>11</td>
      <td>22</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td></td>
      <td>26</td>
      <td>29</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
      <td>23</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35</td>
      <td>34</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS14.png)

### Stage position chart SS14

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS14.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS13</th>
      <th>SS14</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>12</td>
      <td>11</td>
      <td>13</td>
      <td>37</td>
      <td>8</td>
      <td>7</td>
      <td>4</td>
      <td>8</td>
      <td>4</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>6</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td></td>
      <td>31</td>
      <td>29</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>7</td>
      <td>21</td>
      <td>28</td>
      <td>28</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
      <td>7</td>
      <td>7</td>
      <td>9</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>25</td>
      <td>11</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
      <td>20</td>
      <td>23</td>
      <td>25</td>
      <td>16</td>
      <td>24</td>
      <td>24</td>
      <td>25</td>
      <td>24</td>
      <td>23</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>35</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>32</td>
      <td>30</td>
      <td>14</td>
      <td>13</td>
      <td>32</td>
      <td>36</td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS14

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:02:41.2|        |         |          1|        1|       1
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:03:24.5|43.3    |43.3     |          2|        2|       2
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:03:28.8|4.3     |47.6     |          3|        3|       3
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:03:41.7|12.9    |+1:00.5  |          4|        4|       4
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:05:04.9|+1:23.2 |+2:23.7  |          5|        5|       5
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:05:27.5|22.6    |+2:46.3  |          6|        6|       6
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |2:07:05.1|+1:37.6 |+4:23.9  |          7|        7|       7
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:08:23.8|+1:18.7 |+5:42.6  |          8|        8|       8
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |2:09:01.7|37.9    |+6:20.5  |          9|        9|       1
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:12:32.9|+1:16.1 |+9:51.7  |         13|       10|       9
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |2:16:16.2|18.2    |+13:35.0 |         19|       11|       2
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |2:17:22.6|+1:06.4 |+14:41.4 |         20|       12|       1
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:25:42.4|+3:14.2 |+23:01.2 |         23|       13|      10

## SS15 Super Special Stage Karlstad
### Distance: 1.90 km
*Rerun of stage SS1* 
First car 17:45

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1       
    2|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    3|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    4|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    5|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    7|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    8|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    9|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
   10|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   11|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1       
  NaN|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   13|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1

## Stage Report 15:

In stage SS15, Hyundai Motorsport's D. SORDO (ESP) and co-driver M. MARTI (ESP) took their first stage win by +0.3 from S. OGIER (FRA) and J. INGRASSIA (FRA) in the Ford Fiesta WRC, in a time of 1:33.9.

With his 5th place on stage, J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT in the Toyota Yaris WRC (+0.9 behind the stagewinner, with a stage time of 1:34.8), took overall lead of the rally from T. NEUVILLE (BEL) and co-driver N. GILSOUL (BEL) for Hyundai Motorsport in the Hyundai i20 Coupe WRC, 33rd on stage and +10:00.0 behind stage winner D. SORDO.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:33.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:34.2</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:34.3</td>
      <td>+0.1</td>
      <td>+0.4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>1:34.6</td>
      <td>+0.3</td>
      <td>+0.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:34.8</td>
      <td>+0.2</td>
      <td>+0.9</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:35.6</td>
      <td>+0.8</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:35.7</td>
      <td>+0.1</td>
      <td>+1.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:36.2</td>
      <td>+0.5</td>
      <td>+2.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:36.3</td>
      <td>+0.1</td>
      <td>+2.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:37.7</td>
      <td>+1.4</td>
      <td>+3.8</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:04:59.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:05:03.1</td>
      <td>+3.8</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:05:15.9</td>
      <td>+12.8</td>
      <td>+16.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:06:38.8</td>
      <td>+1:22.9</td>
      <td>+1:39.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:07:03.8</td>
      <td>+25.0</td>
      <td>+2:04.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:08:44.0</td>
      <td>+1:40.2</td>
      <td>+3:44.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:09:59.5</td>
      <td>+1:15.5</td>
      <td>+5:00.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>2:10:36.3</td>
      <td>+36.8</td>
      <td>+5:37.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>P. TIDEMAND</td>
      <td>2:11:36.0</td>
      <td>+59.7</td>
      <td>+6:36.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>T. SUNINEN</td>
      <td>2:12:52.2</td>
      <td>+1:16.2</td>
      <td>+7:52.9</td>
    </tr>
  </tbody>
</table>

## SS15 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS15 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>1:33.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>1:34.2</td>
      <td>+0.3</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>1:34.3</td>
      <td>+0.4</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>1:34.6</td>
      <td>+0.7</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>1:34.8</td>
      <td>+0.9</td>
      <td>+0.2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>1:35.6</td>
      <td>+1.7</td>
      <td>+0.8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>1:35.7</td>
      <td>+1.8</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>1:36.2</td>
      <td>+2.3</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>1:36.3</td>
      <td>+2.4</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>1:37.7</td>
      <td>+3.8</td>
      <td>+1.4</td>
    </tr>
  </tbody>
</table>

## SS15 - stage sector delta time (seconds) to fastest stage sector time

![](images/2017_218/chart_stage_sector_delta_SS15.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:01:33.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:01:34.200000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:01:34.300000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>00:01:34.600000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:01:34.800000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:01:35.600000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:01:35.700000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:01:36.200000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:01:36.300000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:01:37.700000</td>
    </tr>
  </tbody>
</table>

## SS15 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS15.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS15 - overall rally positions at end of stage

At the end of a disastrous stage SS15 for previous overall leader T. NEUVILLE, J. LATVALA in the Toyota Yaris WRC gained one place, from second at end of the previous stage, to take overall lead of the rally, with a gap of +3.8 from O. TANAK in the Ford Fiesta WRC.

The overall leader from the previous stage, T. NEUVILLE, in the Hyundai i20 Coupe WRC, dropped back twelve positions to thirteenth, putting him +9:15.8 behind the overall leader.

O. TANAK, for M-Sport World Rally Team, took second place overall, up one position from third.

S. OGIER, for M-Sport World Rally Team in the Ford Fiesta WRC, moved up into third place overall, up one position from fourth, +16.6 behind the overall rally leader and trailing second placed O. TANAK by +12.8.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:04:59.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:05:03.1</td>
      <td>+3.8</td>
      <td>+3.8</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:05:15.9</td>
      <td>+12.8</td>
      <td>+16.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:06:38.8</td>
      <td>+1:22.9</td>
      <td>+1:39.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:07:03.8</td>
      <td>+25.0</td>
      <td>+2:04.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:08:44.0</td>
      <td>+1:40.2</td>
      <td>+3:44.7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:09:59.5</td>
      <td>+1:15.5</td>
      <td>+5:00.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>2:10:36.3</td>
      <td>+36.8</td>
      <td>+5:37.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>P. TIDEMAND</td>
      <td>2:11:36.0</td>
      <td>+59.7</td>
      <td>+6:36.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>T. SUNINEN</td>
      <td>2:12:52.2</td>
      <td>+1:16.2</td>
      <td>+7:52.9</td>
    </tr>
  </tbody>
</table>

## SS15 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS15.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>10</td>
      <td>9</td>
      <td>11</td>
      <td>22</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td></td>
      <td>26</td>
      <td>29</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
      <td>23</td>
      <td>23</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35</td>
      <td>34</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS15.png)

### Stage position chart SS15

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS15.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>25</td>
      <td>11</td>
      <td>4</td>
    </tr>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>35</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>7</td>
      <td>21</td>
      <td>28</td>
      <td>28</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td></td>
      <td>31</td>
      <td>29</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>6</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>12</td>
      <td>11</td>
      <td>13</td>
      <td>37</td>
      <td>8</td>
      <td>7</td>
      <td>4</td>
      <td>8</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
      <td>20</td>
      <td>23</td>
      <td>25</td>
      <td>16</td>
      <td>24</td>
      <td>24</td>
      <td>25</td>
      <td>24</td>
      <td>23</td>
      <td>11</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
      <td>7</td>
      <td>7</td>
      <td>9</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
      <td>12</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>33</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>32</td>
      <td>30</td>
      <td>14</td>
      <td>13</td>
      <td>32</td>
      <td>36</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS15

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:04:59.3|        |         |          1|        1|       1
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:05:03.1|3.8     |3.8      |          2|        2|       2
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:05:15.9|12.8    |16.6     |          3|        3|       3
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:06:38.8|+1:22.9 |+1:39.5  |          4|        4|       4
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:07:03.8|25.0    |+2:04.5  |          5|        5|       5
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |2:08:44.0|+1:40.2 |+3:44.7  |          6|        6|       6
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:09:59.5|+1:15.5 |+5:00.2  |          7|        7|       7
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |2:10:36.3|36.8    |+5:37.0  |          8|        8|       1
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:14:08.5|+1:11.0 |+9:09.2  |         12|        9|       8
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:14:15.1|6.6     |+9:15.8  |         13|       10|       9
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |2:17:53.9|12.2    |+12:54.6 |         19|       11|       2
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |2:19:00.7|+1:06.8 |+14:01.4 |         20|       12|       1
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:27:18.6|+3:06.3 |+22:19.3 |         23|       13|      10

# Day 4 (12/02/2017)
## Section 6 (Morning)

## SS16 Liken&#228;s
### Distance: 21.19 km
 
First car 07:55

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1       
    2|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    3|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    4|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    5|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    6|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    8|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    9|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   10|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
   11|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   12|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   13|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1

## Stage Report 16:

In stage SS16, J. LATVALA (FIN) and M. ANTTILA (FIN) (Toyota Gazoo Racing WRT) continued to lead the rally with their fourth stage win, in a time of 11:06.9.

O. TANAK (EST) and M. JARVEOJA (EST) for M-Sport World Rally Team were placed second on the stage, +7.1 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>11:06.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>11:14.0</td>
      <td>+7.1</td>
      <td>+7.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>11:14.6</td>
      <td>+0.6</td>
      <td>+7.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>11:16.6</td>
      <td>+2.0</td>
      <td>+9.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>11:18.2</td>
      <td>+1.6</td>
      <td>+11.3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>11:19.9</td>
      <td>+1.7</td>
      <td>+13.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>11:23.9</td>
      <td>+4.0</td>
      <td>+17.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>11:25.9</td>
      <td>+2.0</td>
      <td>+19.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>11:33.9</td>
      <td>+8.0</td>
      <td>+27.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>11:40.5</td>
      <td>+6.6</td>
      <td>+33.6</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:16:06.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:16:17.1</td>
      <td>+10.9</td>
      <td>+10.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:16:49.8</td>
      <td>+32.7</td>
      <td>+43.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:17:53.4</td>
      <td>+1:03.6</td>
      <td>+1:47.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:18:23.7</td>
      <td>+30.3</td>
      <td>+2:17.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:20:54.6</td>
      <td>+2:30.9</td>
      <td>+4:48.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:21:16.1</td>
      <td>+21.5</td>
      <td>+5:09.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>2:22:16.8</td>
      <td>+1:00.7</td>
      <td>+6:10.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>P. TIDEMAND</td>
      <td>2:23:46.8</td>
      <td>+1:30.0</td>
      <td>+7:40.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>T. SUNINEN</td>
      <td>2:24:52.1</td>
      <td>+1:05.3</td>
      <td>+8:45.9</td>
    </tr>
  </tbody>
</table>

## SS16 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS16 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-27.6</td>
      <td>-45.5</td>
      <td>11:06.9</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-23.5</td>
      <td>-39.3</td>
      <td>11:14.0</td>
      <td>+7.1</td>
      <td>+7.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-24.2</td>
      <td>-38.8</td>
      <td>11:14.6</td>
      <td>+7.7</td>
      <td>+0.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-23.4</td>
      <td>-38.9</td>
      <td>11:16.6</td>
      <td>+9.7</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-21.5</td>
      <td>-36.7</td>
      <td>11:18.2</td>
      <td>+11.3</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-19.4</td>
      <td>-35.3</td>
      <td>11:19.9</td>
      <td>+13.0</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-15.8</td>
      <td>-31.1</td>
      <td>11:23.9</td>
      <td>+17.0</td>
      <td>+4.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-17.8</td>
      <td>-30.9</td>
      <td>11:25.9</td>
      <td>+19.0</td>
      <td>+2.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-7.3</td>
      <td>-21.8</td>
      <td>11:33.9</td>
      <td>+27.0</td>
      <td>+8.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>-15.9</td>
      <td>-23.0</td>
      <td>11:40.5</td>
      <td>+33.6</td>
      <td>+6.6</td>
    </tr>
  </tbody>
</table>

## SS16 - stage sector delta time (seconds) to fastest stage sector time

J. LATVALA drove an __ultimate stage__, recording the fastest time *between* each timing point on the stage.

![](images/2017_218/chart_stage_sector_delta_SS16.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:05:17.200000</td>
      <td>00:02:31.900000</td>
      <td>00:03:17.800000</td>
      <td>00:11:06.900000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:05:21.300000</td>
      <td>00:02:34</td>
      <td>00:03:18.700000</td>
      <td>00:11:14</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:05:20.600000</td>
      <td>00:02:35.200000</td>
      <td>00:03:18.800000</td>
      <td>00:11:14.600000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:05:21.400000</td>
      <td>00:02:34.300000</td>
      <td>00:03:20.900000</td>
      <td>00:11:16.600000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:05:23.300000</td>
      <td>00:02:34.600000</td>
      <td>00:03:20.300000</td>
      <td>00:11:18.200000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:05:25.400000</td>
      <td>00:02:33.900000</td>
      <td>00:03:20.600000</td>
      <td>00:11:19.900000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:05:29</td>
      <td>00:02:34.500000</td>
      <td>00:03:20.400000</td>
      <td>00:11:23.900000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:05:27</td>
      <td>00:02:36.700000</td>
      <td>00:03:22.200000</td>
      <td>00:11:25.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:05:37.500000</td>
      <td>00:02:35.300000</td>
      <td>00:03:21.100000</td>
      <td>00:11:33.900000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>00:05:28.900000</td>
      <td>00:02:42.700000</td>
      <td>00:03:28.900000</td>
      <td>00:11:40.500000</td>
    </tr>
  </tbody>
</table>

## SS16 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS16.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS16 - overall rally positions at end of stage

At the end of stage SS16, J. LATVALA continued to lead the rally for Toyota Gazoo Racing WRT in the Toyota Yaris WRC, +10.9 ahead of second.

O. TANAK, in the Ford Fiesta WRC, retained second place overall.

S. OGIER, for M-Sport World Rally Team, retained third place overall, +43.6 behind the overall rally leader and trailing O. TANAK by +32.7.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:16:06.2</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:16:17.1</td>
      <td>+10.9</td>
      <td>+10.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:16:49.8</td>
      <td>+32.7</td>
      <td>+43.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:17:53.4</td>
      <td>+1:03.6</td>
      <td>+1:47.2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:18:23.7</td>
      <td>+30.3</td>
      <td>+2:17.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:20:54.6</td>
      <td>+2:30.9</td>
      <td>+4:48.4</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:21:16.1</td>
      <td>+21.5</td>
      <td>+5:09.9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>2:22:16.8</td>
      <td>+1:00.7</td>
      <td>+6:10.6</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>P. TIDEMAND</td>
      <td>2:23:46.8</td>
      <td>+1:30.0</td>
      <td>+7:40.6</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>T. SUNINEN</td>
      <td>2:24:52.1</td>
      <td>+1:05.3</td>
      <td>+8:45.9</td>
    </tr>
  </tbody>
</table>

## SS16 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS16.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>10</td>
      <td>9</td>
      <td>11</td>
      <td>22</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>17</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td></td>
      <td>26</td>
      <td>29</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35</td>
      <td>34</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS16.png)

### Stage position chart SS16

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS16.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>7</td>
      <td>21</td>
      <td>28</td>
      <td>28</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>35</td>
      <td>6</td>
      <td>5</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>6</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td></td>
      <td>31</td>
      <td>29</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>12</td>
      <td>11</td>
      <td>13</td>
      <td>37</td>
      <td>8</td>
      <td>7</td>
      <td>4</td>
      <td>8</td>
      <td>4</td>
      <td>10</td>
      <td>8</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>25</td>
      <td>11</td>
      <td>4</td>
      <td>10</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
      <td>7</td>
      <td>7</td>
      <td>9</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
      <td>12</td>
      <td>13</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>33</td>
      <td>15</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
      <td>20</td>
      <td>23</td>
      <td>25</td>
      <td>16</td>
      <td>24</td>
      <td>24</td>
      <td>25</td>
      <td>24</td>
      <td>23</td>
      <td>11</td>
      <td>17</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>32</td>
      <td>30</td>
      <td>14</td>
      <td>13</td>
      <td>32</td>
      <td>36</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS16

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:16:06.2|        |         |          1|        1|       1
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:16:17.1|10.9    |10.9     |          2|        2|       2
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:16:49.8|32.7    |43.6     |          3|        3|       3
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:17:53.4|+1:03.6 |+1:47.2  |          4|        4|       4
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:18:23.7|30.3    |+2:17.5  |          5|        5|       5
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |2:20:54.6|+2:30.9 |+4:48.4  |          6|        6|       6
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:21:16.1|21.5    |+5:09.9  |          7|        7|       7
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |2:22:16.8|+1:00.7 |+6:10.6  |          8|        8|       1
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:25:26.7|27.5    |+9:20.5  |         12|        9|       8
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:26:26.6|59.9    |+10:20.4 |         13|       10|       9
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |2:29:19.8|27.1    |+13:13.6 |         17|       11|       2
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |2:31:14.8|+1:10.2 |+15:08.6 |         20|       12|       1
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:38:42.5|+2:04.4 |+22:36.3 |         23|       13|      10

## SS17 Liken&#228;s
### Distance: 21.19 km
*Rerun of stage SS16* 
First car 09:58

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1       
    2|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    3|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    4|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    5|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    6|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
    7|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
    8|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
    9|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   10|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
   11|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
   12|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
   13|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1

## Stage Report 17:

In stage SS17, Toyota Gazoo Racing WRT's J. LATVALA (FIN) and co-driver M. ANTTILA (FIN) continued to lead the rally with their fifth stage win, in a time of 11:06.3.

O. TANAK (EST) and M. JARVEOJA (EST) for M-Sport World Rally Team in the Ford Fiesta WRC were placed second on the stage, +9.1 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>11:06.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>11:15.4</td>
      <td>+9.1</td>
      <td>+9.1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>11:19.9</td>
      <td>+4.5</td>
      <td>+13.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>11:20.9</td>
      <td>+1.0</td>
      <td>+14.6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>11:21.0</td>
      <td>+0.1</td>
      <td>+14.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>11:22.6</td>
      <td>+1.6</td>
      <td>+16.3</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>11:23.1</td>
      <td>+0.5</td>
      <td>+16.8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>11:24.8</td>
      <td>+1.7</td>
      <td>+18.5</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>11:32.7</td>
      <td>+7.9</td>
      <td>+26.4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>11:47.8</td>
      <td>+15.1</td>
      <td>+41.5</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:27:12.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:27:32.5</td>
      <td>+20.0</td>
      <td>+20.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:28:10.8</td>
      <td>+38.3</td>
      <td>+58.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:29:16.0</td>
      <td>+1:05.2</td>
      <td>+2:03.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:29:48.5</td>
      <td>+32.5</td>
      <td>+2:36.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:32:27.3</td>
      <td>+2:38.8</td>
      <td>+5:14.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:32:36.0</td>
      <td>+8.7</td>
      <td>+5:23.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>2:34:04.6</td>
      <td>+1:28.6</td>
      <td>+6:52.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>P. TIDEMAND</td>
      <td>2:35:45.8</td>
      <td>+1:41.2</td>
      <td>+8:33.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>T. SUNINEN</td>
      <td>2:36:40.2</td>
      <td>+54.4</td>
      <td>+9:27.7</td>
    </tr>
  </tbody>
</table>

## SS17 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS17 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-32.0</td>
      <td>-51.3</td>
      <td>11:06.3</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-28.3</td>
      <td>-44.4</td>
      <td>11:15.4</td>
      <td>+9.1</td>
      <td>+9.1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-25.6</td>
      <td>-41.5</td>
      <td>11:19.9</td>
      <td>+13.6</td>
      <td>+4.5</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>-24.1</td>
      <td>-40.2</td>
      <td>11:20.9</td>
      <td>+14.6</td>
      <td>+1.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-25.6</td>
      <td>-41.4</td>
      <td>11:21.0</td>
      <td>+14.7</td>
      <td>+0.1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-26.9</td>
      <td>-40.3</td>
      <td>11:22.6</td>
      <td>+16.3</td>
      <td>+1.6</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>-24.3</td>
      <td>-38.6</td>
      <td>11:23.1</td>
      <td>+16.8</td>
      <td>+0.5</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>-23.6</td>
      <td>-37.4</td>
      <td>11:24.8</td>
      <td>+18.5</td>
      <td>+1.7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>-17.3</td>
      <td>-31.5</td>
      <td>11:32.7</td>
      <td>+26.4</td>
      <td>+7.9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>-14.3</td>
      <td>-21.2</td>
      <td>11:47.8</td>
      <td>+41.5</td>
      <td>+15.1</td>
    </tr>
  </tbody>
</table>

## SS17 - stage sector delta time (seconds) to fastest stage sector time

J. LATVALA drove an __ultimate stage__, recording the fastest time *between* each timing point on the stage.

![](images/2017_218/chart_stage_sector_delta_SS17.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:05:18.600000</td>
      <td>00:02:30.100000</td>
      <td>00:03:17.600000</td>
      <td>00:11:06.300000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:05:22.300000</td>
      <td>00:02:33.300000</td>
      <td>00:03:19.800000</td>
      <td>00:11:15.400000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:05:25</td>
      <td>00:02:33.500000</td>
      <td>00:03:21.400000</td>
      <td>00:11:19.900000</td>
    </tr>
    <tr>
      <th>13</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:05:26.500000</td>
      <td>00:02:33.300000</td>
      <td>00:03:21.100000</td>
      <td>00:11:20.900000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:05:25</td>
      <td>00:02:33.600000</td>
      <td>00:03:22.400000</td>
      <td>00:11:21</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:05:23.700000</td>
      <td>00:02:36</td>
      <td>00:03:22.900000</td>
      <td>00:11:22.600000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>14</td>
      <td>M. OSTBERG</td>
      <td>00:05:26.300000</td>
      <td>00:02:35.100000</td>
      <td>00:03:21.700000</td>
      <td>00:11:23.100000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:05:27</td>
      <td>00:02:35.600000</td>
      <td>00:03:22.200000</td>
      <td>00:11:24.800000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>00:05:33.300000</td>
      <td>00:02:35.200000</td>
      <td>00:03:24.200000</td>
      <td>00:11:32.700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>00:05:36.300000</td>
      <td>00:02:42.500000</td>
      <td>00:03:29</td>
      <td>00:11:47.800000</td>
    </tr>
  </tbody>
</table>

## SS17 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS17.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS17 - overall rally positions at end of stage

Following stage SS17, J. LATVALA remained in overall lead of the rally for Toyota Gazoo Racing WRT, with a lead of +20.0.

O. TANAK, for M-Sport World Rally Team, retained second place overall.

S. OGIER, in the Ford Fiesta WRC, retained third place overall, +58.3 behind the overall rally leader and trailing second placed O. TANAK by +38.3.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:27:12.5</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:27:32.5</td>
      <td>+20.0</td>
      <td>+20.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:28:10.8</td>
      <td>+38.3</td>
      <td>+58.3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:29:16.0</td>
      <td>+1:05.2</td>
      <td>+2:03.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:29:48.5</td>
      <td>+32.5</td>
      <td>+2:36.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:32:27.3</td>
      <td>+2:38.8</td>
      <td>+5:14.8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:32:36.0</td>
      <td>+8.7</td>
      <td>+5:23.5</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>2:34:04.6</td>
      <td>+1:28.6</td>
      <td>+6:52.1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>P. TIDEMAND</td>
      <td>2:35:45.8</td>
      <td>+1:41.2</td>
      <td>+8:33.3</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>T. SUNINEN</td>
      <td>2:36:40.2</td>
      <td>+54.4</td>
      <td>+9:27.7</td>
    </tr>
  </tbody>
</table>

## SS17 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS17.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>10</td>
      <td>9</td>
      <td>11</td>
      <td>22</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>17</td>
      <td>16</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td></td>
      <td>26</td>
      <td>29</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35</td>
      <td>34</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS17.png)

### Stage position chart SS17

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS17.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>7</td>
      <td>21</td>
      <td>28</td>
      <td>28</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td></td>
      <td>31</td>
      <td>29</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>1</td>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>12</td>
      <td>11</td>
      <td>13</td>
      <td>37</td>
      <td>8</td>
      <td>7</td>
      <td>4</td>
      <td>8</td>
      <td>4</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>6</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
      <td>6</td>
      <td>8</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
      <td>7</td>
      <td>7</td>
      <td>9</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
      <td>12</td>
      <td>13</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>25</td>
      <td>11</td>
      <td>4</td>
      <td>10</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>35</td>
      <td>6</td>
      <td>5</td>
      <td>19</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>33</td>
      <td>15</td>
      <td>21</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
      <td>20</td>
      <td>23</td>
      <td>25</td>
      <td>16</td>
      <td>24</td>
      <td>24</td>
      <td>25</td>
      <td>24</td>
      <td>23</td>
      <td>11</td>
      <td>17</td>
      <td>23</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>32</td>
      <td>30</td>
      <td>14</td>
      <td>13</td>
      <td>32</td>
      <td>36</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS17

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:27:12.5|        |         |          1|        1|       1
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:27:32.5|20.0    |20.0     |          2|        2|       2
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:28:10.8|38.3    |58.3     |          3|        3|       3
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:29:16.0|+1:05.2 |+2:03.5  |          4|        4|       4
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:29:48.5|32.5    |+2:36.0  |          5|        5|       5
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |2:32:27.3|+2:38.8 |+5:14.8  |          6|        6|       6
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:32:36.0|8.7     |+5:23.5  |          7|        7|       7
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |2:34:04.6|+1:28.6 |+6:52.1  |          8|        8|       1
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:37:38.2|46.2    |+10:25.7 |         12|        9|       8
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:38:42.5|+1:04.3 |+11:30.0 |         13|       10|       9
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |2:40:42.9|1.6     |+13:30.4 |         16|       11|       2
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |2:43:32.7|+1:14.0 |+16:20.2 |         20|       12|       1
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:50:03.4|+1:10.2 |+22:50.9 |         23|       13|      10

## SS18 Torsby 2 (Power Stage)
### Distance: 16.43 km
 
First car 12:18

## Start Order:
start|carNo|driverName |           team            |eligibility|groupClass
----:|----:|-----------|---------------------------|-----------|----------
    1|   14|M. OSTBERG |M-Sport World Rally Team   |           |RC1       
    2|    5|T. NEUVILLE|Hyundai Motorsport         |M          |RC1       
    3|    7|K. MEEKE   |Citroën Total Abu Dhabi WRT|M          |RC1       
    6|   15|S. LEFEBVRE|Citroën Total Abu Dhabi WRT|           |RC1       
    7|    4|H. PADDON  |Hyundai Motorsport         |M          |RC1       
    8|    3|E. EVANS   |M-Sport World Rally Team   |M          |RC1       
    9|    8|C. BREEN   |Citroën Total Abu Dhabi WRT|M          |RC1       
   10|    6|D. SORDO   |Hyundai Motorsport         |M          |RC1       
   11|    1|S. OGIER   |M-Sport World Rally Team   |M          |RC1       
   12|    2|O. TANAK   |M-Sport World Rally Team   |M          |RC1       
   13|   10|J. LATVALA |Toyota Gazoo Racing WRT    |M          |RC1       
   14|   16|V. GORBAN  |Eurolamp World Rally Team  |WRC Trophy |RC1       
   15|   11|J. HÄNNINEN|Toyota Gazoo Racing WRT    |M          |RC1

## Stage Report 18:

In stage SS18, J. LATVALA (FIN) and M. ANTTILA (FIN) for Toyota Gazoo Racing WRT continued to lead the rally with their sixth stage win of the rally, in a time of 8:51.1.

M-Sport World Rally Team's S. OGIER (FRA) and J. INGRASSIA (FRA) were placed second on the stage, +1.2 behind.



### Stage Result

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>8:51.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>8:52.3</td>
      <td>+1.2</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>8:52.6</td>
      <td>+0.3</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>8:54.1</td>
      <td>+1.5</td>
      <td>+3.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>8:58.8</td>
      <td>+4.7</td>
      <td>+7.7</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>8:59.1</td>
      <td>+0.3</td>
      <td>+8.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>9:00.3</td>
      <td>+1.2</td>
      <td>+9.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>9:02.9</td>
      <td>+2.6</td>
      <td>+11.8</td>
    </tr>
    <tr>
      <th>9</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>9:05.8</td>
      <td>+2.9</td>
      <td>+14.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>9:06.3</td>
      <td>+0.5</td>
      <td>+15.2</td>
    </tr>
  </tbody>
</table>

### Overall rally positions at end of stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:36:03.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:36:32.8</td>
      <td>+29.2</td>
      <td>+29.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:37:03.1</td>
      <td>+30.3</td>
      <td>+59.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:38:15.1</td>
      <td>+1:12.0</td>
      <td>+2:11.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:38:54.8</td>
      <td>+39.7</td>
      <td>+2:51.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:41:30.2</td>
      <td>+2:35.4</td>
      <td>+5:26.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:41:34.8</td>
      <td>+4.6</td>
      <td>+5:31.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>2:43:18.3</td>
      <td>+1:43.5</td>
      <td>+7:14.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>P. TIDEMAND</td>
      <td>2:45:14.7</td>
      <td>+1:56.4</td>
      <td>+9:11.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>T. SUNINEN</td>
      <td>2:46:06.5</td>
      <td>+51.8</td>
      <td>+10:02.9</td>
    </tr>
  </tbody>
</table>

## SS18 - stage split time, rank position

![](images/2017_218/chart_stage_split_pos_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the rank position of each driver at each split along the stage.*

## SS18 - stage split delta time (seconds) to first on stage

![](images/2017_218/split_delta_firstonstage_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver relative to the split times of the first driver on stage.*
*The leader within the stage at each split point is highlighted.*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>split_1</th>
      <th>split_2</th>
      <th>stageTime</th>
      <th>diffFirst</th>
      <th>diffPrev</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>-5.4</td>
      <td>-6.0</td>
      <td>8:51.1</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>-4.6</td>
      <td>-4.6</td>
      <td>8:52.3</td>
      <td>+1.2</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>-3.4</td>
      <td>-3.1</td>
      <td>8:52.6</td>
      <td>+1.5</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>-2.6</td>
      <td>-3.1</td>
      <td>8:54.1</td>
      <td>+3.0</td>
      <td>+1.5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>-3.7</td>
      <td>-1.8</td>
      <td>8:58.8</td>
      <td>+7.7</td>
      <td>+4.7</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>-1.8</td>
      <td>+0.3</td>
      <td>8:59.1</td>
      <td>+8.0</td>
      <td>+0.3</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>-5.1</td>
      <td>-5.5</td>
      <td>9:00.3</td>
      <td>+9.2</td>
      <td>+1.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td></td>
      <td></td>
      <td>9:02.9</td>
      <td>+11.8</td>
      <td>+2.6</td>
    </tr>
    <tr>
      <th>15</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>+1.5</td>
      <td>+4.6</td>
      <td>9:05.8</td>
      <td>+14.7</td>
      <td>+2.9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>+0.6</td>
      <td>+3.2</td>
      <td>9:06.3</td>
      <td>+15.2</td>
      <td>+0.5</td>
    </tr>
  </tbody>
</table>

## SS18 - stage sector delta time (seconds) to fastest stage sector time

Despite being competitive at the start of stage 18, M. OSTBERG lost ground in the final part of the stage.

![](images/2017_218/chart_stage_sector_delta_SS18.png)

*This chart allows you to compare the __on stage__ performance of each driver. It displays the "sector time" of each driver (the time between each split point along the stage).*

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>sector_1</th>
      <th>sector_2</th>
      <th>sector_3</th>
      <th>time_stageTime</th>
    </tr>
    <tr>
      <th>start</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>13</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>00:02:53.700000</td>
      <td>00:02:12.700000</td>
      <td>00:03:44.700000</td>
      <td>00:08:51.100000</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>00:02:54.500000</td>
      <td>00:02:13.300000</td>
      <td>00:03:44.500000</td>
      <td>00:08:52.300000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>T. NEUVILLE</td>
      <td>00:02:55.700000</td>
      <td>00:02:13.600000</td>
      <td>00:03:43.300000</td>
      <td>00:08:52.600000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>K. MEEKE</td>
      <td>00:02:56.500000</td>
      <td>00:02:12.800000</td>
      <td>00:03:44.800000</td>
      <td>00:08:54.100000</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>00:02:55.400000</td>
      <td>00:02:15.200000</td>
      <td>00:03:48.200000</td>
      <td>00:08:58.800000</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>00:02:57.300000</td>
      <td>00:02:15.400000</td>
      <td>00:03:46.400000</td>
      <td>00:08:59.100000</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>00:02:54</td>
      <td>00:02:12.900000</td>
      <td>00:03:53.400000</td>
      <td>00:09:00.300000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>NaT</td>
      <td>00:09:02.900000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>11</td>
      <td>J. HÄNNINEN</td>
      <td>00:03:00.600000</td>
      <td>00:02:16.400000</td>
      <td>00:03:48.800000</td>
      <td>00:09:05.800000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>00:02:59.700000</td>
      <td>00:02:15.900000</td>
      <td>00:03:50.700000</td>
      <td>00:09:06.300000</td>
    </tr>
  </tbody>
</table>

## SS18 - stage split delta time (seconds) to overall leader at start of stage

![](images/2017_218/split_delta_rebase_SS18.png)

*This chart shows the split time in seconds at each split along the stage, relative to the driver who started the stage in overall lead of the rally.*
*It allows you to compare the __on stage__ performance of each driver, as well as identifying time gained/lost relative to the overall leader of the rally at the end of previous stage.*
*The leader within the stage at each split point is highlighted.*
*The __rank__ based label allows you to see how drivers compare in terms of relative position, rather than time, at each split on the stage.*

### SS18 - overall rally positions at end of stage

Following stage SS18, J. LATVALA continued to lead the rally in the Toyota Yaris WRC, with a gap to second of +29.2.

O. TANAK, for M-Sport World Rally Team, retained second place overall.

S. OGIER, for M-Sport World Rally Team in the Ford Fiesta WRC, retained third place overall, +59.5 behind the overall rally leader and trailing second placed O. TANAK by +30.3.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carNo</th>
      <th>driverName</th>
      <th>time</th>
      <th>diffPrev</th>
      <th>diffFirst</th>
    </tr>
    <tr>
      <th>pos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>10</td>
      <td>J. LATVALA</td>
      <td>2:36:03.6</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>O. TANAK</td>
      <td>2:36:32.8</td>
      <td>+29.2</td>
      <td>+29.2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>S. OGIER</td>
      <td>2:37:03.1</td>
      <td>+30.3</td>
      <td>+59.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>D. SORDO</td>
      <td>2:38:15.1</td>
      <td>+1:12.0</td>
      <td>+2:11.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>8</td>
      <td>C. BREEN</td>
      <td>2:38:54.8</td>
      <td>+39.7</td>
      <td>+2:51.2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>E. EVANS</td>
      <td>2:41:30.2</td>
      <td>+2:35.4</td>
      <td>+5:26.6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>H. PADDON</td>
      <td>2:41:34.8</td>
      <td>+4.6</td>
      <td>+5:31.2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>S. LEFEBVRE</td>
      <td>2:43:18.3</td>
      <td>+1:43.5</td>
      <td>+7:14.7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>32</td>
      <td>P. TIDEMAND</td>
      <td>2:45:14.7</td>
      <td>+1:56.4</td>
      <td>+9:11.1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>31</td>
      <td>T. SUNINEN</td>
      <td>2:46:06.5</td>
      <td>+51.8</td>
      <td>+10:02.9</td>
    </tr>
  </tbody>
</table>

## SS18 - overall rank evolution

*Showing overall rally position at end of each stage.*

![](images/2017_218/overall_SS18.png)

### Overall position at end of each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS12</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>2</td>
      <td>6</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>8</td>
      <td>8</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>4</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>6</td>
      <td>4</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>7</td>
      <td>7</td>
      <td>12</td>
      <td>12</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>10</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>3</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>5</td>
      <td>13</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
      <td>12</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
      <td>13</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>5</td>
      <td>6</td>
      <td>10</td>
      <td>9</td>
      <td>11</td>
      <td>22</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>17</td>
      <td>16</td>
      <td>15</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>25</td>
      <td>25</td>
      <td>21</td>
      <td>20</td>
      <td>21</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>19</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>9</td>
      <td></td>
      <td>26</td>
      <td>29</td>
      <td>27</td>
      <td>25</td>
      <td>25</td>
      <td>25</td>
      <td>24</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
      <td>23</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35</td>
      <td>34</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td>33</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

### Time to leader overall (s)

![](images/2017_218/overall_td_diffFirst_SS18.png)

### Stage position chart SS18

*Showing stage position for each stage.*

![](images/2017_218/stageStage_SS18.png)

### Stage position on each stage

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>SS1</th>
      <th>SS2</th>
      <th>SS3</th>
      <th>SS4</th>
      <th>SS5</th>
      <th>SS6</th>
      <th>SS7</th>
      <th>SS8</th>
      <th>SS9</th>
      <th>SS10</th>
      <th>SS11</th>
      <th>SS13</th>
      <th>SS14</th>
      <th>SS15</th>
      <th>SS16</th>
      <th>SS17</th>
      <th>SS18</th>
    </tr>
    <tr>
      <th>carNo</th>
      <th>driverName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <th>J. LATVALA</th>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <th>S. OGIER</th>
      <td>5</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
      <td>3</td>
      <td>4</td>
      <td>2</td>
      <td>3</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>9</td>
      <td>5</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <th>T. NEUVILLE</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>1</td>
      <td>33</td>
      <td>15</td>
      <td>21</td>
      <td>3</td>
    </tr>
    <tr>
      <th>7</th>
      <th>K. MEEKE</th>
      <td>7</td>
      <td>2</td>
      <td>7</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
      <td>2</td>
      <td>5</td>
      <td>6</td>
      <td>6</td>
      <td>6</td>
      <td>5</td>
      <td>35</td>
      <td>6</td>
      <td>5</td>
      <td>19</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <th>H. PADDON</th>
      <td>11</td>
      <td>9</td>
      <td>11</td>
      <td>7</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>7</td>
      <td>21</td>
      <td>28</td>
      <td>28</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
    </tr>
    <tr>
      <th>6</th>
      <th>D. SORDO</th>
      <td>3</td>
      <td>7</td>
      <td>5</td>
      <td>10</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>9</td>
      <td>5</td>
      <td>5</td>
      <td>7</td>
      <td>10</td>
      <td>6</td>
      <td>1</td>
      <td>3</td>
      <td>6</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <th>O. TANAK</th>
      <td>4</td>
      <td>3</td>
      <td>9</td>
      <td>4</td>
      <td>3</td>
      <td>5</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <th>E. EVANS</th>
      <td>9</td>
      <td>6</td>
      <td>6</td>
      <td>27</td>
      <td>7</td>
      <td>7</td>
      <td>9</td>
      <td>8</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>10</td>
      <td>12</td>
      <td>13</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>11</th>
      <th>J. HÄNNINEN</th>
      <td>8</td>
      <td>11</td>
      <td>10</td>
      <td>8</td>
      <td>11</td>
      <td></td>
      <td>31</td>
      <td>29</td>
      <td>7</td>
      <td>9</td>
      <td>9</td>
      <td>7</td>
      <td>8</td>
      <td>8</td>
      <td>7</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <th>8</th>
      <th>C. BREEN</th>
      <td>15</td>
      <td>8</td>
      <td>3</td>
      <td>9</td>
      <td>9</td>
      <td>10</td>
      <td>8</td>
      <td>6</td>
      <td>9</td>
      <td>8</td>
      <td>8</td>
      <td>6</td>
      <td>7</td>
      <td>9</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
    </tr>
    <tr>
      <th>15</th>
      <th>S. LEFEBVRE</th>
      <td>14</td>
      <td>12</td>
      <td>12</td>
      <td>11</td>
      <td>10</td>
      <td>9</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
      <td>11</td>
      <td>11</td>
      <td>25</td>
      <td>11</td>
      <td>4</td>
      <td>10</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>14</th>
      <th>M. OSTBERG</th>
      <td>6</td>
      <td>5</td>
      <td>8</td>
      <td>5</td>
      <td>12</td>
      <td>11</td>
      <td>13</td>
      <td>37</td>
      <td>8</td>
      <td>7</td>
      <td>4</td>
      <td>8</td>
      <td>4</td>
      <td>10</td>
      <td>8</td>
      <td>7</td>
      <td>12</td>
    </tr>
    <tr>
      <th>16</th>
      <th>V. GORBAN</th>
      <td>24</td>
      <td>23</td>
      <td>27</td>
      <td>25</td>
      <td>20</td>
      <td>23</td>
      <td>25</td>
      <td>16</td>
      <td>24</td>
      <td>24</td>
      <td>25</td>
      <td>24</td>
      <td>23</td>
      <td>11</td>
      <td>17</td>
      <td>23</td>
      <td>19</td>
    </tr>
    <tr>
      <th>37</th>
      <th>L. BERTELLI</th>
      <td>22</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>32</td>
      <td>30</td>
      <td>14</td>
      <td>13</td>
      <td>32</td>
      <td>36</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

## Full Overall Results at end of SS18

carNo|driverName |coDriverName|           team            |eligibility|  time   |diffPrev|diffFirst|overall_pos|class_pos|comp_pos
----:|-----------|------------|---------------------------|-----------|---------|--------|---------|----------:|--------:|-------:
   10|J. LATVALA |M. ANTTILA  |Toyota Gazoo Racing WRT    |M          |2:36:03.6|        |         |          1|        1|       1
    2|O. TANAK   |M. JARVEOJA |M-Sport World Rally Team   |M          |2:36:32.8|29.2    |29.2     |          2|        2|       2
    1|S. OGIER   |J. INGRASSIA|M-Sport World Rally Team   |M          |2:37:03.1|30.3    |59.5     |          3|        3|       3
    6|D. SORDO   |M. MARTI    |Hyundai Motorsport         |M          |2:38:15.1|+1:12.0 |+2:11.5  |          4|        4|       4
    8|C. BREEN   |S. MARTIN   |Citroën Total Abu Dhabi WRT|M          |2:38:54.8|39.7    |+2:51.2  |          5|        5|       5
    3|E. EVANS   |D. BARRITT  |M-Sport World Rally Team   |M          |2:41:30.2|+2:35.4 |+5:26.6  |          6|        6|       6
    4|H. PADDON  |J. KENNARD  |Hyundai Motorsport         |M          |2:41:34.8|4.6     |+5:31.2  |          7|        7|       7
   15|S. LEFEBVRE|G. MOREAU   |Citroën Total Abu Dhabi WRT|           |2:43:18.3|+1:43.5 |+7:14.7  |          8|        8|       1
    7|K. MEEKE   |P. NAGLE    |Citroën Total Abu Dhabi WRT|M          |2:46:32.3|10.2    |+10:28.7 |         12|        9|       8
    5|T. NEUVILLE|N. GILSOUL  |Hyundai Motorsport         |M          |2:47:35.1|+1:02.8 |+11:31.5 |         13|       10|       9
   14|M. OSTBERG |O. FLOENE   |M-Sport World Rally Team   |           |2:49:58.3|+1:31.2 |+13:54.7 |         15|       11|       2
   16|V. GORBAN  |S. LARENS   |Eurolamp World Rally Team  |WRC Trophy |2:53:14.1|+1:12.5 |+17:10.5 |         20|       12|       1
   11|J. HÄNNINEN|K. LINDSTRÖM|Toyota Gazoo Racing WRT    |M          |2:59:09.2|27.1    |+23:05.6 |         23|       13|      10